<div class="container text-center">
  <div class="text-right">
      <a routerLink="/crearProyectoAdministrativo" mat-button color="primary" class="btn-regresar">
          <img src="assets/img/icon/regresar.svg" alt="Regresar">
      </a>
  </div>
  <h1 class="title-menu--h1">
    Administrativo
  </h1>
  <p class="mt1">Proyecto administrativo:{{proyectoAdmin.identificador}}</p>
  <div *ngFor="let aportantes of proyectoAdmin.Aportante;index as a">
    <mat-card class="shipping-card">
      <mat-card-header class="header-card">
        <mat-card-title class="header-card--text">
          Aportante
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="pr-1">
                <label class="label-left">Aportante</label>
              </div>
              <div class="col">
                <mat-form-field class="select-width">
                  <mat-select required [(ngModel)]="aportantes.aportanteId" (selectionChange)="onchangeFont(a)">
                    <mat-option></mat-option>
                    <mat-option *ngFor="let listado of listadoAportantes" [value]="listado.dominioId">
                      {{ listado.nombre }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>
      <div *ngIf="aportantes.aportanteId!=0">
        <h2 _ngcontent-oba-c177="" class="card-subTitle">Fuentes</h2>
        <div *ngFor="let fuente of aportantes.fuenteFinanciacion;index as i">
          <mat-card-header class="header-card">
            <mat-card-title class="header-card--text">
              Fuentes {{i+1}}
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="row" >
              <div class="col-md-12">
                <div class="row">
                  <div class="pr-1">
                    <label class="label-left">Fuentes</label>
                  </div>
                  <div class="col">
                    <mat-form-field class="select-width">
                      <mat-select required [(ngModel)]="fuente.fuenteRecursosCodigo">
                        <mat-option></mat-option>
                        <mat-option *ngFor="let listado of listadoFuentes" [value]="listado.fuenteFinanciacionId">
                          {{ listado.fuenteRecursosCodigo }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>                  
                </div>
              </div>
              <div class="col-md-12">
                <div class="row">
                  <div class="pr-1">
                    <label class="label-left">Valor de la fuente</label>
                  </div>                  
                  <div class="col d-flex">
                    <mat-form-field class="full-width">
                      <input matInput [(ngModel)]="fuente.valorFuente" id="numAportes" maxlength="20" min="1" max="99999999999999999999" required type="number">
                    </mat-form-field>                    
                    <span class="contador">{{20 - fuente.valorFuente.toString().length}}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              
              <div class="col text-right">
                <button mat-button color="warn" type="button" *ngIf="i<=aportantes.fuenteFinanciacion.length"
                  class="btn-eliminar"  (click)="deleteFont(fuente,aportantes)">
                  <img src="assets/img/icon/menos.svg" alt="Eliminar otra fuente">
                  Eliminar fuente
                </button>
                <button mat-button color="warn" type="button"
                  class="btn-eliminar"  (click)="addFont(aportantes)">
                  <img src="assets/img/icon/mas.svg" alt="Agregar otra fuente">
                  Agregar otra fuente
                </button>
              </div>
            </div>            
          </mat-card-content>
        </div>        
      </div>
    </mat-card>
    <div class="row">
      <div class="col text-right">
        <button mat-button color="warn" type="button" *ngIf="proyectoAdmin.Aportante.length>1"
          class="btn-eliminar"  (click)="deleteAportant(aportantes)">
          <img src="assets/img/icon/menos.svg" alt="Eliminar otro aportante">
          Eliminar aportante
        </button>
        <button mat-button color="warn" type="button"
          class="btn-eliminar"  (click)="addAportant()">
          <img src="assets/img/icon/mas.svg" alt="Agregar otro aportante">
          Agregar otro aportante
        </button>
      </div>    
    </div>    
</div>
<div class="text-center animatedOpacity">
  <button mat-button color="warn" class="btn-guardar"
   *ngIf="proyectoAdmin.Aportante[0].fuenteFinanciacion[0].valorFuente>0" type="button"
   (click)="onSubmit()">
    <img src="assets/img/icon/guardar.svg" alt="Regresar">
  </button>
</div>
