.full-width {
  width: 100%;
}

.shipping-card {
  min-width: 120px;
  margin: 20px auto;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}

.btn-add {
  width: 2em;
}

.mt1 {
  margin-top: 1em;
}

.mt3 {
  margin-top: 3em;
}

.mat-card-header-text {
  margin: 0;
  .header-card--text {
    padding-left: .4em;
    padding-right: .4em;
  }
}

.mat-card-title {
  margin-left: -1em;
  padding-left: 4px;
}

.col-md-12 {
  padding-left: 0;
  padding-right: 0;
}