<section class="container" *ngIf="contratacion">
  <div class="container text-center">
    <div class="text-right print-d-none">
      <a routerLink="../../.." mat-button color="primary" class="btn-regresar">
        <img src="assets/img/icon/regresar.svg" alt="Regresar" />
      </a>
    </div>
    <h1 class="title-menu--h1">Ejecución financiera {{ contratacion.contrato[ 0 ].numeroContrato }}</h1>
    <p class="info-sub-title">Contratista <b>{{ contratacion.contratista.nombre }}</b></p>
  </div>

  <mat-accordion [multi]="openAcordeon">
    <mat-expansion-panel class="expansion-style" [expanded]="openAcordeon">
      <mat-expansion-panel-header class="expansion-style--header">
        <mat-panel-title class="expansion-style--title"> DDP </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-card class="shipping-card var-main-gris">
        <mat-card-content>
          <p *ngIf="contratacion.disponibilidadPresupuestal && contratacion.disponibilidadPresupuestal.length > 0">
            <strong> Número de DDP: </strong>
            {{ contratacion.disponibilidadPresupuestal[ 0 ].numeroDdp }}
          </p>
          <p *ngIf="contratacion.disponibilidadPresupuestal && contratacion.disponibilidadPresupuestal.length > 0">
            <strong> Valor inicial DDP: </strong>
            {{ contratacion.disponibilidadPresupuestal[ 0 ].valorSolicitud | currency: 'COP':'symbol-narrow':'.0-0' }}
          </p>
          <!-- <p>
            <strong> Rubro por financiar: </strong>
            Proyecto de infraestructura
          </p> -->
          <p *ngIf="contratacion.disponibilidadPresupuestal && contratacion.disponibilidadPresupuestal.length > 0">
            <strong> Objeto: </strong>
            <span class="d-block" [innerHtml]="contratacion.disponibilidadPresupuestal[ 0 ].objeto"></span>
          </p>
          <p *ngIf="contratacion.sesionComiteSolicitud && contratacion.sesionComiteSolicitud.length > 0">
            <strong> Número de comité técnico: </strong>
            {{ contratacion.sesionComiteSolicitud[ 0 ].comiteTecnico.numeroComite }}
          </p>
          <p *ngIf="contratacion.sesionComiteSolicitud && contratacion.sesionComiteSolicitud.length > 0">
            <strong> Fecha comité técnico: </strong>
            {{ contratacion.sesionComiteSolicitud[ 0 ].comiteTecnico.fechaCreacion | date: 'dd/MM/yyyy' }}
          </p>
          <!-- <p>
            <strong> URL con sporte: </strong>
            http://DDP_0001
          </p> -->
          <h2 class="card-subTitle" *ngIf="listaModificaciones.length > 0">Modificaciones</h2>
          <div class="table-responsive mb-1em mt-1em" *ngIf="listaModificaciones.length > 0">
            <table class="mat-table cdk-table mat-sort mat-table-style table-form table-gris">
              <thead>
                <tr class="mat-header-row cdk-header-row ng-star-inserted">
                  <th class="mat-header-cell cdk-header-cell ng-star-inserted">Número de actualización</th>
                  <th class="mat-header-cell cdk-header-cell ng-star-inserted">Tipo de modificación</th>
                  <th class="mat-header-cell cdk-header-cell ng-star-inserted">Valor adicional</th>
                  <th class="mat-header-cell cdk-header-cell ng-star-inserted">Número de comité</th>
                  <th class="mat-header-cell cdk-header-cell ng-star-inserted">Fecha de comité</th>
                  <th class="mat-header-cell cdk-header-cell ng-star-inserted">URL con soporte</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let element of listaModificaciones">
                  <td class="mat-cell cdk-cell ng-star-inserted">
                    <b> {{ element.numeroActualizacion }} </b>
                  </td>
                  <td class="mat-cell cdk-cell ng-star-inserted">
                    {{ element.tipoModificacion }}
                  </td>
                  <td class="mat-cell cdk-cell ng-star-inserted">
                    {{ element.valorAdicional ? ( element.valorAdicional | currency: 'COP':'symbol-narrow':'.0-0' ) : '---' }}
                  </td>
                  <td class="mat-cell cdk-cell ng-star-inserted">
                    {{ contratacion.sesionComiteSolicitud[ 0 ].comiteTecnico.numeroComite }}
                  </td>
                  <td class="mat-cell cdk-cell ng-star-inserted">
                    {{ contratacion.sesionComiteSolicitud[ 0 ].comiteTecnico.fechaCreacion | date: 'dd/MM/yyyy' }}
                  </td>
                  <td class="mat-cell cdk-cell ng-star-inserted">
                    {{ element.urlSoporte }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-expansion-panel>
    <mat-expansion-panel class="expansion-style" [expanded]="openAcordeon" *ngIf="listaDRP.length > 0">
      <mat-expansion-panel-header class="expansion-style--header">
        <mat-panel-title class="expansion-style--title"> DRP </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-card class="shipping-card var-main-gris">
        <mat-card-content>
          <!-- <p>
            <strong> Objeto: </strong>
            <span class="d-block">
              Contrato de obra que compromete el diagnóstico y/o actualización y/o complementación y/o elaboración de
              estudios y diseños y ejecución de las obras necesarias para la adecuación y mejoramiento de las
              instituciones rurales.
            </span>
          </p>
          <p>
            <strong> URL con sporte: </strong>
            http://DRP_N801801
          </p> -->
          <div class="table-responsive mb-1em mt-1em w-talble">
            <table class="mat-table cdk-table mat-sort mat-table-style table-form table-gris">
              <thead>
                <tr class="mat-header-row cdk-header-row ng-star-inserted">
                  <th class="mat-header-cell cdk-header-cell ng-star-inserted">DRP</th>
                  <th class="mat-header-cell cdk-header-cell ng-star-inserted">Número DRP</th>
                  <th class="mat-header-cell cdk-header-cell ng-star-inserted">Valor</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let element of listaDRP; index as i">
                  <td class="mat-cell cdk-cell ng-star-inserted">
                    <b> {{ i + 1 }} </b>
                  </td>
                  <td class="mat-cell cdk-cell ng-star-inserted">
                    {{ element.numeroDRP }}
                  </td>
                  <td class="mat-cell cdk-cell ng-star-inserted">
                    {{ element.valor | currency: 'COP':'symbol-narrow':'.0-0' }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-expansion-panel>
    <mat-expansion-panel class="expansion-style" [expanded]="openAcordeon">
      <mat-expansion-panel-header class="expansion-style--header">
        <mat-panel-title class="expansion-style--title"> Ejecución presupuestal </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="table-responsive mb-1em mt-1em">
        <table class="mat-table cdk-table mat-sort mat-table-style table-form table-gris">
          <thead>
            <tr class="mat-header-row cdk-header-row ng-star-inserted">
              <th class="mat-header-cell cdk-header-cell ng-star-inserted">Componente</th>
              <th class="mat-header-cell cdk-header-cell ng-star-inserted">Total comprometido</th>
              <th class="mat-header-cell cdk-header-cell ng-star-inserted">Facturado</th>
              <th class="mat-header-cell cdk-header-cell ng-star-inserted">Saldo</th>
              <th class="mat-header-cell cdk-header-cell ng-star-inserted">Porcentaje de ejecución presupuestal</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let element of dataTableEjpresupuestal">
              <td class="mat-cell cdk-cell ng-star-inserted">
                <b> {{ element.nombre }} </b>
              </td>
              <td class="mat-cell cdk-cell ng-star-inserted">
                {{ element.totalComprometido | currency: 'COP':'symbol-narrow':'.0-0' }}
              </td>
              <td class="mat-cell cdk-cell ng-star-inserted">
                {{ element.facturadoAntesImpuestos | currency: 'COP':'symbol-narrow':'.0-0' }}
              </td>
              <td class="mat-cell cdk-cell ng-star-inserted">
                {{ element.saldo | currency: 'COP':'symbol-narrow':'.0-0' }}
              </td>
              <td class="mat-cell cdk-cell ng-star-inserted">
                {{ element.porcentajeEjecucionPresupuestal | number: '.0-2' }} %
              </td>
            </tr>
            <tr role="row" class="mat-footer-row cdk-footer-row ng-star-inserted">
              <td align="center" class="auxiliarTd ng-star-inserted">
                <b>Valor total</b>
              </td>
              <td align="center" style="border-right: 1px solid; border-bottom: 1px solid" class="ng-star-inserted">
                {{ totalEjpresupuestal.totalComprometido | currency: 'COP':'symbol-narrow':'.0-0' }}
              </td>
              <td align="center" style="border-right: 1px solid; border-bottom: 1px solid" class="ng-star-inserted">
                {{ totalEjpresupuestal.facturadoAntesImpuestos | currency: 'COP':'symbol-narrow':'.0-0' }}
              </td>
              <td align="center" style="border-right: 1px solid; border-bottom: 1px solid" class="ng-star-inserted">
                {{ totalEjpresupuestal.saldo | currency: 'COP':'symbol-narrow':'.0-0' }}
              </td>
              <td align="center" style="border-right: 1px solid; border-bottom: 1px solid" class="ng-star-inserted">
                {{ totalEjpresupuestal.porcentajeEjecucionPresupuestal | number: '.0-2' }}%
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel class="expansion-style" [expanded]="openAcordeon">
      <mat-expansion-panel-header class="expansion-style--header">
        <mat-panel-title class="expansion-style--title"> Ejecución financiera </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="table-responsive mb-1em mt-1em">
        <table class="mat-table cdk-table mat-sort mat-table-style table-form table-gris">
          <thead>
            <tr class="mat-header-row cdk-header-row ng-star-inserted">
              <th class="mat-header-cell cdk-header-cell ng-star-inserted">Componente</th>
              <th class="mat-header-cell cdk-header-cell ng-star-inserted">Total comprometido</th>
              <th class="mat-header-cell cdk-header-cell ng-star-inserted">Ordenado a girar antes de impuestos</th>
              <th class="mat-header-cell cdk-header-cell ng-star-inserted">Saldo</th>
              <th class="mat-header-cell cdk-header-cell ng-star-inserted">Porcentaje de ejecución presupuestal</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let element of dataTableEjfinanciera">
              <td class="mat-cell cdk-cell ng-star-inserted">
                <b> {{ element.nombre }} </b>
              </td>
              <td class="mat-cell cdk-cell ng-star-inserted">
                {{ element.totalComprometido | currency: 'COP':'symbol-narrow':'.0-0' }}
              </td>
              <td class="mat-cell cdk-cell ng-star-inserted">
                {{ element.ordenadoGirarAntesImpuestos | currency: 'COP':'symbol-narrow':'.0-0' }}
              </td>
              <td class="mat-cell cdk-cell ng-star-inserted">
                {{ element.saldo | currency: 'COP':'symbol-narrow':'.0-0' }}
              </td>
              <td class="mat-cell cdk-cell ng-star-inserted">
                {{
                  element.porcentajeEjecucionFinanciera ? (element.porcentajeEjecucionFinanciera | number: '.0-2') : 0
                }}%
              </td>
            </tr>
            <tr role="row" class="mat-footer-row cdk-footer-row ng-star-inserted">
              <td align="center" class="auxiliarTd ng-star-inserted">
                <b>Valor total</b>
              </td>
              <td align="center" style="border-right: 1px solid; border-bottom: 1px solid" class="ng-star-inserted">
                {{ totalEjfinanciera.totalComprometido | currency: 'COP':'symbol-narrow':'.0-0' }}
              </td>
              <td align="center" style="border-right: 1px solid; border-bottom: 1px solid" class="ng-star-inserted">
                {{ totalEjfinanciera.ordenadoGirarAntesImpuestos | currency: 'COP':'symbol-narrow':'.0-0' }}
              </td>
              <td align="center" style="border-right: 1px solid; border-bottom: 1px solid" class="ng-star-inserted">
                {{ totalEjfinanciera.saldo | currency: 'COP':'symbol-narrow':'.0-0' }}
              </td>
              <td align="center" style="border-right: 1px solid; border-bottom: 1px solid" class="ng-star-inserted">
                {{
                  totalEjfinanciera.porcentajeEjecucionFinanciera
                    ? (totalEjfinanciera.porcentajeEjecucionFinanciera | number: '.0-2')
                    : 0
                }}%
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</section>

<div class="text-center mt-2em mb-2em print-d-none" *ngIf="contratacion">
  <button mat-raised-button color="accent" (click)="downloadPDF()">Descargar</button>
</div>
