<div class="container text-center" *ngIf="disponibilidadPresupuestal">
    <div class="text-right">
        <a routerLink="/solicitarDisponibilidadPresupuestal" mat-button color="primary" class="btn-regresar">
            <img src="assets/img/icon/regresar.svg" alt="Regresar">
        </a>
    </div>
    <div class="text-center">
        <h1 class="title-menu--h1">
            Ver Detalle solicitud DDP especial
        </h1>
    </div>
    <mat-card class="shipping-card mainGris">
        <mat-card-header class="header-card">
            <mat-card-title class="header-card--text textoGris">
                DDP especial
            </mat-card-title>
        </mat-card-header>
        <mat-card-content align="left">
            <p *ngIf="disponibilidadPresupuestal.tipoSolicitudCodigo === tipoSolicitudCodigos.solicitudExpensas">
                <strong>Tipo de solicitud DDP especial:</strong>
                Expensas
            </p>
            <p *ngIf="disponibilidadPresupuestal.tipoSolicitudCodigo === tipoSolicitudCodigos.solicitudOtrosCostos">
                <strong>Tipo de solicitud DDP especial:</strong>
                Otros costos/Servicios
            </p>
            <p>
                <strong>Objeto:</strong>
            </p>
            <div [innerHtml]="disponibilidadPresupuestal.objeto"></div>
            <p>
                <strong>Número de radicado de la solicitud:</strong>
                {{disponibilidadPresupuestal.numeroRadicadoSolicitud}}
            </p>

            <div *ngIf="disponibilidadPresupuestal.tipoSolicitudCodigo === tipoSolicitudCodigos.solicitudExpensas">
                <h2 class="card-subTitle backgrondGris">Expensas</h2>
                <p>
                    <strong>¿Cuenta con carta de autorización de la ET?:</strong>
                </p>
                <p>
                    <strong>Departamento:</strong>
                    Antioquia
                </p>
                <p>
                    <strong>Municipio:</strong>
                    Abejorral
                </p>
                <p>
                    <strong>Llave MEN:</strong>
                </p>
            </div>

            <div *ngIf="disponibilidadPresupuestal.tipoSolicitudCodigo === tipoSolicitudCodigos.solicitudOtrosCostos">
                <h2 class="card-subTitle backgrondGris">Otros costos/Servicios</h2>
                <p><strong>Número de contrato:</strong> {{ disponibilidadPresupuestal.numeroContrato }} </p>
            </div>
        </mat-card-content>
    </mat-card>

    <div *ngIf="disponibilidadPresupuestal.tipoSolicitudCodigo === tipoSolicitudCodigos.solicitudExpensas">
        <mat-card class="shipping-card mainGris">
            <mat-card-header class="header-card">
                <mat-card-title class="header-card--text textoGris">
                    Llave men - por integrar
                </mat-card-title>
            </mat-card-header>
            <mat-card-content align="left">
                <p>
                    <b>Tipo de intervención:</b>
                </p>
                <p>
                    <b>Nombre de la I.E:</b>
                </p>
                <p>
                    <b>Sede:</b>
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card class="shipping-card mainGris">
            <mat-card-header class="header-card">
                <mat-card-title class="header-card--text textoGris">
                    Aportante
                </mat-card-title>
            </mat-card-header>
            <mat-card-content align="left">
                <p>
                    <b>Nombre del aportante:</b>
                    Alacladia
                </p>
                <p>
                    <b>Valor:</b>
                    {{disponibilidadPresupuestal.valorSolicitud}}
                </p>
            </mat-card-content>
        </mat-card>
    </div>

    <div *ngIf="disponibilidadPresupuestal.tipoSolicitudCodigo === tipoSolicitudCodigos.solicitudOtrosCostos">
        <mat-card class="shipping-card mainGris">
            <mat-card-header class="header-card">
                <mat-card-title class="header-card--text textoGris">
                    {{ disponibilidadPresupuestal.numeroContrato }}
                </mat-card-title>
            </mat-card-header>
            <mat-card-content align="left">
                <p>
                    <b>Nombre de la entidad contratista:</b>
                    Constructora Colpatria
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card class="shipping-card mainGris">
            <mat-card-header class="header-card">
                <mat-card-title class="header-card--text textoGris">
                    Limitación especial
                </mat-card-title>
            </mat-card-header>
            <mat-card-content align="left">
                <section [innerHTML]="innerObservacion( disponibilidadPresupuestal.limitacionEspecial ? disponibilidadPresupuestal.limitacionEspecial : 'No tiene observaciones de limitación especial' )"></section>
            </mat-card-content>
        </mat-card>
        <mat-card class="shipping-card mainGris">
            <mat-card-header class="header-card">
                <mat-card-title class="header-card--text textoGris">
                    Aportante
                </mat-card-title>
            </mat-card-header>
            <mat-card-content align="left">
                <p>
                    <b>Tipo de aportante:</b>
                    FFIE
                </p>
                <p>
                    <b>Nombre del aportante:</b>
                    Alacladia
                </p>
                <p>
                    <b>Valor:</b>
                   {{ disponibilidadPresupuestal.valorAportante | currency:' ':'symbol-narrow':'.0-0' }}
                </p>
            </mat-card-content>
        </mat-card>
    </div>

    <mat-card class="shipping-card mainGris">
        <mat-card-header class="header-card">
            <mat-card-title class="header-card--text textoGris">
                Url con soporte
            </mat-card-title>
        </mat-card-header>
        <mat-card-content align="left">
            {{ disponibilidadPresupuestal.urlSoporte }}
        </mat-card-content>
    </mat-card>
</div>