<div class="d-flex align-items-center solbloq ml8 info-text en-alertaLibre mb-2em mt-2em">
    Seleccione Si o No de acuerdo a si cumple o no cumple el item, tenga en cuenta que para continuar el proceso todos
    los items deben estar en Si.
</div>
<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="shipping-card">
        <mat-card-content style="text-align: left;">
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="pr-1">
                            <label  class="label-left"
                                    for="cumpleAsegurado"
                                    class="label-left"
                                    [class.color-secondaryColor]="(addressForm.get('cumpleAsegurado').invalid && addressForm.get('cumpleAsegurado').touched) || (addressForm.get('cumpleAsegurado').invalid && estaEditando)">
                                    ¿Cumple con los datos del Asegurado/ Beneficiario?
                            </label>
                        </div>
                        <div class="col">
                            <mat-radio-group class="radioInput" formControlName="cumpleAsegurado" required>
                                <mat-radio-button [value]="true">Sí</mat-radio-button>
                                <mat-radio-button [value]="false">No</mat-radio-button>
                            </mat-radio-group>
                            <span class="required-form-group" style="margin-left: 1px">*</span>
                        </div>
                        <span class="icon-incompleto">
                            <img    class="icon-incompleto--img"
                                    src="assets/img/icon/incompleto.svg"
                                    alt="este campo es requerido"
                                    [matTooltipPosition]="'above'"
                                    matTooltip="Debe ingresar la información en el campo para continuar"
                                    matTooltipClass="info-tooltip"
                                    *ngIf="(addressForm.get('cumpleAsegurado').invalid && addressForm.get('cumpleAsegurado').touched) || (addressForm.get('cumpleAsegurado').invalid && estaEditando)">
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="pr-1">
                            <label  class="label-left"
                                    for="cumpleBeneficiario"
                                    class="label-left"
                                    [class.color-secondaryColor]="(addressForm.get('cumpleBeneficiario').invalid && addressForm.get('cumpleBeneficiario').touched) || (addressForm.get('cumpleBeneficiario').invalid && estaEditando)">
                                    ¿Cumple con los datos del Beneficiario cuando se trate de garantía bancaria?
                            </label>
                        </div>
                        <div class="col">
                            <mat-radio-group class="radioInput" formControlName="cumpleBeneficiario" required>
                                <mat-radio-button [value]="true">Sí</mat-radio-button>
                                <mat-radio-button [value]="false">No</mat-radio-button>
                            </mat-radio-group>
                            <span class="required-form-group" style="margin-left: 1px">*</span>
                        </div>
                        <span class="icon-incompleto">
                            <img    class="icon-incompleto--img"
                                    src="assets/img/icon/incompleto.svg"
                                    alt="este campo es requerido"
                                    [matTooltipPosition]="'above'"
                                    matTooltip="Debe ingresar la información en el campo para continuar"
                                    matTooltipClass="info-tooltip"
                                    *ngIf="(addressForm.get('cumpleBeneficiario').invalid && addressForm.get('cumpleBeneficiario').touched) || (addressForm.get('cumpleBeneficiario').invalid && estaEditando)">
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="pr-1">
                            <label  class="label-left"
                                    for="cumpleAfianzado"
                                    class="label-left"
                                    [class.color-secondaryColor]="(addressForm.get('cumpleAfianzado').invalid && addressForm.get('cumpleAfianzado').touched) || (addressForm.get('cumpleAfianzado').invalid && estaEditando)">
                                    ¿Cumple con los datos del Tomador / Afianzado?
                            </label>
                        </div>
                        <div class="col">
                            <mat-radio-group class="radioInput" formControlName="cumpleAfianzado" required>
                                <mat-radio-button [value]="true">Sí</mat-radio-button>
                                <mat-radio-button [value]="false">No</mat-radio-button>
                            </mat-radio-group>
                            <span class="required-form-group" style="margin-left: 1px">*</span>
                        </div>
                        <span class="icon-incompleto">
                            <img    class="icon-incompleto--img"
                                    src="assets/img/icon/incompleto.svg"
                                    alt="este campo es requerido"
                                    [matTooltipPosition]="'above'"
                                    matTooltip="Debe ingresar la información en el campo para continuar"
                                    matTooltipClass="info-tooltip"
                                    *ngIf="(addressForm.get('cumpleAfianzado').invalid && addressForm.get('cumpleAfianzado').touched) || (addressForm.get('cumpleAfianzado').invalid && estaEditando)">
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="pr-1">
                            <label  class="label-left"
                                    for="reciboDePago"
                                    class="label-left"
                                    [class.color-secondaryColor]="(addressForm.get('reciboDePago').invalid && addressForm.get('reciboDePago').touched) || (addressForm.get('reciboDePago').invalid && estaEditando)">
                                    ¿Se incluye el recibo de pago con los datos requeridos?
                            </label>
                        </div>
                        <div class="col">
                            <mat-radio-group class="radioInput" formControlName="reciboDePago" required>
                                <mat-radio-button [value]="true">Sí</mat-radio-button>
                                <mat-radio-button [value]="false">No</mat-radio-button>
                            </mat-radio-group>
                            <span class="required-form-group" style="margin-left: 1px">*</span>
                        </div>
                        <span class="icon-incompleto">
                            <img    class="icon-incompleto--img"
                                    src="assets/img/icon/incompleto.svg"
                                    alt="este campo es requerido"
                                    [matTooltipPosition]="'above'"
                                    matTooltip="Debe ingresar la información en el campo para continuar"
                                    matTooltipClass="info-tooltip"
                                    *ngIf="(addressForm.get('reciboDePago').invalid && addressForm.get('reciboDePago').touched) || (addressForm.get('reciboDePago').invalid && estaEditando)">
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="pr-1">
                            <label  class="label-left"
                                    for="condicionesGenerales"
                                    class="label-left"
                                    [class.color-secondaryColor]="(addressForm.get('condicionesGenerales').invalid && addressForm.get('condicionesGenerales').touched) || (addressForm.get('condicionesGenerales').invalid && estaEditando)">
                                    ¿Se incluyen las condiciones generales de la póliza/ o su clausulado?
                            </label>
                        </div>
                        <div class="col">
                            <mat-radio-group class="radioInput" formControlName="condicionesGenerales" required>
                                <mat-radio-button [value]="true">Sí</mat-radio-button>
                                <mat-radio-button [value]="false">No</mat-radio-button>
                            </mat-radio-group>
                            <span class="required-form-group" style="margin-left: 1px">*</span>
                        </div>
                        <span class="icon-incompleto">
                            <img    class="icon-incompleto--img"
                                    src="assets/img/icon/incompleto.svg"
                                    alt="este campo es requerido"
                                    [matTooltipPosition]="'above'"
                                    matTooltip="Debe ingresar la información en el campo para continuar"
                                    matTooltipClass="info-tooltip"
                                    *ngIf="(addressForm.get('condicionesGenerales').invalid && addressForm.get('condicionesGenerales').touched) || (addressForm.get('condicionesGenerales').invalid && estaEditando)">
                        </span>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
    <div class="text-center mb-2em mt-2em">
        <button mat-button
                color="warn"
                class="btn-guardar"
                type="submit"
                [disabled]="addressForm.dirty === false">
                <img src="assets/img/icon/guardar.svg" alt="Regresar">
        </button>
    </div>
</form>