.recover-password {
    &--img {
        height: 5em;
    }

    &--p {
        color: #474747;
        color: var(--fontColor);
        margin:0 3em 1em;
    }

}

.w-100 {
    width: calc(100% - 6em);
}

.mat-raised-button.mat-accent {
    /*&:hover {
        background-color: var(--grayColor);
        color: var(--mainColor);
    }*/
    color: white;
    font-weight: 400;
}