<section class="text-center" *ngIf="data != null">
  <button mat-button mat-dialog-close class="modal--btn-cerrar" [mat-dialog-close]="true">
    <img src="assets/img/icon/cerrar-blanco.svg" alt="cerrar">
  </button>

  <h1 class="title-menu--h1">
    Observaciones
    <span *ngIf="!data.esObra">flujo de inversión de recursos</span>
    <span *ngIf="data.esObra">Programación</span>
  </h1>

  <section class="flex-center mt-05em">
    <span>
      <strong>
        {{ data.dataFile.fechaCreacion | date: 'dd/MM/yyyy' }}
      </strong>
    </span>
    <span *ngIf="data.esSupervisor" class="info-text" [class.sin-diligenciar]="data.dataFile.estadoCargue === 'Fallido'"
    [class.completo]="data.dataFile.estadoCargue === 'Valido'">
      <strong>
        {{data.dataFile.estadoCargue}}
      </strong>
    </span>
  </section>

  <form autocomplete="off" [formGroup]="observaciones" (ngSubmit)="guardar()" *ngIf="!data.esVerDetalle && !data.esSupervisor">

    <div class="d-flex align-items-center mt-1em">
      <div class="text-area-quill">
        <quill-editor class="quill-editor-style" [modules]="config"
          (onContentChanged)="maxLength($event, 3000)" formControlName="observaciones" required>
        </quill-editor>
      </div>
      <span class="contador miles" *ngIf="observaciones.get('observaciones').value !== null">
        {{3000 - (textoLimpio(observaciones.get('observaciones').value)>3000?3000:textoLimpio(observaciones.get('observaciones').value))}}
      </span>
      <span class="contador miles" *ngIf="observaciones.get('observaciones').value === null">
        3000
      </span>
    </div>

    <div class="text-center">
      <button mat-button color="warn" class="btn-guardar" type="submit"
      [disabled]="(observaciones.get('observaciones').invalid && observaciones.get('observaciones').touched) || observaciones.get('observaciones').value == '' ||  observaciones.get('observaciones').value == null">
        <img src="assets/img/icon/guardar.svg">
      </button>
    </div>
  </form>
  <div *ngIf="data.esVerDetalle && !data.esSupervisor">
    <mat-card class="shipping-card mainGris">
      <mat-card-content style="text-align: left;">
        <div [innerHtml]="observaciones.get('observaciones').value"></div>
      </mat-card-content>
  </mat-card>
  </div>
  <div class="d-flex align-items-center mt-1em" *ngIf="data?.observacionesHistorico?.length > 0 && data.esSupervisor">
    <div class="text-area-quill">
      <label class="text-area-quill--label align-left-label">
        Observaciones del supervisor
      </label>
      <div class="text-left">
        <strong >{{ data?.observacionesHistorico[0]?.fechaCreacion | date: 'dd/MM/yyyy' }}</strong>
        <div [innerHtml]="data?.observacionesHistorico[0]?.observaciones"></div>
      </div>
    </div>
  </div>

  <div *ngIf="data?.observacionesHistorico?.length > 1 && data.esSupervisor" class="text-center mb-2em">
    <div class="table-responsive">
      <table class="mat-table cdk-table mat-sort mat-table-style table-form table-form--2 table-gris">
        <thead>
          <tr class="mat-header-row cdk-header-row ng-star-inserted">
            <th class="mat-header-cell cdk-header-cell ng-star-inserted">
              Fecha de revisión
            </th>
            <th class="mat-header-cell cdk-header-cell ng-star-inserted">
              Historial de observaciones
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let observacion of data?.observacionesHistorico | slice:1">
            <td class="mat-cell cdk-cell ng-star-inserted">
              {{ observacion.fechaCreacion | date: 'dd/MM/yyyy'  }}
            </td>
            <td class="mat-cell cdk-cell ng-star-inserted">
              <div [innerHtml]="observacion.observaciones"></div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</section>
