<section class="text-center" *ngIf="data != null">
  <button mat-button mat-dialog-close class="modal--btn-cerrar" [mat-dialog-close]="true">
    <img src="assets/img/icon/cerrar-blanco.svg" alt="cerrar">
  </button>

  <h1 class="title-menu--h1">
    Observaciones <span *ngIf="!data.esObra">flujo de inversión de recursos</span><span *ngIf="data.esObra">Programación</span>
  </h1>

  <section class="flex-center mt-05em">
    <span>
      <strong>
        {{ data.dataFile.fechaCreacion | date: 'dd/MM/yyyy' }}
      </strong>
    </span>
    <span class="info-text" [class.sin-diligenciar]="data.dataFile.estadoCargue === 'Fallido'"
    [class.completo]="data.dataFile.estadoCargue === 'Valido'">
      <strong>
        {{data.dataFile.estadoCargue}}
      </strong>
    </span>
  </section>

  <form autocomplete="off" [formGroup]="observaciones" (ngSubmit)="guardar()" *ngIf="!data.esVerDetalle">

    <div class="d-flex align-items-center mt-1em">
      <div class="text-area-quill">
        <quill-editor class="quill-editor-style" [modules]="config"
          (onContentChanged)="maxLength($event, 3000)" formControlName="observaciones" required>
        </quill-editor>
      </div>
      <span class="contador miles" *ngIf="observaciones.get('observaciones').value !== null">
        {{3000 - (textoLimpio(observaciones.get('observaciones').value)>3000?3000:textoLimpio(observaciones.get('observaciones').value))}}
      </span>
      <span class="contador miles" *ngIf="observaciones.get('observaciones').value === null">
        3000
      </span>
    </div>

    <div class="text-center">
      <button mat-button color="warn" class="btn-guardar" type="submit"
      [disabled]="(observaciones.get('observaciones').invalid && observaciones.get('observaciones').touched) || observaciones.get('observaciones').value == '' ||  observaciones.get('observaciones').value == null">
        <img src="assets/img/icon/guardar.svg">
      </button>
    </div>
  </form>
  <div *ngIf="data.esVerDetalle">
    <mat-card class="shipping-card mainGris">
      <mat-card-content style="text-align: left;">
        <div [innerHtml]="observaciones.get('observaciones').value"></div>
      </mat-card-content>
  </mat-card>
  </div>
</section>
