.mat-button.mat-warn[disabled], .mat-button[disabled][disabled] {
  opacity: .5;
}

.border-1 {
    border: solid 1px rgba(0,0,0,.54) !important;
}
.w-80 {
  width: 80%;
}

.flex-editor {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.mb-2em {
  margin-bottom: 2em;
}

.mt-1em {
  margin-top: 1em;
}

.mt-2em {
  margin-top: 2em;
}

.btn-dialog {
  line-height: 1;
  display: block;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  min-width: 9em;
  display: inline-block;
}

.border {
  border: solid 1px rgba(0,0,0,.54) !important;
}

.grayTitle{
    color: var(--color-info) !important;
}