<div class="container text-center">
    <div class="text-right">
        <!-- valor 1 es quemado-->
        <a routerLink="/registrarActuacionesControversiasContractuales/actualizarTramite/1" mat-button color="primary"
            class="btn-regresar">
            <img src="assets/img/icon/regresar.svg" alt="Regresar">
        </a>
    </div>
    <h1 class="title-menu--h1">
        Ver detalle actuación derivada ACT_derivada0001
    </h1>
    <p class="info-sub-title">
        <span>Número de solicitud: <b>CO001</b></span>
        <span>Número de contrato: <b>C223456789</b></span>
        <span>Tipo de controversia: <b>Terminación anticipada por incumplimiento (TAI)</b></span>
    </p>
    <mat-card class="shipping-card mainGris">
        <mat-card-content align="left">
            <p><strong>Actuación en la que se requiere participación o insumo de la fiduciaria: </strong>Solicitar
                descargos al contratista de obra</p>
            <p><strong>Fecha de la actuación adelantada: </strong>20/07/2020</p>
            <p><strong>Descripción de la actuación adelantada: </strong></p>
            <p>Actuación 1 se cumple tiempo de desarrollo de esta</p>
            <p><strong>Estado de la actuación derivada: </strong>Cumplida</p>
            <p><strong>Observaciones: </strong></p>
            <p>Cumplida</p>
        </mat-card-content>
    </mat-card>
    <mat-card class="shipping-card mainGris">
        <mat-card-header class="header-card">
            <mat-card-title class="header-card--text textoGris">
                Soporte
            </mat-card-title>
        </mat-card-header>
        <mat-card-content style="text-align: left;">
            <p><b>URL con soporte:</b> http://www.asivamosffie.com</p>
        </mat-card-content>
    </mat-card>
</div>