<!--
<section *ngIf="fases.length > 0">
    <form [formGroup]="formDescuentosDireccionTecnica">
        <mat-accordion formArrayName="terceroCausacion" *ngFor="let solicitudPagoFase of fases.controls; index as i">
            <mat-expansion-panel class="expansion-style sub-expansion" [formGroup]="solicitudPagoFase">
                <mat-expansion-panel-header class="expansion-style--header">
                    <mat-panel-title class="expansion-style--title sin-diligenciar">
                        Tercero de causación - {{ solicitudPagoFase.get( 'esPreconstruccion' ).value === true ? 'Fase 1' : 'Fase 2' }}
                    </mat-panel-title>
                </mat-expansion-panel-header>
            </mat-expansion-panel>
        </mat-accordion>
    </form>
</section>
-->