<div class="busqueda">
    <mat-form-field appearance="outline" class="busqueda--input">
      <mat-label>Buscador / Filtro</mat-label>
      <input matInput #filtro (keyup)="applyFilter($event)">
    </mat-form-field>
    <button mat-button color="primary" class="busqueda--img" (click)="filtro.focus()">
      <img src="assets/img/icon/lupa.svg" alt="Buscar">
    </button>
  </div>

  <div class="table-responsive">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
      <ng-container matColumnDef="fechaAprobacion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de aprobación de requisitos </th>
        <td mat-cell *matCellDef="let element" align="center"> <b> {{ element.fechaAprobacion | date: 'dd/MM/yyyy' }} </b> </td>
      </ng-container>

      <ng-container matColumnDef="numeroContratoObra">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Número del contrato </th>
        <td mat-cell *matCellDef="let element" align="center"> {{ element.numeroContrato }} </td>
      </ng-container>

      <ng-container matColumnDef="proyectosAsociados">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cantidad de proyectos asociados </th>
        <td mat-cell *matCellDef="let element" align="center"> {{ element.cantidadProyectosAsociados }} </td>
      </ng-container>

      <ng-container matColumnDef="proyectosAprobados">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cantidad de proyectos con requisitos verificados </th>
        <td mat-cell *matCellDef="let element" align="center"> {{ element.cantidadProyectosRequisitosAprobados }} </td>
      </ng-container>

      <ng-container matColumnDef="proyectosPendientes">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cantidad de proyectos con requisitos pendientes </th>
        <td mat-cell *matCellDef="let element" align="center"> {{ element.cantidadProyectosRequisitosPendientes }} </td>
      </ng-container>

      <ng-container matColumnDef="estadoRequisito">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado de la verificación </th>
        <td mat-cell *matCellDef="let element" align="center">
          <section *ngIf="estadosConstruccionInterventoria !== undefined && element.estadoCodigo === estadosConstruccionInterventoria.enviadoAlSupervisor.codigo">
            {{ estadosConstruccionInterventoria.enviadoAlSupervisor.nombre }}
          </section>
          <section *ngIf="estadosConstruccionInterventoria !== undefined && element.estadoCodigo === estadosConstruccionInterventoria.enProcesoValidacionReqTecnicos.codigo">
              {{ estadosConstruccionInterventoria.enProcesoValidacionReqTecnicos.nombre }}
          </section>
          <section *ngIf="estadosConstruccionInterventoria !== undefined && element.estadoCodigo === estadosConstruccionInterventoria.conReqTecnicosValidados.codigo">
              {{ estadosConstruccionInterventoria.conReqTecnicosValidados.nombre }}
          </section>
          <section *ngIf="estadosConstruccionInterventoria !== undefined && element.estadoCodigo === estadosConstruccionInterventoria.conReqTecnicosAprobadosPorSupervisor.codigo">
              {{ estadosConstruccionInterventoria.conReqTecnicosAprobadosPorSupervisor.nombre }}
          </section>
          <section *ngIf="estadosConstruccionInterventoria !== undefined && element.estadoCodigo === estadosConstruccionInterventoria.enviadoAlApoyo.codigo">
              {{ estadosConstruccionInterventoria.enviadoAlApoyo.nombre }}
          </section>
        </td>
      </ng-container>

      <ng-container matColumnDef="gestion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="w-20"> Gestión </th>
        <td mat-cell *matCellDef="let element">

          <button mat-raised-button
                  color="accent"
                  class="btn-table"
                  (click)="getForm( element.contratoId )"
                  *ngIf="element.estadoCodigo === estadosConstruccionInterventoria.enviadoAlSupervisor.codigo">
                  Verificar requisitos de inicio
          </button>

          <!--
          <button mat-raised-button
                  color="accent"
                  class="btn-table"
                  *ngIf="element.estadoRequisito === '2' || element.estadoRequisito === '4'"
                  (click)="aprobarInicio( element.id )">
                  Aprobar inicio
          </button>

          <button mat-raised-button
                  color="accent"
                  class="btn-table"
                  *ngIf="element.estadoRequisito === '2' || element.estadoRequisito === '4'"
                  (click)="aprobarInicio( element.id )">
                  Enviar al apoyo de la supervisión
          </button>
          -->

          <button mat-raised-button
                  color="accent"
                  class="btn-table"
                  (click)="getForm( element.contratoId )"
                  *ngIf=" element.estadoCodigo === estadosConstruccionInterventoria.conReqTecnicosValidados.codigo
                          || element.estadoCodigo === estadosConstruccionInterventoria.enProcesoValidacionReqTecnicos.codigo">
                  Ver detalle / Editar
          </button>

          <button mat-raised-button
                  color="accent"
                  class="btn-table"
                  (click)="verDetalle( element.contratoId )"
                  *ngIf=" element.estadoCodigo === estadosConstruccionInterventoria.enviadoAlApoyo.codigo
                          || element.estadoCodigo === estadosConstruccionInterventoria.conReqTecnicosAprobadosPorSupervisor.codigo">
                  Ver detalle
          </button>

        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>


