<div class="container">
    <div class="text-right">
        <a routerLink="/seleccion/nuevo" mat-button color="primary" class="btn-regresar">
            <img src="assets/img/icon/regresar.svg" alt="Regresar">
        </a>
    </div>
    <div class="text-center">
        <h1 class="title-menu--h1">
            Invitación abierta
        </h1>
        <p class="info-container">
            <span class="info-text sin-diligenciar">Sin diligenciar</span>
            <span class="info-text en-proceso">En proceso</span>
            <span class="info-text completo">Completo</span>
        </p>
    </div>

    <mat-accordion>
        <mat-expansion-panel class="expansion-style">
            <mat-expansion-panel-header class="expansion-style--header">
                <mat-panel-title class="expansion-style--title" [ngClass]="{'sin-diligenciar':descripcion_class===0,'en-proceso':descripcion_class===1,'completo':descripcion_class===2}">
                    Descripción de la invitación
                </mat-panel-title>
            </mat-expansion-panel-header>
            <button style="display: none;" type="button" (click)="descripcion.cargarRegistro()" id="botonDescripcion"></button>
            <app-form-descripcion-del-proceso-de-seleccion 
                #descripcion [procesoSeleccion]="procesoSeleccion" (guardar)="onSubmit()"
                >
            </app-form-descripcion-del-proceso-de-seleccion>
        </mat-expansion-panel>
        <mat-expansion-panel class="expansion-style">
            <mat-expansion-panel-header class="expansion-style--header">
                <mat-panel-title class="expansion-style--title " [ngClass]="{'sin-diligenciar':evaluacion_class===0,'en-proceso':evaluacion_class===1,'completo':evaluacion_class===2, 'en-alerta':evaluacion_class===3}">
                    Evaluación
                </mat-panel-title>
            </mat-expansion-panel-header>
            <button style="display: none;" type="button" (click)="evaluacion.cargarRegistro()" id="botonevaluacion"></button>
            <app-form-evaluacion
            #evaluacion [procesoSeleccion]="procesoSeleccion" (guardar)="onSubmit()" >
        </app-form-evaluacion>
        </mat-expansion-panel>
        <mat-expansion-panel class="expansion-style">
            <mat-expansion-panel-header class="expansion-style--header">
                <mat-panel-title class="expansion-style--title " [ngClass]="{'sin-diligenciar':orden_class===0,'en-proceso':orden_class===1,'completo':orden_class===2, 'en-alerta':orden_class===3}">
                    Orden de elegibilidad
                </mat-panel-title>
            </mat-expansion-panel-header>
            <app-form-orden-de-elegibilidad
            #orden [procesoSeleccion]="procesoSeleccion" ></app-form-orden-de-elegibilidad>
            <app-tabla-orden-de-elegibilidad
            #ordentabla [procesoSeleccion]="procesoSeleccion"></app-tabla-orden-de-elegibilidad>
        </mat-expansion-panel>
    </mat-accordion>
    <div class="d-flex align-items-center solbloq ml8 info-text en-alertaLibre" *ngIf="procesoSeleccion.estadoProcesoSeleccionCodigo!=estadosProcesoSeleccion.AprobadaAperturaPorComiteFiduciario">
        Cuando la solicitud se encuentra en estado <b>“Aprobada apertura de comité fiduciario”</b> el sistema habilitará las opciones para continuar el proceso.
        </div>
</div>
