table th {
    background-color: #474747;
    border-color: white;
}

table td{
    border-color: #474747;
    color: #474747;
}
.supportElement{
    padding: 12px 0.6em;
    border-top-width: 1px;
    border-top-style: solid;
}

.p-06em {
    padding: .6em !important;
}