<div class="container text-center">
    <div class="text-right">
        <a routerLink="/gestionarTramiteControversiasContractuales/actualizarTramiteControversia" mat-button color="primary" class="btn-regresar">
            <img src="assets/img/icon/regresar.svg" alt="Regresar">
        </a>
    </div>
    <h1 class="title-menu--h1">
        Ver detalle/Editar reclamación {{this.codReclamacionActuacion}}
    </h1>
    <p class="info-sub-title">
        <span>Actuación: <b>Actuación 1</b> Número de actuación: <b>ACT controversia 0001</b></span>
    </p>
    <app-form-reclamacion-aseguradora-actuacion [controversiaAct]=this.idControversia [isEditable]="true"></app-form-reclamacion-aseguradora-actuacion>
</div>