<div class="container text-center">
    <div class="text-right">
        <a routerLink="/home" mat-button color="primary" class="btn-regresar">
            <img src="assets/img/icon/regresar.svg" alt="Regresar">
        </a>
    </div>
    <h1 class="title-menu--h1">
        Generar registro presupuestal
    </h1>
    <button mat-mini-fab color="primary" class="btn-info" (click)="verAyuda = !verAyuda">?</button>

    <div class="text-info" *ngIf="verAyuda">
        <button mat-icon-button (click)="verAyuda = false" class="text-info--close">
            <img src="assets/img/icon/cerrar-gris.svg" alt="cerrar ayuda">
        </button>
        Bienvenida/o aquí podrá generar el registro presupuestal para los contratos y modificaciones asociadas al
        desarollo de proyectos de infraestructura que ejecutará el FFIE, que se encuentran firmados o suscritos.
    </div>
    <app-tabla-registro-presupuestal></app-tabla-registro-presupuestal>
</div>