.dialog-btn {
    margin-top: 2em;
    margin-bottom: 3em;
    width: 38em;

    &--button {
        width: 17em;
        margin-bottom: 1em;
        &:nth-child(odd) {
            margin-right: 1em;
        }
    }
}

.ml9
{
    margin-left: 9em;
}

.mr-2em
{
    margin-right: 2em;
}

.solbloq 
{
    color: var(--fontColor);
    margin-top: 1em;
  }
  .solbloq b{
    font-style: italic;
  }

.ml8
{
    margin-left: 8em;
}