<div class="text-center">
  <button mat-button mat-dialog-close class="modal--btn-cerrar" [mat-dialog-close]="true">
    <img src="assets/img/icon/cerrar-blanco.svg" alt="cerrar">
  </button>

  <h1 class="title-menu--h1">
    Observaciones <span *ngIf="!data.esObra">flujo de inversión de recursos</span><span *ngIf="data.esObra">programación de obra</span>
  </h1>
</div>
<div class="d-flex align-items-center mt-1em">
  <div class="text-area-quill">
    <label class="text-area-quill--label align-left-label">
      Observaciones del interventor
    </label>
    <div>
      <strong *ngIf="data.esObra">{{ data?.ajusteProgramacion?.observacionObraInterventor?.fechaCreacion | date: 'dd/MM/yyyy' }}</strong>
      <strong *ngIf="!data.esObra">{{ data?.ajusteProgramacion?.observacionFlujoInterventor?.fechaCreacion | date: 'dd/MM/yyyy' }}</strong>
      <div [innerHtml]="data?.ajusteProgramacion?.observacionObraInterventor?.observaciones" *ngIf="data.esObra"></div>
      <div [innerHtml]="data?.ajusteProgramacion?.observacionFlujoInterventor?.observaciones" *ngIf="!data.esObra"></div>

    </div>
  </div>
</div>

<div *ngIf="false" class="text-center mb-2em">
  <div class="table-responsive">
    <table class="mat-table cdk-table mat-sort mat-table-style table-form table-form--2 table-gris">
      <thead>
        <tr class="mat-header-row cdk-header-row ng-star-inserted">
          <th class="mat-header-cell cdk-header-cell ng-star-inserted">
            Fecha de revisión
          </th>
          <th class="mat-header-cell cdk-header-cell ng-star-inserted">
            Historial de observaciones
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let observacion of listaObservaciones">
          <td class="mat-cell cdk-cell ng-star-inserted">
            {{ observacion.fecha }}
          </td>
          <td class="mat-cell cdk-cell ng-star-inserted">
            {{ observacion.historial }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
