<div class="table-responsive">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <ng-container matColumnDef="drp">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> DRP </th>
            <td mat-cell *matCellDef="let element" align="center"> <b>{{ element.drp }}</b> </td>
        </ng-container>
        <ng-container matColumnDef="numDrp">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Número DRP </th>
            <td mat-cell *matCellDef="let element" align="center"> {{ element.numDrp }} </td>
        </ng-container>
        <ng-container matColumnDef="nomAportante">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre del aportante </th>
            <td mat-cell *matCellDef="let element" class="padding-0em" align="center">
                <div class="sub-item-table flex-table justify-content-center align-items-center h-3em"
                    *ngFor="let el of element.nomAportante ; let i = index">
                    {{el.nombre}}
                </div>
            </td>   
        </ng-container>
        <ng-container matColumnDef="porcParticipacion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Porcentaje de participación </th>
            <td mat-cell *matCellDef="let element" class="padding-0em" align="center">
                <div class="sub-item-table flex-table justify-content-center align-items-center h-3em"
                    *ngFor="let el of element.porcParticipacion ; let i = index">
                    {{el.valor}}
                </div>
            </td>   
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>

