<div class="container">
  <div class="text-right">
    <a
      [routerLink]="['/solicitarContratacion/solicitud/', idSolicitud]"
      mat-button
      color="primary"
      class="btn-regresar"
    >
      <img src="assets/img/icon/regresar.svg" alt="Regresar" />
    </a>
  </div>
  <div class="text-center mb-2em">
    <h1 class="title-menu--h1">Definir fuentes y usos</h1>
  </div>

  <p class="text-detalle d-flex colorMainColor" *ngIf="contratacionProyecto" style="justify-content: center">
    <span style="margin-right: 2em"> {{ tipoIntervencion }} </span>
    <span style="margin-right: 2em">
      <b>
        {{ contratacionProyecto.proyecto.institucionEducativa.nombre }} -
        {{ contratacionProyecto.proyecto.sede.nombre }}
      </b>
    </span>
    <span style="margin-right: 2em"> {{ municipio }} </span>
  </p>

  <div class="container-valor" *ngIf="contratacionProyecto" style="margin: 1em">
    <p>
      <b class="var-main-gris">Valor total del proyecto</b>
      <b style="margin-left: 0.2em">
        ${{
          contratacionProyecto.proyecto.valorObra + contratacionProyecto.proyecto.valorInterventoria
            | currency: ' ':'symbol-narrow':'.0-0'
        }}</b
      >
    </p>
    <p>
      <b class="var-main-gris">Valor obra</b>
      <b style="margin-left: 0.6em">
        ${{ contratacionProyecto.proyecto.valorObra | currency: ' ':'symbol-narrow':'.0-0' }}
      </b>
    </p>
    <p>
      <b class="var-main-gris">Valor interventoría</b>
      <b style="margin-left: 0.6em">
        ${{ contratacionProyecto.proyecto.valorInterventoria | currency: ' ':'symbol-narrow':'.0-0' }}
      </b>
    </p>
  </div>

  <div class="text-center mb-2em">
    <h1 class="title-menu--h1" *ngIf="contratacionProyecto">
      {{ contratacionProyecto['contratacion'].tipoSolicitudCodigo === '2' ? 'Interventoria' : 'Obra' }}
    </h1>
  </div>
  <p class="text-center info-container">
    <span class="info-text sin-diligenciar">Sin diligenciar</span>
    <span class="info-text en-proceso">En proceso</span>
    <span class="info-text completo">Completo</span>
  </p>

  <form [formGroup]="addressForm" (ngSubmit)="onSubmit()">
    <mat-accordion formGroupName="aportantes" *ngFor="let aportante of aportantes.controls; let j = index">
      <mat-expansion-panel class="expansion-style" [formGroupName]="j">
        <mat-expansion-panel-header class="expansion-style--header">
          <mat-panel-title
            class="expansion-style--title"
            [ngClass]="
              aportante.get('estadoSemaforo').value !== null ? aportante.get('estadoSemaforo').value : 'sin-diligenciar'
            "
          >
            Aportante {{ j + 1 }}
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-card class="shipping-card">
          <mat-card-content>
            <div class="row">
              <div class="col-md-8">
                <div class="row">
                  <div class="pr-1">
                    <label class="label-left">Nombre del aportante:</label>
                  </div>
                  <div class="col d-flex">
                    <b class="valor-input"> {{ aportante.get('nombreAportante').value }} </b>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8">
                <div class="row">
                  <div class="pr-1">
                    <label
                      class="label-left"
                      for="valorAportanteProyecto"
                      [class.color-secondaryColor]="
                        (addressForm.get('valorAportanteProyecto').invalid &&
                          addressForm.get('valorAportanteProyecto').touched) ||
                        (addressForm.get('valorAportanteProyecto').invalid && estaEditando)
                      "
                    >
                      Valor del aportante al proyecto
                    </label>
                  </div>
                  <div class="col d-flex">
                    <mat-form-field class="full-width">
                      <!-- <input matInput #valorAportante maxlength="20" min="1" required
                                                type="number" formControlName="valorAportanteProyecto"> -->
                      <input
                        matInput
                        #valorAportante
                        currencyMask
                        required
                        maxLength="20"
                        onKeyPress="if(this.value.length>=this.maxLength) return false;"
                        [options]="{ prefix: '$ ', thousands: '.', precision: '0', align: 'left' }"
                        formControlName="valorAportanteProyecto"
                        (ngModelChange)="
                          validarSaldoDisponible(
                            $event,
                            aportante.get('saldoDisponible').value,
                            aportante.get('nombreAportante').value
                          )
                        "
                      />
                      <input type="hidden" formControlName="contratacionProyectoAportanteId" />
                      <input type="hidden" formControlName="proyectoAportanteId" />
                    </mat-form-field>
                    <span
                      class="contador"
                      [matTooltipPosition]="'above'"
                      matTooltip="Valor en ($) Pesos colombianos"
                      matTooltipClass="info-tooltip"
                    >
                      {{ 20 - valorAportante.value.length }}
                    </span>
                    <span class="icon-incompleto">
                      <img
                        class="icon-incompleto--img"
                        src="assets/img/icon/incompleto.svg"
                                      alt="este campo es requerido"
              [matTooltipPosition]="'above'"
              matTooltip="Debe ingresar la información en el campo para continuar"
              matTooltipClass="info-tooltip"
                        *ngIf="
                          (addressForm.get('valorAportanteProyecto').invalid &&
                            addressForm.get('valorAportanteProyecto').touched) ||
                          (addressForm.get('valorAportanteProyecto').invalid && estaEditando)
                        "
                      />
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="animatedDown"
              *ngIf="aportante.get('valorAportanteProyecto').value > 0 && esSaldoPermitido === true"
            >
              <h2 class="card-subTitle">Usos</h2>
              <div formGroupName="componentes">
                <div class="animatedDown" *ngFor="let conponente of componentes(j).controls; let i = index">
                  <div [formGroupName]="i">
                    <mat-card-title class="header-card--text sub-text"> Componente {{ i + 1 }} </mat-card-title>
                    <div class="row">
                      <div class="col-md-8">
                        <div class="row">
                          <div class="pr-1">
                            <label
                              class="label-left"
                              for="fase"
                              [class.color-secondaryColor]="
                                (addressForm.get('fase').invalid && addressForm.get('fase').touched) ||
                                (addressForm.get('fase').invalid && estaEditando)
                              "
                            >
                              Fase
                            </label>
                          </div>
                          <div class="col">
                            <mat-form-field class="select-width">
                              <mat-select
                                required
                                formControlName="fase"
                                #faseSeleccionada
                                (selectionChange)="changeFase(j, i)"
                              >
                                <mat-option *ngFor="let fase of fasesSelect" [value]="fase">
                                  {{ fase.nombre }}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                          <span class="icon-incompleto">
                            <img
                              class="icon-incompleto--img"
                              src="assets/img/icon/incompleto.svg"
                                            alt="este campo es requerido"
              [matTooltipPosition]="'above'"
              matTooltip="Debe ingresar la información en el campo para continuar"
              matTooltipClass="info-tooltip"
                              *ngIf="
                                (addressForm.get('fase').invalid && addressForm.get('fase').touched) ||
                                (addressForm.get('fase').invalid && estaEditando)
                              "
                            />
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-8">
                        <div class="row">
                          <div class="pr-1">
                            <label
                              class="label-left"
                              for="componente"
                              [class.color-secondaryColor]="
                                (addressForm.get('componente').invalid && addressForm.get('componente').touched) ||
                                (addressForm.get('componente').invalid && estaEditando)
                              "
                            >
                              Componente
                            </label>
                          </div>
                          <div class="col">
                            <mat-form-field class="select-width">
                              <mat-select required formControlName="componente">
                                <mat-option
                                  *ngFor="let componente of listaComponentes"
                                  [value]="componente"
                                  (click)="getlistaUsos(j, i)"
                                >
                                  {{ componente.nombre }}
                                </mat-option>
                              </mat-select>
                              <input type="hidden" formControlName="componenteAportanteId" />
                              <input type="hidden" formControlName="contratacionProyectoAportanteId" />
                            </mat-form-field>
                          </div>
                          <span class="icon-incompleto">
                            <img
                              class="icon-incompleto--img"
                              src="assets/img/icon/incompleto.svg"
                                            alt="este campo es requerido"
              [matTooltipPosition]="'above'"
              matTooltip="Debe ingresar la información en el campo para continuar"
              matTooltipClass="info-tooltip"
                              *ngIf="
                                (addressForm.get('componente').invalid && addressForm.get('componente').touched) ||
                                (addressForm.get('componente').invalid && estaEditando)
                              "
                            />
                          </span>
                        </div>
                      </div>
                    </div>
                    <div formGroupName="usos">
                      <div class="animatedDown" *ngFor="let uso of usos(j, i).controls; let k = index">
                        <div [formGroupName]="k">
                          <div class="row">
                            <div class="col-md-8">
                              <div class="row">
                                <div class="pr-1">
                                  <label
                                    class="label-left"
                                    [class.color-secondaryColor]="
                                      (uso.get('usoDescripcion').invalid && uso.get('usoDescripcion').touched) ||
                                      (uso.get('usoDescripcion').invalid && estaEditando)
                                    "
                                  >
                                    Uso {{ k + 1 }}
                                  </label>
                                </div>
                                <div class="col">
                                  <mat-form-field class="select-width">
                                    <mat-select required formControlName="usoDescripcion">
                                      <section>
                                        <mat-option *ngFor="let u of getListaUsosFiltrado(j, i, k)" [value]="u">
                                          {{ u.nombre }}
                                        </mat-option>
                                      </section>
                                    </mat-select>
                                  </mat-form-field>
                                </div>
                                <span class="icon-incompleto">
                                  <img
                                    class="icon-incompleto--img"
                                    src="assets/img/icon/incompleto.svg"
                                                  alt="este campo es requerido"
              [matTooltipPosition]="'above'"
              matTooltip="Debe ingresar la información en el campo para continuar"
              matTooltipClass="info-tooltip"
                                    *ngIf="
                                      (uso.get('usoDescripcion').invalid && uso.get('usoDescripcion').touched) ||
                                      (uso.get('usoDescripcion').invalid && estaEditando)
                                    "
                                  />
                                </span>
                              </div>
                            </div>
                            <div class="col-md-4 text-right p-0">
                              <button
                                mat-button
                                color="warn"
                                type="button"
                                class="btn-eliminar animatedOpacity"
                                *ngIf="usos(j, i).length > 1"
                                (click)="deleteUso(usos(j, i), k)"
                              >
                                <img src="assets/img/icon/menos.svg" alt="Eliminar uso" />
                                Eliminar uso
                              </button>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-8">
                              <div class="row">
                                <div class="pr-1">
                                  <label
                                    class="label-left"
                                    [class.color-secondaryColor]="
                                      (uso.get('valorUso').invalid && uso.get('valorUso').touched) ||
                                      (uso.get('valorUso').invalid && estaEditando)
                                    "
                                  >
                                    Valor del uso
                                  </label>
                                </div>
                                <div class="col d-flex">
                                  <mat-form-field class="full-width">
                                    <input
                                      matInput
                                      #valorUso
                                      currencyMask
                                      required
                                      maxLength="20"
                                      onKeyPress="if(this.value.length>=this.maxLength) return false;"
                                      [options]="{ prefix: '$ ', thousands: '.', precision: '0', align: 'left' }"
                                      formControlName="valorUso"
                                    />
                                    <input type="hidden" formControlName="componenteUsoId" />
                                    <input type="hidden" formControlName="componenteAportanteId" />
                                  </mat-form-field>
                                  <span
                                    class="contador"
                                    [matTooltipPosition]="'above'"
                                    matTooltip="Valor en ($) Pesos colombianos"
                                    matTooltipClass="info-tooltip"
                                  >
                                    {{ 20 - valorUso.value.length }}
                                  </span>
                                  <span class="icon-incompleto">
                                    <img
                                      class="icon-incompleto--img"
                                      src="assets/img/icon/incompleto.svg"
                                                    alt="este campo es requerido"
              [matTooltipPosition]="'above'"
              matTooltip="Debe ingresar la información en el campo para continuar"
              matTooltipClass="info-tooltip"
                                      *ngIf="
                                        (uso.get('valorUso').invalid && uso.get('valorUso').touched) ||
                                        (uso.get('valorUso').invalid && estaEditando)
                                      "
                                    />
                                  </span>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-4 text-right">
                              <button
                                mat-button
                                color="warn"
                                type="button"
                                class="btn-eliminar animatedOpacity"
                                *ngIf="k + 1 === usos(j, i).length"
                                (click)="addUso(j, i)"
                              >
                                <img src="assets/img/icon/mas.svg" alt="Agregar otro uso" />
                                Agregar otro uso
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="text-right mt-1em">
                      <button
                        mat-button
                        color="warn"
                        type="button"
                        class="btn-eliminar animatedOpacity"
                        *ngIf="componentes(j).length > 1"
                        (click)="borrarArray(j, i)"
                      >
                        <img src="assets/img/icon/menos.svg" alt="Eliminar componente" />
                        Eliminar componente
                      </button>
                      <button
                        mat-button
                        color="warn"
                        type="button"
                        class="btn-eliminar animatedOpacity"
                        *ngIf="componentes(j).controls.length === i + 1"
                        (click)="addComponent(j)"
                      >
                        <img src="assets/img/icon/mas.svg" alt="Agregar otro componente" />
                        Agregar otro componente
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
        <div class="text-center" *ngIf="aportante.get('valorAportanteProyecto').value > 0 && esSaldoPermitido === true">
          <button mat-button color="warn" class="btn-guardar" type="submit">
            <img src="assets/img/icon/guardar.svg" alt="guardar" />
          </button>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </form>
</div>

<!-- <pre class="container">
    {{ addressForm.value | json }}
</pre> -->
