<section class="container mb-2em">
  <div class="text-center">
    <div class="text-right">
      <a routerLink="../.." mat-button color="primary" class="btn-regresar">
        <img src="assets/img/icon/regresar.svg" alt="Regresar" />
      </a>
    </div>
    <h1 class="title-menu--h1">Ver detalle Tras_001</h1>
    <p class="colorMainColor mt-1em">
      <span class="mx-1em"> Llave MEN: <b> LL000000 </b> </span>
      <span class="mx-1em"> Número de contrato de obra: <b> N000000 </b> </span>
      <span class="mx-1em"> Número de contrato de interventoría: <b> A000000 </b> </span>
    </p>
  </div>

  <mat-card class="shipping-card var-main-gris">
    <mat-card-content>
      <p>
        <strong> Tipo de intervención: </strong>
        Remodelación
      </p>
      <p>
        <strong> Institución Educativa: </strong>
        I.E Nuestra Señora Del Carmen
      </p>
      <p>
        <strong> Sede: </strong>
        Única Sede
      </p>
      <p>
        <strong> Departamento: </strong>
        Boyacá
      </p>
      <p>
        <strong> Municipio: </strong>
        Susacón
      </p>
      <p>
        <strong> Número DDP: </strong>
        DDP_0001
      </p>
      <p>
        <strong> Valor DDP: </strong>
        $100.000.000
      </p>
      <p>
        <strong> Justificación del traslado entre aportantes y fuentes del proyecto: </strong>
        <span class="d-block">
          Se requiere el traslados ya que el aportante Gobernación de Boyacá No cuenta con los recursos necesarios y
          seran solventados por la Alcaldía de Susacón
        </span>
      </p>
      <p>
        <strong> URL con soporte: </strong>
        http//:onedrive/traslado0001
      </p>

      <h2 class="card-subTitle">DRP</h2>

      <div class="table-responsive mb-1em mt-1em w-talble">
        <table class="mat-table cdk-table mat-sort mat-table-style table-form table-gris">
          <thead>
            <tr class="mat-header-row cdk-header-row ng-star-inserted">
              <th class="mat-header-cell cdk-header-cell ng-star-inserted">DRP</th>
              <th class="mat-header-cell cdk-header-cell ng-star-inserted">Número DRP</th>
              <th class="mat-header-cell cdk-header-cell ng-star-inserted">Valor</th>
              <th class="mat-header-cell cdk-header-cell ng-star-inserted">Saldo</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let element of lista">
              <td class="mat-cell cdk-cell ng-star-inserted">
                <b> {{ element.drp }} </b>
              </td>
              <td class="mat-cell cdk-cell ng-star-inserted">
                {{ element.numeroDRP }}
              </td>
              <td class="mat-cell cdk-cell ng-star-inserted">
                {{ element.valor }}
              </td>
              <td class="mat-cell cdk-cell ng-star-inserted">
                {{ element.saldo }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </mat-card-content>
  </mat-card>

  <div class="table-responsive mb-1em mt-1em w-table-solicitud">
    <table class="mat-table cdk-table mat-sort mat-table-style table-form table-gris">
      <thead>
        <tr class="mat-header-row cdk-header-row ng-star-inserted">
          <th class="mat-header-cell cdk-header-cell ng-star-inserted">Tipo de solicitud</th>
          <th class="mat-header-cell cdk-header-cell ng-star-inserted">Fecha de aprobación fiduciaria</th>
          <th class="mat-header-cell cdk-header-cell ng-star-inserted">Fecha de pago de fiduciaria</th>
          <th class="mat-header-cell cdk-header-cell ng-star-inserted">Número de orden de giro</th>
          <th class="mat-header-cell cdk-header-cell ng-star-inserted">Modalidad del contrato</th>
          <th class="mat-header-cell cdk-header-cell ng-star-inserted">Número del contrato</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let element of listaSolicitud">
          <td class="mat-cell cdk-cell ng-star-inserted">
            <b> {{ element.tipoSolicitud }} </b>
          </td>
          <td class="mat-cell cdk-cell ng-star-inserted">
            {{ element.fechaAprobacionFiduciaria }}
          </td>
          <td class="mat-cell cdk-cell ng-star-inserted">
            {{ element.fechaPagoFiduciaria }}
          </td>
          <td class="mat-cell cdk-cell ng-star-inserted">
            {{ element.numeroOrdenGiro }}
          </td>
          <td class="mat-cell cdk-cell ng-star-inserted">
            {{ element.modalidadContrato }}
          </td>
          <td class="mat-cell cdk-cell ng-star-inserted">
            {{ element.numeroContrato }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <mat-card class="shipping-card var-main-gris">
    <mat-card-header class="header-card header-card--margin">
      <mat-card-title class="header-card--text"> ODG_obra_222 </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        <strong> Fecha de aprobación fiduciaria: </strong>
        15/11/2020
      </p>
      <p>
        <strong> Modalidad del contrato: </strong>
        Modalidad 1
      </p>
      <p>
        <strong> Número del contrato: </strong>
        N801801 SAS
      </p>
      <p>
        <strong> Valor facturado: </strong>
        $15.000.000
      </p>
      <p>
        <strong> Valor pagado: </strong>
        $10.000.000
      </p>
    </mat-card-content>
  </mat-card>

  <mat-accordion>
    <mat-expansion-panel class="expansion-style">
      <mat-expansion-panel-header class="expansion-style--header">
        <mat-panel-title class="expansion-style--title"> Información general </mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
    <mat-expansion-panel class="expansion-style">
      <mat-expansion-panel-header class="expansion-style--header">
        <mat-panel-title class="expansion-style--title"> Detalle del giro </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-accordion>
        <mat-expansion-panel class="expansion-style sub-expansion">
          <mat-expansion-panel-header class="expansion-style--header">
            <mat-panel-title class="expansion-style--title"> Porcentajes de participación </mat-panel-title>
          </mat-expansion-panel-header>

        </mat-expansion-panel>

        <mat-expansion-panel class="expansion-style sub-expansion">
          <mat-expansion-panel-header class="expansion-style--header">
            <mat-panel-title class="expansion-style--title"> Información fuente de recursos </mat-panel-title>
          </mat-expansion-panel-header>

        </mat-expansion-panel>

        <mat-expansion-panel class="expansion-style sub-expansion">
          <mat-expansion-panel-header class="expansion-style--header">
            <mat-panel-title class="expansion-style--title"> Tercero de causación </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-card class="shipping-card var-main-gris">
            <mat-card-content>
              <p>
                <strong> Número de identificación del contratista: </strong>
                900.879.765-2
              </p>
              <p>
                <strong> Nombre de contratista: </strong>
                Interventores S.A.
              </p>
              <p>
                <strong> Número de factura: </strong>
                FAC00456
              </p>
            </mat-card-content>
          </mat-card>
          <p class="text-center mt-1em">
            <span class="mx-1em"> Valor neto de giro: <b> $ 15.000.000 </b> </span>
            <span class="mx-1em"> Nuevo valor resgistrado: <b> $ 15.000.000 </b> </span>
          </p>
  
          <mat-accordion>
            <mat-expansion-panel class="expansion-style sub-expansion-black">
              <mat-expansion-panel-header class="expansion-style--header">
                <mat-panel-title class="expansion-style--title"> Costo variable </mat-panel-title>
              </mat-expansion-panel-header>
  
              <mat-card class="shipping-card var-main-gris">
                <mat-card-header class="header-card header-card--margin">
                  <mat-card-title class="header-card--text"> Demolición </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <p>
                    <strong> Valor facturado por concepto: </strong>
                    $ 13.000.000
                  </p>
                  <mat-card-title class="header-card--text sub-text"> Aportante 1 </mat-card-title>
                  <p>
                    <strong> Nombre del aportante: </strong>
                    Alcaldía de Susacón
                  </p>
                  <p>
                    <strong> Fuente de recursos: </strong>
                    Contingencias
                  </p>
                  <p>
                    <strong> Valor facturado por el concepto para el aportante después del descuento: </strong>
                    $ 12.804.846
                  </p>
                  <p>
                    <strong> Nuevo valor por el concepto para el aportante: </strong>
                    $13.000.000
                  </p>
  
                  <div>
                    <h2 class="card-subTitle">Descuentos Dirección financiera</h2>
                    <p>
                      <strong> ¿Se requieren aplicar descuentos sobre el concepto de pago?: </strong>
                      Si
                    </p>
                    <p>
                      <strong> ¿Cuántos descuentos se aplican sobre el concepto de pago?: </strong>
                      2
                    </p>
  
                    <div>
                      <mat-card-title class="header-card--text sub-text"> Aportante 1 </mat-card-title>
                      <p>
                        <strong> Tipo de descuento: </strong>
                        Retefuente
                      </p>
                      <p>
                        <strong> Valor de descuento: </strong>
                        $ 81.250
                      </p>
                      <p>
                        <strong> Nuevo valor del descuento para el aportante: </strong>
                        $81.250
                      </p>
                    </div>
                  </div>
                </mat-card-content>
              </mat-card>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-expansion-panel>

      </mat-accordion>
    </mat-expansion-panel>
  </mat-accordion>
</section>
