<section class="container" [formGroup]="formulario">
    <div class="text-right">
        <a routerLink="../../.." mat-button color="primary" class="btn-regresar">
            <img src="assets/img/icon/regresar.svg" alt="Regresar">
        </a>
    </div>
    <div class="text-center">
        <h1 class="title-menu--h1">
            Crear solicitud de disponibilidad presupuestal
        </h1>
    </div>

    <div class="row justify-content-center">
        <div class="pr-1">
            <label class="label-left">Consecutivo proyecto administrativo:</label>
        </div>
        <div class="col">
            <mat-form-field class="select-width">
                <mat-select formControlName="consecutivo" required (selectionChange)="changeProyecto()">
                    <mat-option *ngFor="let proyecto of listaProyectos" [value]="proyecto">
                        {{proyecto.proyectoId}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <mat-card class="shipping-card var-main-gris">
        <mat-card-content *ngFor=" let aportante of listaAportantes; let i = index ">

            <mat-card-title class="header-card--text">
                Aportante {{ i + 1 }}
            </mat-card-title>

            <p>
                <strong>Valor del aportante al proyecto:</strong>
                {{ aportante.valorAporte }}
            </p>
            <p>
                <strong>Nombre del aportante:</strong>
                {{ aportante.nombreAportante }}
            </p>
            <p>
                <strong>Fuente 1:</strong>
                {{ aportante.nombreFuente }}
            </p>
            <p>
                <strong>Valor fuente 1:</strong>
                {{ aportante.valorFuente | currency }}
            </p>
        </mat-card-content>
    </mat-card>

    <div class="d-flex align-items-center">
        <div class="text-area-quill">
            <label for="alcanceParticular" class="text-area-quill--label">Nueva observación</label>
            <quill-editor class="quill-editor-style" #objeto [styles]="editorStyle" [modules]="config"
                (onContentChanged)="maxLength($event, 1000)" formControlName="objeto"></quill-editor>
                <input type="hidden" formControlName="proyectoAdministrativoId">
                <input type="hidden" formControlName="disponibilidadPresupuestalId">
        </div>
        <span class="contador miles" *ngIf="formulario.get('objeto').value">
            {{1000 - textoLimpio(formulario.get('objeto').value)}}
        </span>
        <span class="contador miles" *ngIf="formulario.get('objeto').value">
            1000
        </span>
    </div>

    <div class="text-center">
        <button mat-button color="warn" class="btn-guardar" (click)="enviarObjeto()">
            <img src="assets/img/icon/guardar.svg" alt="Guardar">
        </button>
    </div>

</section>