<section class="container">
  <div class="container text-center">
    <div class="text-right">
      <a routerLink="../.." mat-button color="primary" class="btn-regresar">
        <img src="assets/img/icon/regresar.svg" alt="Regresar" />
      </a>
    </div>
    <h1 class="title-menu--h1">Selección N801801</h1>
    <p class="info-sub-title">Contratista <b>Construir futuro</b></p>
  </div>

  <mat-card class="shipping-card var-main-gris">
    <mat-card-content>
      <p>
        <strong>
          Número de proceso:
        </strong>
        SP 0003-2020
      </p>
      <p>
        <strong>
          Fecha de solicitud:
        </strong>
        20/07/2020
      </p>
      <p>
        <strong>
          Tipo de proceso de selección:
        </strong>
        Selección privada
      </p>
      <p>
        <strong>
          Objeto:
        </strong>
        <span class="d-block">
          Mejorar los ambientes para el desarrollo pedagógico de los estudiantes, hecho que se traduce en aspectos
          motivacionales que llevan a un mejor aprendizaje, al tiempo que asegura la capacidad del sistema para absorber
          y retener al mayor número de población estudiantil y a largo plazo favorece los índices de desarrollo social
          de la población.
        </span>
      </p>
      <p>
        <strong>
          Alcance particular:
        </strong>
        <span class="d-block">
          Incrementar en un 45% la capacidad de estructuras educativas en la zona del Caribe que se encuentran con un
          alto porcentaje de deserción escolar.
        </span>
      </p>
      <p>
        <strong>
          Fecha de apertura:
        </strong>
        21/07/2020
      </p>
      <p>
        <strong>
          Fecha de evaluación:
        </strong>
        15/12/2020
      </p>
      <p>
        <strong>
          Fecha de adjudicación:
        </strong>
        03/01/2021
      </p>
      <p>
        <strong>
          Fecha de cierre:
        </strong>
        20/01/2020
      </p>
      <p>
        <strong>
          ¿Este proceso de selección se realiza distribución del territorio en grupos?:
        </strong>
        Si
      </p>
      <p>
        <strong>
          ¿Cuántos grupos?:
        </strong>
        2
      </p>
      <p>
        <strong>
          Url con soporte:
        </strong>
        one.drive.procesodeseleccionprivada0007
      </p>
      <h2 class="card-subTitle">Grupos</h2>
      <mat-card-title class="header-card--text sub-text"> 
        Grupo 1
      </mat-card-title>
      <p>
        <strong>
          Nombre del grupo:
        </strong>
        Proyección Susa
      </p>
      <p>
        <strong>
          Tipo de presupuesto:
        </strong>
        Presupuesto oficial
      </p>
      <p>
        <strong>
          Valor:
        </strong>
        $80.000.000
      </p>
      <p>
        <strong>
          Plazo en meses:
        </strong>
        10
      </p>
    </mat-card-content>
  </mat-card>

</section>
