<section class="container">
  <div class="container text-center">
    <div class="text-right print-d-none">
      <a routerLink="../../.." mat-button color="primary" class="btn-regresar">
        <img src="assets/img/icon/regresar.svg" alt="Regresar" />
      </a>
    </div>
    <h1 class="title-menu--h1">
      Resumen <span *ngIf="contrato">{{ contrato.numeroContrato }}</span>
    </h1>
    <p class="info-sub-title">
      Contratista <b *ngIf="contrato"> {{ contrato.contratista }} </b>
    </p>
  </div>

  <mat-card class="shipping-card var-main-gris" *ngIf="contrato">
    <mat-card-content>
      <p>
        <strong> Tipo de contrato: </strong>
        {{ contrato.tipoContrato }}
      </p>
      <p>
        <strong> Estado: </strong>
        {{ contrato.estadoContrato }}
      </p>
      <p>
        <strong> Valor actual del contrato: </strong>
        {{ contrato.valorContrato | currency: 'COP':'symbol-narrow':'.0-0' }}
      </p>
      <!-- <p>
        <strong> Fecha de suscripción: </strong>
        22/10/2020
      </p> -->
    </mat-card-content>
  </mat-card>

  <mat-accordion [multi]="openAcordeon">
    <mat-expansion-panel class="expansion-style" *ngFor="let proyecto of listProyectos" [expanded]="openAcordeon">
      <mat-expansion-panel-header class="expansion-style--header">
        <mat-panel-title class="expansion-style--title"> {{ proyecto.proyecto.llaveMen }} </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-card class="shipping-card var-main-gris">
        <mat-card-content>
          <p class="mt-1em">
            <strong> Tipo de intervensión: </strong>
            {{ proyecto.proyecto.tipoIntervencion }}
          </p>
          <h2 class="card-subTitle">Ubicación</h2>
          <p>
            <strong> Departamento: </strong>
            {{ proyecto.proyecto.departamento }}
          </p>
          <p>
            <strong> Municipio: </strong>
            {{ proyecto.proyecto.municipio }}
          </p>
          <p>
            <strong> Institución Educativa: </strong>
            {{ proyecto.proyecto.institucionEducativaSede }}
          </p>
          <p>
            <strong> Sede: </strong>
            {{ proyecto.proyecto.sede }}
          </p>
          <h2 class="card-subTitle">Inversión</h2>
          <div class="table-responsive mb-1em mt-1em w-talble">
            <table class="mat-table cdk-table mat-sort mat-table-style table-form table-gris">
              <thead>
                <tr class="mat-header-row cdk-header-row ng-star-inserted">
                  <th class="mat-header-cell cdk-header-cell ng-star-inserted">DRP</th>
                  <th class="mat-header-cell cdk-header-cell ng-star-inserted">Número DRP</th>
                  <th class="mat-header-cell cdk-header-cell ng-star-inserted">Valor</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let element of proyecto.proyecto.inversion; index as i">
                  <td class="mat-cell cdk-cell ng-star-inserted">
                    <b> {{ i + 1 }} </b>
                  </td>
                  <td class="mat-cell cdk-cell ng-star-inserted">
                    {{ element.numeroDrp }}
                  </td>
                  <td class="mat-cell cdk-cell ng-star-inserted">
                    {{ element.valor | currency: 'COP':'symbol-narrow':'.0-0' }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <h2 class="card-subTitle">Fuentes y usos</h2>
          <div class="table-responsive mb-1em mt-1em">
            <table class="mat-table cdk-table mat-sort mat-table-style table-form table-gris">
              <thead>
                <tr class="mat-header-row cdk-header-row ng-star-inserted">
                  <th class="mat-header-cell cdk-header-cell ng-star-inserted">Aportante</th>
                  <th class="mat-header-cell cdk-header-cell ng-star-inserted">Valor aportante</th>
                  <th class="mat-header-cell cdk-header-cell ng-star-inserted">Fuente</th>
                  <th class="mat-header-cell cdk-header-cell ng-star-inserted">Uso</th>
                  <th class="mat-header-cell cdk-header-cell ng-star-inserted">Valor uso</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let element of proyecto.proyecto.fuentesUsos">
                  <td class="mat-cell cdk-cell ng-star-inserted">
                    <b> {{ element.aportante }} </b>
                  </td>
                  <td class="mat-cell cdk-cell ng-star-inserted">
                    {{ element.valorAportante }}
                  </td>
                  <td class="mat-cell cdk-cell ng-star-inserted">
                    {{ element.fuente }}
                  </td>
                  <td class="mat-cell cdk-cell ng-star-inserted">
                    {{ element.uso }}
                  </td>
                  <td class="mat-cell cdk-cell ng-star-inserted">
                    {{ element.valorUso | currency: 'COP':'symbol-narrow':'.0-0' }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-expansion-panel>
  </mat-accordion>
</section>

<div class="text-center mt-2em mb-2em print-d-none">
  <button mat-raised-button color="accent" (click)="downloadPDF()">Descargar</button>
</div>
