:host {
    animation-duration: 0.6s;
    animation-name: animatedDown;
}

.m-1em {
    margin: 1em;
}

.mb-1em {
    margin-bottom: 1em;
}

.btn-eliminar {
    margin-top: 0.5em;
}

.mx-gestion {
    padding-left: 3em;
    padding-right: 3em;
}

.required {
    &-quill {
        position: absolute;
        transform: translate(2em, 1.4em);
    }
    &-calendar {
        position: absolute;
        transform: translate(.3em, .8em);
    }
}
