<div class="text-center">
    <h1 class="title-menu--h1 mb-1em">
        Monitorear cronograma proceso SP 0007-2020
    </h1>

    <table class="mat-table cdk-table mat-sort mat-table-style">
        <thead>
            <tr class="mat-header-row cdk-header-row ng-star-inserted">
                <th class="mat-header-cell cdk-header-cell ng-star-inserted">
                    Actividad
                </th>
                <th class="mat-header-cell cdk-header-cell ng-star-inserted">
                    Descripción
                </th>
                <th class="mat-header-cell cdk-header-cell ng-star-inserted">
                    Fecha máxima
                </th>
                <th class="mat-header-cell cdk-header-cell ng-star-inserted">
                    Gestión
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="mat-cell cdk-cell ng-star-inserted">
                    <b>i</b>
                </td>
                <td class="mat-cell cdk-cell ng-star-inserted">
                    <div class="d-flex justify-content-center">
                        <!-- <span class="contador" *ngIf="addressForm.get('objeto').value">
                            {{500 - addressForm.get('objeto').value.length}}
                        </span>
                        <span class="contador" *ngIf="addressForm.get('objeto').value">
                            500
                        </span> -->
                    </div>
                    <quill-editor class="quill-editor-style" [styles]="editorStyle" [modules]="config"
                        (onContentChanged)="maxLength($event, 500)"></quill-editor>
                </td>
                <td class="mat-cell cdk-cell ng-star-inserted">
                    <button mat-button color="primary" (click)="picker.open()" class="btn-calendario">
                        <img src="assets/img/icon/calendarioCirculo.svg" alt="Abrir Calendario">
                    </button>
                    <mat-form-field class="example-full-width calendar-class">
                        <input matInput [matDatepicker]="picker" [max]="maxDate" readonly (click)="picker.open()">
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </td>
                <td class="mat-cell cdk-cell ng-star-inserted">
                    <button mat-raised-button color="accent" class="btn-table">
                        Eliminar
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="text-right">
        <button mat-button color="warn" type="button" class="btn-eliminar">
            <img src="assets/img/icon/mas.svg" alt="Agregar otra cuenta bancaria">
            Agregar otra actividad
        </button>
    </div>
    <div class="text-center">
        <button mat-button color="warn" class="btn-guardar" type="submit">
            <img src="assets/img/icon/guardar.svg" alt="Regresar">
        </button>
    </div>
</div>