<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
  <p class="info-sub-title supportBlack">
    <span><b>Monto máximo por pagar en esta factura:</b> $15.000.000</span>
    <span><b>Monto pendiente por pagar en la fase:</b> $30.000.000</span>
  </p>
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="pr-1">
          <label class="label-left" for="criterioPago">Criterio de pago</label>
        </div>
        <div class="col">
          <mat-form-field class="select-width">
            <mat-select formControlName="criterioPago" multiple required (selectionChange)="getvalues($event.value)">
              <mat-option *ngFor="let criterioPago of criteriosArray" [value]="criterioPago.value">
                {{ criterioPago.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
  <div style="margin-top: 3em;">
    <mat-card class="shipping-card">
      <mat-card-header class="header-card header-card--margin">
        <mat-card-title class="header-card--text">
          Estudios y diseños interventoria hasta 90%
        </mat-card-title>
      </mat-card-header>
      <mat-card-content style="text-align: left;">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="pr-1">
                <label class="label-left" for="tipoPago">Tipo de pago</label>
              </div>
              <div class="col">
                <mat-form-field class="select-width">
                  <mat-select formControlName="tipoPago" required>
                    <mat-option *ngFor="let tipoPago of tipoPagoArray" [value]="tipoPago.value">
                      {{ tipoPago.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="pr-1">
                <label class="label-left" for="conceptoPago">Concepto de pago para el criterio</label>
              </div>
              <div class="col">
                <mat-form-field class="select-width">
                  <mat-select formControlName="conceptoPago" required>
                    <mat-option *ngFor="let conceptoPago of conceptoPagoArray" [value]="conceptoPago.value">
                      {{ conceptoPago.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <div class="row">
              <div class="pr-1">
                <label class="label-left" for="valorFacturado">
                  Valor facturado al concepto
                </label>
              </div>
              <div class="col d-flex">
                <mat-form-field class="full-width">
                  <input matInput #valorFacturado currencyMask maxlength="20" required formControlName="valorFacturado"
                    (keypress)="validateNumberKeypress($event)"
                    onKeyPress="if(this.value.length>=this.maxLength) return false;"
                    [options]="{ prefix: '$ ', thousands: '.', precision: '0', align: 'center' }">
                </mat-form-field>
                <span class="contador" [matTooltipPosition]="'above'" matTooltip="Campo numérico"
                  matTooltipClass="info-tooltip">{{20 - valorFacturado.value.length}}</span>
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <div class="text-right">
      <button mat-button color="warn" type="button" class="btn-eliminar">
        <img src="assets/img/icon/menos.svg" alt="Eliminar vigencia">
        Eliminar criterio
      </button>
    </div>
    <div class="text-center mb-2em">
      <button mat-button color="warn" class="btn-guardar" type="submit">
        <img src="assets/img/icon/guardar.svg" alt="Regresar">
      </button>
    </div>
  </div>
</form>