<div class="container text-center">
    <div class="text-right">
        <a routerLink="/gestionarTramiteControversiasContractuales" mat-button color="primary" class="btn-regresar">
            <img src="assets/img/icon/regresar.svg" alt="Regresar">
        </a>
    </div>
    <h1 class="title-menu--h1">
        Ver detalle controversia contractual C0001
    </h1>
    <p class="info-sub-title">
        <span>Solicitud: <b>CO00001</b> Número del contrato: <b>C223456789</b> Tipo de controversia: <b>Terminación anticipada por incumplimiento (TAI)</b></span>
    </p>
    <div>
        <mat-card class="shipping-card mainGris">
            <mat-card-header class="header-card header-card--margin">
                <mat-card-title class="header-card--text textoGris">
                    Datos del contrato
                </mat-card-title>
            </mat-card-header>
            <mat-card-content style="text-align: left;">
                <p><strong>Nombre del contratista:</strong> Constructora Colpatria SAS</p>
                <p><strong>Tipo de identificación:</strong> NIT</p>
                <p><strong>Número de identificación:</strong> 900.879.989</p>
                <p><strong>Tipo de intervención:</strong> Remodelación</p>
                <p><strong>Valor del contrato:</strong> $ 56.000.000</p>
                <p><strong>Plazo:</strong> 12 meses / 10 días</p>
                <p><strong>Fecha de inicio de contrato:</strong> 18/07/2020</p>
                <p><strong>Fecha de finalización de contrato:</strong> 28/07/2021</p>
            </mat-card-content>
        </mat-card>
        <mat-accordion>
            <mat-expansion-panel class="expansion-style">
                <mat-expansion-panel-header class="expansion-style--header">
                    <mat-panel-title class="expansion-style--title">
                        Registrar controversias
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-card class="shipping-card mainGris">
                    <mat-card-header class="header-card header-card--margin">
                        <mat-card-title class="header-card--text textoGris">
                            Registrar controversia
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content style="text-align: left;">
                        <p><strong>Tipo de controversia:</strong> Terminación anticipada por incumplimiento (TAI)</p>
                        <p><strong>Fecha de solicitud:</strong> 05/08/2020</p>
                        <p><strong>Motivos de la solicitud:</strong> Incuplimiento de contratista de obra</p>
                        <p><strong>Fecha de Comité Pre-Técnico:</strong> 10/08/2020</p>
                        <p><strong>Valor del contrato:</strong> $ 56.000.000</p>
                        <p><strong>Conclusión del Comité Pre-técnico de acuerdo con la solicitud:</strong></p>
                        <p>Se decide realizar la terminación anticipada ya que la parte contratista no cumplio con tiempos en primera fase.</p>
                        <p><strong>¿La solicitud procede?:</strong> Sí</p>
                        <p><strong>¿Requiere comité técnico?:</strong> Sí</p>
                    </mat-card-content>
                </mat-card>
            </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion>
            <mat-expansion-panel class="expansion-style">
                <mat-expansion-panel-header class="expansion-style--header">
                    <mat-panel-title class="expansion-style--title">
                        Soporte de la solicitud
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-card class="shipping-card mainGris">
                    <mat-card-header class="header-card header-card--margin">
                        <mat-card-title class="header-card--text textoGris">
                            Soporte del registro del proceso
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content style="text-align: left;">
                        <p><strong>URL con soporte:</strong> https://drive.google.com/drive/registrodecontroversiacontractual</p>
                    </mat-card-content>
                </mat-card>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>
