<div class="loading" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>

<div class="container">
  <div class="text-right">
    <a routerLink="/gestionarAcuerdos" mat-button color="primary" class="btn-regresar">
      <img src="assets/img/icon/regresar.svg" alt="Regresar">
    </a>
  </div>
  <div class="text-center">
    <h1 class="title-menu--h1">
      Registrar nuevo acuerdo de cofinanciación
    </h1>
  </div>

  <form [formGroup]="datosAportantes" novalidate (ngSubmit)="onSave(true)">
    <mat-card class="shipping-card">
      <mat-card-header class="header-card">
        <mat-card-title class="header-card--text">
          Datos del aportante
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col-md-8">
            <div class="row">
              <div class="pr-1">
                <label class="label-left"
                  [ngClass]="{'color-secondaryColor' : datosAportantes.controls.vigenciaEstado.invalid && datosAportantes.controls.vigenciaEstado.dirty}">
                  Vigencia del acuerdo de cofinanciación
                </label>
              </div>
              <div class="col">
                <mat-form-field class="select-width">
                  <mat-select formControlName="vigenciaEstado" required>
                    <mat-option></mat-option>
                    <mat-option *ngFor="let vigenciaEstado of vigenciaEstados" [value]="vigenciaEstado">
                      {{ vigenciaEstado }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <div class="row">
              <div class="pr-1">
                <label class="label-left"
                [ngClass]="{'color-secondaryColor' : datosAportantes.controls.numAportes.invalid && datosAportantes.controls.numAportes.dirty}">
                  ¿Cuántos aportantes tiene el acuerdo?
                </label>
              </div>
              <div class="col d-flex">
                <mat-form-field class="full-width">
                  <input matInput #numAportes id="numAportes" (keyup)="CambioNumeroAportantes()"
                    maxlength="4" min="1" max="999" required type="number"
                    formControlName="numAportes" 
                    >
                </mat-form-field>
                <span class="contador">{{3 - numAportes.value.length}}</span>
              </div>
            </div>
          </div>
        </div>

        <div class="animatedDown" formGroupName="aportantes"
          *ngIf="datosAportantes.value.aportantes.length > 0 && numAportes.value < 1000">
          <h2 class="card-subTitle">Aportantes</h2>
          <div>
            <div *ngFor="let aportante of aportantes.controls; let i = index">

              <div [formGroupName]="i">

                <mat-card-title class="header-card--text alineacion-titulos2">
                  Aportante {{ i + 1 }}
                </mat-card-title>
                <div class="row">
                  <div class="col-md-8">
                    <div class="row">
                      <div class="pr-1">
                        <label class="label-left"                        
                        [ngClass]="{'color-secondaryColor' : aportante.controls.tipo.invalid && aportante.controls.tipo.dirty}"
                        >
                        Tipo de aportante
                      </label>
                      </div>
                      <div class="col">
                        <mat-form-field class="select-width">
                          <mat-select formControlName="tipo" required
                            (selectionChange)="changeTipoAportante(aportantes.controls[i].get('tipo').value.codigo)">
                            <mat-option value="0">Seleccione</mat-option>
                            <mat-option *ngFor="let selectTipoAportante of selectTiposAportante"
                              [value]="selectTipoAportante">
                              {{ selectTipoAportante.nombre }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row"
                  *ngIf="aportantes.controls[i].get('tipo').value && this.tiposPersonaHabilitaNombre.includes(aportantes.controls[i].get('tipo').value.codigo.toString())">
                  <div class="pr-1">
                    <label class="label-left" 
                    [ngClass]="{'color-secondaryColor' : aportante.controls.nombre.invalid && aportante.controls.nombre.dirty}"
                    >Nombre de Aportante</label>
                  </div>
                  <div class="col">
                    <mat-form-field class="select-width">
                      <mat-select formControlName="nombre">
                        <mat-option></mat-option>
                        <mat-option *ngFor="let nombreAportante of nombresAportante" [value]="nombreAportante">
                          {{ nombreAportante.nombre }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>

                <div class="row"
                  *ngIf="aportantes.controls[i].get('tipo').value && !this.tiposPersonaHabilitaNombre.includes(aportantes.controls[i].get('tipo').value.codigo.toString())">
                  <div class="col-md-8">
                    <div class="row">
                      <div class="pr-1">
                        <label class="label-left"
                        [ngClass]="{'color-secondaryColor' : aportante.controls.departamento.invalid && aportante.controls.departamento.dirty}"
                        >Departamento</label>
                      </div>
                      <div class="col">
                        <mat-form-field class="select-width">
                          <mat-select formControlName="departamento" (selectionChange)="changeDepartamento(i)">
                            <mat-option value="0">Seleccione</mat-option>
                            <mat-option *ngFor="let departamento of departamentos" [value]="departamento">
                              {{ departamento.descripcion }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row"
                  *ngIf="aportantes.controls[i].get('tipo').value && !this.tiposPersonaHabilitaNombre.includes(aportantes.controls[i].get('tipo').value.codigo.toString())">
                  <div class="col-md-8">
                    <div class="row">
                      <div class="pr-1">
                        <label class="label-left"
                        [ngClass]="{'color-secondaryColor' : aportante.controls.municipio.invalid && aportante.controls.municipio.dirty}"
                        >Municipio</label>
                      </div>
                      <div class="col">
                        <mat-form-field class="select-width">
                          <mat-select formControlName="municipio">
                            <mat-option value="0">Seleccione</mat-option>
                            <mat-option *ngFor="let municipio of aportantes.controls[i].get('municipios').value"
                              [value]="municipio">
                              {{ municipio.descripcion }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-8">
                    <div class="row">
                      <div class="pr-1">
                        <label class="label-left"
                        [ngClass]="{'color-secondaryColor' : aportante.controls.cauntosDocumentos.invalid && aportante.controls.cauntosDocumentos.dirty}"
                        >¿Cuántos documentos de apropiación tiene este aportante?</label>
                      </div>
                      <div class="col d-flex">
                        <mat-form-field class="full-width">
                          <input matInput #cauntosDocumentos maxlength="4" (change)="cantidadDocumentos(aportante,i)"
                            (keyup)="cantidadDocumentos(aportante,i)" min="1" max="999" required type="number"
                            (keypress)="validateNumberKeypress($event)" formControlName="cauntosDocumentos"
                            onKeyPress="if(this.value.length>=this.maxLength) return false;">
                          <input formControlName="cofinanciacionId" type="hidden">
                          <input formControlName="cofinanciacionAportanteId" type="hidden">
                        </mat-form-field>
                        <span class="contador">{{3 - cauntosDocumentos.value.length}}</span>
                      </div>
                    </div>
                  </div>
                  <div class="col text-right">
                    <button *ngIf="datosAportantes.value.aportantes.length > 1" mat-button color="warn" type="button"
                      class="btn-eliminar" (click)="borrarAportante(aportantes, i)">
                      <img src="assets/img/icon/menos.svg" alt="Eliminar documento">
                      Eliminar aportante
                    </button>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <div class="text-center animatedOpacity"
      *ngIf="datosAportantes.value.aportantes.length > 0 && numAportes.value < 100">
      <button mat-button color="warn" class="btn-guardar" type="submit">
        <img src="assets/img/icon/guardar.svg" alt="Guardar">
      </button>
    </div>
  </form>
</div>

<div *ngIf="mostrarDocumentosDeApropiacion">
  <div class="container text-center">
    <h2 class="title-menu--h2" style="color: var(--mainColor);">
      Valor total del acuerdo: <div *ngIf="valorTotalAcuerdo>0">{{valorTotalAcuerdo | currency:'':'symbol':'3.0'}}</div>
    </h2>
    <p>
      <span class="info-text sin-diligenciar">Sin diligenciar</span>
      <span class="info-text en-proceso">En proceso</span>
      <span class="info-text completo">Completo</span>
    </p>
  </div>
  <div class="container">
    <div>
      <mat-accordion>
        <mat-expansion-panel class="expansion-style" *ngFor="let aportante of listaCofinancAportantes; let i = index">
          <mat-expansion-panel-header class="expansion-style--header">
            <mat-panel-title class="expansion-style--title"
              [ngClass]="{'sin-diligenciar': validaCompletitud(aportante)==1, 'en-proceso':  validaCompletitud(aportante)==2, 'completo':  validaCompletitud(aportante)==3}">
              Documentos de apropiación aportante {{ i + 1}}
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-card class="shipping-card">
            <div *ngFor="let documento of aportante.cofinanciacionDocumento;index as a">
              <mat-card-header>
                <mat-card-title class="header-card--text alineacion-titulos">
                  Documento {{a+1}}
                </mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <div class="row">
                  <div class="col-md-8">
                    <div class="row">
                      <div class="pr-1">
                        <label class="label-left"
                        [ngClass]="{'color-secondaryColor' : !documento.vigenciaAporte}"
                        >Vigencia del aporte</label>
                      </div>
                      <div class="col">
                        <mat-form-field class="select-width">
                          <mat-select [(ngModel)]="documento.vigenciaAporte" required>
                            <mat-option></mat-option>
                            <mat-option *ngFor="let vigenciaAportante of vigenciasAportante"
                              [value]="vigenciaAportante">
                              {{ vigenciaAportante }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-8">
                    <div class="row">
                      <div class="pr-1">
                        <label class="label-left"
                        [ngClass]="{'color-secondaryColor' : (documento.valorDocumento<1 ||documento.valorDocumento=='')}"
                        >Valor indicado en el documento</label>
                      </div>
                      <div class="col d-flex align-items-center">
                        <mat-form-field class="full-width">
                          <input matInput #valorIndicadoEnElDocumento currencyMask (keyup)="actualizarValores()"
                            required [(ngModel)]="documento.valorDocumento" maxLength="28"
                            onKeyPress="if(this.value.length>=this.maxLength) return false;"
                            [options]="{ prefix: '$ ', thousands: '.', precision: '0', align: 'left' }">
                        </mat-form-field>
                        <span
                          class="contador">{{20 - (documento.valorDocumento?documento.valorDocumento.toString().length:0)}}</span>

                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-8">
                    <div class="row">
                      <div class="pr-1">
                        <label class="label-left"
                        [ngClass]="{'color-secondaryColor' : !documento.tipoDocumentoId}"
                        >Tipo de documento</label>
                      </div>
                      <div class="col">
                        <mat-form-field class="select-width">
                          <mat-select [(ngModel)]="documento.tipoDocumentoId" required>
                            <mat-option></mat-option>
                            <mat-option *ngFor="let tipoDocumento of tiposDocumento" [value]="tipoDocumento.dominioId">
                              {{ tipoDocumento.nombre }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row" *ngIf="documento.tipoDocumentoId==25">
                  <div class="col-md-8">
                    <div class="row">
                      <div class="pr-1">
                        <label class="label-left"
                        [ngClass]="{'color-secondaryColor' : (documento.numeroActa<1 ||documento.numeroActa=='')}"
                        >Número de acta</label>
                      </div>
                      <div class="col d-flex align-items-center">
                        <mat-form-field class="full-width">
                          <input matInput #numeroDocumento maxlength="20" min="1" required type="number"
                            (keypress)="validateNumberKeypress($event)" [(ngModel)]="documento.numeroActa"
                            onKeyPress="if(this.value.length>=this.maxLength) return false;">
                        </mat-form-field>
                        <span
                          class="contador">{{20 - (documento.numeroActa?documento.numeroActa.toString().length:0)}}</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row" *ngIf="documento.tipoDocumentoId==25">
                  <div class="col-md-8">
                    <div class="row">
                      <div class="pr-1">
                        <label class="label-left"
                        [ngClass]="{'color-secondaryColor' : !documento.fechaActa}"
                        >Fecha del acta</label>
                      </div>
                      <div class="col d-flex align-items-center">
                        <mat-form-field class="example-full-width">
                          <input matInput [matDatepicker]="picker" [(ngModel)]="documento.fechaActa" [max]="maxDate"
                            readonly (click)="picker.open()">
                          <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                        <button mat-button color="primary" type="button" (click)="picker.open()" class="btn-calendario">
                          <img src="assets/img/icon/calendarioCirculo.svg" alt="Abrir Calendario">
                        </button>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-8">
                    <div class="row">
                      <div class="pr-1">
                        <label class="label-left"
                        [ngClass]="{'color-secondaryColor' : (documento.numeroAcuerdo<1||documento.numeroAcuerdo=='')}"
                        >Número de documento
                          {{documento.tipoDocumentoId==25?'de acuerdo':''}}</label>
                      </div>
                      <div class="col d-flex align-items-center">
                        <mat-form-field class="full-width">
                          <input matInput #numeroDocumentoa maxlength="20" min="1" required type="number"
                            (keypress)="validateNumberKeypress($event)" [(ngModel)]="documento.numeroAcuerdo"
                            onKeyPress="if(this.value.length>=this.maxLength) return false;">
                        </mat-form-field>
                        <span
                          class="contador">{{20 - (documento.numeroAcuerdo?documento.numeroAcuerdo.toString().length:0)}}</span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-8">
                    <div class="row">
                      <div class="pr-1">
                        <label class="label-left"
                        [ngClass]="{'color-secondaryColor' : !documento.fechaAcuerdo}"
                        >Fecha del documento
                          {{documento.tipoDocumentoId==25?'de acuerdo':''}}</label>
                      </div>
                      <div class="col d-flex align-items-center">
                        <mat-form-field class="example-full-width">
                          <input matInput [matDatepicker]="picker" placeholder="DD/MM/AAAA"
                            [(ngModel)]="documento.fechaAcuerdo" [max]="maxDate" required readonly
                            (click)="picker.open()">
                          <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                        <button mat-button color="primary" type="button" (click)="picker.open()" class="btn-calendario">
                          <img src="assets/img/icon/calendarioCirculo.svg" alt="Abrir Calendario">
                        </button>
                      </div>
                    </div>
                  </div>

                  <div class="col text-right">
                    <button mat-button color="warn" type="button" class="btn-eliminar"
                      (click)="eliminadoc(aportante,documento)">
                      <img src="assets/img/icon/menos.svg" alt="Eliminar documento">
                      Eliminar documento
                    </button>
                  </div>
                </div>
              </mat-card-content>
            </div>
            <div class="row">
              <div class="col-md-8">
                <div class="row">
                  <div class="pr-1">
                    <label class="header-card--text" style="margin-left: -0.5em;">
                      <label class="valor-total">Valor total del aportante</label>
                    </label>
                  </div>
                  <div class="col d-flex align-items-center">
                    <mat-form-field class="full-width">
                      <input matInput readonly maxlength="20" min="1" currencyMask required
                        [(ngModel)]="aportante.valortotal"
                        [options]="{ prefix: '$ ', thousands: '.', precision: '0', align: 'left' }">
                    </mat-form-field>
                    <span
                      class="contador">{{20 - (aportante.valortotal?aportante.valortotal.toString().length:0)}}</span>
                  </div>
                </div>
              </div>
            </div>
          </mat-card>

        </mat-expansion-panel>

      </mat-accordion>
      <div class="text-center">
        <button mat-button color="warn" class="btn-guardar" type="button">
          <img src="assets/img/icon/guardar.svg" alt="Regresar" (click)="onSave(false)">
        </button>
      </div>
    </div>
  </div>
</div>