<div class="container">
  <div class="text-right">
    <a routerLink="/gestionarAcueros" mat-button color="primary" class="btn-regresar">
      <img src="assets/img/icon/regresar.svg" alt="Regresar">
    </a>
  </div>
  <div class="text-center">
    <h1 class="title-menu--h1">
      Registrar nuevo acuerdo de cofinanciación
    </h1>
  </div>

  <form [formGroup]="datosAportantes" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="shipping-card">
      <mat-card-header class="header-card">
        <mat-card-title class="header-card--text">
          Datos del aportante
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col-md-8">
            <div class="row">
              <div class="pr-1">
                <label class="label-left">Vigencia del acuerdo de cofinanciación</label>
              </div>
              <div class="col">
                <mat-form-field class="select-width">
                  <mat-select formControlName="vigenciaEstado" required>
                    <mat-option></mat-option>
                    <mat-option *ngFor="let vigenciaEstado of vigenciaEstados" [value]="vigenciaEstado">
                      {{ vigenciaEstado }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>*
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <div class="row">
              <div class="pr-1">
                <label class="label-left">¿Cuántos aportantes tiene el acuerdo?</label>
              </div>
              <div class="col d-flex">
                <mat-form-field class="full-width">
                  <input matInput #numAportes id="numAportes" (keyup)="CambioNumeroAportantes()" 
                  (change)="CambioNumeroAportantes()" maxlength="3" min="1" max="999" required type="number"
                    formControlName="numAportes" (keypress)="validateNumberKeypress($event)" onKeyPress="if(this.value.length>2) return false;">
                </mat-form-field>*
                <span class="contador">{{3 - numAportes.value.length}}</span>
              </div>
            </div>
          </div>
        </div>

        <div class="animatedDown" formGroupName="aportantes"
          *ngIf="datosAportantes.value.aportantes.length > 0 && numAportes.value < 100">
          <h2 class="card-subTitle">Aportantes</h2>
          <div>
            <div *ngFor="let aportante of aportantes.controls; let i = index">
              
              <div [formGroupName]="i">
                
                <mat-card-title class="header-card--text alineacion-titulos2">
                  Aportante {{ i + 1 }}
                </mat-card-title>
                <div class="row">
                  <div class="col-md-8">
                    <div class="row">
                      <div class="pr-1">
                        <label class="label-left">Tipo de aportante</label>
                      </div>
                      <div class="col">
                        <mat-form-field class="select-width">
                          <mat-select formControlName="tipo" (selectionChange)="changeTipoAportante(aportantes.controls[i].get('tipo').value.codigo)" >
                            <mat-option value="0">Seleccione</mat-option>
                            <mat-option *ngFor="let selectTipoAportante of selectTiposAportante"
                              [value]="selectTipoAportante">
                              {{ selectTipoAportante.nombre }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>*
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row" 
                  *ngIf="aportantes.controls[i].get('tipo').value && this.tiposPersonaHabilitaNombre.includes(aportantes.controls[i].get('tipo').value.codigo.toString())">
                  <div class="pr-1">
                    <label class="label-left">Nombre de Aportante</label>
                  </div>
                  <div class="col">
                    <mat-form-field class="select-width">                      
                      <mat-select formControlName="nombre">
                        <mat-option></mat-option>
                        <mat-option *ngFor="let nombreAportante of nombresAportante" [value]="nombreAportante">
                          {{ nombreAportante.nombre }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>*
                  </div>
                </div>

                <div class="row"
                *ngIf="aportantes.controls[i].get('tipo').value && !this.tiposPersonaHabilitaNombre.includes(aportantes.controls[i].get('tipo').value.codigo.toString())">
                  <div class="col-md-8">
                    <div class="row">
                      <div class="pr-1">
                        <label class="label-left">Departamento</label>
                      </div>
                      <div class="col">
                        <mat-form-field class="select-width">
                          <mat-select formControlName="departamento" (selectionChange)="changeDepartamento(i)" >
                            <mat-option value="0">Seleccione</mat-option>
                            <mat-option *ngFor="let departamento of departamentos"
                              [value]="departamento">
                              {{ departamento.descripcion }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>*
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row"
                *ngIf="aportantes.controls[i].get('tipo').value && !this.tiposPersonaHabilitaNombre.includes(aportantes.controls[i].get('tipo').value.codigo.toString())">
                  <div class="col-md-8">
                    <div class="row">
                      <div class="pr-1">
                        <label class="label-left">Municipio</label>
                      </div>
                      <div class="col">
                        <mat-form-field class="select-width">
                          <mat-select formControlName="municipio" >
                            <mat-option value="0">Seleccione</mat-option>
                            <mat-option *ngFor="let municipio of aportantes.controls[i].get('municipios').value"
                              [value]="municipio">
                              {{ municipio.descripcion }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>*
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-8">
                    <div class="row">
                      <div class="pr-1">
                        <label class="label-left">¿Cuántos documentos de apropiación tiene este aportante?</label>
                      </div>
                      <div class="col d-flex">
                        <mat-form-field class="full-width">
                          <input matInput #cauntosDocumentos maxlength="3"
                           (change)="cantidadDocumentos(aportante,i)" (keyup)="cantidadDocumentos(aportante,i)"
                            min="1" max="999" required type="number" (keypress)="validateNumberKeypress($event)"
                            formControlName="cauntosDocumentos"  onKeyPress="if(this.value.length>2) return false;">
                            <input formControlName="cofinanciacionId" type="hidden" >
                            <input formControlName="cofinanciacionAportanteId" type="hidden" >
                        </mat-form-field>*
                        <span class="contador">{{3 - cauntosDocumentos.value.length}}</span>
                      </div>
                    </div>
                  </div>
                  <div class="col text-right">
                    <button *ngIf="datosAportantes.value.aportantes.length > 1" mat-button color="warn" type="button"
                      class="btn-eliminar" (click)="borrarAportante(aportantes, i)">
                      <img src="assets/img/icon/menos.svg" alt="Eliminar documento">
                      Eliminar aportante
                    </button>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <div class="text-center animatedOpacity"
      *ngIf="datosAportantes.value.aportantes.length > 0 && numAportes.value < 100">
      <button mat-button color="warn" class="btn-guardar" type="submit">
        <img src="assets/img/icon/guardar.svg" alt="Regresar">
      </button>
    </div>
  </form>
</div>

<div *ngIf="mostrarDocumentosDeApropiacion">
  <div class="container text-center">
    <h2 class="title-menu--h2">
      Valor total del acuerdo: <div *ngIf="valorTotalAcuerdo>0">{{valorTotalAcuerdo | currency:'':'symbol':'3.0'}}</div>
    </h2>
    <p>
      <span class="info-text sin-diligenciar">Sin diligenciar</span>
      <span class="info-text en-proceso">En proceso</span>
      <span class="info-text completo">Completo</span>
    </p>
  </div>
  <div class="container">
    <div>
      <mat-accordion>
        <mat-expansion-panel class="form-apropiacion" *ngFor="let aportante of listaCofinancAportantes; let i = index">
          <mat-expansion-panel-header class="form-apropiacion--header">
            <mat-panel-title class="form-apropiacion--title">
              Documentos de apropiación aportante {{ i + 1}} 
              <span class="info-text" style="margin-left: 0.5em; margin-right: 0px;" [ngClass]="{'sin-diligenciar': validaCompletitud(aportante)==1, 'en-proceso':  validaCompletitud(aportante)==2, 'completo':  validaCompletitud(aportante)==3}"></span>
              
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-card class="shipping-card" >
            <div *ngFor="let documento of aportante.cofinanciacionDocumento;index as a">
              <mat-card-header>
                <mat-card-title class="header-card--text alineacion-titulos">
                  Documento {{a+1}}
                </mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <div class="row">
                  <div class="col-md-8">
                    <div class="row">
                      <div class="pr-1">
                        <label class="label-left">Vigencia del aporte</label>
                      </div>
                      <div class="col">
                        <mat-form-field class="select-width">
                          <mat-select [(ngModel)]="documento.vigenciaAporte" required>
                            <mat-option></mat-option>
                            <mat-option *ngFor="let vigenciaAportante of vigenciasAportante" [value]="vigenciaAportante">
                              {{ vigenciaAportante }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>*
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-8">
                    <div class="row">
                      <div class="pr-1">
                        <label class="label-left">Valor indicado en el documento</label>
                      </div>
                      <div class="col d-flex align-items-center">
                        <mat-form-field class="full-width">
                          <input matInput #valorIndicadoEnElDocumento currencyMask (keyup)="actualizarValores()" maxlength="20" min="1"
                          max="9999999999999999999"
                           required type="number" (keypress)="validateNumberKeypress($event)"
                          [(ngModel)]="documento.valorDocumento"  onKeyPress="if(this.value.length>19) return false;">
                        </mat-form-field>*
                        <span class="contador">{{20 - (documento.valorDocumento?documento.valorDocumento.toString().length:0)}}</span>
                        
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-8">
                    <div class="row">
                      <div class="pr-1">
                        <label class="label-left">Tipo de documento</label>
                      </div>
                      <div class="col">
                        <mat-form-field class="select-width">
                          <mat-select [(ngModel)]="documento.tipoDocumentoId" required>
                            <mat-option></mat-option>
                            <mat-option *ngFor="let tipoDocumento of tiposDocumento" [value]="tipoDocumento.dominioId">
                              {{ tipoDocumento.nombre }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>*
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row" *ngIf="documento.tipoDocumentoId==25">
                  <div class="col-md-8">
                    <div class="row">
                      <div class="pr-1">
                        <label class="label-left">Número de acta</label>
                      </div>
                      <div class="col d-flex align-items-center">
                        <mat-form-field class="full-width">
                          <input matInput #numeroDocumento maxlength="20" min="1" required type="number" (keypress)="validateNumberKeypress($event)"
                          [(ngModel)]="documento.numeroActa" >
                        </mat-form-field>*
                        <span class="contador">{{20 - (documento.numeroActa?documento.numeroActa.toString().length:0)}}</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row"  *ngIf="documento.tipoDocumentoId==25">
                  <div class="col-md-8">
                    <div class="row">
                      <div class="pr-1">
                        <label class="label-left">Fecha del acta</label>
                      </div>
                      <div class="col d-flex align-items-center">
                        <mat-form-field class="example-full-width">
                          <input matInput [matDatepicker]="picker" [(ngModel)]="documento.fechaActa" [max]="maxDate" readonly>
                          <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>*
                        <button mat-button color="primary" (click)="picker.open()" class="btn-calendario">
                          <img src="assets/img/icon/calendarioCirculo.svg" alt="Abrir Calendario">
                        </button>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-8">
                    <div class="row">
                      <div class="pr-1">
                        <label class="label-left">Número de documento {{documento.tipoDocumentoId==25?'de acuerdo':''}}</label>
                      </div>
                      <div class="col d-flex align-items-center">
                        <mat-form-field class="full-width">
                          <input matInput #numeroDocumentoa maxlength="20" min="1" required type="number" (keypress)="validateNumberKeypress($event)"
                          [(ngModel)]="documento.numeroAcuerdo" >
                        </mat-form-field>*
                        <span class="contador">{{20 - (documento.numeroAcuerdo?documento.numeroAcuerdo.toString().length:0)}}</span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-8">
                    <div class="row">
                      <div class="pr-1">
                        <label class="label-left">Fecha del documento {{documento.tipoDocumentoId==25?'de acuerdo':''}}</label>
                      </div>
                      <div class="col d-flex align-items-center">
                        <mat-form-field class="example-full-width">
                          <input matInput [matDatepicker]="picker" [(ngModel)]="documento.fechaAcuerdo" [max]="maxDate" readonly>
                          <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>*
                        <button mat-button color="primary" (click)="picker.open()" class="btn-calendario">
                          <img src="assets/img/icon/calendarioCirculo.svg" alt="Abrir Calendario">
                        </button>
                      </div>
                    </div>
                  </div>

                  <div class="col text-right">
                    <button mat-button color="warn" type="button" class="btn-eliminar" (click)="eliminadoc(aportante,documento)">
                      <img src="assets/img/icon/menos.svg" alt="Eliminar documento">
                      Eliminar documento
                    </button>
                  </div>
                </div>
              </mat-card-content>
            </div>
            <div class="row">
              <div class="col-md-8">
                <div class="row">
                  <div class="pr-1">
                    <label class="header-card--text" style="margin-left: -0.5em;"><b>Valor total del aportante</b></label>
                  </div>
                  <div class="col d-flex align-items-center">
                    <mat-form-field class="full-width">
                      <input matInput readonly maxlength="20" min="1" currencyMask required type="number"  [(ngModel)]="aportante.valortotal">
                    </mat-form-field>*
                    <span class="contador">{{20 - (aportante.valortotal?aportante.valortotal.toString().length:0)}}</span>
                    
                  </div>
                </div>
              </div>
            </div>
          </mat-card>

         

        </mat-expansion-panel>
        
      </mat-accordion>
      <div class="text-center">
        <button mat-button color="warn" class="btn-guardar" type="button">
          <img src="assets/img/icon/guardar.svg" alt="Regresar" (click)="onSubmit()">
        </button>
      </div>
    </div>
  </div>
</div>
