.full-width {
  width: 100%;
}

.shipping-card {
  min-width: 120px;
  margin: 20px auto;
}
.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}

// propio

// .sin-diligenciar {
//   --color-info: #D21E17;
// }
// .en-proceso {
//   --color-info: #FCC101;
// }
// .completo {
//   --color-info: #06B935;
// }

// %ayuda-color {
//   display: inline-block;
//   background-color: var(--color-info);
//   height: 1em;
//   width: 1em;
//   border-radius: 50%;
//   border: solid 1px #fff;
// }

// .info-text {
//   display: inline-block;
//   margin-right: 2em;

//   &::before {
//       content: '';
//       @extend %ayuda-color;
//       margin-right: .2em;
//       position: relative;
//       top: 2px;
//   }
// }

// .form-apropiacion {
//   box-shadow: none;
//   &--header {
//     width: 25em;
//     max-width: 100%;
//     min-width: max-content;
//     background-color: transparent;
//     margin-left: auto;
//     margin-right: auto;

//     &:hover {
//       background-color: transparent !important;
//     }
//   }
//   &--title {
//     background-color: #174193;;
//     background-color: var(--mainColor);
//     color: #fff;
//     justify-content: center;
//     padding: .3em 1.5em;
//     border-radius: .5em;
//     position: relative;
//   }
// }

.btn-guardar {
  margin-bottom: 2em;
}

.alineacion-titulos {
  margin-left: -35px;
}
.alineacion-titulos2 {
  margin-left: 0px;
}
/*
.mat-select-required:after {
  content:" *";
  color: var(--color-info);
}

input:required
{
  content:" *";
  color: var(--color-info);
}*/

.valor-total {
  font-size: 20px;
  color: #174193;
  color: var(--mainColor);
  font-weight: 500;
}

.maincolor {
  color: var(--mainColor);
}

.mlmenor {
  margin-left: -1em;
}
.mainColor {
  color: var(--mainColor);
}

.header-card--text {
  padding-left: 0;
  padding-right: 0;

  .header-card--margin & {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}
