@keyframes animatedDown {
    from {
        opacity  : 0;
        transform: translateY(-15%);
    }

    to {
        opacity  : 1;
        transform: translateY(0);
    }
}

@keyframes animatedOpacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes animatedSelect {
    from {
        opacity  : 0;
        transform: translateX(calc(-50% + 1em)) scale(.9);
    }
    
    to {
        opacity  : 1;
        transform: translateX(calc(-50% + 1em)) scale(1);
    }
  }

.animatedDown {
    animation-duration: .6s;
    animation-name    : animatedDown;
}

.animatedOpacity {
    animation-duration: .6s;
    animation-name    : animatedOpacity;
}
