.mat-button.mat-primary, .mat-icon-button.mat-primary, .mat-stroked-button.mat-primary{
    color: #174193;;
    color: var(--mainColor);
}

.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
    background-color: #174193;;
    background-color: var(--mainColor);
}

.mat-flat-button.mat-warn, .mat-raised-button.mat-warn, .mat-fab.mat-warn, .mat-mini-fab.mat-warn {
    background-color: #d21e18;
    background-color: var(--secondaryColor);
}

.mat-flat-button.mat-accent, .mat-raised-button.mat-accent, .mat-fab.mat-accent, .mat-mini-fab.mat-accent,
.mat-raised-button.mat-accent[disabled],
.mat-raised-button[disabled][disabled] {
    background-color: #fdc101;
    background-color: var(--tertiaryColor);
    color: #604500;
    color: var(--tertiaryColorFont);

    &:hover {
        background-color: #d1d1d1;
        background-color: var(--grayColor);
        color: #174193;;
        color: var(--mainColor);
    }
}

.mat-raised-button[disabled][disabled],
.mat-raised-button.mat-accent[disabled],
.mat-button:hover .mat-button-focus-overlay {
    opacity: .8;
}

button.mat-raised-button {
    line-height: 24px;
    padding: 0 1.5em;
}

.btn-calendario {
    padding: 0;
    min-width: 2.2em;
    margin-left: .65em;

    img {
        height: 2.2em;
    }
}

.btn-guardar {
    img {
        height: 1.5em;
    }
}

.btn-eliminar {
    font-style: italic;
    img {
        height: 2em;
        margin-top: -.2em;
        margin-right: .3em;
    }
}

button.btn-calendario {
    padding: 0;
    min-width: 2.2em;
    margin-left: .65em;

    img {
        height: 2.2em;
    }
}

.mat-dialog-actions {
    justify-content: center;
}

.mat-dialog-actions button {    
    background-color: #174193;;
    background-color: var(--mainColor);
    color: white;
}
