.mat-button.mat-primary, .mat-icon-button.mat-primary, .mat-stroked-button.mat-primary{
    color: var(--mainColor);
}

.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
    background-color: var(--mainColor);
}

.mat-flat-button.mat-warn, .mat-raised-button.mat-warn, .mat-fab.mat-warn, .mat-mini-fab.mat-warn {
    background-color: var(--secondaryColor);
}

.mat-button.mat-primary[disabled], .mat-button.mat-accent[disabled], .mat-button.mat-warn[disabled], .mat-button[disabled][disabled], .mat-icon-button.mat-primary[disabled], .mat-icon-button.mat-accent[disabled], .mat-icon-button.mat-warn[disabled], .mat-icon-button[disabled][disabled], .mat-stroked-button.mat-primary[disabled], .mat-stroked-button.mat-accent[disabled], .mat-stroked-button.mat-warn[disabled], .mat-stroked-button[disabled][disabled] {
    color: var(--mainColor);
    opacity: .6;
}

.mat-flat-button.mat-accent, .mat-raised-button.mat-accent, .mat-fab.mat-accent, .mat-mini-fab.mat-accent,
.mat-raised-button.mat-accent[disabled],
.mat-raised-button[disabled][disabled] {
    background-color: var(--tertiaryColor);
    color: var(--tertiaryColorFont);
}

.mat-raised-button[disabled][disabled],
.mat-raised-button.mat-accent[disabled],
.mat-button:hover .mat-button-focus-overlay {
    opacity: .8;
}

button.mat-raised-button {
    line-height: 24px;
    padding: 0 1.5em;
}

.btn-eliminar {
    img {
        height: 2em;
        margin-top: -.2em;
        margin-right: .3em;
    }
}

.btn-calendario {
    padding: 0;
    min-width: 2.2em;
    margin-left: .65em;

    img {
        height: 2.2em;
    }
}

.btn-guardar {
    img {
        height: 1.5em;
    }
}


.btn-eliminar {
    img {
        height: 2em;
        margin-top: -.2em;
        margin-right: .3em;
    }
}

.btn-buscar {
    img {
        height: 2.2em;
    }
}


button.btn-calendario {
    padding: 0;
    min-width: 2.2em;
    margin-left: .65em;

    img {
        height: 2.2em;
    }
}