.mat-button.mat-primary, .mat-icon-button.mat-primary, .mat-stroked-button.mat-primary{
    color: var(--mainColor);
}

.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
    background-color: var(--mainColor);
}

.mat-flat-button.mat-warn, .mat-raised-button.mat-warn, .mat-fab.mat-warn, .mat-mini-fab.mat-warn {
    background-color: var(--secondaryColor);
}

.mat-flat-button.mat-accent, .mat-raised-button.mat-accent, .mat-fab.mat-accent, .mat-mini-fab.mat-accent,
.mat-raised-button.mat-accent[disabled],
.mat-raised-button[disabled][disabled] {
    background-color: var(--tertiaryColor);
    color: var(--tertiaryColorFont);
}

.mat-raised-button.mat-accent[disabled],
.mat-raised-button[disabled][disabled] {
    opacity: .8;
}

button.mat-raised-button {
    line-height: 28px;
}


.btn-guardar {
    img {
        height: 1.5em;
    }
}