.mat-button.mat-primary, .mat-icon-button.mat-primary, .mat-stroked-button.mat-primary{
    color: var(--mainColor);
}

.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
    background-color: var(--mainColor);
}

.mat-flat-button.mat-warn, .mat-raised-button.mat-warn, .mat-fab.mat-warn, .mat-mini-fab.mat-warn {
    background-color: var(--secondaryColor);
}

.mat-flat-button.mat-accent, .mat-raised-button.mat-accent, .mat-fab.mat-accent, .mat-mini-fab.mat-accent,
.mat-raised-button.mat-accent[disabled],
.mat-raised-button[disabled][disabled] {
    background-color: var(--tertiaryColor);
    color: var(--tertiaryColorFont);
}

.mat-raised-button[disabled][disabled],
.mat-raised-button.mat-accent[disabled],
.mat-button:hover .mat-button-focus-overlay {
    opacity: .8;
}

button.mat-raised-button {
    line-height: 24px;
    padding: 0 1.5em;
}

.btn-eliminar {
    img {
        height: 2em;
        margin-top: -.2em;
        margin-right: .3em;
    }
}

.btn-calendario {
    padding: 0;
    min-width: 2.2em;
    margin-left: .65em;

    img {
        height: 2.2em;
    }
}

.btn-descargar {
    margin-top: 2em;
    margin-bottom: 2em;

    &--img {
        height: 1.5em;
        margin-right: .2em;
    }
}

.input-file {
    margin-top: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
    color: var(--mainColor);

    &--text {
        border: solid .5px;
        padding: .5em;
        border-radius: .7em;
        height: 20px;
        width: 40em;
        max-width: calc(100% - 9em);
        margin-right: 0.5em;
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.btn-guardar {
    img {
        height: 1.5em;
    }
}