mat-card.mat-card:not([class*=mat-elevation-z]) {
    border: solid 1px var(--mainColor);
    border-radius: 1.5em;
    padding: 1em 4em;
    box-shadow: none;
    margin-bottom: 2em;
}

.mat-card-header.header-card {
    margin-top: -2em !important;
}

.header-card--text {
    font-size: 1.5em;
    background-color: #fff;
    padding-left: .5em;
    padding-right: .5em;
    color: var(--mainColor);

    &.sub-text {
        margin-top: 1em !important;
    }
}

.card-subTitle,
h2.card-subTitle {
    background-color: var(--mainColor);
    font-size: 1rem;
    margin: 1.5em -3.5em;
    color: #fff;
    font-weight: 500;
    display: block;
    text-align: center;
    margin-left: -3.5em;
    margin-right: -3.5em;
}


mat-card.mat-card {
    color: var(--fontColor);
}