.sin-diligenciar {
    --color-info: #d21e17;
}
.en-proceso {
    --color-info: #fcc101;
}
.completo {
    --color-info: #06b935;
}

%ayuda-color {
    content: "";
    display: inline-block;
    background-color: var(--color-info);
    height: 0.8em;
    width: 0.8em;
    border-radius: 50%;
    border: solid 0.5px #fff;
}

.info-text {
    display: inline-block;
    margin-right: 2em;

    &.tabla {
        display: block;
        margin-right: 0;
    }

    &::before {
        @extend %ayuda-color;
        margin-right: 0.2em;
        position: relative;
        top: 2px;
    }

    &__table {
        display: block;
        margin: 0;

        &::before {
            margin: 0;
        }
    }
}

.info-button {

    &::after {
        @extend %ayuda-color;
        margin-left: .2em;
        position: relative;
        top: 2px;
    }
}

.expansion-style {
    box-shadow: none !important;
    &--header {
        width: 28em;
        max-width: 100%;
        min-width: max-content;
        background-color: transparent;
        margin-left: auto;
        margin-right: auto;

        &:hover {
            background-color: transparent !important;
        }
    }
    &--title {
        background-color: var(--mainColor);
        color: #fff;
        justify-content: center;
        padding: 0.3em 1.5em;
        border-radius: 0.5em;
        position: relative;

        &.sin-diligenciar::after,
        &.en-proceso::after,
        &.completo::after {
            @extend %ayuda-color;
            position: absolute;
            right: 1.2em;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &.sub-expansion {
        .expansion-style--title {
            background-color: #d1d1d1;
            font-weight: 500;
            color: #0b254f;
            padding: 0.1em 1.5em;
        }

        span.mat-expansion-indicator::after {
            color: #d1d1d1;
        }
    }
}

span.mat-expansion-indicator::after {
    color: #174193;
    color: var(--mainColor);
    border-left: 0.5em solid transparent;
    border-right: 0.5em solid transparent;
    border-top: 1em solid;
    border-bottom: 0;
    transform: rotate(0deg);
    padding: 1px;
}

.tabla-expansion-panel {
    max-width: 55em;
    margin: auto;
}