.mat-form-field-appearance-outline .mat-form-field-outline,
.mat-form-field-appearance-outline .mat-form-field-outline-thick {
    color: var(--mainColor);
}

.mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
    color: var(--secondaryColor);
}

label.mat-form-field-label {
    font-weight: 500;
    color: var(--mainColor);
}

input.mat-input-element {
    text-align: center;
    font-weight: 300;
}

mat-form-field {
    width: 100%;

    .ver-contrasena {
        height: 2.2em;
        img {
            height: 1.2em;
            margin-top: -.5em;
        }
    }

    mat-label {
        font-weight: 500;
    }
}

.mat-form-field-appearance-outline .mat-form-field-prefix,
.mat-form-field-appearance-outline .mat-form-field-suffix {
    top: 0 !important; //no pude sobreescribir usando especificidad
}