.mat-form-field-appearance-outline .mat-form-field-outline,
.mat-form-field-appearance-outline .mat-form-field-outline-thick {
    color: var(--mainColor);
}

.mat-form-field .mat-select.mat-select-invalid .mat-select-arrow,
.mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
    color: var(--secondaryColor);
}

label.mat-form-field-label {
    font-weight: 500;
    color: var(--mainColor);
}

input.mat-input-element {
    text-align: center;
    font-weight: 300;
}

mat-form-field {
    width: 100%;

    .ver-contrasena {
        height: 2.2em;
        img {
            height: 1.2em;
            margin-top: -.5em;
        }
    }

    mat-label {
        font-weight: 500;
    }
}

.mat-form-field-appearance-outline .mat-form-field-prefix,
.mat-form-field-appearance-outline .mat-form-field-suffix {
    top: 0 !important; //no pude sobreescribir usando especificidad
}

.label-left {
    font-weight: 500;
    display: inline-block;
    margin-top: .5em;
}

.mat-form-field-infix {
    border-top: 0;
}

.mat-select-value {
    color: var(--mainColor);
    text-align: center;
}

.mat-select-arrow-wrapper {
    position: relative;
    right: -2.65em;
    top: .3em
}

div.mat-select-arrow {
    color: var(--mainColor);
    border-left: .5em solid transparent;
    border-right: .5em solid transparent;
    border-top: 1em solid;
    margin: 0 4px;
}

.select-width {
    width: calc(100% - 2.9em);
}

.contador {
    color: var(--mainColor);
    font-weight: 500;
    height: 2.4em;
    width: 2.4em;
    min-width: 2.4em;
    border-radius: 50%;
    border: solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: .8em;
}

.mat-form-field-appearance-legacy .mat-form-field-wrapper {
    margin-bottom: -.8em;
}
