.mat-form-field-appearance-outline .mat-form-field-outline,
.mat-form-field-appearance-outline .mat-form-field-outline-thick {
    color: var(--mainColor);
}

.mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
    color: var(--secondaryColor);
}

label.mat-form-field-label {
    font-weight: 500;
    color: var(--mainColor);
}