body {
    color: var(--fontColor);
}

.container {
    @media only screen and (min-width: 48em) {
        width: 46rem;
    }

    @media only screen and (min-width: 62em) {
        width: 61rem;
    }

    @media only screen and (min-width: 75em) {
        width: 71rem;
    }
}

.color-mainColor {
    color: var(--mainColor)
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.mat-button.btn-regresar {
    height: 2em;
    padding: 0;
    border-radius: 2em;
    margin-top: 1em;

    img {
        height: 2em;
        margin-top: -0.6em;
    }
}

.title-menu {
    .mat-typography &--h1 {
        text-align: center;
        color: var(--mainColor);
        font-weight: 500;
        margin-top: 1.5em;
        margin-bottom: 0;
        display: inline-block;

        &::after {
            content: '';
            display: block;
            position: relative;
            height: .15em;
            background-color: var(--mainColor);
            border-radius: 1em;
            width: calc(100% + 1em);
            max-width: calc(100vw + .5em);
            left: -0.5em;
            margin-top: .1em;
        }
    }
}

.mt-1em {
    margin-top: 1em;
}

.pr-0 {
    padding-right: 0;
}

.pr-1 {
    padding-right: .5em;
}

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.busqueda {
    display: flex;
    justify-content: center;
    align-items: center;

    &--input {
        width: 30em;
    }
    &--img {
        margin-bottom: 1em;
        margin-left: .5em;
        padding: .5em;
        min-width: 0;

        img {
            height: 2.5em;
        }
    }
}

.m1{
    margin: 1em;
}

.m05_important{
    margin: 0.5em !important;
  }
.opaco{
    opacity: 0.6;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}