body {
    color: var(--fontColor);
}

.container {
    @media only screen and (min-width: 48em) {
        width: 46rem;
    }

    @media only screen and (min-width: 62em) {
        width: 61rem;
    }

    @media only screen and (min-width: 75em) {
        width: 71rem;
    }
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.mat-button.btn-regresar {
    height: 2em;
    padding: 0;
    border-radius: 2em;
    margin-top: 1em;

    img {
        height: 2em;
        margin-top: -0.6em;
    }
}

.title-menu {
    .mat-typography &--h1 {
        text-align: center;
        color: var(--mainColor);
        font-weight: 500;
        margin-top: 1.5em;
        margin-bottom: 0;
    }

    &--hr {
        border: none;
        height: .3em;
        background-color: var(--mainColor);
        border-radius: 1em;
        width: 20em;
        margin-top: .3em;
    }
}

.pr-0 {
    padding-right: 0;
}

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}