body {
    color: var(--fontColor);
}

.container {
    @media only screen and (min-width: 48em) {
        width: 46rem;
    }

    @media only screen and (min-width: 62em) {
        width: 61rem;
    }

    @media only screen and (min-width: 75em) {
        width: 71rem;
    }
}

.text-center {
    text-align: center;
}

.title-menu {
    .mat-typography &--h1 {
        text-align: center;
        color: var(--mainColor);
        font-weight: 500;
        margin-top: 1.5em;
        margin-bottom: 0;
        display: inline-block;

        &::after {
            content: '';
            display: block;
            position: relative;
            height: .15em;
            background-color: var(--mainColor);
            border-radius: 1em;
            width: calc(100% + 1em);
            max-width: calc(100vw + .5em);
            left: -0.5em;
            margin-top: .1em;
        }
    }
}
