body {
    color: var(--fontColor);
}

b,
strong {
    font-weight: 500;
    
    .ql-editor & {
        font-weight: 700;
    }
}

.font-weight-lighter {
    font-weight: lighter;
}

.colorMainColor {
    color: var(--mainColor);
}

.color-secondaryColor {
    color: #d21e18;
    color: var(--secondaryColor);
}

.container {
    @media only screen and (min-width: 48em) {
        width: 46rem;
    }

    @media only screen and (min-width: 62em) {
        width: 61rem;
    }

    @media only screen and (min-width: 75em) {
        width: 71rem;
    }
}

.color-mainColor {
    color: var(--mainColor)
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.mat-button.btn-regresar {
    height: 2em;
    padding: 0;
    border-radius: 2em;
    margin-top: 1em;

    img {
        height: 2em;
        margin-top: -0.6em;
    }
}

.title-menu {
    .mat-typography &--h1 {
        text-align: center;
        color: var(--mainColor);
        font-weight: 500;
        margin-top: 1.5em;
        margin-bottom: 0;
        display: inline-block;

        &::after {
            content: '';
            display: block;
            position: relative;
            height: .15em;
            background-color: var(--mainColor);
            border-radius: 1em;
            width: calc(100% + 1em);
            max-width: calc(100vw + .5em);
            left: -0.5em;
            margin-top: .1em;
        }
    }
}

.info-sub-title,
.mat-typography .info-sub-title {
    margin-top: .8em;
    margin-bottom: 1.2em;
    color: var(--mainColor);

    span {
        margin-left: 1em;
        margin-right: 1em;
    }
}

.mt-1em {
    margin-top: 1em;
}

.mb-1em {
    margin-bottom: 1em;
}

.pr-0 {
    padding-right: 0;
}

.pr-1 {
    padding-right: .5em;
}

.pt-1 {
    padding-top: .5em;
}

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.m1{
    margin: 1em;
}

.mt-2em,
.card-subTitle.var-main-gris.mt-2em {
    margin-top: 2em;
}

.mb-2em {
    margin-bottom: 2em;
}

.m05_important{
    margin: 0.5em !important;
}

.opaco{
    opacity: 0.6;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.loading {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff80;
    z-index: 100;

    animation-duration: .3s;
    animation-name: animatedOpacity;
}

.icon {
    height: 1.4em;
    margin-bottom: -.3em;
}