
.btn-info.mat-mini-fab {
    font-family: sans-serif;
    font-size: 1.5em;
    height: 1.5em;
    width: 1.5em;
    margin-bottom: 1rem;

    .mat-button-wrapper {
        line-height: 0;
    }
}

.text-info {
    background-color: var(--grayColor-2);
    color: var(--fontColor);
    text-align: center;
    padding: .6em .8em;
    border-radius: .8em;
    // margin-top: 1em;
    margin-bottom: 1em;
    position: relative;

    animation-duration: .6s;
    animation-name    : animatedDown;

    &--close.mat-icon-button {
        position: absolute;
        right: 1em;
        bottom: calc(100% + .5em);
        height: 2em;
        width: 2em;

        img {
            height: 2em;
            width: 2em;
            margin-top: -10px;
        }
    }
}