th.mat-header-cell {
    background-color: var(--mainColor);
    color: #fff;
    text-align: center;
}

.mat-sort-header-container {
    justify-content: center;
}

.mat-sort-header-arrow {
    color: #fff;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    border-right: solid .5px;
}

th.mat-header-cell:last-of-type, td.mat-footer-cell:last-of-type {
    border-right: none;
}

td.mat-cell:first-of-type {
    border-left: 1px solid;
}

.mat-cell, .mat-footer-cell {
    color: var(--mainColor);
}

mat-row, mat-header-row, mat-footer-row, th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    border-bottom-color: var(--mainColor);
}

table {
    width: 100%;
}

.busqueda {
    display: flex;
    justify-content: center;
    align-items: center;

    &--input {
        width: 30em;
    }
    &--img {
        margin-bottom: 1em !important;
        margin-left: .5em;
        padding: .5em;
        min-width: 0;

        img {
            height: 2.5em;
        }
    }

    .mat-form-field-appearance-outline .mat-form-field-label {
        top: 2.2em;
    }
    .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
        transform: translateY(-1.2em) scale(0.75);
    }
}

// paginador

div.mat-paginator {
    &-page-size {
        order: 2;
    }

    &-range-actions {
        order: 1;
        margin: auto;
        padding-left: 9.6em;
    }

    &-range-label {
        order: 2;
    }

}
.mat-paginator {
    .mat-focus-indicator.mat-paginator-navigation-previous.mat-icon-button.mat-button-base {
        order: 1;

        &:disabled {
            opacity: .5;
        }

        >.mat-button-wrapper {
            &::before {
                @extend %botones-paginador;
                border-right: 1.5em solid;
                right: .5em;
            }
            >svg {
                display: none;
            }
        }
    }

    .mat-focus-indicator.mat-paginator-navigation-next.mat-icon-button.mat-button-base {
        order: 3;

        &:disabled {
            opacity: .5;
        }

        >.mat-button-wrapper {
            &::before {
                @extend %botones-paginador;
                border-left: 1.5em solid;
                left: .5em;
            }
            >svg {
                display: none;
            }
        }
    }
}

%botones-paginador {
    content: "";
    color: var(--mainColor);
    border-top: 1em solid transparent;
    border-bottom: 1em solid transparent;
    margin: 0 4px;
    position: absolute;
    top: .5em;
}


.mat-table-style {
    text-align: center;
    border-spacing: 0;

    th.mat-header-cell {
        padding: 1em;
    }

    .mat-cell, .mat-footer-cell {
        border-bottom: solid 1px;
    }

    .contador {
        margin-left: 0;
        margin-top: 0.5em;
    }

    .ql-toolbar {
        text-align: left;
    }
}