<div class="container text-center" *ngIf="this.ocpion==1">
    <div class="text-right">
        <a routerLink="/home" mat-button color="primary" class="btn-regresar">
            <img src="assets/img/icon/regresar.svg" alt="Regresar">
        </a>
    </div>
    <h1 class="title-menu--h1">
        Generar acta de inicio para fase 1 - Preconstrucción
    </h1>
    <button mat-mini-fab color="primary" class="btn-info" (click)="verAyuda = !verAyuda">?</button>

    <div class="text-info" *ngIf="verAyuda">
        <button mat-icon-button (click)="verAyuda = false" class="text-info--close">
            <img src="assets/img/icon/cerrar-gris.svg" alt="cerrar ayuda">
        </button>
        Bienvenida/o aquí podrá gestionar las actas de inicio para la fase de Preconstrución para los contratos de obra
        asignados a usted, que tienen aprobados los requisitos de inicio, y que serán ejecutados en el marco de la
        gestión del FFIE
    </div>
    <app-tabla-generar-f-i-prc></app-tabla-generar-f-i-prc>
</div>
<div class="container text-center" *ngIf="this.ocpion==2">
    <div class="text-right">
        <a routerLink="/home" mat-button color="primary" class="btn-regresar">
            <img src="assets/img/icon/regresar.svg" alt="Regresar">
        </a>
    </div>
    <h1 class="title-menu--h1">
        Generar acta de inicio para fase 1 - Preconstrucción
    </h1>
    <button mat-mini-fab color="primary" class="btn-info" (click)="verAyuda = !verAyuda">?</button>
    <div class="text-info" *ngIf="verAyuda">
        <button mat-icon-button (click)="verAyuda = false" class="text-info--close">
            <img src="assets/img/icon/cerrar-gris.svg" alt="cerrar ayuda">
        </button>
        Bienvenida/o aquí podrá validar las actas de inicio para la fase 1 - Preconstrución para los contratos de obra y
        gestionar las actas de
        inicio de los contratos de interventoría asignados a usted, que tienen aprobados los requisitos de inicio, y que
        serán ejecutados en el
        marco de la gestión del FFIE.
    </div>
    <div class="botones">
        <button mat-raised-button color="accent" (click)="this.cambiarTab(1)" *ngIf="this.selTab!=1">Actas de inicio de obra</button>
        <div *ngIf="this.selTab==1" class="button-activated">Actas de inicio de obra</div>
        <button mat-raised-button color="accent" (click)="this.cambiarTab(2)" *ngIf="this.selTab!=2">Actas de inicio de interventoría</button>
        <div *ngIf="this.selTab==2" class="button-activated">Actas de inicio de interventoría</div>
    </div>
    <div *ngIf="this.selTab==1">
        <app-tabla-actas-de-inicio-de-obra></app-tabla-actas-de-inicio-de-obra>
    </div>
    <div *ngIf="this.selTab==2">
        <app-tabla-actas-de-inicio-de-interventoria></app-tabla-actas-de-inicio-de-interventoria>
    </div>
</div>