<button mat-button mat-dialog-close class="modal--btn-cerrar">
  <img src="assets/img/icon/cerrar-blanco.svg" alt="cerrar" />
</button>

<div class="text-center">
  <h1 class="title-menu--h1 centerTrick">Motivos de la devolución</h1>

  <mat-card class="shipping-card">
    <!-- <mat-card-header class="header-card header-card--margin">
      <mat-card-title class="header-card--text"> Motivo de la devolución </mat-card-title>
    </mat-card-header> -->
    <mat-card-content>
      <p class="text-justify">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In id erat semper, hendrerit lectus in, bibendum nisl.
        In elementum lorem id ipsum ultrices pulvinar. Aliquam semper erat dictum quam mollis egestas. Phasellus vel
        rutrum eros, ornare laoreet sem. Sed tincidunt nulla purus, vitae posuere purus faucibus et. Suspendisse viverra
        felis eget pharetra ornare. Aliquam erat volutpat. Suspendisse sit amet augue ultricies, semper eros id,
        ultrices augue. Morbi sem sapien, cursus at posuere ut, euismod non lorem. Integer hendrerit ornare rutrum.
        Proin bibendum dui vitae nulla dignissim, scelerisque luctus felis aliquam. In quis nisi libero. Curabitur
        auctor, erat id euismod ultricies, magna lectus gravida felis, vel consequat risus ante et enim.
      </p>
    </mat-card-content>
  </mat-card>
</div>
