<div class="busqueda mt-3em">
    <mat-form-field appearance="outline" class="busqueda--input">
      <mat-label>Buscador / Filtro</mat-label>
      <input matInput #filtro (keyup)="applyFilter($event)">
    </mat-form-field>
    <button mat-button color="primary" class="busqueda--img" (click)="filtro.focus()">
      <img src="assets/img/icon/lupa.svg" alt="Buscar">
    </button>
</div>
  
<div class="table-responsive">
    <table mat-table [dataSource]="dataSource" matSort>
  
      <ng-container matColumnDef="nombreRequisito">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre del requisito </th>
        <td mat-cell *matCellDef="let element" align="center"> {{ element.nombreRequisito }} </td>
      </ng-container>

      <ng-container matColumnDef="estadoRequisito">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado del requisito </th>
        <td mat-cell *matCellDef="let element" align="center"> {{ element.estadoRequisito }} </td>
      </ng-container>
    
      <ng-container matColumnDef="gestion">
        <th class="w-20" mat-header-cell *matHeaderCellDef mat-sort-header> Gestión </th>
        <td mat-cell *matCellDef="let element">
    
          <button mat-raised-button 
                  color="accent" 
                  class="btn-table"
                  [routerLink]="[ 'editarBanco', element.id ]">
                  Ver detalle/Editar
          </button>

          <button mat-raised-button 
                  color="accent" 
                  class="btn-table">
                  Desactivar
          </button>

          <button mat-raised-button 
                  color="accent" 
                  class="btn-table">
                  Activar
          </button>
    
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>