<div align="center">
    <p class="info-sub-title" style="font-size: 14px;">
        <span><b>Nombre del contratista: {{ solicitudPago.contrato.contratacion.contratista.nombre }} </b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Número de identificación: {{ solicitudPago.contrato.contratacion.contratista.numeroIdentificacion }} </b></span>
    </p>
</div>
<form [formGroup]="addressForm" (ngSubmit)="onSubmit()">
    <mat-card class="shipping-card">
        <mat-card-content style="text-align: left;">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="pr-1">
                            <label class="label-left" for="medioPagoGiroContrato">¿Cuál es el medio de pago para los giros del contrato?</label>
                        </div>
                        <div class="col">
                            <mat-form-field class="select-width">
                                <mat-select formControlName="medioPagoGiroContrato" required>
                                    <mat-option *ngFor="let medioPago of medioPagoArray" [value]="medioPago.codigo">
                                        {{ medioPago.nombre }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="addressForm.get( 'medioPagoGiroContrato' ).value !== null && listaMediosPagoCodigo.transferenciaElectronica === addressForm.get( 'medioPagoGiroContrato' ).value" formGroupName="transferenciaElectronica">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="pr-1">
                                <label for="titularCuenta" class="label-left">Titular de la cuenta</label>
                            </div>
                            <div class="col d-flex">
                                <mat-form-field class="full-width">
                                    <input matInput #titularCuenta type="text" maxlength="100"
                                        formControlName="titularCuenta" required>
                                </mat-form-field>
                                <span class="contador" [matTooltipPosition]="'above'" matTooltip="Campo alfanumérico"
                                    matTooltipClass="info-tooltip">{{100 - addressForm.get( 'transferenciaElectronica' ).get( 'titularCuenta' ).value.length }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="pr-1">
                                <label for="numIdentificacionTitular" class="label-left">Número de identificación del titular</label>
                            </div>
                            <div class="col d-flex">
                                <mat-form-field class="full-width">
                                    <input matInput #numIdentificacionTitular type="text" maxlength="10"
                                        formControlName="titularNumeroIdentificacion" required>
                                </mat-form-field>
                                <span class="contador" [matTooltipPosition]="'above'" matTooltip="Campo alfanumérico"
                                    matTooltipClass="info-tooltip">{{10 - addressForm.get( 'transferenciaElectronica' ).get( 'titularNumeroIdentificacion' ).value.length }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="pr-1">
                                <label for="numeroCuenta" class="label-left">Número de cuenta</label>
                            </div>
                            <div class="col d-flex">
                                <mat-form-field class="full-width">
                                    <input matInput #numeroCuenta type="text" maxlength="50"
                                        formControlName="numeroCuenta" required>
                                </mat-form-field>
                                <span class="contador" [matTooltipPosition]="'above'" matTooltip="Campo alfanumérico"
                                    matTooltipClass="info-tooltip">{{50 - addressForm.get( 'transferenciaElectronica' ).get( 'numeroCuenta' ).value.length }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="pr-1">
                                <label class="label-left" for="banco">Banco</label>
                            </div>
                            <div class="col">
                                <mat-form-field class="select-width">
                                    <mat-select formControlName="bancoCodigo" required>
                                        <mat-option *ngFor="let banco of bancosArray" [value]="banco.codigo">
                                            {{ banco.nombre }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                      <div class="row">
                        <div class="pr-1">
                          <label class="label-left" for="tipoCuenta">Tipo de cuenta</label>
                        </div>
                        <div class="col">
                          <mat-radio-group class="radioInput" formControlName="esCuentaAhorros" required>
                            <mat-radio-button [value]="true">Ahorros</mat-radio-button>
                            <mat-radio-button [value]="false">Corriente</mat-radio-button>
                          </mat-radio-group>
                          <span class="required-form-group" style="margin-left: 1px;">*</span>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
            <div *ngIf="addressForm.get( 'medioPagoGiroContrato' ).value !== null && listaMediosPagoCodigo.chequeGerencia === addressForm.get( 'medioPagoGiroContrato' ).value" formGroupName="chequeGerencia">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="pr-1">
                                <label class="label-left">Nombre del beneficiario</label>
                            </div>
                            <div class="col d-flex">
                                <mat-form-field class="full-width">
                                    <input matInput type="text" maxlength="100"
                                        formControlName="nombreBeneficiario" required>
                                </mat-form-field>
                                <span class="contador" [matTooltipPosition]="'above'" matTooltip="Campo alfanumérico"
                                    matTooltipClass="info-tooltip">{{100 - addressForm.get( 'chequeGerencia' ).get( 'nombreBeneficiario' ).value.length }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="pr-1">
                                <label class="label-left">Número de identificación del beneficiario</label>
                            </div>
                            <div class="col d-flex">
                                <mat-form-field class="full-width">
                                    <input matInput type="text" maxlength="50"
                                        formControlName="numeroIdentificacionBeneficiario" required>
                                </mat-form-field>
                                <span class="contador" [matTooltipPosition]="'above'" matTooltip="Campo alfanumérico"
                                    matTooltipClass="info-tooltip">{{50 - addressForm.get( 'chequeGerencia' ).get( 'numeroIdentificacionBeneficiario' ).value.length }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
    <div class="text-center mb-2em">
        <button mat-button color="warn" class="btn-guardar" type="submit">
            <img src="assets/img/icon/guardar.svg" alt="Regresar">
        </button>
    </div>
</form>