.sub-text {
    display: block;
    color: var(--mainColor);
    margin-top: 5px;
}

.mat-table {
    margin-top: 3em;
    margin-bottom: 4em;
    text-align: center;
    border-spacing: 0;
}

.table-form th.mat-header-cell {
    padding: 1em !important;
}

.p-table {
    padding: .5em;
    margin-bottom: 0;
    text-align: right;
}