<section class="text-center" *ngIf="esVerDetalle === false && seguimientoDiario !== undefined">
    <div class="colorMainColor">
        <p>Estado de la obra: <b>En ejecución</b> </p>
    </div>

    <mat-accordion>
        <mat-expansion-panel class="expansion-style sub-expansion">
            <mat-expansion-panel-header class="expansion-style--header">
                <mat-panel-title class="expansion-style--title">
                    Resumen de alertas generadas
                </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="colorMainColor">
                <p> <b>Disponiblidad personal: Insuficiente</b> </p>
            </div>

            <app-tabla-avance-resumen-alertas [seguimientoDiario]="seguimientoDiario.seguimientoDiario"></app-tabla-avance-resumen-alertas>
        </mat-expansion-panel>

        <mat-expansion-panel class="expansion-style sub-expansion">
            <mat-expansion-panel-header class="expansion-style--header">
                <mat-panel-title class="expansion-style--title completo">
                    Avance físico
                </mat-panel-title>
            </mat-expansion-panel-header>

            <app-tabla-avance-fisico [seguimientoDiario]="seguimientoDiario"></app-tabla-avance-fisico>
        </mat-expansion-panel>
    </mat-accordion>
</section>

<section class="text-center" *ngIf="esVerDetalle === true">
    <mat-accordion>
        <mat-expansion-panel class="expansion-style sub-expansion">
            <mat-expansion-panel-header class="expansion-style--header">
                <mat-panel-title class="expansion-style--title">
                    Resumen de alertas generadas
                </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="colorMainColor">
                <p> <b>Disponiblidad personal: Insuficiente</b> </p>
            </div>

            <app-tabla-avance-resumen-alertas></app-tabla-avance-resumen-alertas>
        </mat-expansion-panel>

        <mat-expansion-panel class="expansion-style sub-expansion">
            <mat-expansion-panel-header class="expansion-style--header">
                <mat-panel-title class="expansion-style--title">
                    Avance físico
                </mat-panel-title>
            </mat-expansion-panel-header>

            <app-tabla-avance-fisico [esVerDetalle]="true"></app-tabla-avance-fisico>
        </mat-expansion-panel>
    </mat-accordion>
</section>