.w-100 {
    width: 100%;
}

.w-80 {
    width: 80%;
}

.w-60 {
    width: 60%;
}

.w-50 {
    width: 50%;
}

.w-20 {
    width: 20%;
}

.h-2em {
    height: 2em;
}

.mr-min {
    margin-right: 0.7em;
}

.mr-1em {
    margin-right: 1em;
}

.mt-2em {
    margin-top: 2em;
}

.mt-1em {
    margin-top: 0.8em;
}

.mt-min {
    margin-top: 0.3em;
}

.ml-5em {
    margin-left: 5em;
}

.padding-left {
    padding-left: 0.7em;
}

.btn-color {
    background-color: #fdc101 !important;
}
th.mat-header-cell {
    background-color: rgba(0, 0, 0, 0.75) !important;
}
.td.mat-cell {
    border-bottom-color: rgba(0, 0, 0, 0.75) !important;
}
.mat-cell {
    color: rgba(0, 0, 0, 0.75) !important;
}
.w-80 {
    width: 80%;
}

.flex-editor {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.mb-2em {
    margin-bottom: 2em;
}

.mt-1em {
    margin-top: 1em;
}

.mt-2em {
    margin-top: 2em;
}

.btn-dialog {
    line-height: 1;
    display: block;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    min-width: 9em;
    display: inline-block;
}
.border {
    border: solid 1px rgba(0, 0, 0, 0.54) !important;
}
.grayTitle {
    color: var(--color-info) !important;
}
