<!--
<div
  *ngIf="addressForm.invalid && addressForm.touched"
  class="animateDown my-1em color-secondaryColor d-flex align-items-center justify-content-center"
>
  <img class="icon-incompleto--img mr-05em" src="assets/img/icon/incompleto.svg" alt="este campo es requerido" />
  Debe ingresar la información en el campo para continuar
</div>
-->
<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-content style="text-align: left">
      <div class="row">
        <div class="col-md-12" style="padding-left: 0">
          <div class="row">
            <div class="pr-1">
              <label class="label-left" for="resumenReclamacionFiduciaria">Resumen de la propuesta de reclamación ante
                la fiduciaria</label>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex align-items-center mtop">
        <div class="text-area-quill izqTitle auxBox">
          <quill-editor class="quill-editor-style card" [styles]="editorStyle" [modules]="config"
            #resumenReclamacionFiduciaria (onContentChanged)="maxLength($event, 1000)"
            formControlName="resumenReclamacionFiduciaria"></quill-editor>
        </div>
        <span class="contador miles" *ngIf="addressForm.controls.resumenReclamacionFiduciaria.value">
          {{1000 - (textoLimpio(addressForm.get('resumenReclamacionFiduciaria').value))}}
        </span>
        <span class="contador miles" *ngIf="!addressForm.controls.resumenReclamacionFiduciaria.value"> 1000 </span>
      </div>
      <div class="row">
        <div class="col-md-12" style="padding-left: 0">
          <div class="row">
            <div class="pr-1">
              <label class="label-left" for="requereReclamacionComiteTecnico">¿Se requiere presentar la propuesta de
                reclamación a comité técnico?</label>
            </div>
            <div class="col">
              <mat-radio-group class="radioInput" formControlName="requereReclamacionComiteTecnico" required>
                <mat-radio-button [value]="true">Sí</mat-radio-button>
                <mat-radio-button [value]="false">No</mat-radio-button>
              </mat-radio-group>
              <span class="required-form-group" style="margin-left: 1px">*</span>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="shipping-card">
    <mat-card-header class="header-card">
      <mat-card-title class="header-card--text"> Soporte de la actuación </mat-card-title>
    </mat-card-header>
    <mat-card-content style="text-align: left">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="pr-1">
              <label class="label-left" for="urlSoporte">URL con soporte</label>
            </div>
            <div class="col">
              <mat-form-field class="full-width">
                <input matInput #urlSoporte type="text" formControlName="urlSoporte" required />
              </mat-form-field>
              <span class="info-url">Indique la ruta en la que se encuentran los documentos de soporte del registro de
                la actuación de
                trámite</span>
            </div>
          </div>
        </div>
      </div>
      <!--
      <span class="icon-incompleto">
        <img
          class="icon-incompleto--img"
          src="assets/img/icon/incompleto.svg"
          alt="este campo es requerido"
          *ngIf="
            (addressForm.get('definitivoyCerrado').invalid && addressForm.get('definitivoyCerrado').touched) ||
            (addressForm.get('definitivoyCerrado').invalid && estaEditando)
          "
        />
      </span>
      -->
    </mat-card-content>
  </mat-card>
  <div class="text-center mb-2em">
    <button mat-button color="warn" class="btn-guardar" type="submit">
      <img src="assets/img/icon/guardar.svg" alt="Regresar" />
    </button>
  </div>
</form>