.full-width {
  width: 100%;
}

.shipping-card {
  min-width: 120px;
  margin: 20px auto;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}

.px-5em {
  padding-left: 5em;
  padding-right: 5em;
}

.btn-guardar {
  margin-bottom: 1em;
}

.px-miembros {
  padding-left: 4.2em;
  padding-right: 4em;
}
