.auxiliarTd{
  background-color: #474747;
  color: #fff !important;
  padding: 0 0.6em 0 calc(0.6em + 0px) !important;
  line-height: 1.25;
  font-style: italic;
  font-size: 12px;
  font-weight: 500;
}
