<mat-accordion>
  <mat-expansion-panel class="expansion-style sub-expansion-black">
      <mat-expansion-panel-header class="expansion-style--header">
          <mat-panel-title class="expansion-style--title font-size-09em">
            Amortización - {{ llaveMen }}
          </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-card class="shipping-card var-main-gris">
        <mat-card-header class="header-card header-card--margin">
            <mat-card-title class="header-card--text">
                Amortización del anticipo en el criterio de pago:
            </mat-card-title>
        </mat-card-header>
        <mat-card-content style="text-align: left;">
            <p><strong>Saldo a amortizar:</strong> ${{ saldoAmortizar | currency:' ':'symbol-narrow':'.0-0' }} </p>
            <p><strong>Valor de amortización:</strong> ${{ valorAmortizacion | currency:' ':'symbol-narrow':'.0-0' }} </p>
        </mat-card-content>
      </mat-card>
  </mat-expansion-panel>
</mat-accordion>
