<div class="container text-center">
    <div class="text-right">
        <a routerLink="/gestionarTramiteControversiasContractuales/actualizarReclamoAseguradora" mat-button
            color="primary" class="btn-regresar">
            <img src="assets/img/icon/regresar.svg" alt="Regresar">
        </a>
    </div>
    <h1 class="title-menu--h1">
        Ver detalle reclamación ACT_REC_0001
    </h1>
    <p class="info-sub-title">
        <span>Número de reclamación: <b>REC_0001</b></span>
    </p>
    <mat-card class="shipping-card mainGris">
        <mat-card-content style="text-align: left;">
            <p><strong>Estado de avance de la reclamación:</strong> Con reclamación presentada</p>
            <p><strong>Fecha de la actuación adelantada:</strong> 28/08/2020</p>
            <p><strong>Actuación adelantada:</strong></p>
            <p>Se presentan los soportes necesarios de la reclamación (audios, fotos y videos)</p>
            <p><strong>Próxima actuación requerida:</strong></p>
            <p>Requerimientos firmados por las partes para hacer constancia de que estan enterados del proceso
            </p>
            <p><strong>Días de vencimiento de términos para la próxima actuación requerida:</strong> 15</p>
            <p><strong>Fecha de vencimiento de términos para la próxima actuación requerida:</strong> 28/08/2020</p>
            <p><strong>Observaciones:</strong></p>
            <p>Se solicita ser cumplidos con los tiempos, realizar las gestiones necesarias para esto</p>
            <p><strong>¿La reclamación tiene resultado definitivo y se considera cerrado el trámite ante la
                    aseguradora?:</strong> Sí</p>
        </mat-card-content>
    </mat-card>
    <mat-card class="shipping-card mainGris">
        <mat-card-header class="header-card">
            <mat-card-title class="header-card--text textoGris">
                Soporte de la actuación
            </mat-card-title>
        </mat-card-header>
        <mat-card-content style="text-align: left;">
            <p><strong>URL con soporte:</strong>
                https://drive.google.com/drive/registrodecontroversiacontractual/registronuevaactualizaciondelareclamacion
            </p>
        </mat-card-content>
    </mat-card>
</div>