<mat-accordion>
  <mat-expansion-panel class="expansion-style">
    <mat-expansion-panel-header class="expansion-style--header">
      <mat-panel-title class="expansion-style--title">
      Programación de obra
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-tabla-programacion-de-obra></app-tabla-programacion-de-obra>
  </mat-expansion-panel>
  <mat-expansion-panel class="expansion-style">
    <mat-expansion-panel-header class="expansion-style--header">
      <mat-panel-title class="expansion-style--title">
      Flujo de inversión de recursos
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-tabla-flujo-intervencion-recursos></app-tabla-flujo-intervencion-recursos>
  </mat-expansion-panel>
</mat-accordion>
