<form autocomplete="off" [formGroup]="formManejoResiduosConstruccion" *ngIf="formManejoResiduosConstruccion !== undefined && esVerDetalle === false">
    <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="pr-1">
              <label class="label-left" style="margin-top: 1.5em;">¿Los RCD fueron cuantificados en toneladas, clasificados, acopiados y protegidos correctamente?</label>
            </div>
            <div class="col d-flex">
                <section style="width: 100%;">
                    <mat-form-field appearance="fill">
                      <mat-select class="padding-left" formControlName="estaCuantificadoRCD" required>
                        <mat-option *ngFor="let requisito of booleanosActividadRelacionada" [value]="requisito.value">
                          {{requisito.viewValue}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </section>
            </div>
          </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="pr-1">
              <label class="label-left" style="margin-top: 1.5em;">¿Requiere hacer una observación acerca del manejo de los residuos de construcción y demolición?</label>
            </div>
            <div class="col d-flex">
                <section style="width: 100%;">
                    <mat-form-field appearance="fill">
                      <mat-select class="padding-left" formControlName="requiereObservacion" required>
                        <mat-option *ngFor="let requisito of booleanosActividadRelacionada" [value]="requisito.value">
                          {{requisito.viewValue}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </section>
            </div>
          </div>
        </div>
    </div>

    <div class="row" *ngIf="formManejoResiduosConstruccion.get( 'requiereObservacion' ).value === true">
        <div class="col-md-12">
          <div>
            <div class="pr-1">
              <label class="label-left">Observaciones</label>
            </div>
            <div class="col d-flex" style="width: 100%;">
                <quill-editor   class="quill-editor-style card-80em position-relative"
                                [styles]="editorStyle"
                                [modules]="config"
                                (onContentChanged)="maxLength($event, 400)"
                                formControlName="observacion"
                                #obsResiduosConstruccion
                                required>
                </quill-editor>
                <span class="contador miles" *ngIf="formManejoResiduosConstruccion.get('observacion').value !== null" style="margin-top: 3.5em;">
                    {{400 - textoLimpio( obsResiduosConstruccion.quillEditor, 400 )}}
                </span>
                <span class="contador miles" *ngIf="formManejoResiduosConstruccion.get('observacion').value === null" style="margin-top: 3.5em;">
                    400
                </span>
            </div>
          </div>
        </div>
    </div>

    <section class="mt-1em" *ngFor="let residuo of gestorResiduos.controls; index as i" [formGroup]="residuo">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <h3 class="colorMainColor"> <b> Gestor de residuos {{ i+1 }} </b> </h3>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="pr-1">
                        <label class="label-left">Gestor de residuos de construcción y demolición</label>
                    </div>
                    <div class="col d-flex">
                        <section style="width: 100%;">
                            <mat-form-field>
                                <input matInput type="text" maxlength="50" formControlName="nombreGestorResiduos" required>
                            </mat-form-field>
                        </section>
                        <span class="contador">{{50 - residuo.get( 'nombreGestorResiduos' ).value.length}}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="pr-1">
                  <label class="label-left" style="margin-top: 1.5em;">¿El gestor presenta permiso ambiental o soporte válido?</label>
                </div>
                <div class="col d-flex">
                    <section style="width: 100%;">
                        <mat-form-field appearance="fill">
                          <mat-select class="padding-left" formControlName="tienePermisoAmbiental" required>
                            <mat-option *ngFor="let requisito of booleanosActividadRelacionada" [value]="requisito.value">
                              {{requisito.viewValue}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </section>
                </div>
              </div>
            </div>
        </div>

        <div class="row mt-1em">
            <div class="col-md-12">
              <div class="row">
                <div class="pr-1">
                  <label class="label-left">URL con soporte</label>
                </div>
                <div class="col d-flex">
                    <mat-form-field style="width: 98%;">
                        <input  matInput
                                type="text"
                                formControlName="url">
                    </mat-form-field>
                </div>
                <div class="d-flex justify-content-center size-text-descriptivo">
                    <p class="color-text-descriptivo">
                        <i> 
                            Indique la ruta de la ubicación de los soportes de la actividad realizada.
                        </i>
                    </p>
                </div>
              </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col d-flex justify-content-flex-end">
                        <button mat-button
                                color="warn"
                                type="button"
                                class="btn-eliminar"
                                (click)="deleteGestor( i )"
                                *ngIf="gestorResiduos.length > 1">
                                <img src="assets/img/icon/menos.svg" alt="Eliminar vigencia">
                                Eliminar gestor de residuos
                        </button>
                        <button mat-button
                                color="warn"
                                type="button"
                                class="btn-eliminar"
                                (click)="addGestor()">
                                <img src="assets/img/icon/mas.svg">
                                Agregar otro gestor de residuos
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="row mt-1em">
        <div class="col-md-12">
          <div class="row">
            <div class="pr-1">
                <label class="label-left" style="margin-top: 1.5em;">¿Se reutilizaron temporal o permanente los residuos de construcción y demolición para el porcentaje de aprovechamiento obligatorio?
                </label>
            </div>
            <div class="col d-flex" style="width: 15%;">
                <section style="width: 100%;">
                    <mat-form-field appearance="fill">
                      <mat-select class="padding-left" formControlName="seReutilizadorResiduos" required>
                        <mat-option *ngFor="let requisito of booleanosActividadRelacionada" [value]="requisito.value">
                          {{requisito.viewValue}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </section>
            </div>
          </div>
        </div>
    </div>

    <div class="row" *ngIf="formManejoResiduosConstruccion.get( 'seReutilizadorResiduos' ).value === true">
        <div class="col-md-12">
            <div class="row">
                <div class="pr-1">
                    <label class="label-left">Cantidad (Toneladas)</label>
                </div>
                <div class="col d-flex">
                    <section style="width: 100%;">
                        <mat-form-field>
                            <input  matInput
                                    type="text"
                                    maxlength="3"
                                    formControlName="cantidadToneladas"
                                    (ngModelChange)="validateNumber( $event, 'cantidadToneladas' )"
                                    required>
                        </mat-form-field>
                    </section>
                    <span class="contador">{{3 - formManejoResiduosConstruccion.get( 'cantidadToneladas' ).value.length}}</span>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- Ver detalle -->
<section *ngIf="formManejoResiduosConstruccion !== undefined && esVerDetalle === true">
  <p *ngIf="formManejoResiduosConstruccion.get( 'estaCuantificadoRCD' ).value === true"><b>¿Los RCD fueron cuantificados en toneladas, clasificados, acopiados y protegidos correctamente?</b>: Si</p>
  <p *ngIf="formManejoResiduosConstruccion.get( 'estaCuantificadoRCD' ).value === false"><b>¿Los RCD fueron cuantificados en toneladas, clasificados, acopiados y protegidos correctamente?</b>: No</p>
  <p *ngIf="formManejoResiduosConstruccion.get( 'requiereObservacion' ).value === true"><b>¿Requiere hacer una observación acerca del manejo de los residuos de construcción y demolición?</b>: Si</p>
  <p *ngIf="formManejoResiduosConstruccion.get( 'requiereObservacion' ).value === false"><b>¿Requiere hacer una observación acerca del manejo de los residuos de construcción y demolición?</b>: No</p>
  <section *ngIf="formManejoResiduosConstruccion.get( 'requiereObservacion' ).value === true">
    <b>Observaciones</b>:
    <div [innerHTML]="formManejoResiduosConstruccion.get( 'observacion' ).value"></div>
  </section>
  <section class="mt-1em" *ngFor="let residuo of gestorResiduos.controls; index as i">
    <div class="row">
      <div class="col-md-12">
          <div class="row">
              <h3> <b> Gestor de residuos {{ i+1 }} </b> </h3>
          </div>
      </div>
  </div>
    <p><b>Gestor de residuos de construcción y demolición</b>: {{ residuo.get( 'nombreGestorResiduos' ).value }} </p>
    <p *ngIf="residuo.get( 'tienePermisoAmbiental' ).value === true"><b>¿El gestor presenta permiso ambiental o soporte válido?</b>: Si</p>
    <p *ngIf="residuo.get( 'tienePermisoAmbiental' ).value === false"><b>¿El gestor presenta permiso ambiental o soporte válido?</b>: No</p>
    <p *ngIf="residuo.get( 'url' ).value.length > 0"><b>URL con soporte</b>: {{ residuo.get( 'url' ).value }} </p>
  </section>
  <p class="mt-1em" *ngIf="formManejoResiduosConstruccion.get( 'seReutilizadorResiduos' ).value === true"><b>¿Se reutilizaron temporal o permanente los residuos de construcción y demolición para el porcentaje de aprovechamiento obligatorio?</b>: Si</p>
  <p class="mt-1em" *ngIf="formManejoResiduosConstruccion.get( 'seReutilizadorResiduos' ).value === false"><b>¿Se reutilizaron temporal o permanente los residuos de construcción y demolición para el porcentaje de aprovechamiento obligatorio?</b>: No</p>
  <p *ngIf="formManejoResiduosConstruccion.get( 'seReutilizadorResiduos' ).value === true"><b>Cantidad (Toneladas)</b>: {{ formManejoResiduosConstruccion.get( 'cantidadToneladas' ).value }} </p>
</section>