<section class="container text-center" *ngIf="solicitudPago != null">
    <div class="text-right">
        <a routerLink="/gestionarBalanceFinancieroTrasladoRecursos" mat-button color="primary" class="btn-regresar">
            <img src="assets/img/icon/regresar.svg" alt="Regresar">
        </a>
    </div>
    <h1 class="title-menu--h1">Ver detalle {{ solicitudPago.ordenGiro.numeroSolicitud }} </h1>
    <p class="info-sub-title">
        <span>Número de contrato de obra: <b>{{ contrato.numeroContrato}}</b></span>
        <span>Contratista: <b>{{ contrato.contratacion.contratista.nombre }}</b></span>
    </p>   
    <mat-card class="shipping-card var-main-gris">
        <mat-card-content align="left">
            <p><strong>Tipo de intervención: </strong><em>{{ contratoInfo[0].tipoIntervencion }}</em></p>
            <p><strong>Institución Educativa: </strong><em>{{ contratoInfo[0].institucionEducativa }}</em></p>
            <p><strong>Sede educativa: </strong><em>{{ contratoInfo[0].sede }}</em></p>
            <p><strong>Departamento: </strong><em>{{ contratoInfo[0].departamento }}</em></p>
            <p><strong>Municipio: </strong><em>{{ contratoInfo[0].municipio }}</em></p>
        </mat-card-content>
    </mat-card>
    <p class="info-sub-title textoGris">
        <b>
          Valor total facturado:
          {{ solicitudPago.valorFacturado | currency: '':'symbol-narrow':'.0-0' }}
        </b>
    </p>
    <mat-card class="shipping-card mainGris" style="margin-top: 3em;">
        <mat-card-header class="header-card header-card--margin">
            <mat-card-title class="header-card--text textoGris">
                Facturado
            </mat-card-title>
        </mat-card-header>
        <mat-card-content style="text-align: left;">
            <app-tabla-facturado-og-gbftrec></app-tabla-facturado-og-gbftrec>
        </mat-card-content>
    </mat-card>  
    <mat-card class="shipping-card mainGris" style="margin-top: 3em;">
        <mat-card-header class="header-card header-card--margin">
            <mat-card-title class="header-card--text textoGris">
                Descuentos
            </mat-card-title>
        </mat-card-header>
        <mat-card-content style="text-align: left;">
            <app-tabla-descuentos-og-gbftrec></app-tabla-descuentos-og-gbftrec>
        </mat-card-content>
    </mat-card>  
    <mat-card class="shipping-card mainGris" style="margin-top: 3em;">
        <mat-card-header class="header-card header-card--margin">
            <mat-card-title class="header-card--text textoGris">
                Detalle otros descuentos
            </mat-card-title>
        </mat-card-header>
        <mat-card-content style="text-align: left;">
            <app-tabla-otros-descuentos-og-gbftrec></app-tabla-otros-descuentos-og-gbftrec>
        </mat-card-content>
    </mat-card>  
</section>
