<mat-card class="shipping-card var-main-gris">
    <mat-card-header class="header-card header-card--margin">
        <mat-card-title class="header-card--text">
            Amortización del anticipo en el criterio de pago
        </mat-card-title>
    </mat-card-header>
    <mat-card-content style="text-align: left;">
        <p><strong>Porcentaje de amortización:</strong> {{ addressForm.get( 'porcentajeAmortizacion' ).value }}% </p>
        <p><strong>Valor de amortización:</strong> {{ addressForm.get( 'valorAmortizacion' ).value | currency:'':'symbol-narrow':'.0-0' }} </p>
    </mat-card-content>
</mat-card>