<div class="row iniciarSesion">
    <div class="col-md-6 iniciarSesion--logo">
        <img src="assets/img/logo/asi-vamos-ffie.svg" alt="Así vamos FFIE">
        <p>Bienvenido(a) a continuación ingresará al módulo privado de Así Vamos FFIE</p>
    </div>
    <div class="col-md-6 iniciarSesion--form">
        <mat-card class="iniciarSesion--form--contain">
            <form [formGroup]="formLogin" novalidate (ngSubmit)="login($event)">
                <h1>Iniciar Sesión</h1>
                <hr>
                <mat-form-field appearance="outline">
                    <mat-label>Usuario *</mat-label>
                    <input matInput type="email" minlength="4" maxlength="50" required formControlName="emailField">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Contraseña *</mat-label>
                    <input matInput [type]="verClave ? 'password' : 'text'" maxlength="15" required formControlName="passwordField">
                    <button mat-icon-button matSuffix (click)="verClave = !verClave" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="verClave" class="ver-contrasena" type="button">
                        <img [src]="verClave ? 'assets/img/icon/ojo-gris.svg' : 'assets/img/icon/ojo-azul.svg'" alt="Ver contraseña">
                    </button>
                </mat-form-field>
                <button class="btn btn-ingresar" mat-raised-button color="warn" type="submit">Ingresar</button>
                <button (click)="openRecoverPass()" class="btn btn-recuperar" type="button" mat-button color="primary">Recuperar Contraseña</button>
            </form>
        </mat-card> 
    </div>
</div>