<div class="busqueda">
  <mat-form-field appearance="outline" class="busqueda--input">
    <mat-label>Buscador / Filtro</mat-label>
    <input matInput #filtro (keyup)="applyFilter($event)">
  </mat-form-field>
  <button mat-button color="primary" class="busqueda--img" (click)="filtro.focus()">
    <img src="assets/img/icon/lupa.svg" alt="Buscar">
  </button>
</div>

<div class="table-responsive">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- fechaSolicitud Column -->
    <ng-container matColumnDef="fechaSolictud">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha de solicitud de la novedad</th>
      <td mat-cell *matCellDef="let element"><b>{{element.fechaSolictud | date: 'dd/MM/yyyy'}}</b></td>
    </ng-container>

    <!-- numeroSolicitud Column -->
    <ng-container matColumnDef="numeroSolicitud">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Número de solicitud</th>
      <td mat-cell *matCellDef="let element">{{element.numeroSolicitud}}</td>
    </ng-container>

    <!-- tipoNovedad Column -->
    <ng-container matColumnDef="tipoNovedadNombre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo de novedad</th>
      <td mat-cell *matCellDef="let element">{{element.tipoNovedadNombre}}</td>
    </ng-container>

    <!-- estadoNovedad Column -->
    <ng-container matColumnDef="estadoNovedadNombre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado de la novedad</th>
      <td mat-cell *matCellDef="let element">{{element.estadoNovedadNombre}}</td>
    </ng-container>

    <!-- estadoRegistro Column -->
    <ng-container matColumnDef="registroCompleto">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado del registro</th>
      <td mat-cell *matCellDef="let element">
        <span class="info-text d-block m-0" 
          [class.sin-diligenciar]="element.registroCompleto !== true"
          [class.completo]="element.registroCompleto === true"></span>
        {{element.registroCompleto === true ? 'Completo' : 'Incompleto'}}
      </td>
    </ng-container>

    <!-- Id Column -->
    <ng-container matColumnDef="novedadContractualId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Gestión</th>
      <td mat-cell *matCellDef="let element">
        <a mat-button color="warn" mat-raised-button color="accent" class="btn-table"
          [routerLink]="[ 'verDetalle', element.novedadContractualId ]">
          Ver detalle
        </a>
        <button mat-button color="warn" mat-raised-button color="accent" class="btn-table" type="button"
          (click)="aprobarSolicitud(element.novedadContractualId)">
          Aprobar solicitud
        </button>
        <button mat-button color="warn" mat-raised-button color="accent" class="btn-table" type="button"
          (click)="rechazarSolicitud(element.novedadContractualId)">
          Rechazar solicitud
        </button>
        <a mat-button color="warn" mat-raised-button color="accent" class="btn-table"
          [routerLink]="[ 'qwerty', element.novedadContractualId ]">
          Ver detalle/Editar
        </a>
        <button mat-button color="warn" mat-raised-button color="accent" class="btn-table" type="button"
          (click)="openDialogSiNo('', '<b>¿Está seguro de eliminar este registro?</b>',element.novedadContractualId)"
          >
          Eliminar
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator [length]="dataSource?.data.length" [pageIndex]="0" [pageSize]="5"
    [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>
