<section class="container text-center">
    <div class="text-right">
        <a routerLink="/gestionarTramiteLiquidacionContractual/verificarRequisitos/1" mat-button color="primary"
            class="btn-regresar">
            <img src="assets/img/icon/regresar.svg" alt="Regresar">
        </a>
    </div>
    <h1 class="title-menu--h1">
        <ng-container *ngIf="esVerDetalle === true; else noEsVerDetalle">
            Ver detalle verificación balance LL457326
        </ng-container>
        <ng-template #noEsVerDetalle>
            {{ esRegistroNuevo === true ? 'Verificar' : 'Ver detalle/Editar' }} balance LL457326
        </ng-template>  
    </h1>
    <p class="info-sub-title">
        <span>Número de contrato de obra: <b>N801801</b></span>
        <span>Número de contrato de interventoria: <b>A513513</b></span>
    </p>
    <mat-card class="shipping-card var-main-gris">
        <mat-card-content align="left">
            <p><strong>Tipo de intervención: </strong><em>Remodelación</em></p>
            <p><strong>Institución Educativa: </strong><em>I.E Nuestra Señora Del Carmen</em></p>
            <p><strong>Sede: </strong><em>Única Sede</em></p>
            <p><strong>Departamento: </strong><em>Boyacá</em></p>
            <p><strong>Municipio: </strong><em>Susacón</em></p>
        </mat-card-content>
    </mat-card>
    <div class="tabs--actions">
        <button mat-raised-button color="accent" class="tabs--btn"
            (click)="this.irRecursosComprometidos(this.balanceFinancieroId)">
            Recursos comprometidos y pagados
        </button>
        <button mat-raised-button color="accent" class="tabs--btn"
            (click)="this.verEjecucionFinanciera(this.balanceFinancieroId)">
            Ejecución financiera por componente
        </button>
        <button mat-raised-button color="accent" class="tabs--btn" (click)="this.verTrasladoRecursos(this.balanceFinancieroId)">
            Traslados de recursos
        </button>
    </div>
    <app-observaciones-supervisor *ngIf="listaTipoObservacionLiquidacionContratacion && listaMenu && contratacionProyectoId" [contratacionProyectoId] = "contratacionProyectoId" [padreId] = "balanceFinancieroId" [tipoObservacionCodigo]="listaTipoObservacionLiquidacionContratacion.balanceFinanciero" [menuId]="listaMenu.aprobarSolicitudLiquidacionContratacion" [esVerDetalle] = "esVerDetalle"></app-observaciones-supervisor>
    <app-form-observacion-balance *ngIf="!esVerDetalle && listaTipoObservacionLiquidacionContratacion && listaMenu && contratacionProyectoId" [contratacionProyectoId] = "contratacionProyectoId" [balanceFinancieroId] = "balanceFinancieroId" [tipoObservacionCodigo]="listaTipoObservacionLiquidacionContratacion.balanceFinanciero" [menuId]="listaMenu.gestionarSolicitudLiquidacionContratacion"></app-form-observacion-balance>
</section>