.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
  justify-content: left;
}

.example-margin {
  margin: 0 10px;
}

.w-100 {
  width: 100%;
}

.w-80 {
  width: 80%;
}

.mt-2em {
  margin-top: 2em;
}

.mt-1em {
  margin-top: .8em;
}

.ml-5em {
  margin-left: 5em;
}