<section class="container">
    <div class="text-right">
        <a routerLink="/comiteTecnico" mat-button color="primary" class="btn-regresar">
            <img src="assets/img/icon/regresar.svg" alt="Regresar">
        </a>
    </div>
    <div class="text-center">
        <h1 class="title-menu--h1">
          <ng-container *ngIf="esVerDetalle === true; else noEsVerDetalle">
              Ver detalle sesión {{ objetoComiteTecnico.numeroComite }}
          </ng-container>
          <ng-template #noEsVerDetalle>
              {{ esRegistroNuevo === true ? 'Registrar' : 'Ver detalle/Editar' }} sesión {{ objetoComiteTecnico.numeroComite }}
          </ng-template>
        </h1>
        <p *ngIf="esVerDetalle === true"></p>
        <p *ngIf="esVerDetalle !== true" class="info-container">
            <span class="info-text sin-diligenciar">Sin diligenciar</span>
            <span class="info-text en-proceso">En proceso</span>
            <span class="info-text completo">Completo</span>
        </p>
    </div>

    <mat-accordion>
        <mat-expansion-panel class="expansion-style">
            <mat-expansion-panel-header class="expansion-style--header">
                <mat-panel-title class="expansion-style--title" [ngClass]="{'completo': esVerDetalle !== true}">
                    Validación de solicitudes contractuales
                </mat-panel-title>
            </mat-expansion-panel-header>
            <button
                (click)="tablaValidaciones.cargarRegistro()"
                style="display: none;"
                id="btnTablaValidaciones"
            ></button>
            <app-tabla-validacion-solicitudes-contractuales
                #tablaValidaciones
                [ObjetoComiteTecnico]="objetoComiteTecnico"
                >
            </app-tabla-validacion-solicitudes-contractuales>
        </mat-expansion-panel>
        <mat-expansion-panel class="expansion-style">
            <mat-expansion-panel-header class="expansion-style--header">
                <mat-panel-title class="expansion-style--title" [ngClass]="{'completo': esVerDetalle !== true}">
                    Otros temas
                </mat-panel-title>
            </mat-expansion-panel-header>

            <button
                type="button"
                (click)="tablaOtros.cargarRegistros()"
                style="display: none;"
                id=btnOtros>
            </button>

            <app-tabla-otros-temas
                #tablaOtros
                [objetoComiteTecnico]="objetoComiteTecnico"
                >
            </app-tabla-otros-temas>
        </mat-expansion-panel>
        <mat-expansion-panel class="expansion-style">
            <mat-expansion-panel-header class="expansion-style--header">
                <mat-panel-title class="expansion-style--title" [ngClass]="{estadoAcordeon: esVerDetalle !== true}">
                    Proposiciones y varios
                </mat-panel-title>
            </mat-expansion-panel-header>

            <button
                type="button"
                (click)="proposiciones.cargarRegistros()"
                style="display: none;"
                id=btnProposiciones>
            </button>

            <app-form-proposiciones-varios
                #proposiciones
                [objetoComiteTecnico]="objetoComiteTecnico"
                [esVerDetalle]= "esVerDetalle"
                (semaforo)="changeSemaforo($event)"
            >
        </app-form-proposiciones-varios>
        </mat-expansion-panel>
    </mat-accordion>

    <div class="text-center mt-2em mb-2em">
        <button *ngIf="esVerDetalle !== true"  mat-raised-button color="accent" [disabled]="!cargoRegistro" class="btn-ancho" (click)="openDialogAplazarSesion()">Aplazar sesión</button>
        <button *ngIf="esVerDetalle !== true"  mat-raised-button color="accent" [disabled]="!cargoRegistro" class="btn-ancho" (click)="fallida()">Declarar fallida </button>
        <a
          *ngIf="esVerDetalle !== true && esRegistroNuevo === true"
          routerLink="registrarParticipantes"
          [disabled]="!cargoRegistro"
          mat-raised-button color="accent"
          class="btn-ancho"
        >
          Registrar participantes
        </a>
        <a *ngIf="esVerDetalle !== true && esRegistroNuevo === true"
          routerLink="verDetalleEditarParticipantes"
          [disabled]="!cargoRegistro"
          mat-raised-button color="accent"
          class="btn-ancho"
        >
          Ver/Editar participantes
        </a>
        <a *ngIf="esVerDetalle === true"
          routerLink="verDetalleParticipantes"
          [disabled]="!cargoRegistro"
          mat-raised-button color="accent"
          class="btn-ancho"
        >
          Ver Detalle participantes
        </a>
    </div>
</section>
