<div class="container text-center">
    <div class="text-right">
        <a routerLink="/gestionarTramiteControversiasContractuales" mat-button color="primary" class="btn-regresar">
            <img src="assets/img/icon/regresar.svg" alt="Regresar">
        </a>
    </div>
    <h1 class="title-menu--h1">
        Actualizar trámite solicitud {{this.codigoSolicitud}}
    </h1>
    <div>
        <mat-card class="shipping-card mainGris">
            <mat-card-content style="text-align: left;">
                <p><strong>Fecha de solicitud:</strong> {{this.fechaSolicitud | date:'dd/MM/yyyy'}}</p>
                <p><strong>Número del contrato:</strong> {{this.numeroContrato}}</p>
                <p><strong>Tipo de Controversia:</strong> {{this.tipoControversia}}</p>
            </mat-card-content>
        </mat-card>
        <div *ngIf="this.tipoControversia=='Terminación anticipada por incumplimiento (TAI)'">
            <div class="tabs--actions">
                <button mat-raised-button color="accent" class="tabs--btn" [ngClass]="{'active': opcion1 === true}"
                    (click)="opcion1 = true; opcion2 = false;">
                    Actuaciones
                </button>
                <button mat-raised-button color="accent" class="tabs--btn" [ngClass]="{'active': opcion2 === true}"
                    (click)="opcion2 = true; opcion1 = false;">
                    Reclamaciones
                </button>
            </div>
            <app-control-y-tabla-actua-tramite-cc *ngIf="opcion1"></app-control-y-tabla-actua-tramite-cc>
            <!--<app-control-y-tabla-actuacion-reclamacion *ngIf="opcion2"></app-control-y-tabla-actuacion-reclamacion>-->
            <app-control-y-tabla-reclamacion-cc *ngIf="opcion2"></app-control-y-tabla-reclamacion-cc>
        </div>
        <div *ngIf="this.tipoControversia!='Terminación anticipada por incumplimiento (TAI)'">
            <div class="tabs--actions">
                <button mat-raised-button color="accent" class="tabs--btn" [ngClass]="{'active': opcion1 === true}"
                    (click)="opcion1 = true; opcion2 = false;">
                    Actuaciones
                </button>
                <button mat-raised-button color="accent" class="tabs--btn" [ngClass]="{'active': opcion2 === true}"
                    (click)="opcion2 = true; opcion1 = false;">
                    Mesas de trabajo
                </button>
            </div>
            <app-control-y-tabla-actuaciones-no-tai *ngIf="opcion1"></app-control-y-tabla-actuaciones-no-tai>
            <!--<app-control-y-tabla-actuacion-mt *ngIf="opcion2"></app-control-y-tabla-actuacion-mt>-->
            <app-control-y-tabla-mesas-trabajo-cc *ngIf="opcion2"></app-control-y-tabla-mesas-trabajo-cc>
        </div>
    </div>
</div>