span {
  color: #174193;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}

.mr-right-1 {
  margin-right: .5em;
}

.mr-bottom-2 {
  margin-bottom: 2em;
}

.flex-column {
  margin-top: 1em;
  display: flex;
  flex-flow: column;
}

.w-30 {
  width: 30%;
}

.text-area-quill--label.header {
  color: var(--mainColor);
  font-weight: 500;
  font-size: 20px;
  margin-left: 0.2em;
}
