<div class="container">
  <div class="text-right">
    <a routerLink="/compromisosActasComite" mat-button color="primary" class="btn-regresar">
      <img src="assets/img/icon/regresar.svg" alt="Regresar" />
    </a>
  </div>

  <div *ngIf="comite.estadoCodigo === undefined || comite.estadoCodigo === '1'">
    <div class="text-center">
      <h1 class="title-menu--h1">Reportar avance compromiso {{ comite.numeroComite }}</h1>
    </div>

    <div class="text-center flex-column">
      <h3 style="color: #174193; font-size: 1.5em">
        <b>{{ comite.compromiso }}</b>
      </h3>
      <span style="font-size: 1.2em"> <b>Fecha limite</b>: {{ comite.fechaCumplimiento | date: 'dd/MM/yyyy' }} </span>
    </div>
  </div>

  <div *ngIf="comite.estadoCodigo === '2'">
    <div class="text-center">
      <h1 class="title-menu--h1">Ver detalle/ Editar avance compromiso {{ comite.numeroComite }}</h1>
    </div>

    <div class="text-center flex-column">
      <h3 style="color: #174193; font-size: 1.5em">
        <b>{{ comite.compromiso }}</b>
      </h3>
      <span style="font-size: 1.2em"> <b>Fecha limite</b>: {{ comite.fechaCumplimiento | date: 'dd/MM/yyyy' }} </span>
    </div>
  </div>

  <div *ngIf="comite.estadoCodigo === '3'">
    <div class="text-center">
      <h1 class="title-menu--h1">Ver detalle compromiso {{ comite.numeroComite }}</h1>
    </div>

    <div class="text-center flex-column">
      <h3 style="color: #174193; font-size: 1.5em">
        <b>{{ comite.compromiso }}</b>
      </h3>
      <span style="font-size: 1.2em"> <b>Fecha limite</b>: {{ comite.fechaCumplimiento | date: 'dd/MM/yyyy' }} </span>
    </div>
  </div>

  <app-tabla-detalle-compromiso
    *ngIf="comite.estadoCodigo === '3' || comite.estadoCodigo === '2' || comite.estadoCodigo === '1'"
    [compromisoId]="comite.compromisoId"
    [tipoCompromiso]="comite.tipoSolicitud"
  ></app-tabla-detalle-compromiso>

  <div
    class="text-center flex mb-2em"
    *ngIf="comite.estadoCodigo === undefined || comite.estadoCodigo === '1' || comite.estadoCodigo === '2'"
  >
    <div class="mr-right-1">
      <label>Estado del compromiso</label>
    </div>

    <div class="w-30">
      <mat-form-field>
        <mat-select [(ngModel)]="estadoCodigo" required>
          <mat-option *ngFor="let estado of estados" [value]="estado.value">
            {{ estado.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div *ngIf="comite.estadoCodigo === undefined || comite.estadoCodigo === '1' || comite.estadoCodigo === '2'">
    <div
      *ngIf="reporte.invalid && reporte.touched"
      class="animateDown my-1em color-secondaryColor d-flex align-items-center justify-content-center"
    >
      <img class="icon-incompleto--img mr-05em" src="assets/img/icon/incompleto.svg"               alt="este campo es requerido"
              [matTooltipPosition]="'above'"
              matTooltip="Debe ingresar la información en el campo para continuar"
              matTooltipClass="info-tooltip" />
      Debe ingresar la información en el campo para continuar
    </div>
    <form autocomplete="off" [formGroup]="reporte" (ngSubmit)="onSubmit()">
      <div class="d-flex align-items-center">
        <div
          class="text-area-quill"
          [class.color-secondaryColor]="
            (reporte.get('reporteEstado').invalid && reporte.get('reporteEstado').touched) ||
            (reporte.get('reporteEstado').invalid && estaEditando)
          "
        >
          <label for="reporteEstado" class="text-area-quill--label header">Gestión realizada</label>
          <quill-editor
            class="quill-editor-style"
            [styles]="editorStyle"
            [modules]="config"
            (onContentChanged)="maxLength($event, 500)"
            formControlName="reporteEstado"
            required
          ></quill-editor>
        </div>
        <span class="contador miles" *ngIf="reporte.get('reporteEstado').value !== null">
          {{ 500 - textoLimpio(reporte.get('reporteEstado').value, 500) }}
        </span>
        <span class="contador miles" *ngIf="reporte.get('reporteEstado').value === null"> 500 </span
        ><span class="icon-incompleto">
          <img
            class="icon-incompleto--img"
            src="assets/img/icon/incompleto.svg"
                          alt="este campo es requerido"
              [matTooltipPosition]="'above'"
              matTooltip="Debe ingresar la información en el campo para continuar"
              matTooltipClass="info-tooltip"
            *ngIf="
              (reporte.get('reporteEstado').invalid && reporte.get('reporteEstado').touched) ||
              (reporte.get('reporteEstado').invalid && estaEditando)
            "
          />
        </span>
      </div>
      <div class="text-center">
        <button mat-button color="warn" class="btn-guardar mr-bottom-2" type="submit">
          <img src="assets/img/icon/guardar.svg" alt="Guardar" />
        </button>
      </div>
    </form>
  </div>
</div>
