<section class="container"  *ngIf="data != null">
  <div class="text-center">
    <div class="text-right">
      <a routerLink="./.." mat-button color="primary" class="btn-regresar">
        <img src="assets/img/icon/regresar.svg" alt="Regresar" />
      </a>
    </div>
    <h1 class="title-menu--h1">
      Ejecución financiera por componente
      {{ data.llaveMen }}
    </h1>
    <p class="colorMainColor mt-1em">
      <span class="mx-1em"> Número de contrato de obra: <b> {{ data.numeroContratoObra }} </b> </span>
      <span class="mx-1em"> Número de contrato de interventoría: <b> {{ data.numeroContratoInterventoria }} </b> </span>
    </p>
  </div>

  <mat-card class="shipping-card var-main-gris">
    <mat-card-content>
      <p>
        <strong>
          Tipo de intervención:
        </strong>
        {{ data.tipoIntervencion }}
      </p>
      <p>
        <strong>
          Institución Educativa:
        </strong>
        {{ data.institucionEducativa }}
      </p>
      <p>
        <strong>
          Sede:
        </strong>
        {{ data.sedeEducativa }}
      </p>
      <p>
        <strong>
          Departamento:
        </strong>
        {{ data.departamento }}
      </p>
      <p>
        <strong>
          Municipio:
        </strong>
        {{ data.municipio }}
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="shipping-card var-main-gris">
    <mat-card-header class="header-card header-card--margin">
      <mat-card-title class="header-card--text">
        Ejecución presupuestal
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-tabla-ejpresupuestal-gbftrec [data]="dataTableEjpresupuestal"></app-tabla-ejpresupuestal-gbftrec>
    </mat-card-content>
  </mat-card>

  <mat-card class="shipping-card var-main-gris">
    <mat-card-header class="header-card header-card--margin">
      <mat-card-title class="header-card--text">
        Ejecución financiera
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-tabla-ejfinanciera-gbftrec [data]="dataTableEjfinanciera"></app-tabla-ejfinanciera-gbftrec>
    </mat-card-content>
  </mat-card>
</section>
