table th {
  background-color: #474747;
  border-color: white;
}

table td{
  border-color: #474747;
  color: #474747;
}

.w-20 {
  width: 25%;
}

.back-color {
  background-color: #000000b8;
}

.color-text {
color: #000000b8;
border-color: #000000b8 !important;
}

.border-color-detalle {
  color: rgb(63, 63, 63) !important;
  border-bottom: 1.5px solid#000000b8 !important;
  border-right: 1.5px solid#000000b8 !important;
}

.h-3em {
  height: 3em;
}

.sub-item-table {
  display: block;
  &:not(:first-child) {
      border-top: solid 1px var(--mainColor);
  }
}

.padding-0em {
  padding: 0em 0em !important;
}

.flex-table {
  display: flex !important;
}