<mat-card class="shipping-card var-main-gris">
  <mat-card-header class="header-card header-card--margin">
    <mat-card-title class="mat-card-title header-card--text">
      Recibo a satisfacción
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      <strong>
        URL Acta de recibo a satisfacción - Obra:
      </strong>
      {{ report.proyecto.informeFinal[0].urlActa }}
    </p>
    <p>
      <strong>
        Fecha de suscripción:
      </strong>
      {{ report.proyecto.informeFinal[0].fechaSuscripcion  | date:'dd/MM/yyyy' }}
    </p>
  </mat-card-content>
</mat-card>

<mat-card class="shipping-card var-main-gris" *ngIf="existeObservacion">
  <mat-card-header class="header-card header-card--margin">
    <mat-card-title class="mat-card-title header-card--text">
      Verificación del apoyo a la supervisión
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <strong> {{ report.proyecto.informeFinal[0].informeFinalObservaciones[0].fechaCreacion | date:'dd/MM/yyyy' }}</strong>
    <p>
      <strong>
        ¿Tiene observaciones al recibo a satisfacción?:
      </strong>
      <span *ngIf="report.proyecto.informeFinal[0].tieneObservacionesValidacion"> Si</span>
      <span *ngIf="!report.proyecto.informeFinal[0].tieneObservacionesValidacion"> No</span>
    </p>
    <p *ngIf="report.proyecto.informeFinal[0].tieneObservacionesValidacion" [innerHTML]="report.proyecto.informeFinal[0].informeFinalObservaciones[0].observaciones">
    </p>
  </mat-card-content>
</mat-card>