<div class="table-responsive">
    <table mat-table [dataSource]="dataSource" matSort class="mr-table">
    
      <ng-container matColumnDef="concepto">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Concepto </th>
        <td mat-cell *matCellDef="let element" align="center" class="color-text"> <b>{{ element.concepto }}</b> </td>
        <td *matFooterCellDef [attr.colspan]="2" align="center" class="auxiliarTd"> <b>Valor total</b> </td>
      </ng-container>
    
      <ng-container matColumnDef="descuento">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Descuento </th>
        <td mat-cell *matCellDef="let element" align="center" class="color-text"> {{ element.descuento }} </td>
        <td *matFooterCellDef align="center" style="border-right: 1px solid; border-bottom: 1px solid;">$60.000</td>
      </ng-container>

      <ng-container *ngFor="let columna of ELEMENT_DATA" [matColumnDef]="columna.name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ columna.titulo }} </th>
        <td mat-cell *matCellDef="let element" align="center" class="color-text"> ${{element[columna.name]}} </td>
        <td *matFooterCellDef></td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
    </table>
  </div>
