.full-width {
  width: 100%;
}

.shipping-card {
  min-width: 120px;
  margin: 20px auto;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}

.text-info--close.mat-icon-button {
  margin-right: 1em;
  img {
    height: 1.6em;
    width: 1.6em;
    margin-top: -14px;
  }
}

.mat-radio-group {
  display: flex;
}

.mat-radio-button {
  margin-right: .5em;
}