.input {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
  color: var(--mainColor);
  // margin-top: 2em;
}

.input-file-text {
  border-bottom: solid 0.5px;
  padding: 0.5em;
  height: 20px;
  width: 55em;
  max-width: calc(100% - 9em);
  margin-right: 0.5em;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.w-90 {
  width: 90%;
}

.w-80 {
  width: 80%;
}

.w-60 {
  width: 73%;
}

.w-20 {
  width: 20%;
}

.mt-1em {
  margin-top: 1em;
}
.mr-3em {
  margin-top: 3em;
}

.mr-bottom-1 {
  margin-bottom: 1em;
}

.mr-label {
  margin-right: 0.5em;
  margin-top: 1.5em;
}

.align-text {
  margin-right: 7em;
  color: #757575;
}
.margin-picker {
  margin-top: 0.8em;
}

.required {
  position: relative;

  &::after {
    content: "*";
    position: absolute;
    right: 0;
    top: 0.6em;
    font-weight: 600;
    color: #174193;
  }
}
