.input-file {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
  color: var(--mainColor);
}

.input-file-text {
  border-bottom: solid .5px;
    padding: .5em;
    height: 20px;
    width: 45em;
    max-width: calc(100% - 9em);
    margin-right: 0.5em;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.w-90 {
  width: 90%;
}
.w-20 {
  width: 20%;
}

.mt-1em {
  margin-top: 1em;
}
.mr-3em {
  margin-top: 3em;
};

.mr-label {
  margin-right: 0.5em;
  margin-top: 1.5em;
}