<form autocomplete="off" [formGroup]="dataFormulario" (ngSubmit)="guardar()">
  <div class="container">
    <div class="d-flex mt-1em">
      <label class="mr-label">Fecha de envío de documentación física para el trámite</label>
      <mat-form-field class="w-20" 
                      appearance="fill">
        <input  matInput 
                [matDatepicker]="picker" 
                formControlName="fechaEnvioTramite">
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <button mat-button 
              color="primary" 
              type="button" 
              (click)="picker.open()" 
              class="btn-calendario">
        <img  class="mr-bottom-1" 
              src="assets/img/icon/calendarioCirculo.svg" 
              alt="Abrir Calendario">
      </button>
    </div>

    <div class="d-flex mt-1em">
      <label class="mr-label">Observaciones</label>
      <quill-editor class="quill-editor-style w-60" 
                    [styles]="editorStyle"
                    [modules]="config"
                    (onContentChanged)="maxLength($event, 2000)" 
                    formControlName="observaciones"></quill-editor>
      <span class="contador miles" *ngIf="dataFormulario.get('observaciones').value !== null">
        {{2000 - textoLimpio(dataFormulario.get('observaciones').value)}}
      </span>
      <span class="contador miles" *ngIf="dataFormulario.get('observaciones').value === null">
        2000
      </span>
    </div>

    <div class="d-flex">
      <label class="mr-3em">Minuta adjunta</label>
      <div class="input w-80">
        <span class="input-file-text text-center">{{archivo}}</span>
        <button mat-raised-button 
                color="primary" 
                type="button" 
                (click)="fileInput.click()" 
                class="input-file--btn">
                Adjuntar
        </button>
        <input  hidden 
                (change)="fileName( $event )" 
                #fileInput 
                type="file" 
                id="file" 
                formControlName="minuta" 
                accept=".doc,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document">
      </div>
    </div>
    <div class="container text-center">
      <p class="align-text"><small>Adjunte el documento que contenga la minuta del contrato</small></p>
    </div>

    <div class="text-center w-90">
      <button mat-button 
              color="warn" 
              class="btn-guardar" 
              type="submit" 
              [attr.disabled]="dataFormulario.get('fechaEnvioTramite').value===null">
              <img  src="assets/img/icon/guardar.svg" 
                    alt="Regresar">
      </button>
    </div>
  </div>

</form>