<div class="margin-90 text-center table-responsive">
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="w-25 back-color"> Fecha </th>
      <td mat-cell *matCellDef="let element" align="center" class="color-text">
        <b>{{ element.fecha | date: 'dd/MM/yyyy' }}</b> </td>
    </ng-container>

    <ng-container matColumnDef="observacion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="back-color"> Observación </th>
      <td mat-cell *matCellDef="let element" align="center" class="color-text">
        {{ textoLimpioMessage( element.observacion ) }} </td>
    </ng-container>

    <ng-container matColumnDef="nombres">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="back-color"> Miembro Comité </th>
      <td mat-cell *matCellDef="let element" align="center" class="color-text">
        {{ element.miembroSesionParticipante.nombres }} {{ element.miembroSesionParticipante.apellidos }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" class="radio-color-detalle"></mat-paginator>
</div>

<!-- dejo esto comentado porque falta la info de back -->
<!-- <p>
  <b>Fecha:</b>
  26/06/2020
</p>
<p class="d-flex">
  <b class="pr-05em">Observación:</b>
  <span class="ml-1em">
    En la solicitud PI-00004 de la pestaña de Validación de solicitudes contractuales es una solicitud de multiproyecto en
    la cual uno de los dos proyectos no fue aprobado, en este ya hay observaciones pero hace falta añadir que deben subir
    el soporte de las cotizaciones porque no se encuentra el soporte
  </span>
</p>
<p>
  <b>Miembro comité:</b>
  Gonzalo Díaz Mesa
</p> -->