<header class="header">
    <img src="assets/img/logo/FFIE.svg" alt="Fondo de Financiamiento de la Infraestructura Educativa" class="header--logo">
    <img src="assets/img/logo/asi-vamos-ffie.svg" alt="asi vamos ffie" class="header--logo" *ngIf="actualUser">
    <img src="assets/img/logo/minEdu.png" alt="Min educación" class="header--logo">
    <aside class="header--aside" *ngIf="actualUser">
        <p class="header--aside--usuario">{{actualUser | json}}</p>

        <p class="header--aside--rol">Administrador</p>
    </aside>
</header>