.header {
    border-top: solid 1em #174193;
    border-top: solid 1em var(--mainColor);
    border-bottom: solid 0.5em #174193;
    border-bottom: solid 0.5em var(--mainColor);
    padding: 1em;
    display: flex;
    justify-content: space-around;
    position: relative;
    flex-wrap: wrap;

    @media only screen and (min-width: 48em) {
        padding: 1em 17em;
    }

    &--logo {
        height: 2.5em;
        margin-bottom: 1em;
        @media only screen and (min-width: 48em) {
            height: 3.5em;
            width: 18em;
            object-fit: contain;
            margin-bottom: 0;
        }
    }

    &--aside{
        text-align: center;
        line-height: 1.2;
        color: #174193;
        color: var(--mainColor);
        max-width: 16.2em;
        @media only screen and (min-width: 48em) {
            position: absolute;
            right: .5em;
            top: 50%;
            transform: translateY(-50%);
        }

        &--usuario {
            margin-bottom: 0;
        }
        &--rol {
            margin-bottom: 0;
            font-weight: 700;
        }
    }
}
