<section class="container text-center" *ngIf="contrato !== undefined">
  <div class="text-right">
    <a routerLink="/generarPolizasYGarantias" mat-button color="primary" class="btn-regresar">
      <img src="assets/img/icon/regresar.svg" alt="Regresar" />
    </a>
  </div>
  <h1 class="title-menu--h1">Gestionar póliza contrato {{ contrato.numeroContrato }}</h1>
  <p class="info-sub-title">
    <span> Fecha de firma del contrato <b>{{ contrato.fechaFirmaContrato | date: 'dd/MM/yyyy' }}</b> </span>
    <span> <b>Contratación</b> </span>
    <span>Estado: <b>Con aprobación de pólizas</b></span>
  </p>
</section>
<section class="container" *ngIf="contrato !== undefined">
  <mat-card class="shipping-card var-main-gris">
    <mat-card-content>
      <p> <strong>Tipo de contrato:</strong> <i> {{ getTipoSolicitud( contrato.contratacion.tipoSolicitudCodigo ) }} </i> </p>
      <section>
        <p> <strong>Objeto:</strong> </p>
        <div [innerHTML]="contrato.contratacion.disponibilidadPresupuestal[ 0 ].objeto"></div>
      </section>
      <p><strong>Nombre del contratista:</strong> <i> {{ firstLetterUpperCase( contrato.contratacion.contratista.nombre ) }} </i> </p>
      <p> <strong>Tipo de identificación:</strong> <i> {{ getTipoDocumento( contrato.contratacion.contratista.tipoIdentificacionCodigo ) }} </i> </p>
      <p> <strong>Número de identificación:</strong> <i>  {{ contrato.contratacion.contratista.numeroIdentificacion }} </i> </p>
      <p> <strong>Valor del contrato:</strong> <i> {{ contrato.contratacion.disponibilidadPresupuestal[ 0 ].valorSolicitud | currency: '':'symbol':'3.0' }} </i> </p>
      <p> <strong>Plazo:</strong> <i> {{ contrato.contratacion.disponibilidadPresupuestal[ 0 ].plazoMeses }} meses / {{ contrato.contratacion.disponibilidadPresupuestal[ 0 ].plazoDias }} días </i> </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="shipping-card var-main-gris">
    <mat-card-content>
      <p><strong>Nombre de la aseguradora:</strong> <i> {{ addressForm.get( 'nombre' ).value }} </i> </p>
      <p><strong>Número de la póliza:</strong> <i> {{ addressForm.get( 'numeroPoliza' ).value }} </i> </p>
      <p><strong>Número de certificado:</strong> <i> {{ addressForm.get( 'numeroCertificado' ).value }} </i> </p>
      <p><strong>Fecha de expedición de la póliza:</strong> <i> {{ addressForm.get( 'fecha' ).value | date: 'dd/MM/yyyy' }} </i> </p>

      <h2 class="card-subTitle">Pólizas y seguros</h2>
      <!-- Por integrar -->
      <div class="d-flex" style="margin-left: .5em;">
        <b>Pólizas y seguros :</b>
        <div class="d-flex" *ngFor="let codigo of addressForm.get( 'polizasYSeguros' ).value; index as i">
          <p style="margin-left: .3em;"> <i> {{ getSeguro( codigo ) }} </i> </p> <span *ngIf="addressForm.get( 'polizasYSeguros' ).value.length !== i + 1">,</span><span *ngIf="addressForm.get( 'polizasYSeguros' ).value.length === i + 1">.</span>
        </div>
      </div>
      <div *ngFor="let seguro of seguros.controls">
        <mat-card-title class="header-card--text alineacion-titulos2 mt-1em">
          {{ firstLetterUpperCase( seguro.get( 'nombre' ).value ) }}
        </mat-card-title>

        <div style="margin-left: .5em;">
          <p *ngIf="seguro.get( 'esIncluidaPoliza' ).value === true"><strong>¿Está incluida en la póliza presentada?:</strong> <i> Si </i> </p>
          <p *ngIf="seguro.get( 'esIncluidaPoliza' ).value === false"><strong>¿Está incluida en la póliza presentada?:</strong> <i> No </i> </p>

          <div *ngIf="seguro.get( 'esIncluidaPoliza' ).value === true">
            <p><strong>Vigencia de la póliza:</strong> <i> {{ seguro.get( 'vigencia' ).value | date: 'dd/MM/yyyy' }} </i> </p>
            <p><strong>Vigencia del amparo:</strong> <i> {{ seguro.get( 'vigenciaAmparo' ).value | date: 'dd/MM/yyyy' }} </i> </p>
            <p><strong>Valor del amparo:</strong> <i> {{ seguro.get( 'valorAmparo' ).value | currency:'':'symbol-narrow':'.0-0' }} </i> </p>
          </div>
        </div>
      </div>

      <h2 class="card-subTitle">Lista de chequeo</h2>
      <p *ngIf="addressForm.get( 'cumpleAsegurado' ).value === true"><strong>¿Cumple con los datos del Asegurado/ Beneficiario?:</strong> <i> Si </i> </p>
      <p *ngIf="addressForm.get( 'cumpleAsegurado' ).value === false"><strong>¿Cumple con los datos del Asegurado/ Beneficiario?:</strong> <i> No </i> </p>
      <p *ngIf="addressForm.get( 'cumpleBeneficiario' ).value === true"><strong>¿Cumple con los datos del Beneficiario cuando se trate de garantía bancaria?:</strong> <i> Si </i> </p>
      <p *ngIf="addressForm.get( 'cumpleBeneficiario' ).value === false"><strong>¿Cumple con los datos del Beneficiario cuando se trate de garantía bancaria?:</strong> <i> No </i> </p>
      <p *ngIf="addressForm.get( 'cumpleAfianzado' ).value === true"><strong>¿Cumple con los datos del Tomador / Afianzado?:</strong> <i> Si </i> </p>
      <p *ngIf="addressForm.get( 'cumpleAfianzado' ).value === false"><strong>¿Cumple con los datos del Tomador / Afianzado?:</strong> <i> No </i> </p>
      <p *ngIf="addressForm.get( 'reciboDePago' ).value === true"><strong>¿Se incluye el recibo de pago con los datos requeridos?:</strong> <i> Si </i> </p>
      <p *ngIf="addressForm.get( 'reciboDePago' ).value === false"><strong>¿Se incluye el recibo de pago con los datos requeridos?:</strong> <i> No </i> </p>
      <p *ngIf="addressForm.get( 'condicionesGenerales' ).value === true"><strong>¿Se incluyen las condiciones generales de la póliza/ o su clausulado?:</strong> <i> Si </i> </p>
      <p *ngIf="addressForm.get( 'condicionesGenerales' ).value === false"><strong>¿Se incluyen las condiciones generales de la póliza/ o su clausulado?:</strong> <i> No </i> </p>
    </mat-card-content>
  </mat-card>
  <mat-card class="shipping-card var-main-gris" *ngIf="ultimaRevision !== undefined">
    <mat-card-header class="header-card">
      <mat-card-title class="header-card--text">
        Revisión
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div style="margin-left: 2em;">
        <p> <strong>Fecha de la revisión:</strong> <i> {{ ultimaRevision.fechaRevision | date: 'dd/MM/yyyy' }} </i> </p>
        <p> <strong>Estado de la revisión:</strong> <i> {{ firstLetterUpperCase( getEstado( ultimaRevision.estadoRevisionCodigo ) ) }} </i> </p>
      </div>

      <h2 class="card-subTitle" *ngIf="ultimaRevision.estadoRevisionCodigo === estadosRevision.aprobacion">Aprobación</h2>

      <div style="margin-left: 2em;" *ngIf="ultimaRevision.estadoRevisionCodigo === estadosRevision.aprobacion">
        <p><strong>Fecha de aprobación:</strong> <i> {{ ultimaRevision.fechaAprobacion | date: 'dd/MM/yyyy' }} </i> </p>
        <p><strong>Responsable de aprobación:</strong> <i> {{ getResponsable( ultimaRevision.responsableAprobacionId ) }} </i> </p>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="shipping-card var-main-gris" *ngIf="contrato !== undefined">
    <mat-card-header class="header-card">
      <mat-card-title class="header-card--text">
        Observaciones generales
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <!--jflorez, quito esto pues ya tiene la tabla
        <div [innerHtml]="this.observaciones"></div>
      -->

      <div class="mt-1em" *ngIf="polizaObservacion.length > 0">
        <app-tabla-historial-observaciones-poliza [polizaObservacion]="polizaObservacion"></app-tabla-historial-observaciones-poliza>
      </div>
    </mat-card-content>
  </mat-card>
  
</section>