<div class="container text-center">
    <div class="text-right">
        <a routerLink="/gestionarTramiteControversiasContractuales/actualizarTramiteControversia" mat-button
            color="primary" class="btn-regresar">
            <img src="assets/img/icon/regresar.svg" alt="Regresar">
        </a>
    </div>
    <h1 class="title-menu--h1">
        Ver detalle {{this.actuacionNum}}
    </h1>
    <p class="info-sub-title">
        <span>Solicitud: <b>{{this.numSolicitud}}</b> Número del contrato: <b>{{this.numContrato}}</b> Tipo de controversia: <b>{{this.tipoControversia}}</b></span>
    </p>
    <div align="left">
        <mat-card class="shipping-card mainGris">
            <mat-card-content>
                <p><b>Estado de avance del trámite:</b> {{this.estadoAvanceTramite}}</p>
                <p><b>Fecha de la actuación adelantada:</b> {{this.fechaActuacionAdelantada}}</p>
                <p><b>Actuación adelantada:</b> {{this.actuacionAdelantada}}</p>
                <p><b>Próxima actuación requerida:</b>{{this.actuacionRequerida}}</p>
                <p *ngIf="this.actuacionRequerida=='Otra'"><b>Cual:</b></p>
                <div *ngIf="this.actuacionRequerida=='Otra'">
                    <div [innerHtml]="this.detalleOtra"></div>
                </div>
                <p><b>Días de vencimiento de términos para la próxima actuación requerida:</b> {{this.diasVencimiento}}</p>
                <p><b>Fecha de vencimiento de términos para la próxima actuación requerida:</b> {{this.fechaVencimiento}}</p>
                <p><b>¿Está actuación requiere la participación o insumo del contratista?:</b> {{this.requiereContratista}}</p>
                <p><b>¿Está actuación requiere la participación o insumo del interventor del contrato?:</b> {{this.requiereInterventor}}</p>
                <p><b>¿Está actuación requiere la participación o insumo del supervisor del contrato?:</b> {{this.requiereSupervisor}}</p>
                <p><b>¿Está actuación requiere la participación o insumo de la fiduciaria?:</b> {{ this.requiereFiduciaria}}</p>
                <p><b>¿Está actuación requiere comité técnico?:</b> {{ this.requiereComite}}</p>
                <p><b>Observaciones:</b></p>
                <div [innerHtml]="this.observaciones"></div> 
            </mat-card-content>
        </mat-card>
    </div>
    <div align="left">
        <mat-card class="shipping-card mainGris">
            <mat-card-header class="header-card">
                <mat-card-title class="header-card--text textoGris">
                    Soporte de la actuación
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p><b>URL con soporte:</b> {{this.rutaSoporte}}</p>
            </mat-card-content>
        </mat-card>
    </div>
</div>