<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-content>
      <h2 class="card-subTitle">Desarrollos</h2>
      <div class="row">
        <div class="pr-1">
          <span class="label-left">Fecha de la solicitud</span>
        </div>
        <div class="col">
          <b class="label-left colorMainColor">
            {{ sesionComiteSolicitud.fechaSolicitud | date: 'dd/MM/yyyy' }}
          </b>
        </div>
      </div>
      <div class="row">
        <div class="pr-1">
          <span class="label-left">Número de la solicitud</span>
        </div>
        <div class="col">
          <b class="label-left colorMainColor">
            {{ sesionComiteSolicitud.numeroSolicitud }}
          </b>
        </div>
      </div>
      <div class="row">
        <div class="pr-1">
          <span class="label-left">Tipo de solicitud</span>
        </div>
        <div class="col">
          <b class="label-left colorMainColor">
            {{ sesionComiteSolicitud.tipoSolicitud }}
          </b>
        </div>
      </div>
      <div class="row" *ngIf="sesionComiteSolicitud.tipoSolicitudCodigo == tiposSolicitud.AperturaDeProcesoDeSeleccion">
        <div class="pr-1">
          <span class="label-left">Justificación</span>
        </div>
        <div class="col">
          <p class="label-left colorMainColor pt-1 font-weight-lighter">
            {{ justificacion }}
          </p>
        </div>
      </div>
      <div class="row"
        *ngIf="sesionComiteSolicitud.tipoSolicitudCodigo == tiposSolicitud.ActualizacionCronogramaProcesoseleccion">
        <div class="pr-1">
          <span class="label-left">Número actualización</span>
        </div>
        <div class="col">
          <p class="label-left colorMainColor pt-1 font-weight-lighter">
            {{ sesionComiteSolicitud.numeroHijo }}
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col position-relative">
          <quill-editor class="quill-editor-style card" [styles]="editorStyle" [modules]="config" required
            (onContentChanged)="maxLength($event, 3000)" formControlName="desarrolloSolicitud" required></quill-editor>
        </div>
      </div>

      <h2 class="card-subTitle">Decisiones</h2>
      <div class="reparacion-card row" *ngIf="tieneVotacion">
        <div class="col-md-4">
          Resultado de la votación <b class="colorMainColor">{{ resultadoVotacion }}</b>
        </div>
        <div class="col-md-4 info-text completo">
          Aprobó <b class="colorMainColor"> {{ cantidadAprobado }} </b>
        </div>
        <div class="col-md-4 info-text sin-diligenciar">
          No aprobó <b class="colorMainColor"> {{ cantidadNoAprobado }} </b>
        </div>
      </div>

      <button (click)="solicitudMultiple.cargarRegistro()" style="display: none;" id="btnSolicitudMultiple"
        name="btnSolicitudMultiple" type="button"
        *ngIf="sesionComiteSolicitud.tipoSolicitudCodigo == tiposSolicitud.Contratacion">
      </button>

      <app-tabla-form-solicitud-multiple #solicitudMultiple [sesionComiteSolicitud]="sesionComiteSolicitud"
        [style.display]="getMostrarProyectos()" [Estadosolicitud]="getObservableEstadoSolicitud()"
        (ActualizarProyectos)="ActualizarProyectos($event)">
      </app-tabla-form-solicitud-multiple>

      <div class="row">
        <div class="col-md-8">
          <div class="row">
            <div class="pr-1">
              <label class="label-left" for="estadoSolicitud">Estado de la solicitud</label>
            </div>
            <div class="col">
              <mat-form-field class="select-width">
                <mat-select required formControlName="estadoSolicitud">
                  <mat-option *ngFor="let estado of estadosArray" [value]="estado.codigo">
                    {{ estado.nombre }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="pr-1">
          <label class="label-left" for="observaciones">Descripción</label>
        </div>
        <div class="col d-flex">
          <quill-editor class="quill-editor-style card position-relative" [styles]="editorStyle" [modules]="config"
            required (onContentChanged)="maxLength($event, 3000)" formControlName="observaciones" required>
          </quill-editor>
          <div class="d-flex align-items-center">
            <span class="contador miles" *ngIf="addressForm.get('observaciones').value">
              {{3000 - textoLimpio(addressForm.get('observaciones').value)}}
            </span>
            <span class="contador miles" *ngIf="!addressForm.get('observaciones').value">
              3000
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="pr-1">
          <label class="label-left" for="url">URL con soporte de votación</label>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput type="text" formControlName="url" maxlength="100">
          </mat-form-field>
        </div>
      </div>
      <h2 class="card-subTitle">Decisiones</h2>
      <div class="row">
        <div class="col-md-8">
          <div class="row">
            <div class="pr-1">
              <label class="label-left" for="tieneCompromisos">¿Este tema del orden del día generó compromisos?</label>
            </div>
            <div class="col">
              <mat-radio-group class="radioInput" formControlName="tieneCompromisos">
                <mat-radio-button [value]="true">Sí</mat-radio-button>
                <mat-radio-button [value]="false">No</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="addressForm.value.tieneCompromisos == true">
        <div class="col-md-10">
          <div class="row">
            <div class="pr-1">
              <label class="label-left" for="cuantosCompromisos">¿Cuántos compromisos se generaron en este tema del
                orden del día?</label>
            </div>
            <div class="col d-flex">
              <mat-form-field class="full-width">
                <input matInput #cuantosGrupos type="number" min="1" max="99" formControlName="cuantosCompromisos"
                  (keyup)="CambioCantidadCompromisos()">
              </mat-form-field>
              <span class="contador">{{2 - cuantosGrupos.value.length}}</span>
            </div>
          </div>
        </div>
      </div>

      <div formGroupName="compromisos">
        <div *ngFor="let compromiso of compromisos.controls; let i = index" [formGroupName]="i">
          <div>

            <mat-card-title class="header-card--text sub-text">
              Compromiso {{ i + 1 }}
            </mat-card-title>

            <div class="row">
              <div class="pr-1">
                <label class="label-left" for="tarea">Tarea</label>
              </div>
              <div class="col d-flex">
                <mat-form-field class="full-width">
                  <input matInput #tarea type="text" maxlength="100" formControlName="tarea">
                  <input type="hidden" formControlName="sesionSolicitudCompromisoId">
                  <input type="hidden" formControlName="sesionComiteSolicitudId">
                </mat-form-field>
                <span class="contador">{{100 - tarea.value.length}}</span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="pr-1">
              <label class="label-left" for="responsable">Responsable</label>
            </div>
            <div class="col">
              <mat-form-field class="select-width">
                <mat-select required formControlName="responsable">
                  <mat-option *ngFor="let estado of listaMiembros" [value]="estado">
                    {{ estado.nombre }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <div class="row">
                <div class="pr-1">
                  <label class="label-left" class="fecha">Fecha de consignación</label>
                </div>
                <div class="col d-flex">
                  <mat-form-field class="example-full-width">
                    <input matInput [matDatepicker]="picker" formControlName="fecha" readonly (click)="picker.open()">
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                  <button mat-button color="primary" type="button" (click)="picker.open()" class="btn-calendario">
                    <img src="assets/img/icon/calendarioCirculo.svg" alt="Abrir Calendario">
                  </button>
                </div>
              </div>
            </div>
            <div class="col md-4">
              <div class="text-right" *ngIf="2 > 1">
                <button mat-button color="warn" type="button" class="btn-eliminar" (click)="borrarArray(compromisos, i)"
                  *ngIf="compromisos.controls.length > 1">
                  <img src="assets/img/icon/menos.svg" alt="Eliminar vigencia">
                  Eliminar compromiso
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </mat-card-content>
  </mat-card>

  <div class="text-center">
    <button mat-button color="warn" class="btn-guardar" type="submit">
      <img src="assets/img/icon/guardar.svg" alt="Guardar">
    </button>
  </div>
</form>
