<section class="container text-center">
  <div class="text-right">
    <a routerLink="/generarPolizasYGarantias" mat-button color="primary" class="btn-regresar">
      <img src="assets/img/icon/regresar.svg" alt="Regresar">
    </a>
  </div>
  <h1 class="title-menu--h1">
    Ver detalle/Editar contrato {{this.numContrato}}
  </h1>
  <p class="info-sub-title">
    <span>Fecha de firma del contrato <b>{{this.fechaFirmaContrato}}</b></span>
    <span><b>{{this.tipoSolicitud}}</b></span>
    <span>Estado: <b>Con póliza observada y devuelta</b></span>
  </p>

</section>
<section class="container">
  <mat-card class="shipping-card var-main-gris">
    <mat-card-content>
      <p>
        <strong>Tipo de contrato:</strong>
        {{this.tipoContrato}}
      </p>
      <p>
        <strong>Objeto:</strong>
      </p>
      <p [innerHtml]="this.objeto">
      </p>
      <p>
        <strong>Nombre del contratista:</strong>
        {{this.nombreContratista}}
      </p>
      <p>
        <strong>Tipo de identificación:</strong>
        {{this.tipoIdentificacion}}
      </p>
      <p>
        <strong>Número de identificación:</strong>
        {{this.numeroIdentificacion}}
      </p>
      <p>
        <strong>Valor del contrato:</strong>
        ${{this.valorContrato}}
      </p>
      <p>
        <strong>Plazo:</strong>
        {{this.plazoContrato}}
      </p>
    </mat-card-content>
  </mat-card>
  <form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="shipping-card">
      <mat-card-content>
        <div class="row">
          <div class="pr-1">
            <label for="nombre" class="label-left"
              [ngClass]="{'color-secondaryColor' : addressForm.controls.nombre.invalid}">Nombre de la
              aseguradora</label>
          </div>
          <div class="col d-flex">
            <mat-form-field class="full-width">
              <input matInput #nombre type="text" maxlength="50" formControlName="nombre" required>
            </mat-form-field>
            <span class="contador">{{50 - nombre.value.length}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <div class="row">
              <div class="pr-1">
                <label for="numeroPoliza" class="label-left"
                  [ngClass]="{'color-secondaryColor' : addressForm.controls.numeroPoliza.invalid}">Número de la
                  póliza</label>
              </div>
              <div class="col d-flex">
                <mat-form-field class="full-width">
                  <input matInput #numeroPoliza type="text" maxlength="20" formControlName="numeroPoliza" required>
                </mat-form-field>
                <span class="contador">{{20 - numeroPoliza.value.length}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <div class="row">
              <div class="pr-1">
                <label for="numeroCertificado" class="label-left"
                  [ngClass]="{'color-secondaryColor' : addressForm.controls.numeroCertificado.invalid}">Número de
                  certificado</label>
              </div>
              <div class="col d-flex">
                <mat-form-field class="full-width">
                  <input matInput #numeroCertificado type="text" maxlength="20" formControlName="numeroCertificado"
                    required>
                </mat-form-field>
                <span class="contador">{{20 - numeroCertificado.value.length}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <div class="row">
              <div class="pr-1">
                <label class="label-left" for="fecha"
                  [ngClass]="{'color-secondaryColor' : addressForm.controls.fecha.invalid}">Fecha de expedición
                  de la póliza</label>
              </div>
              <div class="col d-flex align-items-center">
                <mat-form-field class="example-full-width">
                  <input matInput formControlName="fecha" [matDatepicker]="pickerFecha" [min]="minDate" readonly
                    (click)="pickerFecha.open()" required placeholder="DD/MM/AAAA">
                  <mat-datepicker #pickerFecha></mat-datepicker>
                </mat-form-field>
                <button mat-button color="primary" type="button" (click)="pickerFecha.open()" class="btn-calendario">
                  <img src="assets/img/icon/calendarioCirculo.svg" alt="Abrir Calendario">
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <div class="row">
              <div class="pr-1">
                <label class="label-left" for="vigenciaPoliza"
                  [ngClass]="{'color-secondaryColor' : addressForm.controls.vigenciaPoliza.invalid}">Vigencia de la
                  póliza</label>
              </div>
              <div class="col d-flex align-items-center">
                <mat-form-field class="example-full-width">
                  <input matInput formControlName="vigenciaPoliza" [matDatepicker]="pickerPoliza" [min]="minDate"
                    readonly (click)="pickerPoliza.open()" required placeholder="DD/MM/AAAA">
                  <mat-datepicker #pickerPoliza></mat-datepicker>
                </mat-form-field>
                <button mat-button color="primary" type="button" (click)="pickerPoliza.open()" class="btn-calendario">
                  <img src="assets/img/icon/calendarioCirculo.svg" alt="Abrir Calendario">
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <div class="row">
              <div class="pr-1">
                <label class="label-left" for="vigenciaAmparo"
                  [ngClass]="{'color-secondaryColor' : addressForm.controls.vigenciaAmparo.invalid}">Vigencia del
                  amparo</label>
              </div>
              <div class="col d-flex align-items-center">
                <mat-form-field class="example-full-width">
                  <input matInput formControlName="vigenciaAmparo" [matDatepicker]="pickerAmparo" [min]="minDate"
                    readonly (click)="pickerAmparo.open()" required placeholder="DD/MM/AAAA">
                  <mat-datepicker #pickerAmparo></mat-datepicker>
                </mat-form-field>
                <button mat-button color="primary" type="button" (click)="pickerAmparo.open()" class="btn-calendario">
                  <img src="assets/img/icon/calendarioCirculo.svg" alt="Abrir Calendario">
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <div class="row">
              <div class="pr-1">
                <label class="label-left" for="valorAmparo"
                  [ngClass]="{'color-secondaryColor' : addressForm.controls.valorAmparo.invalid}">
                  Valor del amparo
                </label>
              </div>
              <div class="col d-flex">
                <mat-form-field class="full-width">
                  <input matInput #valorAmparo currencyMask maxlength="20" required formControlName="valorAmparo"
                    (keypress)="validateNumberKeypress($event)"
                    onKeyPress="if(this.value.length>=this.maxLength) return false;"
                    [options]="{ prefix: '$ ', thousands: '.', precision: '0', align: 'center' }">
                </mat-form-field>
                <span class="contador" [matTooltipPosition]="'above'" matTooltip="Campo numérico"
                  matTooltipClass="info-tooltip">{{20 - valorAmparo.value.length}}</span>
              </div>
            </div>
          </div>
        </div>
        <h2 class="card-subTitle">Pólizas y seguros</h2>
        <div class="row">
          <div class="pr-1">
            <label class="label-left" for="polizasYSeguros"
              [ngClass]="{'color-secondaryColor' : addressForm.controls.polizasYSeguros.invalid}">Pólizas y seguros
              requeridos</label>
          </div>
          <div class="col">
            <mat-form-field class="select-width">
              <mat-select formControlName="polizasYSeguros" multiple required
                (selectionChange)="getvalues($event.value)">
                <mat-option *ngFor="let polizasYSeguros of polizasYSegurosArray" [value]="polizasYSeguros">
                  {{ polizasYSeguros.nombre }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div *ngIf="this.obj1==true">
          <mat-card-title class="header-card--text alineacion-titulos2 mt-1em" style="padding-left: 0px;">
            Buen manejo y correcta inversión del anticipo
          </mat-card-title>
          <div class="row">
            <div class="col-md-8">
              <div class="row">
                <div class="pr-1">
                  <label class="label-left" for="buenManejoCorrectaInversionAnticipo"
                    [ngClass]="{'color-secondaryColor' : addressForm.controls.buenManejoCorrectaInversionAnticipo.invalid}">¿Está
                    incluida en
                    la
                    póliza presentada?</label>
                </div>
                <div class="col">
                  <mat-radio-group class="radioInput" formControlName="buenManejoCorrectaInversionAnticipo" required>
                    <mat-radio-button [value]="true">Sí</mat-radio-button>
                    <mat-radio-button [value]="false">No</mat-radio-button>
                  </mat-radio-group>
                  <span class="required-form-group" style="margin-left: 1px;">*</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="this.obj2==true">
          <mat-card-title class="header-card--text alineacion-titulos2 mt-1em" style="padding-left: 0px;">
            Garantía de estabilidad y calidad de la obra
          </mat-card-title>
          <div class="row">
            <div class="col-md-8">
              <div class="row">
                <div class="pr-1">
                  <label class="label-left" for="estabilidadYCalidad"
                    [ngClass]="{'color-secondaryColor' : addressForm.controls.estabilidadYCalidad.invalid}">¿Está
                    incluida en
                    la póliza
                    presentada?</label>
                </div>
                <div class="col">
                  <mat-radio-group class="radioInput" formControlName="estabilidadYCalidad" required>
                    <mat-radio-button [value]="true">Sí</mat-radio-button>
                    <mat-radio-button [value]="false">No</mat-radio-button>
                  </mat-radio-group>
                  <span class="required-form-group" style="margin-left: 1px;">*</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="this.obj3==true">
          <mat-card-title class="header-card--text alineacion-titulos2 mt-1em" style="padding-left: 0px;">
            Póliza de cumplimiento
          </mat-card-title>
          <div class="row">
            <div class="col-md-8">
              <div class="row">
                <div class="pr-1">
                  <label class="label-left" for="polizaYCoumplimiento"
                    [ngClass]="{'color-secondaryColor' : addressForm.controls.polizaYCoumplimiento.invalid}">¿Está
                    incluida en
                    la póliza
                    presentada?</label>
                </div>
                <div class="col">
                  <mat-radio-group class="radioInput" formControlName="polizaYCoumplimiento" required>
                    <mat-radio-button [value]="true">Sí</mat-radio-button>
                    <mat-radio-button [value]="false">No</mat-radio-button>
                  </mat-radio-group>
                  <span class="required-form-group" style="margin-left: 1px;">*</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="this.obj4==true">
          <mat-card-title class="header-card--text alineacion-titulos2 mt-1em" style="padding-left: 0px;">
            Pólizas y seguros
          </mat-card-title>
          <div class="row">
            <div class="col-md-8">
              <div class="row">
                <div class="pr-1">
                  <label class="label-left" for="polizasYSegurosCompleto"
                    [ngClass]="{'color-secondaryColor' : addressForm.controls.polizasYSegurosCompleto.invalid}">¿Está
                    incluida en
                    la póliza
                    presentada?</label>
                </div>
                <div class="col">
                  <mat-radio-group class="radioInput" formControlName="polizasYSegurosCompleto" required>
                    <mat-radio-button [value]="true">Sí</mat-radio-button>
                    <mat-radio-button [value]="false">No</mat-radio-button>
                  </mat-radio-group>
                  <span class="required-form-group" style="margin-left: 1px;">*</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          *ngIf="addressForm.get('polizasYSegurosCompleto').value!=null || addressForm.get('polizaYCoumplimiento').value!=null || addressForm.get('estabilidadYCalidad').value!=null || addressForm.get('buenManejoCorrectaInversionAnticipo').value!=null">
          <h2 class="card-subTitle">Lista de chequeo</h2>
          <div class="row">
            <div class="col-md-8">
              <div class="row">
                <div class="pr-1">
                  <label class="label-left" for="cumpleAsegurado"
                    [ngClass]="{'color-secondaryColor' : addressForm.controls.cumpleAsegurado.invalid}">
                    ¿Cumple con los datos del Asegurado/ Beneficiario?
                  </label>
                </div>
                <div class="col">
                  <mat-radio-group class="radioInput" formControlName="cumpleAsegurado" required>
                    <mat-radio-button [value]="true">Sí</mat-radio-button>
                    <mat-radio-button [value]="false">No</mat-radio-button>
                  </mat-radio-group>
                  <span class="required-form-group" style="margin-left: 1px;">*</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <div class="row">
                <div class="pr-1">
                  <label class="label-left" for="cumpleBeneficiario"
                    [ngClass]="{'color-secondaryColor' : addressForm.controls.cumpleBeneficiario.invalid}">
                    ¿Cumple con los datos del Beneficiario cuando se trate de garantía bancaria?
                  </label>
                </div>
                <div class="col">
                  <mat-radio-group class="radioInput" formControlName="cumpleBeneficiario" required>
                    <mat-radio-button [value]="true">Sí</mat-radio-button>
                    <mat-radio-button [value]="false">No</mat-radio-button>
                  </mat-radio-group>
                  <span class="required-form-group" style="margin-left: 1px;">*</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <div class="row">
                <div class="pr-1">
                  <label class="label-left" for="cumpleAfianzado"
                    [ngClass]="{'color-secondaryColor' : addressForm.controls.cumpleAfianzado.invalid}">
                    ¿Cumple con los datos del Tomador / Afianzado?
                  </label>
                </div>
                <div class="col">
                  <mat-radio-group class="radioInput" formControlName="cumpleAfianzado" required>
                    <mat-radio-button [value]="true">Sí</mat-radio-button>
                    <mat-radio-button [value]="false">No</mat-radio-button>
                  </mat-radio-group>
                  <span class="required-form-group" style="margin-left: 1px;">*</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <div class="row">
                <div class="pr-1">
                  <label class="label-left" for="reciboDePago"
                    [ngClass]="{'color-secondaryColor' : addressForm.controls.reciboDePago.invalid}">
                    ¿Se incluye el recibo de pago con los datos requeridos?
                  </label>
                </div>
                <div class="col">
                  <mat-radio-group class="radioInput" formControlName="reciboDePago" required>
                    <mat-radio-button [value]="true">Sí</mat-radio-button>
                    <mat-radio-button [value]="false">No</mat-radio-button>
                  </mat-radio-group>
                  <span class="required-form-group" style="margin-left: 1px;">*</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <div class="row">
                <div class="pr-1">
                  <label class="label-left" for="condicionesGenerales"
                    [ngClass]="{'color-secondaryColor' : addressForm.controls.condicionesGenerales.invalid}">
                    ¿Se incluyen las condiciones generales de la póliza/ o su clausulado?
                  </label>
                </div>
                <div class="col">
                  <mat-radio-group class="radioInput" formControlName="condicionesGenerales" required>
                    <mat-radio-button [value]="true">Sí</mat-radio-button>
                    <mat-radio-button [value]="false">No</mat-radio-button>
                  </mat-radio-group>
                  <span class="required-form-group" style="margin-left: 1px;">*</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <div
      *ngIf="addressForm.get('condicionesGenerales').value!=null && addressForm.get('reciboDePago').value!=null && addressForm.get('cumpleAfianzado').value!=null && addressForm.get('cumpleBeneficiario').value!=null && addressForm.get('cumpleAsegurado').value!=null">
      <mat-card class="shipping-card">
        <mat-card-header class="header-card" style="margin-left: -27px;">
          <mat-card-title class="header-card--text">
            Revisión
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="text-right" *ngIf="this.verFormularioEstadoRevision==false">
            <button mat-button color="warn" type="button" class="btn-eliminar" (click)="this.addObservacion()">
              <img src="assets/img/icon/mas.svg" alt="Agregar observacion">
              Agregar observacion
            </button>
          </div>
          <div *ngIf="this.verFormularioEstadoRevision==true">
            <div class="row">
              <div class="col-md-8">
                <div class="row">
                  <div class="pr-1">
                    <label class="label-left" for="fechaRevision"
                      [ngClass]="{'color-secondaryColor' : addressForm.controls.fechaRevision.invalid}">Fecha de la
                      revisión
                      {{this.observacionesHistorial + 1}}</label>
                  </div>
                  <div class="col d-flex align-items-center">
                    <mat-form-field class="example-full-width">
                      <input matInput formControlName="fechaRevision" [matDatepicker]="pickerFechaRevision"
                        [min]="minDate" readonly (click)="pickerFechaRevision.open()" required placeholder="DD/MM/AAAA">
                      <mat-datepicker #pickerFechaRevision></mat-datepicker>
                    </mat-form-field>
                    <button mat-button color="primary" type="button" (click)="pickerFechaRevision.open()"
                      class="btn-calendario">
                      <img src="assets/img/icon/calendarioCirculo.svg" alt="Abrir Calendario">
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8">
                <div class="row">
                  <div class="pr-1">
                    <label class="label-left" for="estadoRevision"
                      [ngClass]="{'color-secondaryColor' : addressForm.controls.estadoRevision.invalid}">Estado de la
                      revisión
                      {{this.observacionesHistorial + 1}}</label>
                  </div>
                  <div class="col">
                    <mat-form-field class="select-width">
                      <mat-select formControlName="estadoRevision" required>
                        <mat-option *ngFor="let estadoRevision of estadoArray" [value]="estadoRevision">
                          {{ estadoRevision.name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
            <div
              *ngIf="addressForm.controls.estadoRevision.value && addressForm.controls.estadoRevision.value.value == '2'">
              <h2 class="card-subTitle">Aprobación</h2>
              <div class="row">
                <div class="col-md-8">
                  <div class="row">
                    <div class="pr-1">
                      <label class="label-left" for="fechaAprob"
                        [ngClass]="{'color-secondaryColor' : addressForm.controls.fechaAprob.invalid}">Fecha de
                        aprobación</label>
                    </div>
                    <div class="col d-flex align-items-center">
                      <mat-form-field class="example-full-width">
                        <input matInput formControlName="fechaAprob" [matDatepicker]="pickerFecha22" [min]="minDate"
                          readonly (click)="pickerFecha22.open()" required placeholder="DD/MM/AAAA">
                        <mat-datepicker #pickerFecha22></mat-datepicker>
                      </mat-form-field>
                      <button mat-button color="primary" type="button" (click)="pickerFecha22.open()"
                        class="btn-calendario">
                        <img src="assets/img/icon/calendarioCirculo.svg" alt="Abrir Calendario">
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-8">
                  <div class="row">
                    <div class="pr-1">
                      <label class="label-left" for="responsableAprob"
                        [ngClass]="{'color-secondaryColor' : addressForm.controls.responsableAprob.invalid}">Responsable
                        de
                        aprobación</label>
                    </div>
                    <div class="col">
                      <mat-form-field class="select-width">
                        <mat-select formControlName="responsableAprob" required>
                          <mat-option *ngFor="let responsableAprob of listaUsuarios" [value]="responsableAprob">
                            {{ responsableAprob.nombres }} {{responsableAprob.apellidos}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="d-flex align-items-center">
      <div class="text-area-quill">
        <label for="alcanceParticular" class="text-area-quill--label">Observaciones generales</label>
        <quill-editor class="quill-editor-style" [styles]="editorStyle" [modules]="config"
          (onContentChanged)="maxLength($event, 2000)" formControlName="observacionesGenerales">
        </quill-editor>
      </div>
      <span class="contador miles" *ngIf="addressForm.controls.observacionesGenerales.value">
        {{2000 - (textoLimpio(addressForm.controls.observacionesGenerales.value)>2000?2000:textoLimpio(addressForm.controls.observacionesGenerales.value))}}
      </span>
      <span class="contador miles" *ngIf="!addressForm.controls.observacionesGenerales.value">
        2000
      </span>
    </div>
    <app-tabla-historial-observaciones-poliza></app-tabla-historial-observaciones-poliza>
    <div class="text-center mb-2em">
      <button mat-button color="warn" class="btn-guardar" type="submit">
        <img src="assets/img/icon/guardar.svg" alt="Regresar">
      </button>
    </div>
  </form>
</section>