.mat-button.mat-warn[disabled], .mat-button[disabled][disabled] {
  opacity: .5;
}

.input {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
  color: var(--mainColor);
  margin-top: 2em;
}

.input-file-text {
  border-bottom: solid .5px;
    padding: .5em;
    height: 20px;
    width: 45em;
    max-width: calc(100% - 9em);
    margin-right: 0.5em;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.w-90 {
  width: 90%;
}

.w-65 {
  width: 65%;
}

.w-60 {
  width: 60%;
};

.w-38 {
  width: 38%;
}

.w-22 {
  width: 22%;
}

.w-21 {
  width: 21%;
}

.w-20 {
  width: 20%;
}

.mt-1em {
  margin-top: 1em;
}
.mr-3em {
  margin-top: 3em;
};

.mr-bottom-1 {
  margin-bottom: 1em;
}

.mr-label {
  margin-right: 0.5em;
  margin-top: 1.5em;
}

.ml-1em {
  margin-left: .3em;
}

.align-text {
  margin-right: 7em;
  color: #757575;
}