<form autocomplete="off" [formGroup]="dataFormulario" (ngSubmit)="guardar()">
  <div class="container">
    <div class="d-flex mt-1em">
        <label class="mr-label" for="numeroContrato" class="label-left"><b>Número del contrato</b></label>
      <div class="col d-flex">
        <mat-form-field class="w-38">
          <input matInput type="text" maxlength="10" formControlName="numeroContrato"
          required>          
        </mat-form-field>
        <span class="contador">{{10 - dataFormulario.get( 'numeroContrato' ).value.length}}</span>
      </div>
    </div>

    <div class="d-flex mt-1em" *ngIf="dataFormulario.get( 'numeroContrato' ).value.length > 0">
      <label class="mr-label"><b>Fecha de envío para firma del contratista</b></label>
      <mat-form-field class="w-21 ml-1em" 
                      appearance="fill">
        <input  matInput
                [matDatepicker]="pickerFechaEnvioTramite"
                [min]="fechaTramite"
                formControlName="fechaEnvioParaFirmaContratista"
                placeholder="DD/MM/AAAA"
                required>
        <mat-datepicker #pickerFechaEnvioTramite></mat-datepicker>
      </mat-form-field>
      <button mat-button 
              color="primary" 
              type="button" 
              (click)="pickerFechaEnvioTramite.open()" 
              class="btn-calendario">
        <img  class="mr-bottom-1" 
              src="assets/img/icon/calendarioCirculo.svg" 
              alt="Abrir Calendario">
      </button>
    </div>

    <div class="d-flex mt-1em" *ngIf="dataFormulario.get( 'fechaEnvioParaFirmaContratista' ).value !== null">
      <label class="mr-label"><b>Fecha de firma por parte del contratista</b></label>
      <mat-form-field class="w-22 ml-1em" 
                      appearance="fill">
        <input  matInput 
                [matDatepicker]="pickerFechaFirmaContratista"
                [min]="fechaTramite"
                formControlName="fechaFirmaPorParteContratista"
                placeholder="DD/MM/AAAA"
                required>
        <mat-datepicker #pickerFechaFirmaContratista></mat-datepicker>
      </mat-form-field>
      <button mat-button 
              color="primary" 
              type="button" 
              (click)="pickerFechaFirmaContratista.open()" 
              class="btn-calendario">
        <img  class="mr-bottom-1" 
              src="assets/img/icon/calendarioCirculo.svg" 
              alt="Abrir Calendario">
      </button>
    </div>

    <div class="d-flex mt-1em" *ngIf="dataFormulario.get( 'fechaFirmaPorParteContratista' ).value !== null">
      <label class="mr-label"><b>Fecha de envío para la firma de la fiduciaria</b></label>
      <mat-form-field class="w-20 ml-1em" 
                      appearance="fill">
        <input  matInput 
                [matDatepicker]="pickerFechaEnvioFirmaFiduciaria"
                [min]="fechaTramite"
                formControlName="fechaEnvioParaFirmaFiduciaria"
                placeholder="DD/MM/AAAA"
                required>
        <mat-datepicker #pickerFechaEnvioFirmaFiduciaria></mat-datepicker>
      </mat-form-field>
      <button mat-button 
              color="primary" 
              type="button" 
              (click)="pickerFechaEnvioFirmaFiduciaria.open()" 
              class="btn-calendario">
        <img  class="mr-bottom-1" 
              src="assets/img/icon/calendarioCirculo.svg" 
              alt="Abrir Calendario">
      </button>
    </div>

    <div class="d-flex mt-1em" *ngIf="dataFormulario.get( 'fechaEnvioParaFirmaFiduciaria' ).value !== null">
      <label class="mr-label"><b>Fecha de firma por parte de la fiduciaria</b></label>
      <mat-form-field class="w-22 ml-1em" 
                      appearance="fill">
        <input  matInput 
                [matDatepicker]="pickerFechaFirmaFiduciaria"
                [min]="fechaTramite"
                formControlName="fechaFirmaPorParteFiduciaria"
                placeholder="DD/MM/AAAA"
                required>
        <mat-datepicker #pickerFechaFirmaFiduciaria></mat-datepicker>
      </mat-form-field>
      <button mat-button 
              color="primary" 
              type="button" 
              (click)="pickerFechaFirmaFiduciaria.open()" 
              class="btn-calendario">
        <img  class="mr-bottom-1" 
              src="assets/img/icon/calendarioCirculo.svg" 
              alt="Abrir Calendario">
      </button>
    </div>

    <div class="d-flex mt-1em">
      <label class="mr-label"><b>Observaciones</b></label>
      <quill-editor class="quill-editor-style ml-1em card"
                    [styles]="editorStyle"
                    [modules]="config"
                    (onContentChanged)="maxLength($event, 2000)" 
                    formControlName="observaciones"
                    style="width: 75%;">
      </quill-editor>
      <span class="contador miles" *ngIf="dataFormulario.get('observaciones').value !== null" style="margin-top: 4em;">
        {{2000 - textoLimpio(dataFormulario.get('observaciones').value)}}
      </span>
      <span class="contador miles" *ngIf="dataFormulario.get('observaciones').value === null" style="margin-top: 4em;">
        2000
      </span>
    </div>

    <div class="d-flex" *ngIf="dataFormulario.get( 'fechaFirmaPorParteFiduciaria' ).value !== null">
      <label class="mr-3em ml-1em"><b>URL con soporte</b></label>
      <div class="input" style="width: 75%;margin-left: 1em;margin-top: 2.1em;">
        <mat-form-field>
          <input matInput type="text" formControlName="rutaDocumento" required>
        </mat-form-field>
      </div>
    </div>

    <div class="container text-center" *ngIf="dataFormulario.get( 'fechaFirmaPorParteFiduciaria' ).value !== null">
      <small class="info-url">Indique la ruta del soporte de esta información</small>
    </div>

    <div class="text-center w-90">
      <button mat-button 
              color="warn" 
              class="btn-guardar" 
              type="submit">
              <img  src="assets/img/icon/guardar.svg" 
                    alt="Regresar">
      </button>
    </div>
  </div>
</form>