<section class="container" *ngIf="report">
  <div class="text-right">
    <a routerLink="../../" mat-button color="primary" class="btn-regresar">
      <img src="assets/img/icon/regresar.svg" alt="Regresar">
    </a>
  </div>
  <div class="text-center">
    <h1 class="title-menu--h1" *ngIf="report">
      <span *ngIf="report.proyecto.informeFinal[0].estadoCumplimiento == '' || report.proyecto.informeFinal[0].estadoCumplimiento == null || report.proyecto.informeFinal[0].estadoCumplimiento === '0'">Revisar informe final</span> <!--Null o 0-->
      <span *ngIf="report.proyecto.informeFinal[0].estadoCumplimiento != null && report.proyecto.informeFinal[0].estadoCumplimiento !== '0' && (report.proyecto.informeFinal[0].estadoCumplimiento === '1' || report.proyecto.informeFinal[0].estadoCumplimiento === '4')">Ver detalle/Editar Revisión informe final</span><!--En proceso de validación de cumplimiento-->
      <b *ngIf="report"> {{ report.proyecto.llaveMen }} </b>
    </h1>
    <p class="colorMainColor mt-05em"> 
      <span class="mx-1em">
        Fecha de envío del informe final
        <b>
          {{ report.proyecto.informeFinal[0].fechaCreacion  | date:'dd/MM/yyyy' }}
        </b>
      </span>
      <span class="mx-1em">
        Fecha de aprobación del informe final
        <b>
          {{ report.proyecto.informeFinal[0].fechaAprobacion  | date:'dd/MM/yyyy' }}
        </b>
      </span>
    </p>
  </div>

  <app-datos-del-proyecto *ngIf="report" [report]="report"></app-datos-del-proyecto>
  <app-recibo-satisfaccion *ngIf="report" [report]="report"></app-recibo-satisfaccion>
  <app-verificacion-novedades *ngIf="report && existeObservacionCumplimiento" [report]="report" [existeObservacionCumplimiento]="existeObservacionCumplimiento"></app-verificacion-novedades>
  <app-form-observaciones-recibo-satisfaccion *ngIf="report" [report]="report"></app-form-observaciones-recibo-satisfaccion>
  <app-tabla-informe-final-anexos *ngIf="report" [id]="report.proyecto.informeFinal[0].informeFinalId" [llaveMen]="report.proyecto.llaveMen" [report]="report"></app-tabla-informe-final-anexos>
</section>
