.btn-table {
    margin: .5em;
    line-height: 1;
    display: block;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    width: 100%;
}

td.mat-cell:last-of-type,
th.mat-header-cell:last-of-type,
td.mat-footer-cell:last-of-type {
    padding-left: 1em !important;
}

.w-100 {
    width: 100%;
  }
  
  
  .w-60 {
    width: 60%;
  }
  
  .w-50 {
    width: 50%;
  }
  .w-25 {
    width: 25%;
  }
  
  .w-20 {
    width: 20%;
  }