.busqueda {
    display: flex;
    justify-content: center;
    align-items: center;

    &--input {
        width: 30em;
    }
    &--img {
        margin-bottom: 1em;
        margin-left: .5em;
        padding: .5em;
        min-width: 0;

        img {
            height: 2.5em;
        }
    }
}