<div align="left">
    <mat-card class="shipping-card mainGris">
        <mat-card-content>
            <p><b>Número de identificación del contratista:</b> 900.879.765-2</p>
            <p><b>Nombre de contratista:</b> Interventores S.A.</p>
            <p><b>Número de factura:</b> FAC00456</p>
        </mat-card-content>
    </mat-card>
</div>
<mat-accordion>
    <mat-expansion-panel class="expansion-style sub-expansion-black">
        <mat-expansion-panel-header class="expansion-style--header">
            <mat-panel-title class="expansion-style--title sin-diligenciar">
                Costo variable
            </mat-panel-title>
        </mat-expansion-panel-header>
        <app-form-costo-variable-terc-gog></app-form-costo-variable-terc-gog>
    </mat-expansion-panel> 
</mat-accordion>
<mat-accordion>
    <mat-expansion-panel class="expansion-style sub-expansion-black">
        <mat-expansion-panel-header class="expansion-style--header">
            <mat-panel-title class="expansion-style--title sin-diligenciar">
                Tipo de pago 3
            </mat-panel-title>
        </mat-expansion-panel-header>
        <app-form-tipopago3-terc-gog></app-form-tipopago3-terc-gog>
    </mat-expansion-panel>
</mat-accordion>