.full-width {
    width: 100%;
}

.shipping-card {
    min-width: 120px;
    margin: 20px auto;
}

.mat-radio-button {
    display: block;
    margin: 5px 0;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    flex: 1;
    margin-right: 20px;
}

.col:last-child {
    margin-right: 0;
}


.title-menu--h1 {
    margin-bottom: 2em;
}


.px-5em {
    padding-left: 5em;
    padding-right: 5em;
}

.info-url {
    display: block;
    text-align: center;
    margin-bottom: 1em;
    font-style: italic;
}