<section class="container text-center">
  <div class="text-right">
    <a routerLink="/generarPolizasYGarantias" mat-button color="primary" class="btn-regresar">
      <img src="assets/img/icon/regresar.svg" alt="Regresar">
    </a>
  </div>
  <h1 class="title-menu--h1">
    Ver detalle solicitud {{this.numContrato}}
  </h1>
  <p class="info-sub-title">
    <span>Fecha de firma del contrato <b>29/06/2020</b></span>
    <span><b>Contratación</b></span>
    <span>Estado: <b>Sin radicación de pólizas</b></span>
  </p>

</section>
<section class="container">
  <mat-card class="shipping-card var-main-gris">
    <mat-card-content>
      <p>
        <strong>Tipo de contrato:</strong>
        {{this.tipoContrato}}
      </p>
      <p>
        <strong>Objeto:</strong>
      </p>
      <p>
       {{this.objeto}}
      </p>
      <p>
        <strong>Nombre del contratista:</strong>
        {{this.nombreContratista}}
      </p>
      <p>
        <strong>Tipo de identificación:</strong>
       {{this.tipoIdentificacion}}
      </p>
      <p>
        <strong>Número de identificación:</strong>
        {{this.numeroIdentificacion}}
      </p>
      <p>
        <strong>Valor del contrato:</strong>
        ${{this.valorContrato}}
      </p>
      <p>
        <strong>Plazo:</strong>
        {{this.plazoContrato}}
      </p>
    </mat-card-content>
  </mat-card>
  <form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="shipping-card">
      <mat-card-content>
        <div class="row">
          <div class="pr-1">
            <label for="nombre" class="label-left">Nombre del grupo</label>
          </div>
          <div class="col d-flex">
            <mat-form-field class="full-width">
              <input matInput #nombre type="text" maxlength="50" formControlName="nombre" required>
            </mat-form-field>
            <span class="contador">{{50 - nombre.value.length}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <div class="row">
              <div class="pr-1">
                <label for="numeroPoliza" class="label-left">Número de la póliza</label>
              </div>
              <div class="col d-flex">
                <mat-form-field class="full-width">
                  <input matInput #numeroPoliza type="text" maxlength="20" formControlName="numeroPoliza" required>
                </mat-form-field>
                <span class="contador">{{20 - numeroPoliza.value.length}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <div class="row">
              <div class="pr-1">
                <label for="numeroCertificado" class="label-left">Número de certificado</label>
              </div>
              <div class="col d-flex">
                <mat-form-field class="full-width">
                  <input matInput #numeroCertificado type="text" maxlength="20" formControlName="numeroCertificado" required>
                </mat-form-field>
                <span class="contador">{{20 - numeroCertificado.value.length}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <div class="row">
              <div class="pr-1">
                <label class="label-left" for="fecha">Fecha de expedición de la póliza</label>
              </div>
              <div class="col d-flex align-items-center">
                <mat-form-field class="example-full-width">
                  <input matInput formControlName="fecha" [matDatepicker]="pickerFecha" [min]="minDate" readonly (click)="pickerFecha.open()" required>
                  <mat-datepicker #pickerFecha></mat-datepicker>
                </mat-form-field>
                <button mat-button color="primary" type="button" (click)="pickerFecha.open()" class="btn-calendario">
                  <img src="assets/img/icon/calendarioCirculo.svg" alt="Abrir Calendario">
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <div class="row">
              <div class="pr-1">
                <label class="label-left" for="vigenciaPoliza">Vigencia de la póliza</label>
              </div>
              <div class="col d-flex align-items-center">
                <mat-form-field class="example-full-width">
                  <input matInput formControlName="vigenciaPoliza" [matDatepicker]="pickerPoliza" [min]="minDate" readonly (click)="pickerPoliza.open()" required>
                  <mat-datepicker #pickerPoliza></mat-datepicker>
                </mat-form-field>
                <button mat-button color="primary" type="button" (click)="pickerPoliza.open()" class="btn-calendario">
                  <img src="assets/img/icon/calendarioCirculo.svg" alt="Abrir Calendario">
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <div class="row">
              <div class="pr-1">
                <label class="label-left" for="vigenciaAmparo">Vigencia del amparo</label>
              </div>
              <div class="col d-flex align-items-center">
                <mat-form-field class="example-full-width">
                  <input matInput formControlName="vigenciaAmparo" [matDatepicker]="pickerAmparo" [min]="minDate" readonly (click)="pickerAmparo.open()" required>
                  <mat-datepicker #pickerAmparo></mat-datepicker>
                </mat-form-field>
                <button mat-button color="primary" type="button" (click)="pickerAmparo.open()" class="btn-calendario">
                  <img src="assets/img/icon/calendarioCirculo.svg" alt="Abrir Calendario">
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <div class="row">
              <div class="pr-1">
                <label class="label-left" for="valorAmparo">
                  Valor del amparo
                </label>
              </div>
              <div class="col d-flex">
                <mat-form-field class="full-width">
                  <input matInput #valorAmparo maxlength="3" type="number" required
                    formControlName="valorAmparo" (keypress)="validateNumberKeypress($event)"
                    onKeyPress="if(this.value.length>=this.maxLength) return false;">
                </mat-form-field>
                <span class="contador">{{3 - valorAmparo.value.length}}</span>
              </div>
            </div>
          </div>
        </div>
        <h2 class="card-subTitle">Pólizas y seguros</h2>
        <div class="row">
          <div class="pr-1">
            <label class="label-left" for="polizasYSeguros">Pólizas y seguros requeridos</label>
          </div>
          <div class="col">
            <mat-form-field class="select-width">
              <mat-select formControlName="polizasYSeguros" multiple required>
                <mat-option *ngFor="let polizaYSeguro of polizasYSegurosArray" [value]="polizaYSeguro.value">
                  {{ polizaYSeguro.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <div class="text-center mb-2em">
      <button mat-button color="warn" class="btn-guardar" type="submit">
        <img src="assets/img/icon/guardar.svg" alt="Regresar">
      </button>
    </div>
  </form>
</section>