<div class="container text-center">
    <div class="busqueda">
        <mat-form-field appearance="outline" class="busqueda--input">
            <mat-label>Buscador / Filtro</mat-label>
            <input matInput #filtro (keyup)="applyFilter($event)">
        </mat-form-field>
        <button mat-button color="primary" class="busqueda--img" (click)="filtro.focus()">
            <img src="assets/img/icon/lupa.svg" alt="Buscar">
        </button>
    </div>
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de la solicitud </th>
            <td mat-cell *matCellDef="let element"> <b>{{element.fechaSolicitud | date: ' dd/MM/yyyy '}}</b> </td>
        </ng-container>

        <ng-container matColumnDef="numero">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Número de solicitud </th>
            <td mat-cell *matCellDef="let element"> {{element.numeroSolicitud}} </td>
        </ng-container>

        <ng-container matColumnDef="opcionPorContratar">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Opción por contratar  </th>
            <td mat-cell *matCellDef="let element"> {{element.tipoSolicitudCodigo}} </td>
        </ng-container>

        <ng-container matColumnDef="estadoSolicitud">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado de solicitud  </th>
            <td mat-cell *matCellDef="let element"> {{element.estadoSolicitudCodigo}} </td>
        </ng-container>

        <ng-container matColumnDef="estadoDelIngreso">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado del registro </th>
            <td mat-cell *matCellDef="let element"> {{element.estadoDelIngreso}} </td>
        </ng-container>

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Gestión </th>
            <td mat-cell *matCellDef="let element">
                <a mat-raised-button color="accent" class="btn-table" [routerLink]="['/solicitarContratacion/solicitud', element.contratacionId]">Detallar la <br> solicitud</a>
                <button mat-raised-button color="accent" class="btn-table" (click)="eliminarSolicitud(element.id)">Eliminar</button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>