<div class="tabs--actions">
    <button mat-raised-button color="accent" class="tabs--btn" (click)="this.irNuevo()">
        Registrar nuevo proceso de defensa judicial
    </button>
</div>
<div class="busqueda">
    <mat-form-field appearance="outline" class="busqueda--input">
        <mat-label>Buscador / Filtro</mat-label>
        <input matInput #filtro (keyup)="applyFilter($event)">
    </mat-form-field>
    <button mat-button color="primary" class="busqueda--img" (click)="filtro.focus()">
        <img src="assets/img/icon/lupa.svg" alt="Buscar">
    </button>
</div>

<div class="table-responsive w-100">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha del registro de proceso </th>
            <td mat-cell *matCellDef="let element" align="center"> <b> {{ element.fecha }} </b> </td>
        </ng-container>

        <ng-container matColumnDef="legitimacion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Legitimación </th>
            <td mat-cell *matCellDef="let element" align="center"> {{ element.legitimacion }} </td>
        </ng-container>

        <ng-container matColumnDef="tipoAccion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo de acción </th>
            <td mat-cell *matCellDef="let element" align="center"> {{ element.tipoAccion }} </td>
        </ng-container>

        <ng-container matColumnDef="numeroProceso">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Número de proceso </th>
            <td mat-cell *matCellDef="let element" align="center"> {{ element.numeroProceso }} </td>
        </ng-container>

        <ng-container matColumnDef="estadoProceso">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado del proceso </th>
            <td mat-cell *matCellDef="let element" align="center"> {{ element.estadoProceso }} </td>
        </ng-container>

        <ng-container matColumnDef="gestion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="w-20"> Gestión </th>
            <td mat-cell *matCellDef="let element">
                <button mat-raised-button color="accent" class="btn-table"
                    *ngIf="element.estadoProceso === 'En análisis jurídico'">
                    Enviar proceso a comité técnico
                </button>
                <button mat-raised-button color="accent" class="btn-table"
                    *ngIf="element.estadoProceso === 'En análisis jurídico'"
                    (click)="this.editProceso(element.id)">
                    Ver detalle/Editar
                </button>
                <button mat-raised-button color="accent" class="btn-table"
                    *ngIf="element.estadoProceso === 'En análisis jurídico'">
                    Eliminar
                </button>
                <button mat-raised-button color="accent" class="btn-table"
                    *ngIf="element.estadoProceso === 'En desarrollo'">
                    Cerrar proceso
                </button>
                <button mat-raised-button color="accent" class="btn-table"
                    *ngIf="element.estadoProceso === 'Aprobado por comité técnico' || element.estadoProceso === 'En desarrollo'"
                    (click)="this.actualizarProceso(element.id)">
                    Actualizar proceso
                </button>
                <button mat-raised-button color="accent" class="btn-table"
                    *ngIf="element.estadoProceso === 'Aprobado por comité técnico' || element.estadoProceso === 'En desarrollo'">
                    Descargar ficha de estudio
                </button>
                <button mat-raised-button color="accent" class="btn-table" *ngIf="element.estadoProceso === 'Cerrado'">
                    Descargar proceso de defensa judicial
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>