.title-menu--h1 {
    margin-bottom: 2em;
}

.input-file {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
    color: #174193;
    color: var(--mainColor);

    &--text {
        border: solid .5px;
        padding: .5em;
        border-radius: .7em;
        height: 20px;
        width: 40em;
        max-width: calc(100% - 9em);
        margin-right: 0.5em;
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}