<section *ngIf="solicitudPago !== undefined && registrarSolicitudPago !== undefined">
    <div class="table-responsive">
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
            <ng-container matColumnDef="faseContrato">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Fase del contrato </th>
                <td mat-cell *matCellDef="let element" align="center"> <b> {{ element.faseContrato }} </b> </td>
            </ng-container>
            <ng-container matColumnDef="valorFacturado">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Valor facturado </th>
                <td mat-cell *matCellDef="let element" align="center"> {{ element.valorFacturado !== undefined ? ( element.valorFacturado | currency:'':'symbol-narrow':'.0-0' ) : ( 0 | currency:'':'symbol-narrow':'.0-0' ) }} </td>
            </ng-container>
            <ng-container matColumnDef="porcentajeFacturado">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Porcentaje facturado </th>
                <td mat-cell *matCellDef="let element" align="center"> {{ element.porcentajeFacturado !== undefined ? element.porcentajeFacturado.toFixed( 2 ) : 0 }}% </td>
            </ng-container>
            <ng-container matColumnDef="saldoPorPagar">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Saldo por pagar </th>
                <td mat-cell *matCellDef="let element" align="center"> {{ element.saldoPorPagar !== undefined ? ( element.saldoPorPagar | currency:'':'symbol-narrow':'.0-0' ) : ( 0 | currency:'':'symbol-narrow':'.0-0' ) }} </td>
            </ng-container>
            <ng-container matColumnDef="porcentajePorPagar">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Porcentaje por pagar </th>
                <td mat-cell *matCellDef="let element" align="center"> {{ element.porcentajePorPagar !== undefined ? element.porcentajePorPagar.toFixed( 2 ) : 0 }}% </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <mat-card class="shipping-card var-main-gris" style="margin-top: 3em;">
        <mat-card-header class="header-card header-card--margin">
            <mat-card-title class="header-card--text textoGris">
                Registro
            </mat-card-title>
        </mat-card-header>
        <mat-card-content style="text-align: left;">
            <p><strong>Fecha de solicitud:</strong> {{
                solicitudPago.solicitudPagoRegistrarSolicitudPago[0].fechaSolicitud | date: 'dd/MM/yyyy' }} </p>
            <p><strong>Número de radicado SAC:</strong> {{ solicitudPago.solicitudPagoRegistrarSolicitudPago[0].numeroRadicadoSac }} </p>
            <p *ngIf="tienePreconstruccion === true"><strong>Fase del contrato:</strong> Fase 1 - Preconstrucción<span *ngIf="tieneConstruccion === true">, Fase 2 - Construcción.</span><span *ngIf="tienePreconstruccion === true && tieneConstruccion === false">.</span></p>
        </mat-card-content>
    </mat-card>

    <!-- Observacion a la solicitud -->
    <ng-container *ngIf="esVerDetalle === true; else noEsVerDetalle">
        <mat-card class="shipping-card var-main-gris">
            <mat-card-header class="header-card header-card--margin">
                <mat-card-title class="header-card--text textoGris">
                    Observación de la supervisión
                </mat-card-title>
            </mat-card-header>
            <mat-card-content style="text-align: left;">
                <p><b> {{ addressForm.get( 'fechaCreacion' ).value | date: 'dd/MM/yyyy' }} </b></p>
                <p *ngIf="addressForm.get( 'tieneObservaciones' ).value === true"><b>¿Desde la supervisión tiene
                        observaciones al registro de la solicitud?:</b> Si</p>
                <p *ngIf="addressForm.get( 'tieneObservaciones' ).value === false"><b>¿Desde la supervisión tiene
                        observaciones al registro de la solicitud?:</b> No</p>
                <section [innerHTML]="addressForm.get( 'observaciones' ).value"
                    *ngIf="addressForm.get( 'tieneObservaciones' ).value === true"></section>
            </mat-card-content>
        </mat-card>
    </ng-container>
    <ng-template #noEsVerDetalle>
        <form [formGroup]="addressForm" (ngSubmit)="onSubmit()">
            <div class="row mtop justCenter">
                <div class="col-md-5" for="tieneObservaciones" [ngClass]="{
                    'color-secondaryColor':
                      (addressForm.get('tieneObservaciones').invalid && addressForm.get('tieneObservaciones').touched) ||
                      (addressForm.get('tieneObservaciones').invalid && estaEditando)
                  }">
                    <label class="label-left">¿Desde la supervisión tiene observaciones al registro de la
                        solicitud?</label>
                </div>
                <div class="col-md-2">
                    <mat-radio-group aria-labelledby="example-radio-group-label" class="radioInput"
                        formControlName="tieneObservaciones">
                        <mat-radio-button class="radio-button" [value]="true">Sí</mat-radio-button>
                        <mat-radio-button class="radio-button" [value]="false">No</mat-radio-button>
                    </mat-radio-group>
                    <span class="required-form-group" style="margin-left: 1px;">*</span>
                </div>
                <span class="icon-incompleto">
                    <img class="icon-incompleto--img" src="assets/img/icon/incompleto.svg" alt="este campo es requerido"
                        [matTooltipPosition]="'above'"
                        matTooltip="Debe ingresar la información en el campo para continuar"
                        matTooltipClass="info-tooltip" *ngIf="
                        (addressForm.get('tieneObservaciones').invalid && addressForm.get('tieneObservaciones').touched) ||
                        (addressForm.get('tieneObservaciones').invalid && estaEditando)
                      " />
                </span>
            </div>
            <div class="d-flex align-items-center mtop animatedDown" *ngIf="addressForm.get('tieneObservaciones').value === true">
                <div class="text-area-quill izqTitle" [ngClass]="{
                    'color-secondaryColor':
                      (addressForm.get('observaciones').invalid && addressForm.get('observaciones').touched) ||
                      (addressForm.get('observaciones').invalid && estaEditando)
                  }">
                    <label for="observaciones" class="text-area-quill--label" [ngClass]="{
                        'colorMainColor':
                          !((addressForm.get('observaciones').invalid && addressForm.get('observaciones').touched) ||
                          (addressForm.get('observaciones').invalid && estaEditando))
                      }">Observaciones al registro de la solicitud</label>
                    <quill-editor class="quill-editor-style" [styles]="editorStyle" [modules]="config" required
                        (onContentChanged)="maxLength($event, 1000)" formControlName="observaciones" #observaciones>
                    </quill-editor>
                </div>
                <span class="contador miles" *ngIf="addressForm.get('observaciones').value">
                    {{1000 - (textoLimpio(observaciones.quillEditor,1000))}}
                </span>
                <span class="contador miles" *ngIf="addressForm.get('observaciones').value === null">
                    1000
                </span>
                <span class="icon-incompleto">
                    <img class="icon-incompleto--img" src="assets/img/icon/incompleto.svg" alt="este campo es requerido"
                        [matTooltipPosition]="'above'"
                        matTooltip="Debe ingresar la información en el campo para continuar"
                        matTooltipClass="info-tooltip" *ngIf="
                        (addressForm.get('observaciones').invalid && addressForm.get('observaciones').touched) ||
                        (addressForm.get('observaciones').invalid && estaEditando)
                      " />
                </span>
            </div>
            <button mat-button color="warn" class="btn-guardar" type="submit" [disabled]="addressForm.dirty === false">
                <img src="assets/img/icon/guardar.svg" alt="Guardar">
            </button>
        </form>
    </ng-template>

    <mat-accordion *ngIf="tienePreconstruccion === true">
        <mat-expansion-panel class="expansion-style sub-expansion">
            <mat-expansion-panel-header class="expansion-style--header">
                <mat-panel-title class="expansion-style--title" [ngClass]="esVerDetalle === true ? '' : estadoSemaforosAcordeonesPrincipales.semaforoAcordeonFase">
                    Fase 1 - Preconstrucción
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-accordion>
                <mat-expansion-panel class="expansion-style sub-expansion-black">
                    <mat-expansion-panel-header class="expansion-style--header">
                        <mat-panel-title class="expansion-style--title" [ngClass]="esVerDetalle === true ? '' : estadoSemaforos.semaforoAcordeonCriterios">
                            Criterios de pago incluidos en la factura
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <app-obs-criterio-pagos [solicitudPago]="solicitudPago"
                                            [esVerDetalle]="esVerDetalle"
                                            [aprobarSolicitudPagoId]="aprobarSolicitudPagoId"
                                            [criteriosPagoFacturaCodigo]="registrarSolicitudPago.criteriosPagoFacturaCodigo"
                                            [solicitudPagoCargarFormaPago]="solicitudPagoCargarFormaPago"
                                            (estadoSemaforo)="getSemaforoStatus( true, $event, 'criteriosPago' )">
                    </app-obs-criterio-pagos>
                </mat-expansion-panel>

                <mat-expansion-panel class="expansion-style sub-expansion-black">
                    <mat-expansion-panel-header class="expansion-style--header">
                        <mat-panel-title class="expansion-style--title" [ngClass]="esVerDetalle === true ? '' : estadoSemaforos.semaforoAcordeonDetalleFacturaProyecto">
                            Detalle factura para proyectos asociados
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <app-obs-detll-fact-proc-asociados  [solicitudPago]="solicitudPago"
                                                        [esVerDetalle]="esVerDetalle"
                                                        [aprobarSolicitudPagoId]="aprobarSolicitudPagoId"
                                                        [criteriosPagoProyectoCodigo]="registrarSolicitudPago.criteriosPagoProyectoCodigo"
                                                        [solicitudPagoCargarFormaPago]="solicitudPagoCargarFormaPago"
                                                        (estadoSemaforo)="getSemaforoStatus( true, $event, 'detalleFactura' )">
                    </app-obs-detll-fact-proc-asociados>
                </mat-expansion-panel>

                <mat-expansion-panel class="expansion-style sub-expansion-black">
                    <mat-expansion-panel-header class="expansion-style--header">
                        <mat-panel-title class="expansion-style--title" [ngClass]="esVerDetalle === true ? '' : estadoSemaforos.semaforoAcordeonDatosFactura">
                            Datos de la factura
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <app-obs-datos-factura  [solicitudPago]="solicitudPago"
                                            [esVerDetalle]="esVerDetalle"
                                            [aprobarSolicitudPagoId]="aprobarSolicitudPagoId"
                                            [datosFacturaCodigo]="registrarSolicitudPago.datosFacturaCodigo"
                                            (estadoSemaforo)="getSemaforoStatus( true, $event, 'datosFactura' )">
                    </app-obs-datos-factura>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion *ngIf="tieneConstruccion === true">
        <mat-expansion-panel class="expansion-style sub-expansion">
            <mat-expansion-panel-header class="expansion-style--header">
                <mat-panel-title class="expansion-style--title" [ngClass]="esVerDetalle === true ? '' : estadoSemaforosAcordeonesPrincipales.semaforoAcordeonConstruccion">
                    Fase 2 - Construcción
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-accordion>
                <mat-expansion-panel class="expansion-style sub-expansion-black">
                    <mat-expansion-panel-header class="expansion-style--header">
                        <mat-panel-title class="expansion-style--title" [ngClass]="esVerDetalle === true ? '' : estadoSemaforosConstruccion.semaforoAcordeonCriterios">
                            Criterios de pago incluidos en la factura
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <app-obs-criterio-pagos [solicitudPago]="solicitudPago"
                                            [esVerDetalle]="esVerDetalle"
                                            [esPreconstruccion]="false"
                                            [aprobarSolicitudPagoId]="aprobarSolicitudPagoId"
                                            [criteriosPagoFacturaCodigo]="registrarSolicitudPago.criteriosPagoFacturaCodigo"
                                            [solicitudPagoCargarFormaPago]="solicitudPagoCargarFormaPago"
                                            (estadoSemaforo)="getSemaforoStatus( false, $event, 'criteriosPago' )">
                    </app-obs-criterio-pagos>
                </mat-expansion-panel>

                <mat-expansion-panel class="expansion-style sub-expansion-black" *ngIf="manejoAnticipoRequiere === true">
                    <mat-expansion-panel-header class="expansion-style--header">
                        <mat-panel-title class="expansion-style--title" [ngClass]="esVerDetalle === true ? '' : estadoSemaforosConstruccion.semaforoAcordeonAmortizacion">
                            Amortización del anticipo
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <app-form-amortizacion  [solicitudPago]="solicitudPago"
                                            [contrato]="contrato"
                                            [esVerDetalle]="esVerDetalle"
                                            [amortizacionAnticipoCodigo]="registrarSolicitudPago.amortizacionAnticipoCodigo"
                                            [aprobarSolicitudPagoId]="aprobarSolicitudPagoId"
                                            (estadoSemaforo)="getSemaforoStatus( false, $event, 'amortizacion' )">
                    </app-form-amortizacion>
                </mat-expansion-panel>

                <mat-expansion-panel class="expansion-style sub-expansion-black">
                    <mat-expansion-panel-header class="expansion-style--header">
                        <mat-panel-title class="expansion-style--title" [ngClass]="esVerDetalle === true ? '' : estadoSemaforosConstruccion.semaforoAcordeonDetalleFacturaProyecto">
                            Detalle factura para proyectos asociados
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <app-obs-detll-fact-proc-asociados  [solicitudPago]="solicitudPago"
                                                        [esVerDetalle]="esVerDetalle"
                                                        [esPreconstruccion]="false"
                                                        [aprobarSolicitudPagoId]="aprobarSolicitudPagoId"
                                                        [criteriosPagoProyectoCodigo]="registrarSolicitudPago.criteriosPagoProyectoCodigo"
                                                        [solicitudPagoCargarFormaPago]="solicitudPagoCargarFormaPago"
                                                        (estadoSemaforo)="getSemaforoStatus( false, $event, 'detalleFactura' )">
                    </app-obs-detll-fact-proc-asociados>
                </mat-expansion-panel>

                <mat-expansion-panel class="expansion-style sub-expansion-black">
                    <mat-expansion-panel-header class="expansion-style--header">
                        <mat-panel-title class="expansion-style--title" [ngClass]="esVerDetalle === true ? '' : estadoSemaforosConstruccion.semaforoAcordeonDatosFactura">
                            Datos de la factura
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <app-obs-datos-factura  [solicitudPago]="solicitudPago"
                                            [esVerDetalle]="esVerDetalle"
                                            [esPreconstruccion]="false"
                                            [aprobarSolicitudPagoId]="aprobarSolicitudPagoId"
                                            [datosFacturaCodigo]="registrarSolicitudPago.datosFacturaCodigo"
                                            (estadoSemaforo)="getSemaforoStatus( false, $event, 'datosFactura' )">
                    </app-obs-datos-factura>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-expansion-panel>
    </mat-accordion>

    <!--
    <mat-accordion>
        <mat-expansion-panel class="expansion-style sub-expansion">
            <mat-expansion-panel-header class="expansion-style--header">
                <mat-panel-title class="expansion-style--title" [ngClass]="esVerDetalle === true ? '' : estadoSemaforosAcordeonesPrincipales.semaforoAcordeonDescuentosTecnica">
                    Descuentos Dirección Técnica
                </mat-panel-title>
            </mat-expansion-panel-header>

            <app-obs-descuentos-dir-tecnica [solicitudPago]="solicitudPago"
                                            [esVerDetalle]="esVerDetalle"
                                            [aprobarSolicitudPagoId]="aprobarSolicitudPagoId"
                                            [datosFacturaDescuentoCodigo]="registrarSolicitudPago.datosFacturaDescuentoCodigo"
                                            (estadoSemaforo)="getSemaforoStatus( $event, 'descuentosTecnica' )">
            </app-obs-descuentos-dir-tecnica>
        </mat-expansion-panel>
    </mat-accordion>
    -->
</section>