<div class="container text-center">
    <div class="text-right">
        <a routerLink="/home" mat-button color="primary" class="btn-regresar">
            <img src="assets/img/icon/regresar.svg" alt="Regresar">
        </a>
    </div>
    <h1 class="title-menu--h1">
        Validar financieramente solicitud de pago
    </h1>
    <button mat-mini-fab color="primary" class="btn-info" (click)="verAyuda = !verAyuda">?</button>
    <div class="text-info" *ngIf="verAyuda">
        <button mat-icon-button (click)="verAyuda = false" class="text-info--close">
            <img src="assets/img/icon/cerrar-gris.svg" alt="cerrar ayuda">
        </button>
        Bienvenida/o, aquí podrá realizar la validación de las solicitudes de pago para los contratos suscritos, y para los conceptos especiales de Expensas
        u Otros costos/servicios, que le han sido asignadas a usted, que han sido verificados financieramente y que son ejecutados en el marco de la
        gestión del FFIE.
    </div>
    <div class="table-responsive">
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
            <ng-container matColumnDef="fechaSolicitud">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de verificación financiera </th>
                <td mat-cell *matCellDef="let element" align="center"> <b>{{ element.fechaCreacion }}</b> </td>
            </ng-container>
            <ng-container matColumnDef="numeroSolicitud">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Número de solicitud </th>
                <td mat-cell *matCellDef="let element" align="center"> {{ element.numeroSolicitud }} </td>
            </ng-container>
            <ng-container matColumnDef="modalidadContrato">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Modalidad del contrato </th>
                <td mat-cell *matCellDef="let element" align="center"> {{ element.modalidadNombre }} </td>
            </ng-container>
            <ng-container matColumnDef="numeroContrato">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Número del contrato </th>
                <td mat-cell *matCellDef="let element" align="center"> {{ element.numeroContrato }} </td>
            </ng-container>
            <ng-container matColumnDef="estadoValidacion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado de la validación </th>
                <td mat-cell *matCellDef="let element" align="center"> {{ element.estadoCodigo === listaEstadoSolicitudPago.enviarParaValidacionFinanciera ? element.estadoNombre2 : element.estadoNombre }} </td>
            </ng-container>
            <ng-container matColumnDef="estadoRegistro">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado del registro </th>
                <td mat-cell *matCellDef="let element" align="center">
                    <span class="info-text info-text__table"
                        [ngClass]="{'sin-diligenciar' : element.registroCompletoValidacionFinanciera === false, 'completo' : element.registroCompletoValidacionFinanciera === true }"
                        style="margin-right: 0em;"></span>
                    <br>
                    {{ element.registroCompletoValidacionFinanciera === true ? 'Completo' : 'Incompleto' }} 
                </td>
            </ng-container>
            <ng-container matColumnDef="gestion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Gestión </th>
                <td mat-cell *matCellDef="let element" align="center">
                    <ng-container *ngIf="element.tipoSolicitudCodigo !== tipoSolicitud.expensas; else esExpensas">
                        
                        <button mat-raised-button
                                color="accent"
                                class="btn-table"
                                [routerLink]="[ 'validarFinancSolicitud', element.contratoId, element.solicitudPagoId ]"
                                *ngIf="element.estadoCodigo === listaEstadoSolicitudPago.enviarParaValidacionFinanciera">
                                Validar Solicitud
                        </button>

                        <button mat-raised-button
                                color="accent"
                                class="btn-table"
                                [routerLink]="[ 'validarFinancSolicitud', element.contratoId, element.solicitudPagoId ]"
                                *ngIf="element.estadoCodigo === listaEstadoSolicitudPago.enProcesoValidacionFinanciera">
                                Ver detalle/Editar
                        </button>

                        <button mat-raised-button
                                color="accent"
                                class="btn-table"
                                (click)="subsanarSolicitud( element.solicitudPagoId )"
                                *ngIf="element.estadoCodigo === listaEstadoSolicitudPago.enProcesoValidacionFinanciera && element.tieneSubsanacion === true">
                                Subsanar solicitud
                        </button>

                        <button mat-raised-button
                                color="accent"
                                class="btn-table"
                                (click)="changueStatusSolicitudPago( element.solicitudPagoId )"
                                *ngIf="element.estadoCodigo === listaEstadoSolicitudPago.enProcesoValidacionFinanciera && element.tieneSubsanacion === false">
                                Enviar para orden de giro
                        </button>

                        <button mat-raised-button
                                color="accent"
                                class="btn-table"
                                (click)="getRechazo( element )"
                                *ngIf="element.estadoCodigo === listaEstadoSolicitudPago.enProcesoValidacionFinanciera && element.estaRechazada === true">
                                Rechazar solicitud
                        </button>

                        <button mat-raised-button
                                color="accent"
                                class="btn-table"
                                [routerLink]="[ 'verDetalleValidarFinancSolicitud', element.contratoId, element.solicitudPagoId ]"
                                *ngIf=" element.estadoCodigo === listaEstadoSolicitudPago.enviadaParaOrdenGiro
                                        || element.estadoCodigo === listaEstadoSolicitudPago.enviadaSubsanacionValidacionFinanciera
                                        || element.estadoCodigo === listaEstadoSolicitudPago.solicitudRechazadaPorValidacionFinanciera">
                                Ver detalle
                        </button>

                    </ng-container>
                    <ng-template #esExpensas>

                        <button mat-raised-button
                                color="accent"
                                class="btn-table"
                                [routerLink]="[ 'validarExpensas', element.solicitudPagoId ]"
                                *ngIf="element.estadoCodigo === listaEstadoSolicitudPago.enviarParaValidacionFinanciera">
                                Validar Solicitud
                        </button>

                        <button mat-raised-button
                                color="accent"
                                class="btn-table"
                                [routerLink]="[ 'validarExpensas', element.solicitudPagoId ]"
                                *ngIf="element.estadoCodigo === listaEstadoSolicitudPago.enProcesoValidacionFinanciera">
                                Ver detalle/Editar
                        </button>

                        <button mat-raised-button
                                color="accent"
                                class="btn-table"
                                (click)="subsanarSolicitud( element.solicitudPagoId )"
                                *ngIf="element.estadoCodigo === listaEstadoSolicitudPago.enProcesoValidacionFinanciera && element.tieneSubsanacion === true">
                                Subsanar solicitud
                        </button>

                        <button mat-raised-button
                                color="accent"
                                class="btn-table"
                                (click)="changueStatusSolicitudPago( element.solicitudPagoId )"
                                *ngIf="element.estadoCodigo === listaEstadoSolicitudPago.enProcesoValidacionFinanciera && element.tieneSubsanacion === false">
                                Enviar para orden de giro
                        </button>

                        <button mat-raised-button
                                color="accent"
                                class="btn-table"
                                (click)="getRechazo( element )"
                                *ngIf="element.estadoCodigo === listaEstadoSolicitudPago.enProcesoValidacionFinanciera && element.estaRechazada === true">
                                Rechazar solicitud
                        </button>

                        <button mat-raised-button
                                color="accent"
                                class="btn-table"
                                [routerLink]="[ 'verDetalleExpensas', element.solicitudPagoId ]"
                                *ngIf=" element.estadoCodigo === listaEstadoSolicitudPago.enviadaParaOrdenGiro
                                        || element.estadoCodigo === listaEstadoSolicitudPago.enviadaSubsanacionValidacionFinanciera
                                        || element.estadoCodigo === listaEstadoSolicitudPago.solicitudRechazadaPorValidacionFinanciera">
                                Ver detalle
                        </button>

                    </ng-template>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
</div>

