<mat-accordion>
    <mat-expansion-panel class="expansion-style">
        <mat-expansion-panel-header class="expansion-style--header">
            <mat-panel-title class="expansion-style--title">
                Contrato de obra N801801
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-accordion>
            <mat-expansion-panel class="expansion-style sub-expansion">
                <mat-expansion-panel-header class="expansion-style--header">
                    <mat-panel-title class="expansion-style--title ">
                        Recursos comprometidos
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <app-recursos-comprom-accord-gbftrec></app-recursos-comprom-accord-gbftrec>
            </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion>
            <mat-expansion-panel class="expansion-style sub-expansion">
                <mat-expansion-panel-header class="expansion-style--header">
                    <mat-panel-title class="expansion-style--title ">
                        Contratistas
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <app-contratistas-gbftrec></app-contratistas-gbftrec>
            </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion>
            <mat-expansion-panel class="expansion-style sub-expansion">
                <mat-expansion-panel-header class="expansion-style--header">
                    <mat-panel-title class="expansion-style--title ">
                        Valor total ordenes de giro
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <app-tabla-valor-total-og-gbftrec></app-tabla-valor-total-og-gbftrec>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-expansion-panel>
    <mat-expansion-panel class="expansion-style">
        <mat-expansion-panel-header class="expansion-style--header">
            <mat-panel-title class="expansion-style--title">
                Contrato de interventoria A513513
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-accordion>
            <mat-expansion-panel class="expansion-style sub-expansion">
                <mat-expansion-panel-header class="expansion-style--header">
                    <mat-panel-title class="expansion-style--title ">
                        Recursos comprometidos
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <app-recursos-comprom-accord-gbftrec></app-recursos-comprom-accord-gbftrec>
            </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion>
            <mat-expansion-panel class="expansion-style sub-expansion">
                <mat-expansion-panel-header class="expansion-style--header">
                    <mat-panel-title class="expansion-style--title ">
                        Contratistas
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <app-contratistas-gbftrec></app-contratistas-gbftrec>
            </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion>
            <mat-expansion-panel class="expansion-style sub-expansion">
                <mat-expansion-panel-header class="expansion-style--header">
                    <mat-panel-title class="expansion-style--title ">
                        Valor total ordenes de giro
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <app-tabla-valor-total-og-gbftrec></app-tabla-valor-total-og-gbftrec>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-expansion-panel>
</mat-accordion>