<mat-accordion>
    <mat-expansion-panel class="expansion-style" *ngIf="contratoObra !== undefined">
        <mat-expansion-panel-header class="expansion-style--header">
            <mat-panel-title class="expansion-style--title">
                Contrato de obra &nbsp;<span *ngIf="contratoObra">{{ contratoObra.numeroContrato }}</span>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-accordion>
            <mat-expansion-panel class="expansion-style sub-expansion">
                <mat-expansion-panel-header class="expansion-style--header">
                    <mat-panel-title class="expansion-style--title ">
                        Recursos comprometidos
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <app-recursos-comprom-accord-gbftrec *ngIf="contratoObra" [contratacionProyecto]="contratoObra.contratacion.contratacionProyecto"></app-recursos-comprom-accord-gbftrec>
            </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion>
            <mat-expansion-panel class="expansion-style sub-expansion">
                <mat-expansion-panel-header class="expansion-style--header">
                    <mat-panel-title class="expansion-style--title ">
                        Contratistas
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <app-contratistas-gbftrec *ngIf="contratoObra" [contratista]="contratoObra.contratacion.contratista"></app-contratistas-gbftrec>
            </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion *ngIf="contratoObra.tablaOrdeneGiroValorTotal.length > 0">
            <mat-expansion-panel class="expansion-style sub-expansion">
                <mat-expansion-panel-header class="expansion-style--header">
                    <mat-panel-title class="expansion-style--title ">
                        Valor total ordenes de giro
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <app-tabla-valor-total-og-gbftrec [tablaOrdeneGiroValorTotal]="contratoObra.tablaOrdeneGiroValorTotal"></app-tabla-valor-total-og-gbftrec>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-expansion-panel>
    <mat-expansion-panel class="expansion-style" *ngIf="contratoInterventoria !== undefined">
        <mat-expansion-panel-header class="expansion-style--header">
            <mat-panel-title class="expansion-style--title">
                Contrato de interventoria &nbsp;<span *ngIf="contratoInterventoria">{{ contratoInterventoria.numeroContrato }}</span>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-accordion>
            <mat-expansion-panel class="expansion-style sub-expansion">
                <mat-expansion-panel-header class="expansion-style--header">
                    <mat-panel-title class="expansion-style--title ">
                        Recursos comprometidos
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <app-recursos-comprom-accord-gbftrec *ngIf="contratoInterventoria" [contratacionProyecto]="contratoInterventoria.contratacion.contratacionProyecto"></app-recursos-comprom-accord-gbftrec>
            </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion>
            <mat-expansion-panel class="expansion-style sub-expansion">
                <mat-expansion-panel-header class="expansion-style--header">
                    <mat-panel-title class="expansion-style--title ">
                        Contratistas
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <app-contratistas-gbftrec *ngIf="contratoInterventoria" [contratista]="contratoInterventoria.contratacion.contratista"></app-contratistas-gbftrec>
            </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion>
            <mat-expansion-panel class="expansion-style sub-expansion" *ngIf="contratoInterventoria.tablaOrdeneGiroValorTotal.length > 0">
                <mat-expansion-panel-header class="expansion-style--header">
                    <mat-panel-title class="expansion-style--title ">
                        Valor total ordenes de giro
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <app-tabla-valor-total-og-gbftrec [tablaOrdeneGiroValorTotal]="contratoInterventoria.tablaOrdeneGiroValorTotal"></app-tabla-valor-total-og-gbftrec>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-expansion-panel>
</mat-accordion>