<div class="container text-center">
    <div class="busqueda">
        <mat-form-field appearance="outline" class="busqueda--input">
            <mat-label>Buscador / Filtro</mat-label>
            <input matInput #filtro (keyup)="applyFilter($event)">
        </mat-form-field>
        <button mat-button color="primary" class="busqueda--img" (click)="filtro.focus()">
            <img src="assets/img/icon/lupa.svg" alt="Buscar">
        </button>
    </div>
    <div class="table-responsive">
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

            <ng-container matColumnDef="fechaCreacion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de creación </th>
                <td mat-cell *matCellDef="let element"> <b>{{element.fechaCreacion | date:'dd/MM/yyyy'}}</b> </td>
            </ng-container>

            <ng-container matColumnDef="tipoAportante">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo de aportante </th>
                <td mat-cell *matCellDef="let element"> {{element.tipoAportante}} </td>
            </ng-container>

            <ng-container matColumnDef="aportante">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Aportante </th>
                <td mat-cell *matCellDef="let element"> {{element.nombreAportante}} </td>
            </ng-container>

            <ng-container matColumnDef="vigencia">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Vigencia del acuerdo de cofinanciación </th>
                <td mat-cell *matCellDef="let element"> {{element.vigencia}} </td>
            </ng-container>

            <ng-container matColumnDef="fuenteDeRecursos">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Fuente de recursos </th>
                <td mat-cell *matCellDef="let element"> {{element.fuenteDeRecursos}} </td>
            </ng-container>

            <ng-container matColumnDef="valorAporteFuenteDeRecursos">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Valor aporte fuente de recursos </th>
                <td mat-cell *matCellDef="let element"> {{element.valorFuente | currency:'':'symbol':'3.0'}} </td>
            </ng-container>

            <ng-container matColumnDef="valorAporteEnCuenta">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Valor aportes en cuenta </th>
                <td mat-cell *matCellDef="let element"> {{element.valorAporteEnCuenta | currency:'':'symbol':'3.0'}}
                </td>
            </ng-container>

            <ng-container matColumnDef="estado">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado del registro </th>
                <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
            </ng-container>

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Gestión </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-raised-button color="accent" class="btn-table"
                        (click)="editarFuente( element.aportante.tipoAportanteId, element.aportanteId )">Ver
                        detalle/<br>Editar</button>
                    <button mat-raised-button color="accent" class="btn-table"
                        (click)="eliminarFuente(element.fuenteFinanciacionId )">Eliminar</button>
                    <button mat-raised-button color="accent" class="btn-table"
                        (click)="controlRecursosFuente(element.fuenteFinanciacionId )">Control de recursos</button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>