.busqueda {
  margin-top: 2em;
}

.margin-90 {
  width: 90%;
  margin: auto;
  margin-top: 2em;
}

.mat-paginator {
  margin-bottom: 2em;
}

.w-select {
  width: 80%;
  margin-top: 1em;
}

.padding-1 {
  padding: .5em;
}