<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="shipping-card">
        <mat-card-content style="text-align: left;">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="pr-1">
                            <label class="label-left" for="estadoAvanceTramite">Estado de avance de la
                                reclamación</label>
                        </div>
                        <div class="col">
                            <mat-form-field class="select-width">
                                <mat-select formControlName="estadoAvanceTramite" required>
                                    <mat-option *ngFor="let estadoAvanceTramite of estadoAvanceTramiteArrayDom"
                                        [value]="estadoAvanceTramite">
                                        {{ estadoAvanceTramite.nombre }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="pr-1">
                            <label class="label-left" for="fechaActuacionAdelantada">Fecha de la actuación
                                adelantada</label>
                        </div>
                        <div class="col d-flex align-items-center">
                            <mat-form-field class="example-full-width">
                                <input matInput formControlName="fechaActuacionAdelantada"
                                    [matDatepicker]="pickerfechaActuacionAdelantada" readonly
                                    (click)="pickerfechaActuacionAdelantada.open()" required>
                                <mat-datepicker #pickerfechaActuacionAdelantada></mat-datepicker>
                            </mat-form-field>
                            <button mat-button color="primary" type="button"
                                (click)="pickerfechaActuacionAdelantada.open()" class="btn-calendario">
                                <img src="assets/img/icon/calendarioCirculo.svg" alt="Abrir Calendario">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-center mtop">
                <div class="text-area-quill izqTitle auxBox">
                    <label for="actuacionAdelantada" class="text-area-quill--label"
                        style="padding: 0; margin-left: 0; margin-top: .5em;">Actuación adelantada</label>
                    <quill-editor class="quill-editor-style card" [styles]="editorStyle" [modules]="config"
                        #actuacionAdelantada (onContentChanged)="maxLength($event, 500)"
                        formControlName="actuacionAdelantada" style="padding: 1.5em 0em 1.2em;"></quill-editor>
                </div>
                <span class="contador miles" *ngIf="addressForm.controls.actuacionAdelantada.value">
                    {{500 - (textoLimpio(actuacionAdelantada.quillEditor,500))}}
                </span>
                <span class="contador miles" *ngIf="!addressForm.controls.actuacionAdelantada.value">
                    500
                </span>
            </div>
            <div class="d-flex align-items-center mtop">
                <div class="text-area-quill izqTitle auxBox">
                    <label for="proximaActuacionRequerida" class="text-area-quill--label"
                        style="padding: 0; margin-left: 0; margin-top: .5em;">Próxima actuación requerida</label>
                    <quill-editor class="quill-editor-style card" [styles]="editorStyle" [modules]="config"
                        #proximaActuacionRequerida (onContentChanged)="maxLength($event, 500)"
                        formControlName="proximaActuacionRequerida" style="padding: 1.5em 0em 1.2em;"></quill-editor>
                </div>
                <span class="contador miles" *ngIf="addressForm.controls.proximaActuacionRequerida.value">
                    {{500 - (textoLimpio(proximaActuacionRequerida.quillEditor,500))}}
                </span>
                <span class="contador miles" *ngIf="!addressForm.controls.proximaActuacionRequerida.value">
                    500
                </span>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="pr-1">
                            <label class="label-left" for="diasVencimientoTerminos">Días de vencimiento de términos para
                                la próxima actuación requerida</label>
                        </div>
                        <div class="col d-flex align-items-center">
                            <mat-form-field class="full-width">
                                <input matInput (keypress)="validateNumberKeypress($event)"
                                    onKeyPress="if(this.value.length>=this.maxLength) return false;" type="number"
                                    maxlength="2" formControlName="diasVencimientoTerminos" required
                                    #diasVencimientoTerminos>
                            </mat-form-field>
                            <span class="contador miles" *ngIf="addressForm.controls.diasVencimientoTerminos.value">
                                {{7 -
                                (addressForm.get('diasVencimientoTerminos').value?addressForm.get('diasVencimientoTerminos').value.toString().length:0)}}
                            </span>
                            <span class="contador miles" *ngIf="!addressForm.controls.diasVencimientoTerminos.value">
                                7
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="pr-1">
                            <label class="label-left" for="fechaVencimientoTerminos">Fecha de vencimiento de términos
                                para la próxima actuación requerida</label>
                        </div>
                        <div class="col d-flex align-items-center">
                            <mat-form-field class="example-full-width">
                                <input matInput formControlName="fechaVencimientoTerminos"
                                    [matDatepicker]="pickerfechaVencimientoTerminos" readonly
                                    (click)="pickerfechaVencimientoTerminos.open()" required>
                                <mat-datepicker #pickerfechaVencimientoTerminos></mat-datepicker>
                            </mat-form-field>
                            <button mat-button color="primary" type="button"
                                (click)="pickerfechaVencimientoTerminos.open()" class="btn-calendario">
                                <img src="assets/img/icon/calendarioCirculo.svg" alt="Abrir Calendario">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-center mtop">
                <div class="text-area-quill izqTitle auxBox">
                    <label for="observaciones" class="text-area-quill--label"
                        style="padding: 0; margin-left: 0; margin-top: .5em;">Observaciones</label>
                    <quill-editor class="quill-editor-style card" [styles]="editorStyle" [modules]="config"
                        #observaciones (onContentChanged)="maxLength($event, 1000)" formControlName="observaciones"
                        style="padding: 1.5em 0em 1.2em;"></quill-editor>
                </div>
                <span class="contador miles" *ngIf="addressForm.controls.observaciones.value">
                    {{1000 - (textoLimpio(observaciones.quillEditor,1000))}}
                </span>
                <span class="contador miles" *ngIf="!addressForm.controls.observaciones.value">
                    1000
                </span>
            </div>
            <div class="row">
                <div class="col-md-12" style="padding-left: 0;">
                    <div class="row">
                        <div class="pr-1">
                            <label class="label-left" for="definitvoAseguradora">¿La reclamación tiene resultado
                                definitivo y se considera cerrado el trámite ante la aseguradora?</label>
                        </div>
                        <div class="col">
                            <mat-radio-group class="radioInput" formControlName="definitvoAseguradora" required>
                                <mat-radio-button [value]="true">Sí</mat-radio-button>
                                <mat-radio-button [value]="false">No</mat-radio-button>
                            </mat-radio-group>
                            <span class="required-form-group" style="margin-left: 1px;">*</span>
                        </div>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card class="shipping-card">
        <mat-card-header class="header-card header-card--margin">
            <mat-card-title class="header-card--text">
                Soporte de la actuación
            </mat-card-title>
        </mat-card-header>
        <mat-card-content style="text-align: left;">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="pr-1">
                            <label class="label-left" for="urlSoporte">URL con soporte</label>
                        </div>
                        <div class="col">
                            <mat-form-field class="full-width">
                                <input matInput #urlSoporte type="text" formControlName="urlSoporte" required>
                            </mat-form-field>
                            <span class="info-url">Indique la ruta en la que se encuentran los documentos de soporte del
                                registro de la actuación de trámite</span>
                        </div>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
    <div class="text-center mb-2em">
        <button mat-button color="warn" class="btn-guardar" type="submit">
            <img src="assets/img/icon/guardar.svg" alt="Regresar">
        </button>
    </div>
</form>