<div class="busqueda">
  <mat-form-field appearance="outline" class="busqueda--input">
    <mat-label>Buscador / Filtro</mat-label>
    <input matInput #filtro (keyup)="applyFilter($event)">
  </mat-form-field>
  <button mat-button color="primary" class="busqueda--img" (click)="filtro.focus()">
    <img src="assets/img/icon/lupa.svg" alt="Buscar">
  </button>
</div>

<div class="w-90">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="fechaSolicitud">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de la solicitud </th>
      <td mat-cell *matCellDef="let element" align="center"> <b> {{ element.contratacion.fechaCreacion | date: 'dd/MM/yyyy' }} </b> </td>
    </ng-container>
    <ng-container *ngFor="let columna of ELEMENT_DATA" [matColumnDef]="columna.name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ columna.titulo }} </th>
      <td mat-cell *matCellDef="let element" align="center"> {{ element[columna.name] }} </td>
    </ng-container>

    <ng-container matColumnDef="estadoRegistro">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado del registro </th>
      <td mat-cell *matCellDef="let element" align="center">
        <div class="flex-span" *ngIf="(element.contratacion.estadoSolicitudCodigo === estadoCodigos.enFirmaFiduciaria) || (element.contratacion.estadoSolicitudCodigo === estadoCodigos.enFirmaContratista)">
          <span class="info-text sin-diligenciar mr-auto"></span>
          <span>
            Incompleto
          </span>
        </div>
        <div class="flex-span" *ngIf="element.contratacion.estadoSolicitudCodigo === estadoCodigos.firmado">
          <span class="info-text completo mr-auto"></span>
          <span>
            Completo
          </span>
        </div>

      </td>
    </ng-container>

    <ng-container matColumnDef="estadoDocumento">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado del documento </th>
      <td mat-cell *matCellDef="let element" align="center">
        <div *ngIf="element.estadoCodigo === estadoCodigos.enFirmaContratista">
          En firma del contratista
        </div>
        <div *ngIf="element.estadoCodigo === estadoCodigos.enFirmaFiduciaria">
          En firma de la fiduciaria
        </div>
        <div *ngIf="element.estadoCodigo === estadoCodigos.firmado">
          Firmado
        </div>
      </td>
    </ng-container>
  
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Gestión </th>
      <td mat-cell *matCellDef="let element">

        <button mat-raised-button
                color="accent" 
                class="btn-table"
                (click)="gestionar( element.tipoSolicitud, element.solicitudId, element.contratacion.estadoSolicitudCodigo )"
                *ngIf="(element.contratacion.estadoSolicitudCodigo === estadoCodigos.enFirmaFiduciaria) || (element.contratacion.estadoSolicitudCodigo === estadoCodigos.enFirmaContratista) || (element.contratacion.estadoSolicitudCodigo === estadoCodigos.firmado)">
                Ver detalle/Editar
        </button>

        <button mat-raised-button
                color="accent" 
                class="btn-table"
                *ngIf="element.contratacion.estadoSolicitudCodigo === estadoCodigos.firmado"
                (click)="cambioEstadoRegistrado( element )">
                Registrar
        </button>
  
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>