.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
  justify-content: center;
}

.example-section-left {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
  justify-content: left;
}

.example-margin {
  margin: 0 10px;
}

.w-80 {
  width: 80%;
}

.w-70 {
  width: 70%;
}

.w-40 {
  width: 40%;
}

.w-35 {
  width: 34.5%;
}

.w-34 {
  width: 33.5%;
}

.w-33 {
  width: 32.5%;
}

.w-30 {
  width: 30%;
}

.w-17 {
  width: 17%;
}

.color-secundary {
  color: #ababab;
}

.mr-min {
  margin: .5em;
}

.mt-min {
  margin-top: .8em;
}

.padding-left {
  padding-left: 0.7em;
}
