<section class="text-center">
  <p class="info-table">
    <img class="info-table--img" src="assets/img/icon/sim.svg" alt="icono información">
    Seleccione el proyecto para el cual va a registrar la novedad contractual
  </p>
  <div class="row justify-content-center">
<div class="col-md-9">
  <div class="table-responsive">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- llaveMEN Column -->
      <ng-container matColumnDef="llaveMEN">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Llave MEN</th>
        <td mat-cell *matCellDef="let element"><b>{{element.llaveMEN}}</b></td>
      </ng-container>

      <!-- institucionEducativa Column -->
      <ng-container matColumnDef="institucionEducativa">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Institución educativa</th>
        <td mat-cell *matCellDef="let element">{{element.institucionEducativa}}</td>
      </ng-container>

      <!-- sede Column -->
      <ng-container matColumnDef="sede">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Sede</th>
        <td mat-cell *matCellDef="let element">{{element.sede}}</td>
      </ng-container>

      <!-- tipoInterventor Column -->
      <ng-container matColumnDef="tipoInterventor">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo de intervención</th>
        <td mat-cell *matCellDef="let element">{{element.tipoInterventor}}</td>
      </ng-container>

      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Gestión</th>
        <td mat-cell *matCellDef="let element">
          <section class="table-checkbox radio">
            <mat-checkbox type="checkbox"></mat-checkbox>
          </section>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </div>
</div>
  </div>
</section>
