<div class="container text-center mt-2em" *ngIf="contratacion != null">
  <div class="text-right">
    <a routerLink="/procesosContractuales" mat-button color="primary" class="btn-regresar">
      <img src="assets/img/icon/regresar.svg" alt="Regresar">
    </a>
  </div>

  <div class="text-center">
    <h1 class="title-menu--h1">
      Gestionar solicitud {{ contratacion?.numeroSolicitudLiquidacion }}
    </h1>
  </div>

  <div class="text-center flex">
    <p class="color-titulo mr-right-8em">Fecha de solicitud: <b>{{ contratacion?.fechaTramiteLiquidacionControl | date: 'dd/MM/yyyy' }}</b></p>
    <p class="color-titulo"><b>Liquidación</b></p>
  </div>

  <div align="left">
    <mat-card class="border">
      <mat-card-content>
        <p><b>Número DDP</b>: {{ contratacion?.disponibilidadPresupuestal[0]?.numeroDdp }}</p>
        <p>
          <b>Objeto</b>: <span [innerHTML]="contratacion?.disponibilidadPresupuestal[0]?.objeto"></span>
        </p>
        <div  *ngIf="contratacion['sesionComiteSolicitud'][0].comiteTecnicoFiduciario != 'undefined' && contratacion['sesionComiteSolicitud'][0].comiteTecnicoFiduciario != null">
          <p><b>Número de comité fiduciario</b>:{{ contratacion['sesionComiteSolicitud'][0].comiteTecnicoFiduciario.numeroComite }}</p>
          <p><b>Fecha de comité fiduciario</b>: {{ contratacion['sesionComiteSolicitud'][0].comiteTecnicoFiduciario.fechaOrdenDia | date: 'dd/MM/yyyy' }}</p>
        </div>
        <div *ngIf="contratacion['sesionComiteSolicitud'][0].comiteTecnico != 'undefined' && contratacion['sesionComiteSolicitud'][0].comiteTecnico != null">
          <p><b>Número de comité técnico</b>:{{ contratacion['sesionComiteSolicitud'][0].comiteTecnico.numeroComite }}</p>
          <p><b>Fecha de comité técnico</b>: {{ contratacion['sesionComiteSolicitud'][0].comiteTecnico.fechaOrdenDia | date: 'dd/MM/yyyy' }}</p>
        </div>
      </mat-card-content>
  </mat-card>
  </div>

  <div class="text-center">
    <mat-accordion>
      <mat-expansion-panel class="expansion-style">
        <mat-expansion-panel-header class="expansion-style--header w-50">
          <mat-panel-title class="expansion-style--title">
            Datos del contrato
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div align="left">
          <mat-card class="border">
            <mat-card-content>
              <p><b>Tipo de contrato</b>:  {{ contratacion?.tipoSolicitudCodigo === '2' ? 'Interventoria' : 'Obra' }}</p>
              <p><b>Valor del contrato</b>: {{ contratacion?.disponibilidadPresupuestal[0].valorSolicitud | currency:'COP':'symbol-narrow':'.0-0' }}</p>
              <p *ngIf="contratacion?.disponibilidadPresupuestal[0].plazoMeses"><b>Plazo</b>: {{ contratacion?.disponibilidadPresupuestal[0].plazoMeses }} meses /
                {{ contratacion?.disponibilidadPresupuestal[0].plazoDias }} días</p>
              <p *ngIf="contratacion?.plazoContratacion && !contratacion?.disponibilidadPresupuestal[0].plazoMeses"><b>Plazo</b>: {{ contratacion?.plazoContratacion?.plazoMeses }} meses /
                  {{ contratacion?.plazoContratacion?.plazoDias }} días</p>
            </mat-card-content>
          </mat-card>
        </div>

      </mat-expansion-panel>

      <mat-expansion-panel class="expansion-style">
        <mat-expansion-panel-header class="expansion-style--header w-50">
          <mat-panel-title class="expansion-style--title">
            Datos del contratista
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div align="left">
          <mat-card class="border">
            <mat-card-content>
              <p><b>Nombre del contratista</b>: {{ contratacion?.contratista?.nombre }}</p>
              <p><b>Tipo de identificación</b>: {{ contratacion?.contratista.tipoIdentificacionCodigo }} </p>
              <p><b>Número de identificación</b>: {{ contratacion?.contratista?.numeroIdentificacion }}</p>
              <p><b>Nombre del representante legal</b>: {{ contratacion?.contratista?.representanteLegal }}</p>
              <p><b>Número de la invitación</b>: {{ contratacion?.contratista?.numeroInvitacion }}</p>
            </mat-card-content>
          </mat-card>
        </div>

      </mat-expansion-panel>

      <mat-expansion-panel class="expansion-style">
        <mat-expansion-panel-header class="expansion-style--header w-50">
          <mat-panel-title class="expansion-style--title">
            Proyectos Asociados
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-expansion-panel class="expansion-style sub-expansion"
          *ngFor="let data of contratacion?.contratacionProyecto">
          <mat-expansion-panel-header class="expansion-style--header w-45">
            <mat-panel-title class="expansion-style--title">
              {{ data.proyecto.llaveMen }} - {{ data.proyecto.institucionEducativa.nombre }} -
              {{ data.proyecto['sede'].nombre }}
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div class="text-center flex">
            <p class="mr-right-8em">
              <b>{{ data.proyecto.institucionEducativa['departamento'].descripcion }}/{{ data.proyecto.institucionEducativa['municipio'].descripcion }}</b>
            </p>
            <p><b>{{ data.proyecto.tipoIntervencionCodigo }}</b></p>
          </div>

          <div align="left" style="margin-top: 1em;">
            <mat-card class="border">
              <mat-card-title class="text-area-quill--label">Características técnicas o jurídicas especiales
              </mat-card-title>
              <mat-card-content class="mt-1em">
                <section *ngIf="data['tieneMonitoreoWeb'] !== undefined">
                  <p *ngIf="data['tieneMonitoreoWeb'] === false">
                    <b>
                      ¿El proyecto tiene contemplada la obligación de disponer de servicio de monitoreo en tiempo real a
                      través de cámaras con acceso web?
                    </b>: No
                  </p>

                  <p *ngIf="data['tieneMonitoreoWeb'] === true">
                    <b>
                      ¿El proyecto tiene contemplada la obligación de disponer de servicio de monitoreo en tiempo real a
                      través de cámaras con acceso web?
                    </b>: Sí
                  </p>
                </section>
                <section *ngIf="data['esReasignacion'] !== undefined">
                  <p *ngIf="data['esReasignacion'] === true">
                    <b>¿El proyecto es una reasignación?</b>: Sí
                  </p>
                  <p *ngIf="data['esReasignacion'] === false">
                    <b>¿El proyecto es una reasignación?</b>: No
                  </p>
                </section>
                <section *ngIf="data['esAvanceobra'] !== undefined">
                  <p *ngIf="data['esAvanceobra'] === true">
                    <b>¿El proyecto tiene avance de obra?</b>: Sí
                  </p>
                  <p *ngIf="data['esAvanceobra'] === false">
                    <b>¿El proyecto tiene avance de obra?</b>: No
                  </p>
                </section>
                <section *ngIf="data['porcentajeAvanceObra'] !== undefined">
                  <p *ngIf="data['porcentajeAvanceObra'] !== 0">
                    <b>¿Cuál es el porcentaje de avance de obra?</b>:
                    {{ data.porcentajeAvanceObra }}%
                  </p>
                </section>
                <section *ngIf="data['requiereLicencia'] !== undefined">
                  <p *ngIf="data['requiereLicencia'] === true">
                    <b>¿El proyecto requiere licencias?</b>: Sí
                  </p>
                  <p *ngIf="data['requiereLicencia'] === false">
                    <b>¿El proyecto requiere licencias?</b>: No
                  </p>
                </section>
                <section *ngIf="data['licenciaVigente'] !== undefined">
                  <p *ngIf="data['licenciaVigente'] === true">
                    <b>¿El proyecto tiene licencia vigente?</b>: Sí
                  </p>
                  <p *ngIf="data['licenciaVigente'] === false">
                    <b>¿El proyecto tiene licencia vigente?</b>: No
                  </p>
                </section>
                <section *ngIf="data['numeroLicencia'] !== undefined">
                  <p *ngIf="data['numeroLicencia'].length > 0">
                    <b>Número de licencia</b>: {{ data['numeroLicencia'] }}
                  </p>
                </section>
                <section *ngIf="data['fechaVigencia'] !== undefined">
                  <p *ngIf="data['fechaVigencia'].length > 0">
                    <b>Fecha de vigencia</b>: {{ data['fechaVigencia'] | date: 'dd/MM/yyyy' }}
                  </p>
                </section>
              </mat-card-content>
            </mat-card>
          </div>
        </mat-expansion-panel>
      </mat-expansion-panel>

      <mat-expansion-panel class="expansion-style">
        <mat-expansion-panel-header class="expansion-style--header w-50">
          <mat-panel-title class="expansion-style--title">
            Disponibilidad presupuestal
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-expansion-panel class="expansion-style sub-expansion">
          <mat-expansion-panel-header class="expansion-style--header w-45">
            <mat-panel-title class="expansion-style--title">
              {{ contratacion?.numeroSolicitud }}
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div class="text-center" style="margin-bottom: 2em;">
            <p><b>Valor del DDP</b> {{ valorTotalDdp | currency:'COP':'symbol-narrow':'.0-0' }}</p>
          </div>

          <app-form-aportantes *ngIf="contratacion != null" [data]="contratacion?.contratacionProyecto" [tipoSolicitud]="contratacion?.tipoSolicitudCodigo"></app-form-aportantes>

        </mat-expansion-panel>

        <div class="text-center w-15">
          <button mat-raised-button color="accent" class="btn-table"
            (click)="getDdp( contratacion?.disponibilidadPresupuestal[0]?.disponibilidadPresupuestalId, contratacion?.disponibilidadPresupuestal[0]?.numeroDdp )">
            Descargar DDP
          </button>
        </div>

      </mat-expansion-panel>

      <mat-expansion-panel class="expansion-style">
        <mat-expansion-panel-header class="expansion-style--header w-50">
          <mat-panel-title class="expansion-style--title">
            Modificaciones contractuales
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-expansion-panel class="expansion-style sub-expansion"
          *ngFor="let dataNovedad of dataNovedadList">
          <mat-expansion-panel-header class="expansion-style--header w-45">
            <mat-panel-title class="expansion-style--title">
              Modificación {{ dataNovedad?.numeroSolicitud }} - Contrato {{ dataNovedad?.contrato?.numeroContrato }}
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div class="text-center">
            <p>Tipo de modificación: <b>{{ dataNovedad?.tipoModificacion }}</b></p>
          </div>

          <div *ngFor="let element of dataNovedad.novedadContractualDescripcion; let f = index">
            <div align="left">
                <mat-card class="border">
                  <mat-card-title class="text-area-quill--label">
                    {{ element.nombreTipoNovedad }}
                  </mat-card-title>
                  <mat-card-content>
                    <p *ngIf="element.tipoNovedadCodigo === this.tipoNovedad.adicion"><b>Valor después de la modificación</b>:{{element.presupuestoAdicionalSolicitado | currency:'':'symbol':'3.0'}}</p>
                    <p *ngIf="element.tipoNovedadCodigo === this.tipoNovedad.prorroga"><b>Plazo después de la modificación</b>:
                      <span *ngIf="element.plazoAdicionalDias != null && element.plazoAdicionalMeses != null ">{{element.plazoAdicionalMeses + dataNovedad.contrato.contratacion.disponibilidadPresupuestal[0].plazoMeses }} meses / {{element.plazoAdicionalDias + dataNovedad.contrato.contratacion.disponibilidadPresupuestal[0].plazoDias }} días</span></p>
                    <p *ngIf="element.tipoNovedadCodigo === this.tipoNovedad.suspension || element.tipoNovedadCodigo === this.tipoNovedad.prorroga_a_las_Suspension"><b>Fecha de inicio de la suspensión</b>: {{ element.fechaInicioSuspension | date: 'dd/MM/yyyy' }}</p>
                    <p *ngIf="element.tipoNovedadCodigo === this.tipoNovedad.suspension || element.tipoNovedadCodigo === this.tipoNovedad.prorroga_a_las_Suspension"><b>Fecha final de la suspensión</b>: {{ element.fechaFinSuspension | date: 'dd/MM/yyyy' }}</p>
                    <p *ngIf="element.tipoNovedadCodigo === this.tipoNovedad.reinicio"><b>Fecha de inicio del reinicio</b>: {{ element.fechaInicioSuspension | date: 'dd/MM/yyyy' }}</p>
                    <p *ngIf="element.tipoNovedadCodigo === this.tipoNovedad.reinicio"><b>Fecha final del reinicio</b>: {{ element.fechaFinSuspension | date: 'dd/MM/yyyy' }}</p>
                    <p *ngIf="element.tipoNovedadCodigo === this.tipoNovedad.modificacion_de_Condiciones_Contractuales">
                      <b>Cláusula</b>:<span [innerHTML]="element?.novedadContractualClausula[0].clausulaAmodificar"></span>
                      <b>Ajuste</b>:<span [innerHTML]="element?.novedadContractualClausula[0].ajusteSolicitadoAclausula"></span>
                    </p>
                    <p><b>Detalle de la modificación</b>: <span [innerHTML]="element.resumenJustificacion"></span></p>
                  </mat-card-content>
                </mat-card>
            </div>
          </div>
        </mat-expansion-panel>

      </mat-expansion-panel>

      <mat-expansion-panel class="expansion-style">
        <mat-expansion-panel-header class="expansion-style--header w-50">
          <mat-panel-title class="expansion-style--title">
            Balance financiero
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-expansion-panel class="expansion-style sub-expansion" *ngFor="let data of contratacion?.contratacionProyecto">
          <mat-expansion-panel-header class="expansion-style--header w-45">
            <mat-panel-title class="expansion-style--title">
              {{ data?.proyecto?.llaveMen }}
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-expansion-panel class="expansion-style sub-expansion-black">
            <mat-expansion-panel-header class="expansion-style--header w-45">
              <mat-panel-title class="expansion-style--title">
                Recursos comprometidos y pagados
              </mat-panel-title>
            </mat-expansion-panel-header>
            <app-recursos-compro-pagados [proyectoId]="data.proyectoId"></app-recursos-compro-pagados>
          </mat-expansion-panel>

          <mat-expansion-panel class="expansion-style sub-expansion-black">
            <mat-expansion-panel-header class="expansion-style--header w-45">
              <mat-panel-title class="expansion-style--title">
                Ejecución financiera por componentes
              </mat-panel-title>
            </mat-expansion-panel-header>

            <mat-card class="shipping-card mainGris">
              <mat-card-header class="header-card header-card--margin">
                  <mat-card-title class="header-card--text textoGris">
                      Ejecución presupuestal
                  </mat-card-title>
              </mat-card-header>
              <mat-card-content>
                  <app-tabla-ejpresupuestal *ngIf="data.ejecucionPresupuestal" [data]="data.ejecucionPresupuestal?.dataTableEjpresupuestal"></app-tabla-ejpresupuestal>
              </mat-card-content>
            </mat-card>
            <mat-card class="shipping-card mainGris" style="margin-top: 3em;">
              <mat-card-header class="header-card header-card--margin">
                  <mat-card-title class="header-card--text textoGris">
                      Ejecución financiera
                  </mat-card-title>
              </mat-card-header>
              <mat-card-content>
                  <app-tabla-ejfinanciera *ngIf="data.ejecucionPresupuestal" [data]="data.ejecucionPresupuestal?.dataTableEjfinanciera"></app-tabla-ejfinanciera>
              </mat-card-content>
            </mat-card>

          </mat-expansion-panel>

          <mat-expansion-panel class="expansion-style sub-expansion-black" *ngIf="data.cumpleCondicionesTai !== true">
            <mat-expansion-panel-header class="expansion-style--header w-45">
              <mat-panel-title class="expansion-style--title">
                Traslados de recursos
              </mat-panel-title>
            </mat-expansion-panel-header>

            <div align="left">
              <mat-card class="border">
                <mat-card-content>
                  <app-tabla-otros-descuentos [displayedColumns]="displayedColumns" [ELEMENT_DATA]="ELEMENT_DATA"></app-tabla-otros-descuentos>
                </mat-card-content>
              </mat-card>
            </div>

          </mat-expansion-panel>

          <mat-expansion-panel class="expansion-style sub-expansion-black" *ngIf="data.cumpleCondicionesTai === true">
            <mat-expansion-panel-header class="expansion-style--header w-45">
              <mat-panel-title class="expansion-style--title">
                Ver liberación de saldos
              </mat-panel-title>
            </mat-expansion-panel-header>
            <app-ver-liberacion-saldos [proyectoId]="data.proyectoId"></app-ver-liberacion-saldos>

          </mat-expansion-panel>

        </mat-expansion-panel>

      </mat-expansion-panel>

      <mat-expansion-panel class="expansion-style">
        <mat-expansion-panel-header class="expansion-style--header w-50">
          <mat-panel-title class="expansion-style--title">
            Informe final
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-expansion-panel class="expansion-style sub-expansion"
          *ngFor="let data of informeFinal">
          <mat-expansion-panel-header class="expansion-style--header w-45">
            <mat-panel-title class="expansion-style--title">
              {{ data?.llaveMen }}
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-card class="shipping-card var-main-gris">
            <mat-card-header class="header-card header-card--margin">
              <mat-card-title class="header-card--text"> Recibo a satisfacción</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p><strong>URL Acta de recibo a satisfaccion - Obra:</strong>{{ data.informeFinal.urlActa }}</p>
              <p><strong>Fecha de suscripción:</strong>{{ data.informeFinal.fechaSuscripcion | date:'dd/MM/yyyy' }}</p>
            </mat-card-content>
          </mat-card>
          <app-tabla-informe-anexos *ngIf="data != null && data != 'undefined'" [informeFinalId] = "data.informeFinal.informeFinalId"></app-tabla-informe-anexos>
        </mat-expansion-panel>
      </mat-expansion-panel>

      <mat-expansion-panel class="expansion-style">
        <mat-expansion-panel-header class="expansion-style--header w-50">
          <mat-panel-title class="expansion-style--title">
            Pólizas y garantías
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div align="left">
          <mat-card class="border">
            <mat-card-content>
              <p><b>Nombre de la aseguradora</b>: {{ contratoPoliza?.nombreAseguradora }} </p>
              <p><b>Número de la póliza</b>: {{ contratoPoliza?.numeroPoliza }}</p>
              <p><b>Número de certificado</b>: {{ contratoPoliza?.numeroCertificado }}</p>
              <p><b>Fecha de expedición de la póliza</b>:{{ contratoPoliza?.fechaExpedicion | date: 'dd/MM/yyyy' }}              </p>
              <div *ngFor="let seguro of seguros">
                <p><b>Seguro {{ seguro?.nombre }}</b></p>
                <p><b>Vigencia de la póliza</b>: {{ seguro?.seguroPoliza?.vigencia | date: 'dd/MM/yyyy' }}</p>
                <p><b>Vigencia del amparo</b>: {{ seguro?.seguroPoliza?.vigenciaAmparo | date: 'dd/MM/yyyy' }}</p>
                <p><b>Valor del amparo</b>: {{ seguro?.seguroPoliza?.valorAmparo | currency:'':'symbol-narrow':'.0-0' }}</p>
                <p><b>Fecha de expedición de la actualización de la póliza</b>: {{ seguro?.fechaExpedicionActualizacionPoliza | date: 'dd/MM/yyyy' }}</p>
                <p><b>Vigencia actualizada</b>:  {{ seguro.fechaSeguro | date: 'dd/MM/yyyy' }}</p>
                <p><b>Vigencia actualizada del amparo</b>: {{ seguro.fechaAmparo | date: 'dd/MM/yyyy' }}</p>
                <p><b>Valor actualizado del amparo</b>: {{ seguro.valorAmparo| currency:'':'symbol-narrow':'.0-0' }}</p>
              </div>
            </mat-card-content>
        </mat-card>
        </div>

      </mat-expansion-panel>

      <mat-expansion-panel class="expansion-style" *ngIf="estadoCodigo === '6'">
        <mat-expansion-panel-header class="expansion-style--header w-50">
          <mat-panel-title class="expansion-style--title">
            Información del trámite
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div align="left">
          <mat-card class="border">
            <mat-card-content>
              <p><b>Fecha del trámite</b>:{{ contratacion?.fechaTramite | date: 'dd/MM/yyyy' }}</p>
              <p><b>Fecha de envío de documentación física para el trámite</b>: {{ contratacion?.fechaTramiteGestionar | date: 'dd/MM/yyyy' }}</p>
              <p><b>Observaciones</b>:{{ contratacion?.observacionGestionar }}</p>
              <p><b>URL con soporte</b>: {{ contratacion?.urlSoporteGestionar }}</p>
            </mat-card-content>
          </mat-card>
        </div>

      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div class="mt-2em" align="left" *ngIf="estadoCodigo === '21'">
    <mat-card class="border">
      <mat-card-title class="text-area-quill--label">Registrar trámite</mat-card-title>
      <mat-card-content class="mt-2em">
        <p>Fecha del trámite <b class="color-titulo">{{ contratacion?.fechaTramite | date: 'dd/MM/yyyy' }}</b></p>
        <app-form-registro-tramite [dataFormulario]="form" [contratacion]="contratacion"
        [minDate]="contratacion?.fechaTramite" [esLiquidacion]= true></app-form-registro-tramite>
      </mat-card-content>
    </mat-card>
  </div>
</div>
