:host {
    text-align: center;
}

.title-menu--hr {
    margin-bottom: 2em;
}

.p {
    margin-left: 2em;
    margin-right: 2em;
    @media only screen and (min-width: 75em) {
        margin-left: 5em;
        margin-right: 5em;
    }
}

.menu {
    width: 20em;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4em;

    &--link {
        display: block;
        border-radius: 0;
        color: var(--mainColor);
        border-bottom: solid 1px;

        &:first-child {
            border-top: solid 1px;
        }
    }
}