:host {
  text-align: center;
}

.title-menu--h1 {
  margin-top: 2em;
  margin-bottom: 1em;
}

.p {
  margin-left: 2em;
  margin-right: 2em;
  @media only screen and (min-width: 75em) {
    margin-left: 5em;
    margin-right: 5em;
  }
}

.pt-1-6em {
  padding-top: 1.6em;
}

.menu {
  margin-top: 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 6em;
  cursor: pointer;

  @media only screen and (max-width: 71em) {
    flex-direction: column;
  }

  &--button {
    width: calc(25% - 2em);
    @media only screen and (max-width: 71em) {
      width: 20em;
      max-width: 90%;
      margin-bottom: 2em;
    }

    &:hover,
    &__active {
      background-color: #d1d1d1;
      background-color: var(--grayColor);
      text-decoration: none;
    }
  }
}

.navegacion {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1.5em 8.8em 0;
  position: relative;

  @media only screen and (max-width: 31em) {
    margin-left: 0;
    margin-right: 0;
  }

  // &::before {
  //   content: '';
  //   display: block;
  //   position: absolute;
  //   border-bottom: solid 1px #174193;
  //   border-bottom: solid 1px var(--mainColor);
  //   width: 100%;
  //   top: calc(50% - 1.5em);
  // }

  &--button {
    width: calc(33% - 1px);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 2em;
    border-right: solid 1px #174193;
    border-right: solid 1px var(--mainColor);
    color: #174193;
    color: var(--mainColor);
    text-decoration: none;
    padding: 1.6em 0.5em 0.5em;
    box-sizing: border-box;
    line-height: 1.1;
    font-weight: 500;
    transition: background-color 0.3s;
    cursor: pointer;

    @media only screen and (max-width: 31em) {
      width: 100%;
      border-left: solid 1px #174193;
      border-right: solid 1px #174193;
    }

    &:first-child,
    &:nth-child(3n + 4) {
      border-left: solid 1px #174193;
    }

    &:hover {
      background-color: #eaeaea;
      background-color: var(--grayColor-2);
    }

    & > img {
      height: 3em;
      padding-bottom: 1.5em;
    }
  }
}
