.shipping-card {
    // padding-top: 2.5em !important;

    .expansion-style & {
        margin-left: -24px;
        margin-right: -24px;
    }
}

.botones {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3em;
    margin-bottom: 3em;

    button {
        line-height: 1.2;
        min-height: 33px;
    }
}

.mat-card-header.header-card {
    margin-top: -3.2em !important;
    margin-left: -4.2em;
}
