<mat-card class="shipping-card var-main-gris" *ngIf="existeObservacionCumplimiento && anexos">
  <mat-card-header class="header-card header-card--margin">
    <mat-card-title class="mat-card-title header-card--text">
      Verificación del grupo de novedades y liquidaciones
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      <strong>
        <span>{{ anexos.fechaCreacion | date:'dd/MM/yyyy' }} </span>
      </strong>
    </p>
    <p>
      <strong>
        ¿Desde el grupo de novedades y liquidaciones tiene observaciones al recibo de satisfacción:
      </strong>
      <span *ngIf="anexos.observaciones != null && anexos.observaciones != ''"> Si</span>
      <span *ngIf="anexos.observaciones == null || anexos.observaciones == ''"> No</span>
    </p>
    <p *ngIf="anexos.observaciones != null && anexos.observaciones != ''" [innerHTML]="anexos.observaciones">
    </p>
  </mat-card-content>
</mat-card>