<button mat-button mat-dialog-close class="modal--btn-cerrar" [mat-dialog-close]="true">
  <img src="assets/img/icon/cerrar-blanco.svg" alt="cerrar">
</button>

<div class="text-center">
  <h1 class="title-menu--h1">
    GestiónRealizada
  </h1>

  <p class="p">
    Realizar seguimiento semanal del cronograma
  </p>

  <p class="p">
    <b>
      Julian Guillermo García Pedreros
    </b>
  </p>
</div>

<mat-card class="shipping-card">
  <mat-card-content>
    <ol class="ol">
      <li> Falta ubicar a dos responsables para verificar la información del cronograma.</li>
    </ol>
  </mat-card-content>
</mat-card>
