.side-left {
  padding-left: 3em;
  position: relative;

  &::before{
    content: attr( data-line );
    background-color: #fdc101;
    height: 3em;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-90deg);
    left: 0;
    top: 0;
  }
}