<div class="container text-center mt-2em">
  <div class="text-right">
    <a routerLink="/procesosContractuales" mat-button color="primary" class="btn-regresar">
      <img src="assets/img/icon/regresar.svg" alt="Regresar">
    </a>
  </div>

  <div class="text-center">
    <h1 class="title-menu--h1">
      Gestionar solicitud PI_008
    </h1>
  </div>
  <div class="text-center flex">
    <p class="color-titulo mr-right-8em">Fecha de solicitud: <b>15/06/2020</b></p>
    <p class="color-titulo"><b>Contratación</b></p>
  </div>
  <div align="left">
    <mat-card class="border">
      <mat-card-content>
        <p><b>Número DDP</b>: DDP_PI_005</p>
        <p>
          <b>Objeto</b>:  Contrato de modificación de obra que compromete el diagnóstico y/o actualización y/o complementación y/o elaboración de estudios y
                          diseños y ejecución de las obras necesarias para la adecuación y mejoramiento de las instituciones rurales.
        </p>
        <p><b>Número de comité fiduciario</b>: CF_002</p>
        <p><b>Fecha de comité fiduciario</b>: 14/06/2020</p>
      </mat-card-content>
  </mat-card>
  </div>
  <div class="text-center">
    <mat-accordion>
      <mat-expansion-panel class="expansion-style">
        <mat-expansion-panel-header class="expansion-style--header w-50">
          <mat-panel-title class="expansion-style--title">
            Proyectos asociados
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-expansion-panel class="expansion-style">
          <mat-expansion-panel-header class="expansion-style--header w-45">
            <mat-panel-title class="expansion-style--title">
              LL000007 - I.E De Desarrollo Rural Miguel Valencia - Única sede
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div class="text-center flex">
            <p class="mr-right-8em"><b>Antioquia/Jardín</b></p>
            <p><b>Ampliación</b></p>
          </div>

          <div align="left">
            <mat-card class="border">
              <mat-card-title class="text-area-quill--label">Características técnicas o jurídicas especiales</mat-card-title>
              <mat-card-content>
                <p> 
                  <b>
                    ¿El proyecto tiene contemplada la obligación de disponer de servicio de monitoreo en tiempo real a través de cámaras con acceso web?:
                  </b> No
                </p>
                <p>
                  <b>¿El proyecto es una reasignación?</b>: Sí
                </p>
                <p>
                  <b>¿El proyecto tiene avance de obra?</b>: Sí
                </p>
                <p>
                  <b>¿Cuál es el porcentaje de avance de obra?</b>: 30%
                </p>
                <p>
                  <b>¿El proyecto requiere licencias?</b>: Sí
                </p>
                <p>
                  <b>¿El proyecto tiene licencia vigente?</b>: Sí
                </p>
                <p>
                  <b>Número de licencia</b>: 0930478
                </p>
                <p>
                  <b>Fecha de vigencia</b>: 24/09/2020
                </p>
              </mat-card-content>
            </mat-card>
          </div>

        </mat-expansion-panel>

        <mat-expansion-panel class="expansion-style">
          <mat-expansion-panel-header class="expansion-style--header w-45">
            <mat-panel-title class="expansion-style--title">
              LL000007 - I.E Agroindustrial LA Pradera - Única sede
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div class="text-center flex">
            <p class="mr-right-8em"><b>Boyacá/Belén</b></p>
            <p><b>Reconstrucción</b></p>
          </div>

          <div align="left">
            <mat-card class="border">
              <mat-card-title class="text-area-quill--label">Características técnicas o jurídicas especiales</mat-card-title>
              <mat-card-content>
                <p> 
                  <b>
                    ¿El proyecto tiene contemplada la obligación de disponer de servicio de monitoreo en tiempo real a través de cámaras con acceso web?:
                  </b> Sí
                </p>
                <p>
                  <b>¿El proyecto es una reasignación?</b>: No
                </p>
                <p>
                  <b>¿El proyecto requiere licencias?</b>: No
                </p>
              </mat-card-content>
            </mat-card>
          </div>

        </mat-expansion-panel>

      </mat-expansion-panel>

      <mat-expansion-panel class="expansion-style">
        <mat-expansion-panel-header class="expansion-style--header w-50">
          <mat-panel-title class="expansion-style--title">
            Datos del contratista
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div align="left">
          <mat-card class="border">
            <mat-card-content>
              <p>
                <b>Nombre del contratista</b>: Constructora Colpatria
              </p>
              <p>
                <b>Tipo de identificación</b>: NIT
              </p>
              <p>
                <b>Número de identificación</b>: 900.333.000-3
              </p>
              <p>
                <b>Nombre del representante legal</b>: Sergio Varón
              </p>
              <p>
                <b>Número de la invitación</b>: 00560
              </p>
            </mat-card-content>
          </mat-card>
        </div>

      </mat-expansion-panel>

      <mat-expansion-panel class="expansion-style">
        <mat-expansion-panel-header class="expansion-style--header w-50">
          <mat-panel-title class="expansion-style--title">
            Condiciones contractuales
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div align="left">
          <mat-card class="border">
            <mat-card-content>
              <p>
                <b>Tipo de contrato</b>: Obra
              </p>
              <p>
                <b>Plazo</b>: 12 meses / 20 días
              </p>
              <p>
                <b>Valor del contrato</b>: $ 178.000.000
              </p>
            </mat-card-content>
          </mat-card>
        </div>

      </mat-expansion-panel>

      <mat-expansion-panel class="expansion-style">
        <mat-expansion-panel-header class="expansion-style--header w-50">
          <mat-panel-title class="expansion-style--title">
            Clausulado
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div align="center">
          <mat-card class="border">
            <mat-card-content>
              <p>
                No se debe girar el 60% de los recursos hasta que la fase inicial de infraestructura se encuentre en un 60% de ejecución.
              </p>
            </mat-card-content>
          </mat-card>
        </div>

      </mat-expansion-panel>

      <mat-expansion-panel class="expansion-style">
        <mat-expansion-panel-header class="expansion-style--header w-50">
          <mat-panel-title class="expansion-style--title">
            Disponibilidad presupuestal
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-expansion-panel class="expansion-style">
          <mat-expansion-panel-header class="expansion-style--header w-45">
            <mat-panel-title class="expansion-style--title">
              DDP_PI_005
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div class="text-center">
            <p><b>Valor del DDP</b> $ 600.000.000</p>
          </div>

          <app-form-aportantes></app-form-aportantes>

        </mat-expansion-panel>

        <div class="text-center w-15">
          <button mat-raised-button
                  color="accent" 
                  class="btn-table">
                  Descargar DDP
          </button>
        </div>

      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div class="mt-2em" align="left">
    <mat-card class="border">
      <mat-card-title class="text-area-quill--label">Registrar trámite</mat-card-title>
      <mat-card-content class="mt-2em">
        <p>Fecha del trámite <b class="color-titulo">16/06/2020</b></p>
        <form autocomplete="off" [formGroup]="form" (ngSubmit)="guardar()">
          <div class="container">
            <div class="d-flex">
              <label class="mr-label">Fecha de envío de documentación física para el trámite</label>
              <mat-form-field class="w-20" appearance="fill">
                <input matInput [matDatepicker]="picker" formControlName="fechaEnvioTramite">
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              <button mat-button color="primary" type="button" (click)="picker.open()" class="btn-calendario">
                <img src="assets/img/icon/calendarioCirculo.svg" alt="Abrir Calendario">
              </button>
            </div>

            <div class="d-flex">
              <label>Observaciones</label>
              <quill-editor class="quill-editor-style" 
                            [styles]="editorStyle"
                            [modules]="config"
                            (onContentChanged)="maxLength($event, 2000)" 
                            formControlName="observaciones"
                            required></quill-editor>
              <span class="contador" *ngIf="form.get('observaciones').value">
                {{2000 - form.get('observaciones').value.length}}
              </span>
              <span class="contador" *ngIf="form.get('observaciones').value === null">
                2000
              </span>
            </div>

            <div class="text-center">
              <button mat-button color="warn" class="btn-guardar" type="submit">
                <img src="assets/img/icon/guardar.svg" alt="Regresar">
              </button>
            </div>
          </div>

        </form>
      </mat-card-content>
    </mat-card>
  </div>

</div>
