<div class="container text-center mt-2em" *ngIf="dataContratacion.numeroSolicitud.length > 0">
  <div class="text-right">
    <a routerLink="/procesosContractuales" mat-button color="primary" class="btn-regresar">
      <img src="assets/img/icon/regresar.svg" alt="Regresar">
    </a>
  </div>

  <div class="text-center">
    <h1 class="title-menu--h1">
      Gestionar solicitud {{ dataContratacion.numeroSolicitud }}
    </h1>
  </div>
  <div class="text-center flex">
    <p class="color-titulo mr-right-8em">Fecha de solicitud: <b>{{ dataContratacion.fechaCreacion | date: 'dd/MM/yyyy' }}</b></p>
    <p class="color-titulo"><b *ngIf="(dataContratacion.tipoSolicitudCodigo === '1')">Contratación</b></p>
  </div>
  <div align="left">
    <mat-card class="border">
      <mat-card-content class="mt-1em">
        <p><b>Número DDP</b>: {{ dataContratacion.disponibilidadPresupuestal[0].numeroDdp }}</p>
        <p>
          <b>Objeto</b>: {{ dataContratacion.disponibilidadPresupuestal[0].objeto }}</p>
        <p><b>Número de comité fiduciario</b>: {{ dataContratacion.disponibilidadPresupuestal[0].numeroComiteFiduciario }}</p>
        <p><b>Fecha de comité fiduciario</b>: {{ dataContratacion.disponibilidadPresupuestal[0].fechaComiteFiduciario }}</p>
      </mat-card-content>
  </mat-card>
  </div>
  <div class="text-center">
    <mat-accordion>
      <mat-expansion-panel class="expansion-style">
        <mat-expansion-panel-header class="expansion-style--header w-50">
          <mat-panel-title class="expansion-style--title">
            Proyectos asociados
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-expansion-panel class="expansion-style" *ngFor="let data of dataContratacion.contratacionProyecto">
            <mat-expansion-panel-header class="expansion-style--header w-45" *ngIf="data.proyecto.institucionEducativa.proyectoInstitucionEducativa.length > 0">
              <mat-panel-title class="expansion-style--title">
                {{ data.proyecto.institucionEducativa.nombre }}
              </mat-panel-title>
            </mat-expansion-panel-header>
  
            <div class="text-center flex" *ngIf="data.proyecto.institucionEducativa.proyectoInstitucionEducativa.length > 0">
              <p class="mr-right-8em"><b>{{ data.proyecto.institucionEducativa['departamento'].descripcion }}/{{ data.proyecto.institucionEducativa['municipio'].descripcion }}</b></p>
              <p><b>{{ data.proyecto.institucionEducativa.proyectoInstitucionEducativa[0].tipoIntervencionCodigo }}</b></p>
            </div>
  
            <div align="left" *ngIf="data.proyecto.institucionEducativa.proyectoInstitucionEducativa.length > 0">
              <mat-card class="border">
                <mat-card-title class="text-area-quill--label">Características técnicas o jurídicas especiales</mat-card-title>
                <mat-card-content class="mt-1em">
                  <p *ngIf="data.proyecto.institucionEducativa.proyectoInstitucionEducativa[0].contratacionProyecto[0].activo"> 
                    <b>
                      ¿El proyecto tiene contemplada la obligación de disponer de servicio de monitoreo en tiempo real a través de cámaras con acceso web?
                    </b>: No
                  </p>
                  <p *ngIf="!data.proyecto.institucionEducativa.proyectoInstitucionEducativa[0].contratacionProyecto[0].activo">
                    <b>
                      ¿El proyecto tiene contemplada la obligación de disponer de servicio de monitoreo en tiempo real a través de cámaras con acceso web?
                    </b>: Sí
                  </p>
                  <p *ngIf="data.proyecto.institucionEducativa.proyectoInstitucionEducativa[0].contratacionProyecto[0].esReasignacion">
                    <b>¿El proyecto es una reasignación?</b>: Sí
                  </p>
                  <p *ngIf="!data.proyecto.institucionEducativa.proyectoInstitucionEducativa[0].contratacionProyecto[0].esReasignacion">
                    <b>¿El proyecto es una reasignación?</b>: No
                  </p>
                  <p *ngIf="data.proyecto.institucionEducativa.proyectoInstitucionEducativa[0].contratacionProyecto[0].esAvanceobra">
                    <b>¿El proyecto tiene avance de obra?</b>: Sí
                  </p>
                  <p *ngIf="!data.proyecto.institucionEducativa.proyectoInstitucionEducativa[0].contratacionProyecto[0].esAvanceobra">
                    <b>¿El proyecto tiene avance de obra?</b>: No
                  </p>
                  <p *ngIf="data.proyecto.institucionEducativa.proyectoInstitucionEducativa[0].contratacionProyecto[0].porcentajeAvanceObra !== 0">
                    <b>¿Cuál es el porcentaje de avance de obra?</b>: 
                    {{ data.proyecto.institucionEducativa.proyectoInstitucionEducativa[0].contratacionProyecto[0].porcentajeAvanceObra }}%
                  </p>
                  <p *ngIf="data.proyecto.institucionEducativa.proyectoInstitucionEducativa[0].contratacionProyecto[0].requiereLicencia">
                    <b>¿El proyecto requiere licencias?</b>: Sí
                  </p>
                  <p *ngIf="!data.proyecto.institucionEducativa.proyectoInstitucionEducativa[0].contratacionProyecto[0].requiereLicencia">
                    <b>¿El proyecto requiere licencias?</b>: No
                  </p>
                  <p *ngIf="data.proyecto.institucionEducativa.proyectoInstitucionEducativa[0].contratacionProyecto[0].licenciaVigente">
                    <b>¿El proyecto tiene licencia vigente?</b>: Sí
                  </p>
                  <p *ngIf="!data.proyecto.institucionEducativa.proyectoInstitucionEducativa[0].contratacionProyecto[0].licenciaVigente">
                    <b>¿El proyecto tiene licencia vigente?</b>: No
                  </p>
                  <p *ngIf="data.proyecto.institucionEducativa.proyectoInstitucionEducativa[0].contratacionProyecto[0].numeroLicencia.length > 0">
                    <b>Número de licencia</b>: {{ data.proyecto.institucionEducativa.proyectoInstitucionEducativa[0].contratacionProyecto[0].numeroLicencia }}
                  </p>
                  <p *ngIf="data.proyecto.institucionEducativa.proyectoInstitucionEducativa[0].contratacionProyecto[0].fechaVigencia.length > 0">
                    <b>Fecha de vigencia</b>: {{ data.proyecto.institucionEducativa.proyectoInstitucionEducativa[0].contratacionProyecto[0].fechaVigencia | date: 'dd/MM/yyyy' }}
                  </p>
                </mat-card-content>
              </mat-card>
            </div>
        </mat-expansion-panel>

      </mat-expansion-panel>

      <mat-expansion-panel class="expansion-style">
        <mat-expansion-panel-header class="expansion-style--header w-50">
          <mat-panel-title class="expansion-style--title">
            Datos del contratista
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div align="left">
          <mat-card class="border">
            <mat-card-content class="mt-1em">
              <p><b>Nombre del contratista</b>: {{ dataContratacion.contratista.nombre }}</p>
              <p><b>Tipo de identificación</b>: {{ dataContratacion.contratista.tipoIdentificacionCodigo }}</p>
              <p><b>Número de identificación</b>: {{ dataContratacion.contratista.numeroIdentificacion }}</p>
              <p><b>Nombre del representante legal</b>: {{ dataContratacion.contratista.representanteLegal }}</p>
              <p><b>Número de la invitación</b>: {{ dataContratacion.contratista.numeroInvitacion }}</p>
            </mat-card-content>
          </mat-card>
        </div>

      </mat-expansion-panel>

      <mat-expansion-panel class="expansion-style">
        <mat-expansion-panel-header class="expansion-style--header w-50">
          <mat-panel-title class="expansion-style--title">
            Condiciones contractuales
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div align="left">
          <mat-card class="border">
            <mat-card-content class="mt-1em">
              <p><b>Tipo de contrato</b>: {{ dataContratacion.tipoContratacionCodigo }}</p>
              <p><b>Plazo</b>: {{ dataContratacion.disponibilidadPresupuestal[0].plazoMeses }} meses / {{ dataContratacion.disponibilidadPresupuestal[0].plazoDias }} días</p>
              <p><b>Valor del contrato</b>: ${{ dataContratacion.disponibilidadPresupuestal[0].valorSolicitud }}</p>
            </mat-card-content>
          </mat-card>
        </div>

      </mat-expansion-panel>

      <mat-expansion-panel class="expansion-style">
        <mat-expansion-panel-header class="expansion-style--header w-50">
          <mat-panel-title class="expansion-style--title">
            Clausulado
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div align="center">
          <mat-card class="border">
            <mat-card-content class="mt-1em">
              <p>
                {{ dataContratacion.consideracionDescripcion }}
              </p>
            </mat-card-content>
          </mat-card>
        </div>

      </mat-expansion-panel>

      <mat-expansion-panel class="expansion-style">
        <mat-expansion-panel-header class="expansion-style--header w-50">
          <mat-panel-title class="expansion-style--title">
            Disponibilidad presupuestal
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-expansion-panel class="expansion-style">
          <mat-expansion-panel-header class="expansion-style--header w-45">
            <mat-panel-title class="expansion-style--title">
              DDP {{ dataContratacion.disponibilidadPresupuestal[0].numeroDdp }}
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div class="text-center">
            <p><b>Valor del DDP</b> $600.000.000</p>
          </div>

          <app-form-aportantes [data]="dataForm"></app-form-aportantes>

        </mat-expansion-panel>

        <div class="text-center w-15">
          <button mat-raised-button
                  color="accent" 
                  class="btn-table"
                  (click)="getDdp( sesionComiteId, dataContratacion.disponibilidadPresupuestal[0].numeroDdp )">
                  Descargar DDP
          </button>
        </div>

      </mat-expansion-panel>

      <mat-expansion-panel class="expansion-style" *ngIf="estadoCodigo === '9'">
        <mat-expansion-panel-header class="expansion-style--header w-50">
          <mat-panel-title class="expansion-style--title">
            Información del trámite
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div align="left">
          <mat-card class="border">
            <mat-card-content>
              <p><b>Fecha del trámite</b>: {{ dataContratacion.fechaTramite | date: 'dd/MM/yyyy' }}</p>
              <p><b>Fecha de envío de documentación física para el trámite</b>: {{ dataContratacion.fechaEnvioDocumentacion | date: 'dd/MM/yyyy' }}</p>
              <p><b>Observaciones</b>: {{ dataContratacion.observaciones }}</p>
              <p><b>Minuta adjunta</b>: {{ dataContratacion.rutaMinuta }}</p>
            </mat-card-content>
          </mat-card>
        </div>

      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div class="mt-2em" align="left" *ngIf="estadoCodigo === '2'">
    <mat-card class="border">
      <mat-card-title class="text-area-quill--label">Registrar trámite</mat-card-title>
      <mat-card-content class="mt-2em">
        <p>Fecha del trámite <b class="color-titulo">{{ dataContratacion.fechaTramite | date: 'dd/MM/yyyy' }}</b></p>
        <app-form-registro-tramite [dataFormulario]="form" [contratacion]="dataContratacion"></app-form-registro-tramite>
      </mat-card-content>
    </mat-card>
  </div>

</div>
