<div class="container text-center">
    <div class="text-right">
        <a routerLink="/gestionarTramiteControversiasContractuales/actualizarTramiteControversia" mat-button color="primary" class="btn-regresar">
            <img src="assets/img/icon/regresar.svg" alt="Regresar">
        </a>
    </div>
    <h1 class="title-menu--h1">
        Registrar nueva mesa de trabajo
    </h1>
    <p class="info-sub-title">
        <span>Solicitud: <b>CO0002</b> Número del contrato: <b>C887754324</b> Tipo de controversia: <b>Terminación anticipada por imposibilidad de ejecución (TAIE)</b></span>
    </p>
    <app-form-registrar-mesa-de-trabajo></app-form-registrar-mesa-de-trabajo>
</div>
