<div class="container text-center">
    <div class="text-right">
        <a routerLink="/home" mat-button color="primary" class="btn-regresar">
            <img src="assets/img/icon/regresar.svg" alt="Regresar">
        </a>
    </div>
    <h1 class="title-menu--h1">
        Gestionar lista de chequeo
    </h1>
    <button mat-mini-fab color="primary" class="btn-info" (click)="verAyuda = !verAyuda">?</button>
  
    <div class="text-info" *ngIf="verAyuda">
        <button mat-icon-button (click)="verAyuda = false" class="text-info--close">
            <img src="assets/img/icon/cerrar-gris.svg" alt="cerrar ayuda">
        </button>
        Bienvenida/o, aquí podrá crear las listas de chequeo que se utilizarán de acuerdo con los criterios de pago.
    </div>
  
    <div class="tabs--actions">
        <button mat-raised-button
                color="accent"
                class="tabs--btn"
                [ngClass]="{'active': bancoRequisitos === true}"
                (click)="bancoRequisitos = true; listaChequeo = false;">
                Banco de requisitos
        </button>

        <button mat-raised-button
                color="accent"
                class="tabs--btn"
                [ngClass]="{'active': listaChequeo === true}"
                (click)="listaChequeo = true; bancoRequisitos = false;">
                Crear lista de chequeo
        </button>
    </div>
  
    <app-crear-banco *ngIf="bancoRequisitos === true"></app-crear-banco>
    <app-crear-lista *ngIf="listaChequeo === true"></app-crear-lista>
  
</div>