<div align="center">
  <p class="info-sub-title" style="font-size: 14px;">
      <span>Nombre del contratista: <b>contratista</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Número de identificación: <b>numeroIdentificacion</b></span>
  </p>
</div>
<ng-container *ngIf="esVerDetalle === true; else noEsVerDetalle">
  <mat-card class="shipping-card var-main-gris">
      <mat-card-content align="left">
          <p><strong>¿Cuál es el medio de pago para los giros del contrato?:</strong> {{ getMedioPago( this.addressForm.get( 'medioPagoGiroContrato' ).value ) }} </p>
          <ng-container *ngIf="this.addressForm.get( 'medioPagoGiroContrato' ).value === listaMediosPagoCodigo.transferenciaElectronica; else esChequeGerencia">
              <p><strong>Titular de la cuenta:</strong> {{ addressForm.get( 'transferenciaElectronica' ).get( 'titularCuenta' ).value }} </p>
              <p><strong>Número de identificación del titular:</strong> {{ addressForm.get( 'transferenciaElectronica' ).get( 'titularNumeroIdentificacion' ).value }} </p>
              <p><strong>Número de cuenta:</strong> {{ addressForm.get( 'transferenciaElectronica' ).get( 'numeroCuenta' ).value }} </p>
              <p><strong>Banco:</strong> {{ getBanco( addressForm.get( 'transferenciaElectronica' ).get( 'bancoCodigo' ).value ) }} </p>
              <p><strong>Tipo de cuenta:</strong> {{ addressForm.get( 'transferenciaElectronica' ).get( 'esCuentaAhorros' ).value === true ? 'Ahorros' : 'Corriente' }} </p>
          </ng-container>
          <ng-template #esChequeGerencia>
              <p><strong>Nombre del beneficiario:</strong> {{ addressForm.get( 'chequeGerencia' ).get( 'nombreBeneficiario' ).value }} </p>
              <p><strong>Número de identificación del beneficiario:</strong> {{ addressForm.get( 'chequeGerencia' ).get( 'numeroIdentificacionBeneficiario' ).value }} </p>
          </ng-template>
      </mat-card-content>
  </mat-card>
</ng-container>
<ng-template #noEsVerDetalle>
  <form [formGroup]="addressForm" (ngSubmit)="onSubmit()">
      <mat-card class="shipping-card">
          <mat-card-content style="text-align: left;">
              <div class="row">
                  <div class="col-md-12">
                      <div class="row">
                          <div class="pr-1">
                              <label  class="label-left"
                                      for="medioPagoGiroContrato"
                                      [ngClass]="{ 'color-secondaryColor': (addressForm.get('medioPagoGiroContrato').invalid && addressForm.get('medioPagoGiroContrato').touched) || (addressForm.get('medioPagoGiroContrato').invalid && estaEditando) }">
                                      ¿Cuál es el medio de pago para los giros del contrato?
                              </label>
                          </div>
                          <div class="col">
                              <mat-form-field class="select-width">
                                  <mat-select formControlName="medioPagoGiroContrato" required>
                                      <mat-option *ngFor="let medioPago of medioPagoArray" [value]="medioPago.codigo">
                                          {{ medioPago.nombre }}
                                      </mat-option>
                                  </mat-select>
                              </mat-form-field>
                          </div>
                          <span class="icon-incompleto">
                              <img    class="icon-incompleto--img"
                                      src="assets/img/icon/incompleto.svg"
                                      alt="este campo es requerido" [matTooltipPosition]="'above'"
                                      matTooltip="Debe ingresar la información en el campo para continuar"
                                      matTooltipClass="info-tooltip"
                                      *ngIf="( addressForm.get('medioPagoGiroContrato').invalid && addressForm.get('medioPagoGiroContrato').touched) || ( addressForm.get('medioPagoGiroContrato' ).invalid && estaEditando )">
                          </span>
                      </div>
                  </div>
              </div>
              <div  *ngIf="addressForm.get( 'medioPagoGiroContrato' ).value !== null && listaMediosPagoCodigo.transferenciaElectronica === addressForm.get( 'medioPagoGiroContrato' ).value"
                  formGroupName="transferenciaElectronica">
                  <div class="row animatedDown">
                      <div class="col-md-12">
                          <div class="row">
                              <div class="pr-1">
                                  <label  for="titularCuenta" class="label-left"
                                          [ngClass]="{ 'color-secondaryColor': (addressForm.get( 'transferenciaElectronica').get( 'titularCuenta' ).invalid && addressForm.get( 'transferenciaElectronica').get( 'titularCuenta' ).touched) || (addressForm.get( 'transferenciaElectronica').get( 'titularCuenta' ).invalid && estaEditando) }">
                                          Titular de la cuenta
                                  </label>
                              </div>
                              <div class="col d-flex">
                                  <mat-form-field class="full-width">
                                      <input  matInput
                                              #titularCuenta
                                              type="text"
                                              maxlength="100"
                                              formControlName="titularCuenta"
                                              required>
                                  </mat-form-field>
                                  <span   class="contador"
                                          [matTooltipPosition]="'above'"
                                          matTooltip="Campo alfanumérico"
                                          matTooltipClass="info-tooltip">
                                          {{100 - titularCuenta.value.length }}
                                  </span>
                              </div>
                              <span class="icon-incompleto">
                                  <img    class="icon-incompleto--img"
                                          src="assets/img/icon/incompleto.svg"
                                          alt="este campo es requerido" [matTooltipPosition]="'above'"
                                          matTooltip="Debe ingresar la información en el campo para continuar"
                                          matTooltipClass="info-tooltip" 
                                          *ngIf="( addressForm.get( 'transferenciaElectronica').get( 'titularCuenta' ).invalid && addressForm.get( 'transferenciaElectronica').get( 'titularCuenta' ).touched) || (addressForm.get( 'transferenciaElectronica').get( 'titularCuenta' ).invalid && estaEditando )">
                              </span>
                          </div>
                      </div>
                  </div>
                  <div class="row animatedDown">
                      <div class="col-md-12">
                          <div class="row">
                              <div class="pr-1">
                                  <label  for="titularNumeroIdentificacion"
                                          class="label-left"
                                          [ngClass]="{ 'color-secondaryColor': (addressForm.get( 'transferenciaElectronica').get( 'titularNumeroIdentificacion' ).invalid && addressForm.get( 'transferenciaElectronica').get( 'titularNumeroIdentificacion' ).touched) || (addressForm.get( 'transferenciaElectronica').get( 'titularNumeroIdentificacion' ).invalid && estaEditando) }">
                                          Número de identificación del titular
                                  </label>
                              </div>
                              <div class="col d-flex">
                                  <mat-form-field class="full-width">
                                      <input  matInput
                                              #numIdentificacionTitular
                                              type="text"
                                              maxlength="10"
                                              formControlName="titularNumeroIdentificacion"
                                              required>
                                  </mat-form-field>
                                  <span   class="contador"
                                          [matTooltipPosition]="'above'"
                                          matTooltip="Campo alfanumérico"
                                          matTooltipClass="info-tooltip">
                                          {{10 - numIdentificacionTitular.value.length }}
                                  </span>
                              </div>
                              <span class="icon-incompleto">
                                  <img    class="icon-incompleto--img"
                                          src="assets/img/icon/incompleto.svg"
                                          alt="este campo es requerido"
                                          [matTooltipPosition]="'above'"
                                          matTooltip="Debe ingresar la información en el campo para continuar"
                                          matTooltipClass="info-tooltip"
                                          *ngIf="(addressForm.get( 'transferenciaElectronica').get( 'titularNumeroIdentificacion' ).invalid && addressForm.get( 'transferenciaElectronica').get( 'titularNumeroIdentificacion' ).touched) || (addressForm.get( 'transferenciaElectronica').get( 'titularNumeroIdentificacion' ).invalid && estaEditando)">
                              </span>
                          </div>
                      </div>
                  </div>
                  <div class="row animatedDown">
                      <div class="col-md-12">
                          <div class="row">
                              <div class="pr-1">
                                  <label  for="numeroCuenta"
                                          class="label-left"
                                          [ngClass]="{ 'color-secondaryColor': (addressForm.get( 'transferenciaElectronica').get( 'numeroCuenta' ).invalid && addressForm.get( 'transferenciaElectronica').get( 'numeroCuenta' ).touched) || (addressForm.get( 'transferenciaElectronica').get( 'numeroCuenta' ).invalid && estaEditando) }">
                                          Número de cuenta
                                  </label>
                              </div>
                              <div class="col d-flex">
                                  <mat-form-field class="full-width">
                                      <input  matInput
                                              #numeroCuenta
                                              type="text"
                                              maxlength="50"
                                              formControlName="numeroCuenta"
                                              required>
                                  </mat-form-field>
                                  <span   class="contador"
                                          [matTooltipPosition]="'above'"
                                          matTooltip="Campo alfanumérico"
                                          matTooltipClass="info-tooltip">
                                          {{50 - numeroCuenta.value.length }}</span>
                              </div>
                              <span class="icon-incompleto">
                                  <img    class="icon-incompleto--img"
                                          src="assets/img/icon/incompleto.svg"
                                          alt="este campo es requerido"
                                          [matTooltipPosition]="'above'"
                                          matTooltip="Debe ingresar la información en el campo para continuar"
                                          matTooltipClass="info-tooltip"
                                          *ngIf="( addressForm.get( 'transferenciaElectronica').get( 'numeroCuenta' ).invalid && addressForm.get( 'transferenciaElectronica').get( 'numeroCuenta' ).touched) || (addressForm.get( 'transferenciaElectronica').get( 'numeroCuenta' ).invalid && estaEditando)">
                              </span>
                          </div>
                      </div>
                  </div>
                  <div class="row animatedDown">
                      <div class="col-md-12">
                          <div class="row">
                              <div class="pr-1">
                                  <label  class="label-left"
                                          for="bancoCodigo"
                                          [ngClass]="{ 'color-secondaryColor': (addressForm.get( 'transferenciaElectronica').get( 'bancoCodigo' ).invalid && addressForm.get( 'transferenciaElectronica').get( 'bancoCodigo' ).touched) || (addressForm.get( 'transferenciaElectronica').get( 'bancoCodigo' ).invalid && estaEditando) }">
                                          Banco
                                  </label>
                              </div>
                              <div class="col">
                                  <mat-form-field class="select-width">
                                      <mat-select formControlName="bancoCodigo" required>
                                          <mat-option *ngFor="let banco of bancosArray" [value]="banco.codigo">
                                              {{ banco.nombre }}
                                          </mat-option>
                                      </mat-select>
                                  </mat-form-field>
                              </div>
                              <span class="icon-incompleto">
                                  <img    class="icon-incompleto--img"
                                          src="assets/img/icon/incompleto.svg"
                                          alt="este campo es requerido"
                                          [matTooltipPosition]="'above'"
                                          matTooltip="Debe ingresar la información en el campo para continuar"
                                          matTooltipClass="info-tooltip"
                                          *ngIf="(addressForm.get( 'transferenciaElectronica').get( 'bancoCodigo' ).invalid && addressForm.get( 'transferenciaElectronica').get( 'bancoCodigo' ).touched) || (addressForm.get( 'transferenciaElectronica').get( 'bancoCodigo' ).invalid && estaEditando)">
                              </span>
                          </div>
                      </div>
                  </div>
                  <div class="row animatedDown">
                      <div class="col-md-12">
                          <div class="row">
                              <div class="pr-1">
                                  <label  class="label-left"
                                          for="esCuentaAhorros"
                                          [ngClass]="{ 'color-secondaryColor': (addressForm.get( 'transferenciaElectronica').get( 'esCuentaAhorros' ).invalid && addressForm.get( 'transferenciaElectronica').get( 'esCuentaAhorros' ).touched) || (addressForm.get( 'transferenciaElectronica').get( 'esCuentaAhorros' ).invalid && estaEditando) }">
                                          Tipo de cuenta
                                  </label>
                              </div>
                              <div class="col">
                                  <mat-radio-group class="radioInput" formControlName="esCuentaAhorros" required>
                                      <mat-radio-button [value]="true">Ahorros</mat-radio-button>
                                      <mat-radio-button [value]="false">Corriente</mat-radio-button>
                                  </mat-radio-group>
                                  <span class="required-form-group" style="margin-left: 1px;">*</span>
                              </div>
                              <span class="icon-incompleto">
                                  <img    class="icon-incompleto--img"
                                          src="assets/img/icon/incompleto.svg"
                                          alt="este campo es requerido"
                                          [matTooltipPosition]="'above'"
                                          matTooltip="Debe ingresar la información en el campo para continuar"
                                          matTooltipClass="info-tooltip"
                                          *ngIf="(addressForm.get( 'transferenciaElectronica').get( 'esCuentaAhorros' ).invalid && addressForm.get( 'transferenciaElectronica').get( 'esCuentaAhorros' ).touched) || (addressForm.get( 'transferenciaElectronica').get( 'esCuentaAhorros' ).invalid && estaEditando)">
                              </span>
                          </div>
                      </div>
                  </div>
              </div>
              <div *ngIf="addressForm.get( 'medioPagoGiroContrato' ).value !== null && listaMediosPagoCodigo.chequeGerencia === addressForm.get( 'medioPagoGiroContrato' ).value"
                  formGroupName="chequeGerencia">
                  <div class="row animatedDown">
                      <div class="col-md-12">
                          <div class="row">
                              <div class="pr-1">
                                  <label class="label-left" for="nombreBeneficiario" [ngClass]="{ 'color-secondaryColor': (addressForm.get( 'chequeGerencia').get( 'nombreBeneficiario' ).invalid && addressForm.get( 'chequeGerencia').get( 'nombreBeneficiario' ).touched) || (addressForm.get( 'chequeGerencia').get( 'nombreBeneficiario' ).invalid && estaEditando) }">
                                      Nombre del beneficiario
                                  </label>
                              </div>
                              <div class="col d-flex">
                                  <mat-form-field class="full-width">
                                      <input  matInput
                                              type="text"
                                              maxlength="100"
                                              formControlName="nombreBeneficiario"
                                              #nombreBeneficiario
                                              required>
                                  </mat-form-field>
                                  <span   class="contador"
                                          [matTooltipPosition]="'above'"
                                          matTooltip="Campo alfanumérico"
                                          matTooltipClass="info-tooltip">
                                          {{100 - nombreBeneficiario.value.length }}
                                  </span>
                              </div>
                              <span class="icon-incompleto">
                                  <img    class="icon-incompleto--img"
                                          src="assets/img/icon/incompleto.svg"
                                          alt="este campo es requerido"
                                          [matTooltipPosition]="'above'"
                                          matTooltip="Debe ingresar la información en el campo para continuar"
                                          matTooltipClass="info-tooltip" *ngIf="(addressForm.get( 'chequeGerencia').get( 'nombreBeneficiario' ).invalid && addressForm.get( 'chequeGerencia').get( 'nombreBeneficiario' ).touched) || (addressForm.get( 'chequeGerencia').get( 'nombreBeneficiario' ).invalid && estaEditando)">
                              </span>
                          </div>
                      </div>
                  </div>
                  <div class="row animatedDown">
                      <div class="col-md-12">
                          <div class="row">
                              <div class="pr-1">
                                  <label  class="label-left"
                                          for="numeroIdentificacionBeneficiario"
                                          [ngClass]="{ 'color-secondaryColor': (addressForm.get( 'chequeGerencia').get( 'numeroIdentificacionBeneficiario' ).invalid && addressForm.get( 'chequeGerencia').get( 'numeroIdentificacionBeneficiario' ).touched) || (addressForm.get( 'chequeGerencia').get( 'numeroIdentificacionBeneficiario' ).invalid && estaEditando) }">
                                          Número de identificación del beneficiario
                                  </label>
                              </div>
                              <div class="col d-flex">
                                  <mat-form-field class="full-width">
                                      <input  matInput
                                              type="text"
                                              maxlength="50"
                                              formControlName="numeroIdentificacionBeneficiario"
                                              #numeroIdentificacionBeneficiario
                                              required>
                                  </mat-form-field>
                                  <span   class="contador"
                                          [matTooltipPosition]="'above'"
                                          matTooltip="Campo alfanumérico"
                                          matTooltipClass="info-tooltip">
                                          {{50 - numeroIdentificacionBeneficiario.value.length }}
                                  </span>
                              </div>
                              <span class="icon-incompleto">
                                  <img    class="icon-incompleto--img"
                                          src="assets/img/icon/incompleto.svg"
                                          alt="este campo es requerido"
                                          [matTooltipPosition]="'above'"
                                          matTooltip="Debe ingresar la información en el campo para continuar"
                                          matTooltipClass="info-tooltip"
                                          *ngIf="(addressForm.get( 'chequeGerencia').get( 'numeroIdentificacionBeneficiario' ).invalid && addressForm.get( 'chequeGerencia').get( 'numeroIdentificacionBeneficiario' ).touched) || (addressForm.get( 'chequeGerencia').get( 'numeroIdentificacionBeneficiario' ).invalid && estaEditando)">
                              </span>
                          </div>
                      </div>
                  </div>
              </div>
          </mat-card-content>
      </mat-card>

      <div *ngIf="obsVerificar !== undefined || obsAprobar !== undefined || obsTramitar !== undefined">
          <mat-card class="shipping-card border" align="left" *ngIf="obsVerificar !== undefined">
              <mat-card-header class="header-card">
                  <mat-card-title class="header-card--text card-title-detalle">
                      Verificación de la coordinación financiera
                  </mat-card-title>
              </mat-card-header>
              <mat-card-content>
                  <p style="margin-left: 2em;"><b> {{ obsVerificar.fechaCreacion | date: 'dd/MM/yyyy' }} </b></p>
                  <p style="margin-left: 2em;" *ngIf="obsVerificar.tieneObservacion === true"><b>¿Desde la coordinación financiera tiene observaciones al Tercero de giro?</b>: Si</p>
                  <p style="margin-left: 2em;" *ngIf="obsVerificar.tieneObservacion === false"><b>¿Desde la coordinación financiera tiene observaciones al Tercero de giro?</b>: No</p>
                  <section [innerHTML]="obsVerificar.observacion" style="margin-left: 2em;" *ngIf="obsVerificar.tieneObservacion === true"></section>
              </mat-card-content>
          </mat-card>

          <mat-card class="shipping-card border" align="left" *ngIf="obsAprobar !== undefined">
              <mat-card-header class="header-card">
                  <mat-card-title class="header-card--text card-title-detalle">
                      Aprobación de la dirección financiera
                  </mat-card-title>
              </mat-card-header>
              <mat-card-content>
                  <p style="margin-left: 2em;"><b> {{ obsAprobar.fechaCreacion | date: 'dd/MM/yyyy' }} </b></p>
                  <p style="margin-left: 2em;" *ngIf="obsAprobar.tieneObservacion === true"><b>¿Desde la dirección financiera tiene observaciones al Tercero de giro?</b>: Si</p>
                  <p style="margin-left: 2em;" *ngIf="obsAprobar.tieneObservacion === false"><b>¿Desde la dirección financiera tiene observaciones al Tercero de giro?</b>: No</p>
                  <section [innerHTML]="obsAprobar.observacion" style="margin-left: 2em;" *ngIf="obsAprobar.tieneObservacion === true"></section>
              </mat-card-content>
          </mat-card>

          <mat-card class="shipping-card border" align="left" *ngIf="obsTramitar !== undefined">
              <mat-card-header class="header-card">
                  <mat-card-title class="header-card--text card-title-detalle">
                      Observaciones de fiduciaria
                  </mat-card-title>
              </mat-card-header>
              <mat-card-content>
                  <p style="margin-left: 2em;"><b> {{ obsTramitar.fechaCreacion | date: 'dd/MM/yyyy' }} </b></p>
                  <p style="margin-left: 2em;" *ngIf="obsTramitar.tieneObservacion === true"><b>¿Desde la fiduciaria tiene observaciones al tercero de giro?</b>: Si</p>
                  <p style="margin-left: 2em;" *ngIf="obsTramitar.tieneObservacion === false"><b>¿Desde la fiduciaria tiene observaciones al tercero de giro?</b>: No</p>
                  <section [innerHTML]="obsTramitar.observacion" style="margin-left: 2em;" *ngIf="obsTramitar.tieneObservacion === true"></section>
              </mat-card-content>
          </mat-card>
      </div>

      <div class="text-center mb-2em">
          <button mat-button
                  color="warn"
                  class="btn-guardar"
                  type="submit"
                  [disabled]="addressForm.dirty === false">
                  <img src="assets/img/icon/guardar.svg" alt="Regresar">
          </button>
      </div>
  </form>
</ng-template>
