<div class="busqueda">
    <mat-form-field appearance="outline" class="busqueda--input">
      <mat-label>Buscador / Filtro</mat-label>
      <input matInput #filtro (keyup)="applyFilter($event)">
    </mat-form-field>
    <button mat-button color="primary" class="busqueda--img" (click)="filtro.focus()">
      <img src="assets/img/icon/lupa.svg" alt="Buscar">
    </button>
</div>

<div class="table-responsive">
  <table mat-table [dataSource]="tablaRegistro" matSort>

    <ng-container matColumnDef="fechaFirmaActaInicio">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de firma de acta de inicio </th>
      <td mat-cell *matCellDef="let element" align="center"> {{ element.fechaFirmaActaInicio | date: 'dd/MM/yyyy' }} </td>
    </ng-container>

    <ng-container matColumnDef="llaveMen">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Llave MEN </th>
      <td mat-cell *matCellDef="let element" align="center"> {{ element.llaveMen }} </td>
    </ng-container>

    <ng-container matColumnDef="numeroContrato">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Número del contrato de obra </th>
      <td mat-cell *matCellDef="let element" align="center"> {{ element.numeroContrato }} </td>
    </ng-container>

    <ng-container matColumnDef="tipoIntervencion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo de intervención </th>
      <td mat-cell *matCellDef="let element" align="center"> {{ element.tipoIntervencion }} </td>
    </ng-container>

    <ng-container matColumnDef="institucionEducativaSede">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Institución Educativa </th>
        <td mat-cell *matCellDef="let element" align="center"> {{ element.institucionEducativaSede }} </td>
    </ng-container>

    <ng-container matColumnDef="sede">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Sede </th>
        <td mat-cell *matCellDef="let element" align="center"> {{ element.sede }} </td>
    </ng-container>

    <ng-container matColumnDef="estadoProgramacionInicial">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado de programación inicial </th>
        <td mat-cell *matCellDef="let element" align="center"> {{ element.estadoProgramacionInicial }} </td>
    </ng-container>
  
    <ng-container matColumnDef="gestion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="w-15"> Gestión </th>
      <td mat-cell *matCellDef="let element">
  
        <button mat-raised-button
                color="accent" 
                class="btn-table"
                (click)="openRegistroProgramacion( element )"
                *ngIf="element.estadoProgramacionInicialCodigo === estadosProgramacion.sinProgramacionPersonal">
                Registrar programación de personal
        </button>

        <button mat-raised-button
                color="accent" 
                class="btn-table"
                (click)="aprobarProgramacion( element.contratoConstruccionId )"
                *ngIf="element.estadoProgramacionInicialCodigo === estadosProgramacion.sinAprobacionProgramacionPersonal">
                Aprobar programación
        </button>

        <button mat-raised-button
                color="accent" 
                class="btn-table"
                (click)="openRegistroProgramacion( element )"
                *ngIf=" element.estadoProgramacionInicialCodigo === estadosProgramacion.enRegistroProgramacion
                        || element.estadoProgramacionInicialCodigo === estadosProgramacion.conAprobacionProgramacionPersonal
                        || element.estadoProgramacionInicialCodigo === estadosProgramacion.sinAprobacionProgramacionPersonal">
                Ver detalle/Editar
        </button>
  
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>