<section *ngIf="solicitudPago !== undefined">
    <p>
        <b>¿Aplican descuentos?</b>
        <span *ngIf="formDescuentos.get( 'aplicaDescuento' ).value === true"> Si </span>
        <span *ngIf="formDescuentos.get( 'aplicaDescuento' ).value === false"> No </span>
    </p>

    <div *ngIf="formDescuentos.get( 'aplicaDescuento' ).value == true">
        <p><b>¿Cuántos descuentos se aplican sobre la factura?</b> {{ descuentos.length }} </p>
        <p><b>Valor a pagar después de descuentos</b> $ {{ formDescuentos.get( 'valorAPagarDespues' ).value | currency:' ':'symbol-narrow':'.0-0' }} </p>

        <div class="mt-1em" *ngFor="let descuento of descuentos.controls; index as i">
            <mat-card class="shipping-card">
                <mat-card-header class="header-card header-card--margin">
                    <mat-card-title class="header-card--text">
                        Descuento {{i+1}}
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content style="text-align: left;">
                    <p><b>Tipo de descuento</b> {{ getTipoDescuento( descuento.get( 'tipoDescuentoCodigo' ).value ) }} </p>
                    <p><b>Valor del descuento</b> $ {{ descuento.get( 'valorDescuento' ).value | currency:' ':'symbol-narrow':'.0-0' }} </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</section>