<section class="container text-center">
    <div class="text-right">
        <!-- 3 va quemado-->
        <a routerLink="/gestionarProcesoDefensaJudicial/actualizarProceso/3" mat-button color="primary"
            class="btn-regresar">
            <img src="assets/img/icon/regresar.svg" alt="Regresar">
        </a>
    </div>
    <h1 class="title-menu--h1">
        Ver detalle registro actuación de proceso DJ0012020
    </h1>
    <p class="info-sub-title">
        <span>Número de contrato: <b>C223456789</b></span>
        <span>Tipo de acción: <b>Reparación directa</b></span>
        <span>Jurisdicción: <b>Ordinaria</b></span>
    </p>
    <mat-card class="shipping-card mainGris">
        <mat-card-content style="text-align: left;">
            <p><b>Estado de avance proceso:</b> En notificación</p>
            <p><b>Actuación adelantada:</b></p>
            <p>Se recopilan testimonios y material gráfico</p>
            <p><b>Próxima actuación requerida:</b></p>
            <p>Asistir a audiencia probatoria</p>
            <p><b>Fecha de vencimiento de términos para la próxima actuación requerida:</b> 30/07/2020</p>
            <p><b>¿Esta actuación requiere la participación o insumo del supervisor del contrato?:</b> No</p>
            <p><b>Observaciones:</b></p>
            <p>El encargado debe exponer las pruebas pertinentes del caso</p>
            <p><b>¿El proceso tiene actuación definitiva (sentencia, o acto de autocomposición procesal - Transacción,
                    Conciliación, Desistimiento o un convencimiento-), ¿y se considera cerrado el proceso?:</b> No</p>
        </mat-card-content>
    </mat-card>
    <mat-card class="shipping-card mainGris">
        <mat-card-header class="header-card">
            <mat-card-title class="header-card--text textoGris">
                Soporte de la actuación
            </mat-card-title>
        </mat-card-header>
        <mat-card-content style="text-align: left;">
            <p><b>URL con soporte:</b> http://www.asivamosffie.com</p>
        </mat-card-content>
    </mat-card>
</section>