<mat-accordion>
    <mat-expansion-panel class="expansion-style sub-expansion">
        <mat-expansion-panel-header class="expansion-style--header">
            <mat-panel-title class="expansion-style--title completo">
                Gestión ambiental
            </mat-panel-title>
        </mat-expansion-panel-header>
        
        <app-gestion-ambiental></app-gestion-ambiental>
    </mat-expansion-panel>

    <mat-expansion-panel class="expansion-style sub-expansion">
        <mat-expansion-panel-header class="expansion-style--header">
            <mat-panel-title class="expansion-style--title completo">
                Gestión de calidad
            </mat-panel-title>
        </mat-expansion-panel-header>
        
        <app-gestion-calidad></app-gestion-calidad>
    </mat-expansion-panel>

    <mat-expansion-panel class="expansion-style sub-expansion">
        <mat-expansion-panel-header class="expansion-style--header">
            <mat-panel-title class="expansion-style--title completo">
                Gestión de seguridad y salud en el trabajo
            </mat-panel-title>
        </mat-expansion-panel-header>
        
        <app-gestion-sst></app-gestion-sst>
    </mat-expansion-panel>

    <mat-expansion-panel class="expansion-style sub-expansion">
        <mat-expansion-panel-header class="expansion-style--header">
            <mat-panel-title class="expansion-style--title completo">
                Gestión social
            </mat-panel-title>
        </mat-expansion-panel-header>
        
        <app-gestion-social></app-gestion-social>
    </mat-expansion-panel>

    <mat-expansion-panel class="expansion-style sub-expansion">
        <mat-expansion-panel-header class="expansion-style--header">
            <mat-panel-title class="expansion-style--title completo">
                Alertas relevantes
            </mat-panel-title>
        </mat-expansion-panel-header>
        
        <app-alertas-relevantes></app-alertas-relevantes>
    </mat-expansion-panel>
</mat-accordion>