<button mat-button mat-dialog-close class="modal--btn-cerrar" [mat-dialog-close]="true">
  <img src="assets/img/icon/cerrar-blanco.svg" alt="cerrar">
</button>

<div class="text-center">
  <h1 class="title-menu--h1">
    {{ esFlujoInversion == true ? 'Cargar Flujo inversión' : 'Cargar programación' }}
  </h1>

  <form [formGroup]="formCargarProgramacion" (ngSubmit)="guardar()">
    <div class="container w-80">
      <div class="input-file">
        <span class="input-file--text">{{archivo}}</span>

        <button mat-raised-button
                color="primary"
                type="button"
                (click)="fileInput.click()"
                class="input-file--btn">
                Explorar
        </button>
        <input  required
                hidden
                (change)="fileName()"
                #fileInput
                type="file"
                id="file"
                formControlName="fileCargarProgramacion"
                accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
      </div>
      <p class="color-fontColor">
        Explore en su computador o dispositivo y seleccione el documento que desea cargar <b>los formatos permitidos son: xlsx</b>
      </p>
      <button mat-raised-button
              color="accent"
              type="submit"
              [disabled]="formCargarProgramacion.get( 'fileCargarProgramacion' ).invalid">
              {{boton}}
      </button>
    </div>
  </form>
</div>
