<div class="w-100">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <ng-container matColumnDef="planesProgramas">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="w-20"> Planes y programas </th>
            <td mat-cell *matCellDef="let element" align="center"> {{ element.nombrePlanesProgramas }} </td>
        </ng-container>

        <ng-container matColumnDef="recibioRequisito">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ¿Se recibio el requisito? </th>
            <td mat-cell *matCellDef="let element" align="center">
                {{element.recibioRequisito}}
            </td>
        </ng-container>

        <ng-container matColumnDef="fechaRadicado">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de radicado </th>
            <td mat-cell *matCellDef="let element" align="center">
                {{element.fechaRadicado}}
            </td>
        </ng-container>

        <ng-container matColumnDef="fechaAprobacion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de aprobación </th>
            <td mat-cell *matCellDef="let element" align="center">
                {{element.fechaAprobacion}}
            </td>
        </ng-container>

        <ng-container matColumnDef="requiereObservacion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="w-20"> ¿Se tienen observaciones frente al
                requisito? </th>
            <td mat-cell *matCellDef="let element" align="center">
                {{element.requiereObservacion}}
            </td>
        </ng-container>

        <ng-container matColumnDef="observaciones">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Observaciones </th>
            <td mat-cell *matCellDef="let element" align="center">
                <section *ngIf="element.requiereObservacion=='Si'">
                    <button mat-raised-button color="accent" class="btn-table expansion-style--title btn-color h-2em"
                        (click)="openDialog( element.nombrePlanesProgramas, element.id )">
                        <small class="mr-1em">Observaciones</small>
                    </button>
                </section>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <section style="margin-top: 30px;">
        <div align="left">
            <p><b>URL con soporte</b>: https://drive.google.com/drive/PlanesyProgramas123</p>
        </div>
    </section>
</div>