<section class="container" *ngIf="data">
  <div class="text-right">
    <a routerLink="../../" mat-button color="primary" class="btn-regresar">
      <img src="assets/img/icon/regresar.svg" alt="Regresar" />
    </a>
  </div>
  <div class="text-center">
    <h1 class="title-menu--h1">
      <ng-container *ngIf="esVerDetalle === true; else noEsVerDetalle">
          Ver detalle aprobación de requisitos para liquidación {{ data.numeroContrato }}
      </ng-container>
      <ng-template #noEsVerDetalle>
          {{ esRegistroNuevo === true ? 'Aprobar' : 'Ver detalle/Editar aprobación de' }} requisitos para liquidación {{ data.numeroContrato }}
      </ng-template>  
    </h1>
    <p class="colorMainColor mt-05em">
      Fecha de actualización de póliza
      <b> {{ data.fechaPoliza  | date:'dd/MM/yyyy' }} </b>
    </p>
  </div>

  <mat-card class="shipping-card var-main-gris">
    <mat-card-content>
      <p>
        <strong>
          Número de contrato:
        </strong>
        <b>
          {{ data.numeroContrato }}
        </b>
      </p>
      <p>
        <strong>
          Valor del contrato:
        </strong>
        {{data.valorSolicitud | currency:'USD':'symbol':'1.0'}}
      </p>
      <p>
        <strong>
          Cantidad de proyectos asociados:
        </strong>
        {{ data.proyectosAsociados }}
      </p>
    </mat-card-content>
  </mat-card>

  <div>
    <p *ngIf="!esVerDetalle" class="info-container text-center">
      <span class="info-text sin-diligenciar">Sin diligenciar</span>
      <span class="info-text en-proceso">En proceso</span>
      <span class="info-text completo">Completo</span>
    </p>

    <mat-accordion>
      <mat-expansion-panel class="expansion-style">
        <mat-expansion-panel-header class="expansion-style--header" *ngIf="!esVerDetalle">
          <mat-panel-title
            class="expansion-style--title"
            [class.sin-diligenciar]="semaforoActualizacionPoliza == 'Incompleto'"
            [class.completo]="semaforoActualizacionPoliza == 'Completo'"
          >
            Actualización de póliza
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-expansion-panel-header class="expansion-style--header" *ngIf="esVerDetalle">
          <mat-panel-title class="expansion-style--title">
            Actualización de póliza
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-actualizacion-poliza *ngIf="contratacionProyectoId && data" [esVerDetalle]="esVerDetalle" [contratacionProyectoId]="contratacionProyectoId" [contratoPolizaActualizacionId]="data.contratoPolizaActualizacionId" [contratoPolizaId]="data.contratoPolizaId" [data]="data" (semaforoActualizacionPoliza)="valueSemaforoActualizacionPoliza($event)"></app-actualizacion-poliza>
      </mat-expansion-panel>
      <mat-expansion-panel class="expansion-style">
        <mat-expansion-panel-header class="expansion-style--header" *ngIf="!esVerDetalle">
          <mat-panel-title
            class="expansion-style--title"
            [class.sin-diligenciar]="semaforoBalanceFinanciero == 'Incompleto'"
            [class.completo]="semaforoBalanceFinanciero == 'Completo'"
          >
            Balance financiero
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-expansion-panel-header class="expansion-style--header" *ngIf="esVerDetalle">
          <mat-panel-title class="expansion-style--title">
            Balance financiero
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-tabla-balance-financiero *ngIf="contratacionProyectoId" [esVerDetalle]="esVerDetalle" [contratacionProyectoId]="contratacionProyectoId" (semaforoBalanceFinanciero)="valueSemaforoBalanceFinanciero($event)"></app-tabla-balance-financiero>
      </mat-expansion-panel>
      <mat-expansion-panel class="expansion-style">
        <mat-expansion-panel-header class="expansion-style--header" *ngIf="!esVerDetalle">
          <mat-panel-title
            class="expansion-style--title"
            [class.sin-diligenciar]="semaforoInformeFinal == 'Incompleto'"
            [class.completo]="semaforoInformeFinal == 'Completo'"
          >
            Informe final
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-expansion-panel-header class="expansion-style--header" *ngIf="esVerDetalle">
          <mat-panel-title class="expansion-style--title">
            Informe final
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-tabla-informe-final *ngIf="contratacionProyectoId" [esVerDetalle]="esVerDetalle" [contratacionProyectoId]="contratacionProyectoId" (semaforoInformeFinal)="valueSemaforoInformeFinal($event)"></app-tabla-informe-final>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</section>
