<div class="text-center container" *ngIf="contrato" style="margin-bottom: 2em;">
    <div class="text-right">
        <a routerLink="/aprobarRequisitosTecnicosConstruccion" mat-button color="primary" class="btn-regresar">
            <img src="assets/img/icon/regresar.svg" alt="Regresar">
        </a>
    </div>
    <h1 class="title-menu--h1">
        Ver detalle requisitos de inicio contrato {{ contrato.numeroContrato }} fase 2 - Construcción
    </h1>
    <section class="container margin-1em color-primary" *ngIf="contrato.contratacion">
        <div class="text-center section-flex">
            <p class="mr-1em">Fecha de aprobacion de póliza: <b>{{ contrato['fechaPolizaAprobacion'] | date: 'dd/MM/yyyy' }}</b></p>
            <p>Proyectos asociados: <b>{{ contrato.contratacion.contratacionProyecto.length }}</b></p>
        </div>
    </section>
    <section>
        <mat-accordion *ngFor="let contratacion of contrato.contratacion.contratacionProyecto; index as i">
            <mat-expansion-panel class="expansion-style">
                <mat-expansion-panel-header class="expansion-style--header w-45">
                    <mat-panel-title class="expansion-style--title">
                        {{ contratacion.proyecto.llaveMen }} - {{ contratacion.proyecto[ 'institucionEducativa' ].nombre }} - {{ contratacion.proyecto[ 'sede' ].nombre }}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div align="left">
                    <mat-card class="border">
                      <mat-card-content>
                        <p><b>Nombre del contratista</b>: {{ contrato.contratacion.contratista.nombre }}</p>
                        <p><b>Número de identificación (NIT/RUT)</b>: {{ contrato.contratacion.contratista.numeroIdentificacion }}</p>
                        <p><b>Tipo de intervención</b>: {{ contratacion.proyecto.tipoIntervencionCodigo }}</p>
                        <p><b>Departamento</b>: {{ contratacion.proyecto.departamento }}</p>
                        <p><b>Municipio</b>: {{ contratacion.proyecto.municipio }}</p>
                        <p><b>Valor total del proyecto</b>: {{ contratacion.proyecto.valorTotal | currency:'COP':'symbol-narrow':'.0-0' }}</p>
                      </mat-card-content>
                    </mat-card>
                </div>
                <div align="center">
                    <p><b>¿Cuántos perfiles diferentes se requieren del interventor para ejecutar el proyecto?:</b> {{ contratacion.proyecto.contratoConstruccion[0].construccionPerfil.length }} </p>
                </div>
                <mat-accordion *ngFor="let perfil of contratacion.proyecto.contratoConstruccion[0].construccionPerfil; index as j">
                    <mat-expansion-panel class="expansion-style sub-expansion aux">
                        <mat-expansion-panel-header class="expansion-style--header">
                            <mat-panel-title class="expansion-style--title">
                                Perfil {{ j+1 }}
                            </mat-panel-title>
                          </mat-expansion-panel-header>
                          <div align="left">
                            <mat-card class="border">
                                <mat-card-content>
                                    <p><b>Perfil</b>: {{ getTipoPerfil( perfil.perfilCodigo ) }} </p>
                                    <p><b>Cantidad de hojas de vida requeridas para el perfil</b>: {{ perfil.cantidadHvRequeridas }} </p>
                                    <p><b>Cantidad de hojas de vida recibidas para el perfil:</b>: {{ perfil.cantidadHvRecibidas }} </p>
                                    <p><b>Cantidad de hojas de vida aprobadas para el perfil</b>: {{ perfil.cantidadHvAprobadas }} </p>
                                    <p><b>Fecha de aprobación de la totalidad de las hojas de vida</b>: {{ perfil.fechaAprobacion | date: 'dd/MM/yyyy' }} </p>
                                    <section *ngFor="let obs of perfil.construccionPerfilObservacion">
                                        <div *ngIf="obs.tipoObservacionCodigo === '1'">
                                            <b style="margin-bottom: .5em;">Observaciones:</b> <div [innerHTML]="obs.observacion"></div>
                                        </div>
                                    </section>
                                    <p *ngFor="let radicadoFfie of perfil.contratoPerfilNumeroRadicado; index as k">
                                        <b>Número de radicado en FFIE de aprobación de hojas de vida {{ k+1 }}:</b>
                                        {{ radicadoFfie['numeroRadicado'] }}
                                    </p>
                                    <p>
                                        <b>URL con soporte:</b>
                                        {{ perfil.rutaSoporte }}
                                    </p>
                                </mat-card-content>
                            </mat-card>
                        </div>
                        <app-hojas-vida-interventoria-artc [observacionesCompleted]="true" [observacionesPerfil]="perfil.construccionPerfilObservacion"></app-hojas-vida-interventoria-artc>
                    </mat-expansion-panel>
                </mat-accordion>
            </mat-expansion-panel>
        </mat-accordion>
    </section>
</div>

