<mat-accordion>
    <mat-expansion-panel class="expansion-style sub-expansion">
        <mat-expansion-panel-header class="expansion-style--header">
            <mat-panel-title class="expansion-style--title ">
                Porcentajes de participación
            </mat-panel-title>
        </mat-expansion-panel-header>
        <app-tabla-porcntj-partic-gog></app-tabla-porcntj-partic-gog>
    </mat-expansion-panel>
</mat-accordion>
<mat-accordion>
    <mat-expansion-panel class="expansion-style sub-expansion">
        <mat-expansion-panel-header class="expansion-style--header">
            <mat-panel-title class="expansion-style--title ">
                Información fuente de recursos
            </mat-panel-title>
        </mat-expansion-panel-header>
        <app-tabla-info-fuenterec-gog></app-tabla-info-fuenterec-gog>
    </mat-expansion-panel>
</mat-accordion>
<mat-accordion>
    <mat-expansion-panel class="expansion-style sub-expansion">
        <mat-expansion-panel-header class="expansion-style--header">
            <mat-panel-title class="expansion-style--title sin-diligenciar">
                Estrategia de pagos
            </mat-panel-title>
        </mat-expansion-panel-header>
        <app-form-estrateg-pagos-gog></app-form-estrateg-pagos-gog>
    </mat-expansion-panel>
</mat-accordion>
<mat-accordion>
    <mat-expansion-panel class="expansion-style sub-expansion">
        <mat-expansion-panel-header class="expansion-style--header">
            <mat-panel-title class="expansion-style--title sin-diligenciar">
                Descuentos Dirección Técnica
            </mat-panel-title>
        </mat-expansion-panel-header>
        <app-desc-dir-tecnica-gog></app-desc-dir-tecnica-gog>
    </mat-expansion-panel>
</mat-accordion>
<mat-accordion>
    <mat-expansion-panel class="expansion-style sub-expansion">
        <mat-expansion-panel-header class="expansion-style--header">
            <mat-panel-title class="expansion-style--title sin-diligenciar">
                Tercero de causación
            </mat-panel-title>
        </mat-expansion-panel-header>
        <app-tercero-causacion-gog></app-tercero-causacion-gog>
    </mat-expansion-panel>
</mat-accordion>
<mat-accordion>
    <mat-expansion-panel class="expansion-style sub-expansion">
        <mat-expansion-panel-header class="expansion-style--header">
            <mat-panel-title class="expansion-style--title ">
                Origen
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div align="center">
            <b>Consecutivo FFIE: 001</b>    
        </div>
        <mat-card class="shipping-card var-main-gris">
            <mat-card-content align="left">
                <mat-card-title class="header-card--text sub-text">
                    Aportante 1
                </mat-card-title>
                <div class="mt-1em">
                    <p><strong>Tipo de aportante: </strong>Entidad Territorial</p>
                    <p><strong>Nombre del aportante: </strong>Alcaldía de Susacón</p>
                    <p><strong>Fuente: </strong>Contingencias</p>
                    <p><strong>Nombre de la Cuenta: </strong>Alcaldía de Susacón</p>
                    <p><strong>Número de Cuenta: </strong>778969876543257</p>
                    <p><strong>Banco: </strong>Davivienda</p>
                    <p><strong>Tipo de Cuenta: </strong>Corriente</p>
                    <p><strong>Código SIFI: </strong>357314</p>
                </div>
                <mat-card-title class="header-card--text sub-text">
                    Aportante 2
                </mat-card-title>
                <div class="mt-1em">
                    <p><strong>Tipo de aportante: </strong>Tercero</p>
                    <p><strong>Nombre del aportante: </strong>Fundación Pies Descalzos</p>
                    <p><strong>Fuente: </strong>Recursos propios</p>
                    <p><strong>Nombre de la Cuenta: </strong>Fundación Pies Descalzos</p>
                    <p><strong>Número de Cuenta: </strong>6758-9879-98760</p>
                    <p><strong>Banco: </strong>Bancolombia</p>
                    <p><strong>Tipo de Cuenta: </strong>Ahorros</p>
                    <p><strong>Código SIFI: </strong>358765</p>
                </div>
            </mat-card-content>
        </mat-card>
    </mat-expansion-panel>
</mat-accordion>
<mat-accordion>
    <mat-expansion-panel class="expansion-style sub-expansion">
        <mat-expansion-panel-header class="expansion-style--header">
            <mat-panel-title class="expansion-style--title sin-diligenciar">
                Observaciones
            </mat-panel-title>
        </mat-expansion-panel-header>
        <app-observaciones-orden-giro-gog></app-observaciones-orden-giro-gog>
    </mat-expansion-panel>
</mat-accordion>
<mat-accordion>
    <mat-expansion-panel class="expansion-style sub-expansion">
        <mat-expansion-panel-header class="expansion-style--header">
            <mat-panel-title class="expansion-style--title sin-diligenciar">
                Soporte de orden de giro
            </mat-panel-title>
        </mat-expansion-panel-header>
        <app-soporte-orden-giro-gog></app-soporte-orden-giro-gog>
    </mat-expansion-panel>
</mat-accordion>