<div class="container">
  <div class="text-right">
    <a routerLink="/gestionarFuentes" mat-button color="primary" class="btn-regresar">
      <img src="assets/img/icon/regresar.svg" alt="Regresar">
    </a>
  </div>
  <div class="text-center">
    <h1 class="title-menu--h1">
      Registrar aporte y fuente de recursos
    </h1>
  </div>
  <form [formGroup]="addressForm" (ngSubmit)="onSubmit()">
    <mat-card class="shipping-card">
      <mat-card-header class="header-card">
        <mat-card-title class="header-card--text">
          Datos del aportante
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="pr-1">
            <label class="label-left">Nombre del aportante</label>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput formControlName="company">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <div class="row">
              <div class="pr-1">
                <label class="label-left">Documento de apropiación</label>
              </div>
              <div class="col">
                <mat-form-field class="full-width">
                  <input matInput formControlName="firstName">
                  <mat-error *ngIf="addressForm.controls['firstName'].hasError('required')">
                    First name is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <div class="row">
              <div class="pr-1">
                <label class="label-left">Número de documento</label>
              </div>
              <div class="col">
                <mat-form-field class="full-width">
                  <input matInput formControlName="lastName">
                  <mat-error *ngIf="addressForm.controls['lastName'].hasError('required')">
                    Last name is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="shipping-card">
      <mat-card-header class="header-card">
        <mat-card-title class="header-card--text">
          Datos del aportante
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="pr-1">
            <label class="label-left">Fuente de recursos</label>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput formControlName="address">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <div class="row">
              <div class="pr-1">
                <label class="label-left">Valor aporte fuente de recursos</label>
              </div>
              <div class="col">
                <mat-form-field class="full-width">
                  <input matInput formControlName="city">
                  <mat-error *ngIf="addressForm.controls['city'].hasError('required')">
                    City is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
        <h2 class="card-subTitle">Aportantes</h2>
        <div class="row">
          <div class="col-md-8">
            <div class="row">
              <div class="pr-1">
                <label class="label-left">¿De cuántas vigencias se realizará el aporte?</label>
              </div>
              <div class="col">
                <mat-form-field class="full-width">
                  <mat-select formControlName="state">
                    <mat-option *ngFor="let state of states" [value]="state.abbreviation">
                      {{ state.name }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="addressForm.controls['state'].hasError('required')">
                    State is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
        <mat-card-title class="header-card--text">
          Vigencia 1
        </mat-card-title>
        <div class="row">
          <div class="col-md-8">
            <div class="row">
              <div class="pr-1">
                <label class="label-left">Vigencia del aporte</label>
              </div>
              <div class="col">
                <mat-form-field class="full-width">
                  <input matInput #postalCode maxlength="5" type="number"
                    formControlName="postalCode">
                  <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <div class="row">
              <div class="pr-1">
                <label class="label-left">Valor aporte de la vigencia</label>
              </div>
              <div class="col">
                <mat-form-field class="full-width">
                  <input matInput #postalCode maxlength="5" type="number"
                    formControlName="postalCode">
                  <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>



        <div class="row">
          <div class="col">
            <mat-radio-group formControlName="shipping">
              <mat-radio-button value="free">Free Shipping</mat-radio-button>
              <mat-radio-button value="priority">Priority Shipping</mat-radio-button>
              <mat-radio-button value="nextday">Next Day Shipping</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <div class="text-center">
      <button mat-button color="warn" class="btn-guardar" type="submit">
        <img src="assets/img/icon/guardar.svg" alt="Regresar">
      </button>
    </div>
  </form>
</div>