.radioInput > * {
  display: inline-block;
  margin: 5px 1em;
}

.btn-eliminar,
.btn-guardar {
  margin-bottom: 1em;
}

.maincolor {
  color: var(--mainColor);
}

.mlmenor {
  margin-left: -2em;
}

.w-select-unico {
  max-width: 434px;
}
