<form [formGroup]="addressForm">
    <mat-card class="shipping-card" *ngIf="esRegistroNuevo === true">
        <mat-card-content align="left">
            <div class="row" style="height: 45px;">
                <div class="col-md-6">
                    <div class="row">
                        <div class="pr-1">
                            <label class="label-left" for="tipoSolicitud">
                                Tipo de solicitud
                            </label>
                        </div>
                        <div class="col">
                            <mat-form-field class="select-width">
                                <mat-select formControlName="tipoSolicitud" required>
                                    <mat-option *ngFor="let solicitud of listaTipoSolicitudContrato" [value]="solicitud.codigo">
                                        {{ solicitud.nombre }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <!--
                            <mat-form-field class="full-width">
                                <input matInput #nombre2 type="text" maxlength="100" formControlName="tipoSolicitud" required>
                            </mat-form-field>
                            <button mat-button color="primary" class="busqueda--img" (click)="getParamsSearch()">
                                <img src="assets/img/icon/lupa.svg" alt="Buscar">
                            </button>
                            -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="pr-1">
                            <label class="label-left" for="numeroOrdenGiro">
                                Número de orden de giro
                            </label>
                        </div>
                        <div class="col d-flex">
                            <mat-form-field class="full-width">
                                <input matInput #nombre3 type="text" maxlength="100" formControlName="numeroOrdenGiro" required>
                            </mat-form-field>
                            <button mat-button color="primary" class="busqueda--img" (click)="getParamsSearch()">
                                <img src="assets/img/icon/lupa.svg" alt="Buscar">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>

    <app-form-orden-giro    [listaBusqueda]="dataTable"
                            [esVerDetalle]="esVerDetalle"
                            [esRegistroNuevo]="esRegistroNuevo"
                            *ngIf="dataTable.length > 0">
    </app-form-orden-giro>
</form>