.mat-button.mat-warn[disabled], .mat-button[disabled][disabled] {
  opacity: .5;
}

.full-width {
  width: 100%;
}

.shipping-card {
  min-width: 120px;
  margin: 20px auto;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}

.title-menu--h1 {
  margin-bottom: 0.8em;
}

.mx-1em {
  margin-left: 1em;
  margin-right: 1em;
}

th.mat-header-cell {
  text-align: center;
}

.btn-guardar {
  margin-top: 1em;
}

.primer-tabla {
  max-width: 40em;
  margin: auto;
}

.sino {
  width: 7em;
  justify-content: space-between;
  padding-right: 0.5em;
}

.color-text-descriptivo {
  color: rgba(0, 0, 0, 0.555);
}

.size-text-descriptivo {
  width: 100%;
  margin-left: 12em;
}