<form autocomplete="off" [formGroup]="formContratista" (ngSubmit)="guardar()">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="pr-1">
          <label
            class="label-left"
            for="numeroPerfiles"
            [class.color-secondaryColor]="
              (formContratista.get('numeroPerfiles').invalid && formContratista.get('numeroPerfiles').touched) ||
              (formContratista.get('numeroPerfiles').invalid && estaEditando)
            "
          >
            ¿Cuantos perfiles diferentes del contratista de obra se requieren para ejecutar el proyecto?
          </label>
        </div>
        <div class="col d-flex">
          <mat-form-field class="w-38">
            <input
              matInput
              type="number"
              maxlength="3"
              min="1"
              max="999"
              required
              (keypress)="validateNumberKeypress($event)"
              formControlName="numeroPerfiles"
              #cantidadPerfiles
              required
              onKeyPress="if(this.value.length>=this.maxLength) return false;"
            />
          </mat-form-field>
          <span
            class="contador"
            [matTooltipPosition]="'above'"
            matTooltip="Campo numérico"
            matTooltipClass="info-tooltip"
          >
            {{ 3 - cantidadPerfiles.value.length }}
          </span>
          <span class="icon-incompleto">
            <img
              class="icon-incompleto--img"
              src="assets/img/icon/incompleto.svg"
              alt="este campo es requerido"
              *ngIf="
                (formContratista.get('numeroPerfiles').invalid && formContratista.get('numeroPerfiles').touched) ||
                (formContratista.get('numeroPerfiles').invalid && estaEditando)
              "
            />
          </span>
        </div>
      </div>
    </div>
  </div>

  <mat-accordion formArrayName="perfiles" *ngIf="formContratista.get('numeroPerfiles').value !== null">
    <mat-expansion-panel
      class="expansion-style sub-expansion"
      *ngFor="let perfil of perfiles.controls; index as i"
      [formGroup]="perfil"
    >
      <mat-expansion-panel-header class="expansion-style--header">
        <mat-panel-title class="expansion-style--title" [ngClass]="perfil.get('estadoSemaforo').value">
          Perfil {{ i + 1 }}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-card>
        <mat-card-content>
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="pr-1 mt-1em">
                  <label
                    class="label-left"
                    for="perfilCodigo"
                    [class.color-secondaryColor]="
                      (perfiles.get('perfilCodigo').invalid && perfiles.get('perfilCodigo').touched) ||
                      (perfiles.get('perfilCodigo').invalid && estaEditando)
                    "
                  >
                    Perfil
                  </label>
                </div>
                <div class="col d-flex">
                  <mat-form-field>
                    <mat-select formControlName="perfilCodigo" class="padding-left" required>
                      <mat-option *ngFor="let perfilCv of perfilesCv" [value]="perfilCv.codigo">
                        {{ perfilCv.nombre }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <span class="icon-incompleto">
                  <img
                    class="icon-incompleto--img"
                    src="assets/img/icon/incompleto.svg"
                    alt="este campo es requerido"
                    *ngIf="
                      (perfiles.get('perfilCodigo').invalid && perfiles.get('perfilCodigo').touched) ||
                      (perfiles.get('perfilCodigo').invalid && estaEditando)
                    "
                  />
                </span>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-8">
              <div class="row">
                <div class="pr-1">
                  <label
                    class="label-left"
                    for="cantidadHvRequeridas"
                    [class.color-secondaryColor]="
                      (perfiles.get('cantidadHvRequeridas').invalid && perfiles.get('cantidadHvRequeridas').touched) ||
                      (perfiles.get('cantidadHvRequeridas').invalid && estaEditando)
                    "
                  >
                    Cantidad de hojas de vida requeridas para el perfil
                  </label>
                </div>
                <div class="col d-flex">
                  <mat-form-field>
                    <input
                      matInput
                      type="number"
                      maxlength="3"
                      min="1"
                      max="999"
                      (keypress)="validateNumberKeypress($event)"
                      onKeyPress="if(this.value.length>=this.maxLength) return false;"
                      formControlName="cantidadHvRequeridas"
                      required
                      (ngModelChange)="validateNumber($event, i, 'cantidadHvRequeridas')"
                      [class.invalid]="
                        perfil.get('cantidadHvRequeridas').value.length > 0
                          ? perfil.get('cantidadHvRequeridas').markAsUntouched()
                          : perfil.get('cantidadHvRequeridas').markAsTouched()
                      "
                    />
                  </mat-form-field>
                  <span
                    class="contador"
                    [matTooltipPosition]="'above'"
                    matTooltip="Campo numérico"
                    matTooltipClass="info-tooltip"
                  >
                    {{ 3 - perfil.get('cantidadHvRequeridas').value.toString().length }}
                  </span>
                  <span class="icon-incompleto">
                    <img
                      class="icon-incompleto--img"
                      src="assets/img/icon/incompleto.svg"
                      alt="este campo es requerido"
                      *ngIf="
                        (perfiles.get('cantidadHvRequeridas').invalid &&
                          perfiles.get('cantidadHvRequeridas').touched) ||
                        (perfiles.get('cantidadHvRequeridas').invalid && estaEditando)
                      "
                    />
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-8">
              <div class="row">
                <div class="pr-1">
                  <label
                    class="label-left"
                    for="cantidadHvRecibidas"
                    [class.color-secondaryColor]="
                      (perfiles.get('cantidadHvRecibidas').invalid && perfiles.get('cantidadHvRecibidas').touched) ||
                      (perfiles.get('cantidadHvRecibidas').invalid && estaEditando)
                    "
                  >
                    Cantidad de hojas de vida recibidas para el perfil
                  </label>
                </div>
                <div class="col d-flex">
                  <mat-form-field>
                    <input
                      matInput
                      type="number"
                      maxlength="3"
                      min="1"
                      max="999"
                      (keypress)="validateNumberKeypress($event)"
                      onKeyPress="if(this.value.length>=this.maxLength) return false;"
                      formControlName="cantidadHvRecibidas"
                      required
                      (ngModelChange)="validateNumber($event, i, 'cantidadHvRecibidas')"
                      [class.invalid]="
                        perfil.get('cantidadHvRecibidas').value.length > 0
                          ? perfil.get('cantidadHvRecibidas').markAsUntouched()
                          : perfil.get('cantidadHvRecibidas').markAsTouched()
                      "
                    />
                  </mat-form-field>
                  <span
                    class="contador"
                    [matTooltipPosition]="'above'"
                    matTooltip="Campo numérico"
                    matTooltipClass="info-tooltip"
                  >
                    {{ 3 - perfil.get('cantidadHvRecibidas').value.toString().length }}
                  </span>
                  <span class="icon-incompleto">
                    <img
                      class="icon-incompleto--img"
                      src="assets/img/icon/incompleto.svg"
                      alt="este campo es requerido"
                      *ngIf="
                        (perfiles.get('cantidadHvRecibidas').invalid && perfiles.get('cantidadHvRecibidas').touched) ||
                        (perfiles.get('cantidadHvRecibidas').invalid && estaEditando)
                      "
                    />
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-8">
              <div class="row">
                <div class="pr-1">
                  <label
                    class="label-left"
                    for="cantidadHvAprobadas"
                    [class.color-secondaryColor]="
                      (perfiles.get('cantidadHvAprobadas').invalid && perfiles.get('cantidadHvAprobadas').touched) ||
                      (perfiles.get('cantidadHvAprobadas').invalid && estaEditando)
                    "
                  >
                    Cantidad de hojas de vida aprobadas para el perfil
                  </label>
                </div>
                <div class="col d-flex">
                  <mat-form-field>
                    <input
                      matInput
                      type="number"
                      maxlength="3"
                      min="1"
                      max="999"
                      (keypress)="validateNumberKeypress($event)"
                      onKeyPress="if(this.value.length>=this.maxLength) return false;"
                      formControlName="cantidadHvAprobadas"
                      required
                      (ngModelChange)="validateNumber($event, i, 'cantidadHvAprobadas')"
                      [class.invalid]="
                        perfil.get('cantidadHvAprobadas').value.length > 0
                          ? perfil.get('cantidadHvAprobadas').markAsUntouched()
                          : perfil.get('cantidadHvAprobadas').markAsTouched()
                      "
                    />
                  </mat-form-field>
                  <span
                    class="contador"
                    [matTooltipPosition]="'above'"
                    matTooltip="Campo numérico"
                    matTooltipClass="info-tooltip"
                  >
                    {{ 3 - perfil.get('cantidadHvAprobadas').value.toString().length }}
                  </span>
                  <span class="icon-incompleto">
                    <img
                      class="icon-incompleto--img"
                      src="assets/img/icon/incompleto.svg"
                      alt="este campo es requerido"
                      *ngIf="
                        (perfiles.get('cantidadHvAprobadas').invalid && perfiles.get('cantidadHvAprobadas').touched) ||
                        (perfiles.get('cantidadHvAprobadas').invalid && estaEditando)
                      "
                    />
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-8">
              <div class="row">
                <div class="pr-1 mt-1em">
                  <label
                    class="label-left"
                    for="fechaAprobacion"
                    [class.color-secondaryColor]="
                      (perfiles.get('fechaAprobacion').invalid && perfiles.get('fechaAprobacion').touched) ||
                      (perfiles.get('fechaAprobacion').invalid && estaEditando)
                    "
                  >
                    Fecha de aprobación de la totalidad de las hojas de vida
                  </label>
                </div>
                <div class="col d-flex">
                  <mat-form-field>
                    <input
                      matInput
                      [matDatepicker]="fechaAprobacion"
                      formControlName="fechaAprobacion"
                      [min]="minDate"
                      placeholder="DD/MM/AAAA"
                      required
                      readonly
                      [attr.disabled]="
                        disabledDate(
                          perfil.get('cantidadHvAprobadas').value,
                          perfil.get('cantidadHvRequeridas').value,
                          i
                        )
                      "
                      [class.invalid]="
                        perfil.get('fechaAprobacion').value !== null
                          ? perfil.get('fechaAprobacion').markAsUntouched()
                          : perfil.get('fechaAprobacion').markAsTouched()
                      "
                    />
                    <mat-datepicker #fechaAprobacion></mat-datepicker>
                  </mat-form-field>
                  <button
                    mat-button
                    color="primary"
                    type="button"
                    (click)="fechaAprobacion.open()"
                    class="btn-calendario"
                  >
                    <img class="mr-bottom-1" src="assets/img/icon/calendarioCirculo.svg" alt="Abrir Calendario" />
                  </button>
                  <span class="icon-incompleto">
                    <img
                      class="icon-incompleto--img"
                      src="assets/img/icon/incompleto.svg"
                      alt="este campo es requerido"
                      *ngIf="
                        (perfiles.get('fechaAprobacion').invalid && perfiles.get('fechaAprobacion').touched) ||
                        (perfiles.get('fechaAprobacion').invalid && estaEditando)
                      "
                    />
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="pr-1">
                  <label
                    class="label-left"
                    for="observacion"
                    [class.color-secondaryColor]="
                      (perfil.get('observacion').invalid && perfil.get('observacion').touched) ||
                      (perfil.get('observacion').invalid && estaEditando)
                    "
                  >
                    Observaciones
                  </label>
                </div>
                <div class="col d-flex">
                  <quill-editor
                    class="quill-editor-style w-65 card position-relative"
                    [styles]="editorStyle"
                    [modules]="config"
                    (onContentChanged)="maxLength($event, 1000)"
                    formControlName="observacion"
                    [class.invalid]="
                      (perfil.get('observacion').invalid && perfil.get('observacion').touched) ||
                      (perfil.get('observacion').invalid && estaEditando)
                    "
                    required
                  ></quill-editor>
                  <div class="d-flex" style="align-items: flex-end; margin-bottom: 0.6em">
                    <span class="contador miles" *ngIf="perfil.get('observacion').value !== null">
                      {{ 1000 - textoLimpio(perfil.get('observacion').value) }}
                    </span>
                    <span class="contador miles" *ngIf="perfil.get('observacion').value === null"> 1000 </span>
                    <span class="icon-incompleto">
                      <img
                        class="icon-incompleto--img"
                        src="assets/img/icon/incompleto.svg"
                        alt="este campo es requerido"
                        *ngIf="
                          (perfil.get('observacion').invalid && perfil.get('observacion').touched) ||
                          (perfil.get('observacion').invalid && estaEditando)
                        "
                      />
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <section formArrayName="contratoPerfilNumeroRadicado">
            <div class="d-flex mt-1em" *ngFor="let numero of numeroRadicado(i).controls; index as j">
              <div class="row" style="width: 100%">
                <div class="col-md-12">
                  <div class="row">
                    <div class="pr-1">
                      <label
                        class="label-left"
                        for="numeroRadicado"
                        [class.color-secondaryColor]="
                          (perfiles.get('numeroRadicado').invalid && perfiles.get('numeroRadicado').touched) ||
                          (perfiles.get('numeroRadicado').invalid && estaEditando)
                        "
                      >
                        Número de radicado en FFIE de aprobación de hojas de vida {{ j + 1 }}
                      </label>
                    </div>
                    <div class="col d-flex" [formGroup]="numero">
                      <mat-form-field>
                        <input
                          matInput
                          type="text"
                          maxlength="20"
                          formControlName="numeroRadicado"
                          required
                          [class.invalid]="
                            numero.get('numeroRadicado').value.length > 0
                              ? numero.get('numeroRadicado').markAsUntouched()
                              : numero.get('numeroRadicado').markAsTouched()
                          "
                        />
                      </mat-form-field>
                      <span
                        class="contador"
                        [matTooltipPosition]="'above'"
                        matTooltip="Campo alfanumérico"
                        matTooltipClass="info-tooltip"
                      >
                        {{ 20 - numero.get('numeroRadicado').value.length }}
                      </span>
                      <span class="icon-incompleto">
                        <img
                          class="icon-incompleto--img"
                          src="assets/img/icon/incompleto.svg"
                          alt="este campo es requerido"
                          *ngIf="
                            (perfiles.get('numeroRadicado').invalid && perfiles.get('numeroRadicado').touched) ||
                            (perfiles.get('numeroRadicado').invalid && estaEditando)
                          "
                        />
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-right" *ngIf="numeroRadicado(i).length > 1" style="width: 39%">
                <button
                  mat-button
                  color="warn"
                  type="button"
                  class="btn-eliminar"
                  (click)="eliminarNumeroRadicado(i, j)"
                  *ngIf="perfilProyecto.length === 0"
                >
                  <img src="assets/img/icon/menos.svg" alt="Eliminar vigencia" />
                  Eliminar número de radicado
                </button>
                <button
                  mat-button
                  color="warn"
                  type="button"
                  class="btn-eliminar"
                  (click)="deleteRadicado(numero.get('contratoPerfilNumeroRadicadoId').value, i, j)"
                  *ngIf="perfilProyecto.length > 0"
                >
                  <img src="assets/img/icon/menos.svg" alt="Eliminar vigencia" />
                  Eliminar número de radicado
                </button>
              </div>
              <div class="text-right" *ngIf="numeroRadicado(i).length === 1" style="width: 39%">
                <button
                  mat-button
                  color="warn"
                  type="button"
                  class="btn-eliminar"
                  (click)="agregarNumeroRadicado(i, perfil.get('contratoPerfilId').value)"
                >
                  <img src="assets/img/icon/mas.svg" />
                  Agregar otro número de radicado
                </button>
              </div>
            </div>
            <div class="text-right w-margin" *ngIf="numeroRadicado(i).length > 1">
              <button
                mat-button
                color="warn"
                type="button"
                class="btn-eliminar"
                (click)="agregarNumeroRadicado(i, perfil.get('contratoPerfilId').value)"
              >
                <img src="assets/img/icon/mas.svg" />
                Agregar otro número de radicado
              </button>
            </div>
          </section>

          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="pr-1">
                  <label
                    class="label-left"
                    for="rutaSoporte"
                    [class.color-secondaryColor]="
                      (perfiles.get('rutaSoporte').invalid && perfiles.get('rutaSoporte').touched) ||
                      (perfiles.get('rutaSoporte').invalid && estaEditando)
                    "
                  >
                    URL con soporte
                  </label>
                </div>
                <div class="col d-flex">
                  <mat-form-field style="width: 96%">
                    <input
                      matInput
                      type="text"
                      formControlName="rutaSoporte"
                      required
                      [class.invalid]="
                        perfil.get('rutaSoporte').value.length > 0
                          ? perfil.get('rutaSoporte').markAsUntouched()
                          : perfil.get('rutaSoporte').markAsTouched()
                      "
                    />
                  </mat-form-field>
                </div>
                <div class="d-flex justify-content-center size-text-descriptivo">
                  <span class="info-url"
                    >Indique la ruta en la que se encuentra el soporte de las hojas de vida y el Acta de aprobación del
                    personal.</span
                  >
                </div>
              </div>
              <span class="icon-incompleto">
                <img
                  class="icon-incompleto--img"
                  src="assets/img/icon/incompleto.svg"
                  alt="este campo es requerido"
                  *ngIf="
                    (perfiles.get('rutaSoporte').invalid && perfiles.get('rutaSoporte').touched) ||
                    (perfiles.get('rutaSoporte').invalid && estaEditando)
                  "
                />
              </span>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <div class="text-right" *ngIf="perfiles.controls.length > 1">
        <button
          mat-button
          color="warn"
          type="button"
          class="btn-eliminar"
          (click)="eliminarPerfil(i)"
          *ngIf="perfilProyecto.length === 0"
        >
          <img src="assets/img/icon/menos.svg" />
          Eliminar perfil
        </button>
        <button
          mat-button
          color="warn"
          type="button"
          class="btn-eliminar"
          (click)="deletePerfil(perfil.get('contratoPerfilId').value, i)"
          *ngIf="perfilProyecto.length > 0"
        >
          <img src="assets/img/icon/menos.svg" />
          Eliminar perfil
        </button>
      </div>

      <mat-card
        class="shipping-card var-main-gris"
        style="margin-top: 3em"
        *ngIf="perfil.get('observacionSupervisor').value !== null"
      >
        <mat-card-header class="header-card">
          <mat-card-title class="header-card--text"> Observaciones del supervisor </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <b style="margin-top: 0.8em">
            {{ perfil.get('fechaObservacion').value | date: 'dd/MM/yyyy' }}
          </b>
          <p>
            {{ textoLimpioMessage(perfil.get('observacionSupervisor').value) }}
          </p>
        </mat-card-content>
      </mat-card>

      <div class="text-center">
        <button
          mat-button
          color="warn"
          class="btn-guardar"
          type="button"
          (click)="guardar()"
          [disabled]="formContratista.dirty === false"
        >
          <img src="assets/img/icon/guardar.svg" />
        </button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</form>
