<div style="margin-top: 2em;">
    <div class="busqueda">
        <mat-form-field appearance="outline" class="busqueda--input">
            <mat-label>Buscador / Filtro</mat-label>
            <input matInput #filtro (keyup)="applyFilter($event)">
        </mat-form-field>
        <button mat-button color="primary" class="busqueda--img" (click)="filtro.focus()">
            <img src="assets/img/icon/lupa.svg" alt="Buscar">
        </button>
    </div>
    <div class="table-responsive">
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
            <ng-container matColumnDef="fechaActualizacion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de actualización </th>
                <td mat-cell *matCellDef="let element" align="center"> <b> {{ element.fechaActualizacion }} </b> </td>
            </ng-container>

            <ng-container matColumnDef="actuacion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Actuación </th>
                <td mat-cell *matCellDef="let element" align="center"> {{ element.descripcionActuacion }} </td>
            </ng-container>

            <ng-container matColumnDef="numActuacion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Número de actuación </th>
                <td mat-cell *matCellDef="let element" align="center"> {{ element.numeroActuacion }} </td>
            </ng-container>

            <ng-container matColumnDef="numReclamacion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Número de reclamación </th>
                <td mat-cell *matCellDef="let element" align="center"> {{ element.numeroActuacionReclamacion }} </td>
            </ng-container>

            <ng-container matColumnDef="estadoReclamacion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado de la reclamación </th>
                <td mat-cell *matCellDef="let element" align="center">
                    <div *ngIf="element.estadoActuacionReclamacionCodigo=='1' || element.estadoActuacionReclamacionCodigo==''">Sin registro</div>
                    <div *ngIf="element.estadoActuacionReclamacionCodigo=='2'">En proceso de registro</div>
                    <div *ngIf="element.estadoActuacionReclamacionCodigo=='3'">Enviado a comité técnico</div>
                    <div *ngIf="element.estadoActuacionReclamacionCodigo=='4'">Devuelta por comité técnico</div>
                    <div *ngIf="element.estadoActuacionReclamacionCodigo=='5'">Aprobada por comité técnico</div>
                </td>
            </ng-container>

            <ng-container matColumnDef="gestion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Gestión </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-raised-button color="accent" class="btn-table"
                        *ngIf="element.estadoActuacionReclamacionCodigo=='5'"
                        (click)="this.actualizarReclamacionAseguradora(element.actuacionId,element.numeroReclamacion)">
                        Actualizar reclamación ante la aseguradora
                    </button>
                    <button mat-raised-button color="accent" class="btn-table"
                        *ngIf="element.estadoActuacionReclamacionCodigo=='1' || element.estadoActuacionReclamacionCodigo==''"
                        (click)="this.registrarReclamacionAseguradora(element.actuacionId,element.descripcionActuacion,element.numeroActuacion)">
                        Registrar reclamación ante la aseguradora
                    </button>
                    <button mat-raised-button color="accent" class="btn-table"
                        *ngIf="(element.estadoActuacionReclamacionCodigo=='2'&& element.registroCompletoReclamacion=='Completo') || element.estadoActuacionReclamacionCodigo=='4'"
                        (click)="this.enviarReclamacionComiteTecnico(element.actuacionId)">
                        Enviar reclamación a comité técnico
                    </button>
                    <button mat-raised-button color="accent" class="btn-table"
                        *ngIf="element.estadoActuacionReclamacionCodigo=='2' || element.estadoActuacionReclamacionCodigo=='4'"
                        (click)="this.verDetalleEditarReclamacion(element.actuacionId,element.descripcionActuacion,element.numeroActuacionReclamacion)">
                        Ver detalle/Editar
                    </button>
                    <button mat-raised-button color="accent" class="btn-table"
                        *ngIf="element.estadoActuacionReclamacionCodigo=='5' || element.estadoActuacionReclamacionCodigo=='3'"
                        (click)="this.verDetalleReclamacion(element.actuacionId,element.descripcionActuacion,element.numeroActuacionReclamacion)">
                        Ver detalle
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
</div>