<section class="container text-center">
    <div class="text-right">
        <a routerLink="/generarRegistroPresupuestal" mat-button color="primary" class="btn-regresar">
            <img src="assets/img/icon/regresar.svg" alt="Regresar">
        </a>
    </div>
    <h1 class="title-menu--h1">
        Gestionar DRP contrato {{detailavailabilityBudget?.numContrato}}
    </h1>
    <p class="info-sub-title">
        <span>Fecha de firma del contrato: <b>{{detailavailabilityBudget?.fechaContrato}}</b></span>
        <span><b>{{detailavailabilityBudget?.tipoSolicitudEspecial}}</b></span>
        <span>Estado: <b>{{detailavailabilityBudget?.estadoStr}}</b></span>
    </p>
</section>
<section class="container">
    <mat-card class="shipping-card mainGris">
        <mat-card-content>
            <p><strong>Fecha de solicitud: </strong>{{detailavailabilityBudget?.fechaComiteTecnico| date:'dd/MM/yyyy'}}</p>
            <p><strong>Número de solicitud: </strong>{{detailavailabilityBudget?.numeroSolicitud}}</p>
            <p><strong>Número DRP: </strong>{{detailavailabilityBudget?.numeroDRP}}</p>
            <p><strong>Número DDP: </strong>{{detailavailabilityBudget?.numeroDDP}}</p>
            <p><strong>Tipo de contrato: </strong>{{detailavailabilityBudget?.tipoSolicitudText}}</p>
            <p><strong>Valor del contrato: </strong>{{detailavailabilityBudget?.valorSolicitud | currency:'':'symbol':'3.0'}}</p>
            <p><strong>Plazo: </strong>{{detailavailabilityBudget?.plazo}}</p>
            <p><strong>Objeto:</strong></p>
            <div><strong>1. </strong><div [innerHtml]="detailavailabilityBudget?.objeto"></div> </div>
            <p *ngIf="esModificacion"><strong>Tipo de modificación: </strong>Adición y plazo</p>
            <p *ngIf="esModificacion"><strong>Valor después de la modificación: </strong>$ 90.000.000</p>
            <p *ngIf="esModificacion"><strong>Plazo después de la modificación: </strong>20 meses / 5 días</p>
            <p *ngIf="esModificacion"><strong>Detalle de la modificación:</strong></p>
            <p *ngIf="esModificacion">Se realiza adición de recursos para obras complementarias</p>

            <div  *ngIf="detailavailabilityBudget?.aportantes.length>0">
                <h2 class="card-subTitle">Aportantes</h2>
                <div *ngFor="let aportante of detailavailabilityBudget?.aportantes; index as i">
                    <mat-card-title class="header-card--text sub-text">
                        Aportante {{i+1}}
                    </mat-card-title>
                    <p>
                        <strong>Tipo de aportante:</strong>
                        {{aportante.tipoAportante}}
                    </p>
                    <p>
                        <strong>Nombre del aportante:</strong>
                        {{aportante.nombre}}
                    </p>
                    <p>
                        <strong>Valor del aportante al proyecto:</strong>
                        {{aportante.valorAportanteAlProyecto | currency:'':'symbol':'3.0'}}
                    </p>
                    <p *ngIf="detailavailabilityBudget?.urlConSoporte">
                        <strong>URL con soporte:</strong>
                        {{detailavailabilityBudget?.urlConSoporte}}
                    </p>
                    <mat-card-title class="header-card--text sub-text" >
                        Fuente
                    </mat-card-title>
                    <div >
                        <div *ngFor="let fuente of aportante.fuentesFinanciacion;index as ii">
                            <p>
                                <strong>Fuente {{ii+1}}:</strong>
                                {{fuente.nombre}}
                            </p>
                            <p>
                                <strong>Saldo actual de la fuente:</strong>
                                {{fuente.saldo_actual_de_la_fuente | currency:'':'symbol':'3.0'}}
                            </p>
                            <p>
                                <strong>Valor solicitado de la fuente:</strong>
                                {{fuente.valor_solicitado_de_la_fuente | currency:'':'symbol':'3.0'}}
                            </p>
                            <p>
                                <strong>Nuevo saldo de la fuente:</strong>
                                {{fuente.nuevo_saldo_de_la_fuente | currency:'':'symbol':'3.0'}}
                            </p>
                             <!-- no esta ene l caso de uso<p>
                                <strong>Estado de las fuentes:</strong>
                                {{fuente.estado_de_las_fuentes}}
                            </p>-->
                        </div>
                    </div>
                </div>
            </div>
            <div  *ngIf="detailavailabilityBudget?.observacioensCancelacion.length>0">
                <h2 class="card-subTitle">Observaciones</h2>
                <div *ngFor="let aportante of detailavailabilityBudget?.observacioensCancelacion; index as i">
                    <div [innerHtml]="aportante.observacion"></div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-accordion>
        <mat-expansion-panel class="expansion-style" *ngFor="let proyecto of detailavailabilityBudget?.proyectos;index as i;">
            <mat-expansion-panel-header class="expansion-style--header">
                <mat-panel-title class="expansion-style--title">
                    {{proyecto.llaveMen}} - {{proyecto.institucionEducativa}} - {{proyecto.sede}}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p class="info-sub-title text-center">
                <span>Tipo de intervención: <b>{{proyecto.tipoIntervencion}}</b></span>
                <span>Departamento: <b>{{proyecto.departamento}}</b></span>
                <span>Municipio: <b>{{proyecto.municipio}}</b></span>
            </p>
            <div class="table-responsive text-center">
                <table mat-table [dataSource]="dataSource[i]" matSort class="mat-elevation-z8">

                    <ng-container matColumnDef="componente">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Componente </th>
                        <!-- Caso mapeado <td mat-cell *matCellDef="let element"> <b>{{element.fechaFirma | date:'dd/MM/yyyy'}}</b></td>-->
                        <td mat-cell *matCellDef="let element"> <b>{{element.componente}}</b></td>
                    </ng-container>

                    <ng-container matColumnDef="uso">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Uso </th>
                        <td mat-cell *matCellDef="let element">
                            <div  class="supportElement" *ngFor="let el of element.uso ; let i = index">
                                    {{el.nombre}}
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="valorUso">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Valor de Uso </th>
                        <td mat-cell *matCellDef="let element">
                            <div class="supportElement" *ngFor="let el of element.valorUso ; let i = index">
                                    {{el.valor }}
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="valorTotal">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Valor Total </th>
                        <td mat-cell *matCellDef="let element"> {{element.valorTotal| currency:'':'symbol':'3.0'}} </td>
                    </ng-container>


                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
    <div class="botones">
        <button mat-raised-button color="accent" (click)="this.descargarDDPBoton()">Descargar DDP</button>
        <button mat-raised-button color="accent" (click)="this.generardrp()" *ngIf="!detailavailabilityBudget?.numeroDRP">Generar DRP</button>
        <button mat-raised-button color="accent" (click)="this.generardrpPDF()"
        *ngIf="detailavailabilityBudget?.numeroDRP && detailavailabilityBudget?.estadoStr!='Sin registro presupuestal'">Descargar DRP</button>
        <button mat-raised-button color="accent" (click)="this.cancelarDRPBoton()"
        *ngIf="detailavailabilityBudget?.estadoStr!='Sin registro presupuestal' &&
        detailavailabilityBudget?.estadoStr!='Con registro presupuestal'"
        >Cancelar DRP</button>
    </div>
</section>
