.full-width {
  width: 100%;
}

.shipping-card {
  min-width: 120px;
  margin: 20px auto;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}

.btn-add {
  width: 2em;
}

.mt1 {
  margin-top: 1em;
}

.w-2em {
  width: 2em;
}

.w-8em {
  width: 8em;
}

.input-string {
  font-weight: 600;
  color: var(--mainColor)
}