<section>
    <button mat-button mat-dialog-close class="modal--btn-cerrar" [mat-dialog-close]="null">
      <img src="assets/img/icon/cerrar-blanco.svg" alt="cerrar">
    </button>
    
    <div class="text-center">
      <h1 class="title-menu--h1">
        Registrar programación del personal LU990088
      </h1>
    
      <div class="d-flex text-center justify-center">
        <p class="p">
            Atlántico
        </p>
      
        <p class="p ml-2em">
            Baranoa
        </p>

        <p class="p ml-2em">
            María Inmaculada
        </p>

        <p class="p ml-2em">
            Única sede
        </p>

        <p class="p ml-2em">
            Plazo del proyecto: <b>29 semanas</b>
        </p>
      </div>

      <app-tabla-registro-semanas></app-tabla-registro-semanas>
    </div>
</section>