<section class="container text-center" *ngIf="solicitudPago !== undefined && contrato !== undefined">
    <div class="text-right">
        <a routerLink="/generarOrdenDeGiro" mat-button color="primary" class="btn-regresar">
            <img src="assets/img/icon/regresar.svg" alt="Regresar">
        </a>
    </div>

    <ng-container *ngIf="esVerDetalle === true; else noEsVerDetalle">
        <h1 class="title-menu--h1">
            Ver detalle orden de giro
        </h1>
    </ng-container>
    <ng-template #noEsVerDetalle>
        <ng-container *ngIf="esRegistroNuevo === true; else elseTemplate">
            <h1 class="title-menu--h1">
                Generar orden de giro
            </h1>
        </ng-container>
        <ng-template #elseTemplate>
            <h1 class="title-menu--h1">
                Ver detalle/Editar orden de giro
            </h1>
        </ng-template>

    </ng-template>


    <p class="info-sub-title">
        <span>Número de contrato <b> {{ contrato.numeroContrato }} </b></span>
    </p>
    <mat-card class="shipping-card var-main-gris">
        <mat-card-content align="left">
            <p><strong>Fecha de solicitud de pago:</strong> {{ solicitudPago.fechaCreacion | date: 'dd/MM/yyyy' }} </p>
            <p><strong>Fecha de validación financiera:</strong> {{ solicitudPago.fechaRegistroCompletoValidacionFinanciera | date: 'dd/MM/yyyy' }} </p>
            <p><strong>Número de solicitud:</strong> {{ solicitudPago.numeroSolicitud }} </p>
            <p><strong>Modalidad de contrato:</strong> {{ getModalidadContrato( contrato.modalidadCodigo ) }} </p>
        </mat-card-content>
    </mat-card>
    <div class="text-center">
        <p class="info-container">
            <span class="info-text sin-diligenciar">Sin diligenciar</span>
            <span class="info-text en-proceso">En proceso</span>
            <span class="info-text completo">Completo</span>
        </p>
    </div>
    <mat-accordion>
        <mat-expansion-panel class="expansion-style">
            <mat-expansion-panel-header class="expansion-style--header">
                <mat-panel-title class="expansion-style--title" [ngClass]="esVerDetalle === false ? estadoSemaforos.acordeonInformacionGeneral : ''">
                    Información general
                </mat-panel-title>
            </mat-expansion-panel-header>

            <app-accordion-info-general-gog
                [solicitudPago]="solicitudPago"
                [esVerDetalle]="esVerDetalle"
                (tieneObservacion)="semaforoInfoGeneral = 'en-proceso'"
                (observacionesVerificar)="observacionesVerificar($event)"
                (observacionesAprobar)="observacionesAprobar($event)"
                (observacionesTramitar)="observacionesTramitar($event)"
            >
            </app-accordion-info-general-gog>
        </mat-expansion-panel>

        <mat-expansion-panel class="expansion-style">
            <mat-expansion-panel-header class="expansion-style--header">
                <mat-panel-title class="expansion-style--title" [ngClass]="esVerDetalle ? '' : estadoSemaforos.acordeonEstrategiaPago">
                    Estrategia de pagos
                </mat-panel-title>
            </mat-expansion-panel-header>

            <app-form-estrateg-pagos-gog [solicitudPago]="solicitudPago" [esVerDetalle]="esVerDetalle" (tieneObservacion)="estadoSemaforos.acordeonEstrategiaPago = 'en-proceso'"></app-form-estrateg-pagos-gog>
        </mat-expansion-panel>

        <mat-expansion-panel class="expansion-style" *ngFor="let proyecto of listaDetalleGiro">
            <mat-expansion-panel-header class="expansion-style--header">
                <mat-panel-title class="expansion-style--title" [ngClass]="esVerDetalle === false ? semaforoDetalleDelGiro( proyecto) : ''">
                    Detalle del giro - {{ proyecto.llaveMen }}
                </mat-panel-title>
            </mat-expansion-panel-header>

            <app-accordion-detalle-giro-gog [solicitudPago]="solicitudPago"
                                            [esVerDetalle]="esVerDetalle"
                                            [proyecto]="proyecto"
                                            [contratacionProyectoId]="proyecto.contratacionProyectoId"
                                            (estadoSemaforo)="proyecto.semaforoDetalle = $event">
            </app-accordion-detalle-giro-gog>
        </mat-expansion-panel>

        <mat-expansion-panel class="expansion-style">
            <mat-expansion-panel-header class="expansion-style--header">
                <mat-panel-title class="expansion-style--title" [ngClass]="esVerDetalle ? '' : estadoSemaforos.acordeonObservacion">
                    Observaciones
                </mat-panel-title>
            </mat-expansion-panel-header>

            <app-observaciones-orden-giro-gog [solicitudPago]="solicitudPago" [esVerDetalle]="esVerDetalle"></app-observaciones-orden-giro-gog>
        </mat-expansion-panel>

        <mat-expansion-panel class="expansion-style">
            <mat-expansion-panel-header class="expansion-style--header">
                <mat-panel-title class="expansion-style--title" [ngClass]="esVerDetalle ? '' : estadoSemaforos.acordeonSoporteOrdenGiro">
                    Soporte orden de giro
                </mat-panel-title>
            </mat-expansion-panel-header>

            <app-soporte-orden-giro-gog [solicitudPago]="solicitudPago" [esVerDetalle]="esVerDetalle"></app-soporte-orden-giro-gog>
        </mat-expansion-panel>

        <!--
        <mat-expansion-panel class="expansion-style">
            <mat-expansion-panel-header class="expansion-style--header">
                <mat-panel-title class="expansion-style--title" [ngClass]="esVerDetalle === false ? semaforoDetalle : ''">
                    Detalle del giro
                </mat-panel-title>
            </mat-expansion-panel-header>


        </mat-expansion-panel>
        -->
    </mat-accordion>

    <div *ngIf="obsVerificar !== undefined || obsAprobar !== undefined || obsTramitar !== undefined" class="mt-3em">
        <mat-card class="shipping-card border" align="left" *ngIf="obsVerificar !== undefined">
            <mat-card-header class="header-card">
                <mat-card-title class="header-card--text card-title-detalle">
                    Verificación de la coordinación financiera
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p style="margin-left: 2em;"><b> {{ obsVerificar.fechaCreacion | date: 'dd/MM/yyyy' }} </b></p>
                <p style="margin-left: 2em;" *ngIf="obsVerificar.tieneObservacion === true"><b>¿Desde la coordinación financiera tiene observaciones al Tercero de giro?</b>: Si</p>
                <p style="margin-left: 2em;" *ngIf="obsVerificar.tieneObservacion === false"><b>¿Desde la coordinación financiera tiene observaciones al Tercero de giro?</b>: No</p>
                <section [innerHTML]="obsVerificar.observacion" style="margin-left: 2em;" *ngIf="obsVerificar.tieneObservacion === true"></section>
            </mat-card-content>
        </mat-card>

        <mat-card class="shipping-card border" align="left" *ngIf="obsAprobar !== undefined">
            <mat-card-header class="header-card">
                <mat-card-title class="header-card--text card-title-detalle">
                    Aprobación de la dirección financiera
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p style="margin-left: 2em;"><b> {{ obsAprobar.fechaCreacion | date: 'dd/MM/yyyy' }} </b></p>
                <p style="margin-left: 2em;" *ngIf="obsAprobar.tieneObservacion === true"><b>¿Desde la dirección financiera tiene observaciones al Tercero de giro?</b>: Si</p>
                <p style="margin-left: 2em;" *ngIf="obsAprobar.tieneObservacion === false"><b>¿Desde la dirección financiera tiene observaciones al Tercero de giro?</b>: No</p>
                <section [innerHTML]="obsAprobar.observacion" style="margin-left: 2em;" *ngIf="obsAprobar.tieneObservacion === true"></section>
            </mat-card-content>
        </mat-card>

        <mat-card class="shipping-card border" align="left" *ngIf="obsTramitar !== undefined">
            <mat-card-header class="header-card">
                <mat-card-title class="header-card--text card-title-detalle">
                    Observaciones de fiduciaria
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p style="margin-left: 2em;"><b> {{ obsTramitar.fechaCreacion | date: 'dd/MM/yyyy' }} </b></p>
                <p style="margin-left: 2em;" *ngIf="obsTramitar.tieneObservacion === true"><b>¿Desde la fiduciaria tiene observaciones al tercero de giro?</b>: Si</p>
                <p style="margin-left: 2em;" *ngIf="obsTramitar.tieneObservacion === false"><b>¿Desde la fiduciaria tiene observaciones al tercero de giro?</b>: No</p>
                <section [innerHTML]="obsTramitar.observacion" style="margin-left: 2em;" *ngIf="obsTramitar.tieneObservacion === true"></section>
            </mat-card-content>
        </mat-card>
    </div>

</section>
