<div class="container text-center mt-2em" *ngIf="dataNovedad != null">
  <div class="text-right">
    <a routerLink="/procesosContractuales" mat-button color="primary" class="btn-regresar">
      <img src="assets/img/icon/regresar.svg" alt="Regresar">
    </a>
  </div>

  <div class="text-center">
    <h1 class="title-menu--h1">
      Gestionar solicitud {{ dataNovedad.numeroSolicitud }}
    </h1>
  </div>

  <div class="text-center flex">
    <p class="color-titulo mr-right-8em">Fecha de solicitud: <b>{{ dataNovedad.fechaCreacion | date: 'dd/MM/yyyy' }}</b></p>
    <p class="color-titulo"><b>Modificación contractual</b></p>
  </div>

  <div align="left">
    <mat-card class="border">
      <mat-card-content>
        <p><b>Número DDP</b>: {{ dataNovedad.contrato.contratacion.disponibilidadPresupuestal[0].numeroDdp || 'Sin DDP' }}</p>
        <section>
          <b>Objeto</b>: <div [innerHTML]="innerObservacion( dataNovedad.contrato.contratacion.disponibilidadPresupuestal[0].objeto )">
          </div>
        </section>
        <div  *ngIf="dataNovedad['sesionComiteSolicitud'][0].comiteTecnicoFiduciario != 'undefined' && dataNovedad['sesionComiteSolicitud'][0].comiteTecnicoFiduciario != null">
          <p><b>Número de comité fiduciario</b>:{{ dataNovedad['sesionComiteSolicitud'][0].comiteTecnicoFiduciario.numeroComite }}</p>
          <p><b>Fecha de comité fiduciario</b>: {{ dataNovedad['sesionComiteSolicitud'][0].comiteTecnicoFiduciario.fechaOrdenDia | date: 'dd/MM/yyyy' }}</p>  
        </div>
        <div *ngIf="dataNovedad['sesionComiteSolicitud'][0].comiteTecnico != 'undefined' && dataNovedad['sesionComiteSolicitud'][0].comiteTecnico != null">
          <p><b>Número de comité técnico</b>:{{ dataNovedad['sesionComiteSolicitud'][0].comiteTecnico.numeroComite }}</p>
          <p><b>Fecha de comité técnico</b>: {{ dataNovedad['sesionComiteSolicitud'][0].comiteTecnico.fechaOrdenDia | date: 'dd/MM/yyyy' }}</p>  
        </div>
      </mat-card-content>
  </mat-card>
  </div>

  <div class="text-center">
    <mat-accordion>
      <mat-expansion-panel class="expansion-style">
        <mat-expansion-panel-header class="expansion-style--header w-50">
          <mat-panel-title class="expansion-style--title">
            Datos del contrato
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div align="left">
          <mat-card class="border">
            <mat-card-content>
              <p><b>Tipo de contrato</b>: {{ dataNovedad.contrato.contratacion.tipoSolicitudCodigo === '2' ? 'Interventoria' : 'Obra' }}</p>
              <p><b>Valor del contrato</b>: {{ dataNovedad.contrato.contratacion.disponibilidadPresupuestal[0].valorSolicitud | currency:'COP':'symbol-narrow':'.0-0' }}</p>
              <p><b>Plazo</b>: {{ dataNovedad.contrato.contratacion.disponibilidadPresupuestal[0].plazoMeses }} meses /
                {{ dataNovedad.contrato.contratacion.disponibilidadPresupuestal[0].plazoDias }} días</p>
            </mat-card-content>
          </mat-card>
        </div>

      </mat-expansion-panel>

      <mat-expansion-panel class="expansion-style" *ngIf="suspensionBoolean || reinicioBoolean">
        <mat-expansion-panel-header class="expansion-style--header w-50">
          <mat-panel-title class="expansion-style--title">
            Detalle de la novedad contractual
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div align="left">
          <mat-card class="border">
            <mat-card-content>
              <p *ngIf="suspensionBoolean"><b>Tipo de novedad</b>: Suspensión</p>
              <p *ngIf="reinicioBoolean"><b>Tipo de novedad</b>: Reinicio</p>
              <p><b>Motivo de la novedad</b>: Condiciones climaticas</p>
              <p *ngIf="suspensionBoolean"><b>Fecha de inicio de la suspensión</b>: 27/07/2020</p>
              <p *ngIf="suspensionBoolean"><b>Fecha final de la suspensión</b>: 30/08/2020</p>
              <p *ngIf="reinicioBoolean"><b>Tipo de modificación</b>: Reinicio</p>
              <p *ngIf="reinicioBoolean"><b>Fecha de inicio del reinicio</b>: 31/08/2020</p>
              <p *ngIf="reinicioBoolean"><b>Fecha final del reinicio</b>: 31/08/2020</p>
              <p><b>Detalle de la novedad</b>: Se realiza suspensión por lluvias</p>
            </mat-card-content>
          </mat-card>
        </div>

      </mat-expansion-panel>

      <mat-expansion-panel class="expansion-style" *ngIf="!suspensionBoolean && !reinicioBoolean">
        <mat-expansion-panel-header class="expansion-style--header w-50">
          <mat-panel-title class="expansion-style--title">
            Detalle de la modificación contractual
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div align="left">
          <mat-card class="border">
            <mat-card-content>
              <p><b>Número de la solicitud de modificación</b>: {{ dataNovedad.numeroSolicitud }}</p>
              <p><b>Tipo de modificación</b>: {{ tipoModificacion }}</p>
              <p><b>Valor después de la modificación</b>:{{dataNovedad?.novedadContractualDescripcion[0].presupuestoAdicionalSolicitado | currency:'':'symbol':'3.0'}}</p>
              <p><b>Plazo después de la modificación</b>: <span *ngIf="dataNovedad?.novedadContractualDescripcion[0].plazoAdicionalDias != null && dataNovedad?.novedadContractualDescripcion[0].plazoAdicionalMeses != null ">{{dataNovedad?.novedadContractualDescripcion[0].plazoAdicionalDias }} días / {{dataNovedad?.novedadContractualDescripcion[0].plazoAdicionalMeses }} meses</span></p>
              <p><b>Detalle de la modificación</b>: <span [innerHTML]="dataNovedad?.novedadContractualDescripcion[0].resumenJustificacion"></span></p>

              <h2 class="card-subTitle back-color" *ngIf="adicionBoolean">Aportantes</h2>
              
              <div *ngFor="let aportante of dataNovedad.novedadContractualAportante; let i = index">
        
                <div>
                  <h3><b>Aportante {{ i+1 }}</b></h3>
                  <div>
                    <p><b>Tipo de aportante</b>: {{ aportante.tipoAportante }}</p>
                    <p><b>Nombre del aportante</b>: {{ aportante.nombreAportante }}</p>
                    <p><b>Valor del aportante al proyecto</b>: {{ aportante.valorAporte | currency: '':'symbol':'3.0' }}</p>
                  </div>
                </div>
                <div *ngFor="let componente of aportante.componenteAportanteNovedad; let componenteIndex = index">
                  <div *ngFor="let fuente of componente.componenteFuenteNovedad; let f = index">
                    <h3><b>Fuente {{ f+1 }}</b></h3>
                    <div>
                      <p><b>Fuente</b>: {{ fuente.fuenteFinanciacion.nombreFuente }}</p>
                      <p><b>Valor solicitado de la fuente</b>: {{ fuente.fuenteFinanciacion.valorFuente | currency: '':'symbol':'3.0' }}</p>
                    </div>
                  </div>
                </div>
        
              </div>
        
            </mat-card-content>
          </mat-card>
        </div>

      </mat-expansion-panel>

      <mat-expansion-panel class="expansion-style">
        <mat-expansion-panel-header class="expansion-style--header w-50">
          <mat-panel-title class="expansion-style--title">
            Proyectos Asociados
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="flex-table">
          <app-tabla-proyectos-asociados *ngIf="dataNovedad != null" [proyectos]="dataNovedad.proyectosContrato"></app-tabla-proyectos-asociados>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel class="expansion-style">
        <mat-expansion-panel-header class="expansion-style--header w-50">
          <mat-panel-title class="expansion-style--title">
            Disponibilidad presupuestal
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-expansion-panel class="expansion-style">
          <mat-expansion-panel-header class="expansion-style--header w-45">
            <mat-panel-title class="expansion-style--title">
              {{ dataNovedad.contrato.contratacion.disponibilidadPresupuestal[0].numeroDdp || 'Sin DDP' }}
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div class="text-center" style="margin-bottom: 2em;">
            <p><b>Valor del DDP</b> {{ dataNovedad.contrato.contratacion.disponibilidadPresupuestal[0].valorSolicitud | currency:'COP':'symbol-narrow':'.0-0' }}</p>
          </div>

          <app-form-aportantes *ngIf="contratacion != null" [data]="contratacion.contratacionProyecto" [tipoSolicitud]="dataNovedad.contrato.contratacion.tipoSolicitudCodigo"></app-form-aportantes>

        </mat-expansion-panel>

        <div class="text-center w-15">
          <button mat-raised-button
                  color="accent" 
                  class="btn-table"
                  (click)="getDdp( dataNovedad.contrato.contratacion.disponibilidadPresupuestal[0].disponibilidadPresupuestalId, dataNovedad.contrato.contratacion.disponibilidadPresupuestal[0].numeroDdp )">
                  Descargar DDP
          </button>
        </div>

      </mat-expansion-panel>

      <mat-expansion-panel class="expansion-style" *ngIf="estadoCodigo === '24'">
        <mat-expansion-panel-header class="expansion-style--header w-50">
          <mat-panel-title class="expansion-style--title">
            Información del trámite
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div align="left">
          <mat-card class="border">
            <mat-card-content>
              <p><b>Fecha del trámite</b>: {{ dataNovedad.contrato.contratacion.fechaTramite | date: 'dd/MM/yyyy' }}</p>
              <p><b>Fecha de envío de documentación física para el trámite</b>: {{ dataNovedad.fechaTramiteGestionar | date: 'dd/MM/yyyy' }}</p>
              <p><b>Observaciones</b>:<span [innerHTML]="innerObservacion( dataNovedad.observacionGestionar )"></span></p>
              <p><b>URL con soporte</b>: {{ dataNovedad.urlSoporteGestionar }}</p>
            </mat-card-content>
          </mat-card>
        </div>

      </mat-expansion-panel>
    </mat-accordion>
  </div>
  
  <!--Esta condición estaba. se deja? - *ngIf="estadoCodigo === '2'"-->

  <div class="mt-2em" align="left" *ngIf="estadoCodigo === '12' || estadoCodigo === '19'">
    <mat-card class="border">
      <mat-card-title class="text-area-quill--label">Registrar trámite</mat-card-title>
      <mat-card-content class="mt-2em">
        <p>Fecha del trámite <b class="color-titulo">{{ dataNovedad.contrato.contratacion.fechaTramite | date: 'dd/MM/yyyy' }}</b></p>
        <app-form-registro-tramite [dataFormulario]="form" [novedadContractual]="dataNovedad"
        [minDate]="dataNovedad.contrato.contratacion.fechaTramite" [esNovedad]= true></app-form-registro-tramite>
      </mat-card-content>
    </mat-card>
  </div>
</div>