<button mat-button mat-dialog-close class="modal--btn-cerrar" [mat-dialog-close]="null">
    <img src="assets/img/icon/cerrar-blanco.svg" alt="cerrar">
  </button>
  
  <div class="text-center">
    <h1 class="title-menu--h1">
        Cargar acta de terminación de contrato {{ data.registro.numeroContrato }}
    </h1>
  
    <form [formGroup]="formCargarActa" (ngSubmit)="guardar()">
      <div class="container w-80">
        <div class="input-file">
          <span class="input-file--text">{{archivo}}</span>
  
          <button mat-raised-button
                  color="primary"
                  type="button"
                  (click)="fileInput.click()"
                  class="input-file--btn">
                  Explorar
          </button>
          <input  required
                  hidden
                  (change)="fileName()"
                  #fileInput
                  type="file"
                  id="file"
                  formControlName="fileCargarActa"
                  accept="application/pdf">
        </div>
        <p class="text-color">
            Explore en su computador o dispositivo y seleccione el documento que desea cargar <b>los formatos permitidos son: .pdf</b>
        </p>
        <div class="margin-btn">
            <button mat-raised-button
                    color="accent"
                    type="submit"
                    [disabled]="formCargarActa.get( 'fileCargarActa' ).invalid">
                    Cargar
            </button>
        </div>
      </div>
    </form>
  </div>