<section class="container text-center">
  <div class="text-right">
    <a routerLink="/generarActaInicioConstruccion" mat-button color="primary" class="btn-regresar">
      <img src="assets/img/icon/regresar.svg" alt="Regresar" />
    </a>
  </div>
  <h1 class="title-menu--h1">{{ this.title }} acta de inicio contrato {{ this.contratoCode }} fase 2 - Construcción</h1>
  <p class="info-sub-title">
    <span
      >Fecha de aprobación de requisitos: <b>{{ this.fechaAprobacionSupervisor }}</b></span
    >
  </p>
</section>
<section class="container">
  <mat-card class="shipping-card mainGris">
    <mat-card-content>
      <p><strong>Vigencia del contrato: </strong>{{ this.vigenciaContrato }}</p>
      <p><strong>Fecha de firma del contrato: </strong>{{ this.fechaFirmaContrato }}</p>
      <p><strong>Número del DRP. </strong>{{ this.numeroDRP1 }}</p>
      <p><strong>Fecha de generación de DRP. </strong>{{ this.fechaGeneracionDRP1 }}</p>
      <!-- <p *ngIf="this.numeroDRP2!=undefined"><strong>Número del DRP 2. </strong>{{this.numeroDRP2}}</p> -->
      <!-- <p *ngIf="this.fechaGeneracionDRP2!=undefined"><strong>Fecha de generación de DRP 2. </strong>{{this.fechaGeneracionDRP2}}</p> -->
      <p><strong>Fecha de aprobación de la garantía / póliza: </strong>{{ this.fechaAprobacionGarantiaPoliza }}</p>
      <p><strong>Objeto:</strong></p>
      <div [innerHtml]="this.objeto"></div>
      <p><strong>Valor inicial del contrato: </strong>{{ this.valorActualContrato }}</p>
      <p><strong>Valor actual del contrato: </strong>{{ this.valorActualContrato }}</p>
      <p><strong>Valor fase 1 - Preconstrucción (Estudios y diseños): </strong>{{ this.valorFase1Preconstruccion }}</p>
      <p><strong>Valor fase 2 - Construcción (Obra): </strong>{{ this.valorfase2ConstruccionObra }}</p>
      <div *ngIf="this.valorProponente == '1'">
        <p>
          <strong>Número de identificación del representante legal del contratista de obra: </strong
          >{{ this.numeroIdentificacionRepresentanteContratistaInterventoria }}
        </p>
        <p>
          <strong>Nombre del representante legal del contratista de obra: </strong
          >{{ this.nombreEntidadContratistaSupervisorInterventoria }}
        </p>
        <p><strong>Número de identificación de la entidad contratista de obra: </strong>900.564.768-5</p>
        <p><strong>Nombre entidad contratista de obra: </strong>{{ this.nombreEntidadContratistaObra }}</p>
        <p>
          <strong>Número de identificación Supervisor: </strong>
          {{ this.contrato.usuarioInterventoria.numeroIdentificacion }}
        </p>
        <p>
          <strong>Nombre Supervisor: </strong>{{ this.contrato.usuarioInterventoria.nombres }}
          {{ this.contrato.usuarioInterventoria.apellidos }}
        </p>
      </div>
      <div *ngIf="this.valorProponente == '2'">
        <p>
          <strong>Número de identificación del representante legal del contratista de inteventoría: </strong
          >{{ this.numeroIdentificacionRepresentanteContratistaInterventoria }}
        </p>
        <p>
          <strong>Nombre del representante legal del contratista de interventoría: </strong
          >{{ this.nombreEntidadContratistaSupervisorInterventoria }}
        </p>
        <p><strong>Número de identificación del contratista de interventoría: </strong>870.876.977-4</p>
        <p>
          <strong>Nombre de la entidad contratista de interventoría: </strong>{{ this.nombreEntidadContratistaObra }}
        </p>
      </div>
      <p>
        <strong
          >Plazo inicial del contrato: meses {{ this.plazoActualContratoMeses }} días {{ this.plazoActualContratoDias }}
        </strong>
      </p></mat-card-content
    >
  </mat-card>
  <mat-card class="shipping-card mainGris">
    <mat-card-content>
      <p>
        <strong>Fecha del acta de inicio de la fase 2 - Construcción: </strong
        >{{ this.fechaActaInicioConstruccion | date: 'dd/MM/yyyy' }}
      </p>
      <p><strong>Fecha prevista de terminación: </strong>{{ this.fechaPrevistaTerminacion | date: 'dd/MM/yyyy' }}</p>
      <p *ngIf="false">
        <strong>Plazo actual del contrato: Meses:</strong> {{ this.plazoActualContratoMeses }} <strong>Días: </strong
        >{{ this.plazoActualContratoDias }}
      </p>
      <p
        *ngIf="
          this.plazoEjecucionPreConstruccionMeses != undefined && this.plazoEjecucionPreConstruccionDias != undefined
        "
      >
        <strong>Plazo de ejecución fase 1 – Preconstrucción: Meses:</strong>
        {{ this.plazoEjecucionPreConstruccionMeses }} <strong>Días: </strong
        >{{ this.plazoEjecucionPreConstruccionDias }}
      </p>
      <p>
        <strong>Plazo de ejecución fase 2 – Construcción: Meses:</strong> {{ this.plazoEjecucionConstrM }}
        <strong>Días: </strong>{{ this.plazoEjecucionConstrD }}
      </p>
      <p><strong>Observaciones o consideraciones especiales: </strong></p>
      <p *ngIf="this.obsConEspeciales == '' || this.obsConEspeciales == null || this.obsConEspeciales == undefined">
        -----
      </p>
      <div
        *ngIf="this.obsConEspeciales !== '' || this.obsConEspeciales !== null || this.obsConEspeciales !== undefined"
      >
        <div [innerHtml]="this.obsConEspeciales"></div>
      </div>
    </mat-card-content>
  </mat-card>
</section>

<section class="container text-center">
  <!--Cuando llama a alguna supervisión enviada-->
  <!--
    <div>
        <mat-card class="shipping-card mainGris">
            <mat-card-header class="header-card">
                <mat-card-title class="header-card--text textoGris">
                    Revisión de la supervisión
                </mat-card-title>
            </mat-card-header>
            <mat-card-content align="left">
                <p><strong>18/08/2020</strong></p>
                <p><strong>¿Tiene observaciones al acta de inicio? :</strong></p>
                <p>Ajustar la fecha de inicio al 30 de agosto.</p>
            </mat-card-content>
        </mat-card>
    </div>
    -->
  <button mat-raised-button color="accent" (click)="this.generarActaSuscrita()">Descargar acta de inicio</button>
  <form [formGroup]="addressForm" (ngSubmit)="onSubmit()">
    <div class="row mtop">
      <div class="col-md-12">
        <label
          class="label-left"
          for="tieneObservaciones"
          [class.color-secondaryColor]="
            (addressForm.get('tieneObservaciones').invalid && addressForm.get('tieneObservaciones').touched) ||
            (addressForm.get('tieneObservaciones').invalid && estaEditando)
          "
        >
          ¿Tiene observaciones al acta de inicio?
        </label>
        <mat-radio-group
          aria-labelledby="example-radio-group-label"
          class="radioInput"
          formControlName="tieneObservaciones"
        >
          <mat-radio-button class="radio-button" [value]="true">Sí</mat-radio-button>
          <mat-radio-button class="radio-button" [value]="false">No</mat-radio-button>
        </mat-radio-group>
        <span class="required-form-group">*</span>
      </div>
      <span class="icon-incompleto">
        <img
          class="icon-incompleto--img"
          src="assets/img/icon/incompleto.svg"
          alt="este campo es requerido"
          *ngIf="
            (addressForm.get('tieneObservaciones').invalid && addressForm.get('tieneObservaciones').touched) ||
            (addressForm.get('tieneObservaciones').invalid && estaEditando)
          "
        />
      </span>
    </div>
    <div
      class="d-flex mt-2em align-items-center animatedDown"
      *ngIf="addressForm.get('tieneObservaciones').value === true"
    >
      <div
        class="text-area-quill"
        [class.color-secondaryColor]="
          (addressForm.get('observaciones').invalid && addressForm.get('observaciones').touched) ||
          (addressForm.get('observaciones').invalid && estaEditando)
        "
      >
        <label
          class="text-area-quill--label align-left-label left-1-7"
          for="observaciones"
          [class.colorMainColor]="
            !(addressForm.get('observaciones').invalid && addressForm.get('observaciones').touched)
          "
        >
          Observaciones al acta de inicio
        </label>
        <quill-editor
          class="quill-editor-style ml-1em"
          [styles]="editorStyle"
          [modules]="config"
          (onContentChanged)="maxLength($event, 1000)"
          formControlName="observaciones"
          required
        ></quill-editor>
      </div>
      <span class="contador miles" *ngIf="addressForm.get('observaciones').value">
        {{
          1000 -
            (textoLimpio(addressForm.get('observaciones').value) > 1000
              ? 1000
              : textoLimpio(addressForm.get('observaciones').value))
        }}
      </span>
      <span class="contador miles" *ngIf="addressForm.get('observaciones').value === null"> 1000 </span>
      <span class="icon-incompleto">
        <img
          class="icon-incompleto--img"
          src="assets/img/icon/incompleto.svg"
          alt="este campo es requerido"
          *ngIf="
            (addressForm.get('observaciones').invalid && addressForm.get('observaciones').touched) ||
            (addressForm.get('observaciones').invalid && estaEditando)
          "
        />
      </span>
    </div>
    <div class="mb-2em">
      <button mat-button color="warn" class="btn-guardar" type="submit">
        <img src="assets/img/icon/guardar.svg" alt="Guardar" />
      </button>
    </div>
  </form>
</section>
