.back-color {
  background-color: #000000b8;
}

.flex-td {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.color-text {
  color: #000000b8;
  border-color: #000000b8;
}

.mr-table {
  margin: 3em 0em;
}