.title-menu--h1 {
    margin-bottom: 0.8em;
}

.mx-1em {
    margin-left: 1em;
    margin-right: 1em;
}

th.mat-header-cell {
    text-align: center;
}

.btn-guardar {
    margin-top: 1em;
}

.primer-tabla {
    max-width: 40em;
    margin: auto;
}

.w-quill {
    // width: 40em;
    max-width: 40em;
    margin: auto;
}
