<form autocomplete="off" [formGroup]="dataFormulario" (ngSubmit)="guardar()">
  <div class="container">
    <div class="d-flex mt-1em">
      <label
        class="label-left"
        for="numeroOtroSi"
        [class.color-secondaryColor]="
          (dataFormulario.get('numeroOtroSi').invalid && dataFormulario.get('numeroOtroSi').touched) ||
          (dataFormulario.get('numeroOtroSi').invalid && estaEditando)
        "
      >
        <b> Número de otrosí </b>
      </label>
      <div class="col d-flex">
        <mat-form-field class="w-38">
          <input matInput type="text" maxlength="10" formControlName="numeroOtroSi" />
        </mat-form-field>
        <span
          class="contador"
          [matTooltipPosition]="'above'"
          matTooltip="Campo alfanumérico"
          matTooltipClass="info-tooltip"
        >
          {{ 10 - dataFormulario.get('numeroOtroSi').value.length }}
        </span>
        <span class="icon-incompleto">
          <img
            class="icon-incompleto--img"
            src="assets/img/icon/incompleto.svg"
                          alt="este campo es requerido"
              [matTooltipPosition]="'above'"
              matTooltip="Debe ingresar la información en el campo para continuar"
              matTooltipClass="info-tooltip"
            *ngIf="
              (dataFormulario.get('numeroOtroSi').invalid && dataFormulario.get('numeroOtroSi').touched) ||
              (dataFormulario.get('numeroOtroSi').invalid && estaEditando)
            "
          />
        </span>
      </div>
    </div>

    <div class="d-flex mt-1em" *ngIf="dataFormulario.get('numeroOtroSi').value.length > 0">
      <label
        class="label-left"
        for="fechaEnvioFirmaContratista"
        [class.color-secondaryColor]="
          (dataFormulario.get('fechaEnvioFirmaContratista').invalid &&
            dataFormulario.get('fechaEnvioFirmaContratista').touched) ||
          (dataFormulario.get('fechaEnvioFirmaContratista').invalid && estaEditando)
        "
      >
        <b>Fecha de envío para firma del contratista</b>
      </label>
      <mat-form-field class="w-21">
        <input
          matInput
          [matDatepicker]="pickerFechaEnvioTramite"
          formControlName="fechaEnvioFirmaContratista"
          placeholder="DD/MM/AAAA"
          readonly
          (click)="pickerFechaEnvioTramite.open()"
        />
        <mat-datepicker #pickerFechaEnvioTramite></mat-datepicker>
      </mat-form-field>
      <button mat-button color="primary" type="button" (click)="pickerFechaEnvioTramite.open()" class="btn-calendario">
        <img class="mr-bottom-1" src="assets/img/icon/calendarioCirculo.svg" alt="Abrir Calendario" />
      </button>
      <span class="icon-incompleto">
        <img
          class="icon-incompleto--img"
          src="assets/img/icon/incompleto.svg"
                        alt="este campo es requerido"
              [matTooltipPosition]="'above'"
              matTooltip="Debe ingresar la información en el campo para continuar"
              matTooltipClass="info-tooltip"
          *ngIf="
            (dataFormulario.get('fechaEnvioFirmaContratista').invalid &&
              dataFormulario.get('fechaEnvioFirmaContratista').touched) ||
            (dataFormulario.get('fechaEnvioFirmaContratista').invalid && estaEditando)
          "
        />
      </span>
    </div>

    <div class="d-flex mt-1em" *ngIf="dataFormulario.get('fechaEnvioFirmaContratista').value !== null">
      <label
        class="label-left"
        for="fechaFirmaContratista"
        [class.color-secondaryColor]="
          (dataFormulario.get('fechaFirmaContratista').invalid &&
            dataFormulario.get('fechaFirmaContratista').touched) ||
          (dataFormulario.get('fechaFirmaContratista').invalid && estaEditando)
        "
      >
        <b> Fecha de firma por parte del contratista </b>
      </label>
      <mat-form-field class="w-22">
        <input
          matInput
          [matDatepicker]="pickerFechaFirmaContratista"
          formControlName="fechaFirmaContratista"
          placeholder="DD/MM/AAAA"
          readonly
          (click)="pickerFechaFirmaContratista.open()"
        />
        <mat-datepicker #pickerFechaFirmaContratista></mat-datepicker>
      </mat-form-field>
      <button
        mat-button
        color="primary"
        type="button"
        (click)="pickerFechaFirmaContratista.open()"
        class="btn-calendario"
      >
        <img class="mr-bottom-1" src="assets/img/icon/calendarioCirculo.svg" alt="Abrir Calendario" />
      </button>
      <span class="icon-incompleto">
        <img
          class="icon-incompleto--img"
          src="assets/img/icon/incompleto.svg"
                        alt="este campo es requerido"
              [matTooltipPosition]="'above'"
              matTooltip="Debe ingresar la información en el campo para continuar"
              matTooltipClass="info-tooltip"
          *ngIf="
            (dataFormulario.get('fechaFirmaContratista').invalid &&
              dataFormulario.get('fechaFirmaContratista').touched) ||
            (dataFormulario.get('fechaFirmaContratista').invalid && estaEditando)
          "
        />
      </span>
    </div>

    <div class="d-flex mt-1em" *ngIf="dataFormulario.get('fechaFirmaContratista').value !== null">
      <label
        class="label-left"
        for="fechaEnvioFirmaFiduciaria"
        [class.color-secondaryColor]="
          (dataFormulario.get('fechaEnvioFirmaFiduciaria').invalid &&
            dataFormulario.get('fechaEnvioFirmaFiduciaria').touched) ||
          (dataFormulario.get('fechaEnvioFirmaFiduciaria').invalid && estaEditando)
        "
      >
        <b> Fecha de envío para la firma de la fiduciaria </b>
      </label>
      <mat-form-field class="w-20">
        <input
          matInput
          [matDatepicker]="pickerFechaEnvioFirmaFiduciaria"
          formControlName="fechaEnvioFirmaFiduciaria"
          placeholder="DD/MM/AAAA"
          readonly
          (click)="pickerFechaEnvioFirmaFiduciaria.open()"
        />
        <mat-datepicker #pickerFechaEnvioFirmaFiduciaria></mat-datepicker>
      </mat-form-field>
      <button
        mat-button
        color="primary"
        type="button"
        (click)="pickerFechaEnvioFirmaFiduciaria.open()"
        class="btn-calendario"
      >
        <img class="mr-bottom-1" src="assets/img/icon/calendarioCirculo.svg" alt="Abrir Calendario" />
      </button>
      <span class="icon-incompleto">
        <img
          class="icon-incompleto--img"
          src="assets/img/icon/incompleto.svg"
                        alt="este campo es requerido"
              [matTooltipPosition]="'above'"
              matTooltip="Debe ingresar la información en el campo para continuar"
              matTooltipClass="info-tooltip"
          *ngIf="
            (dataFormulario.get('fechaEnvioFirmaFiduciaria').invalid &&
              dataFormulario.get('fechaEnvioFirmaFiduciaria').touched) ||
            (dataFormulario.get('fechaEnvioFirmaFiduciaria').invalid && estaEditando)
          "
        />
      </span>
    </div>

    <div class="d-flex mt-1em" *ngIf="dataFormulario.get('fechaEnvioFirmaFiduciaria').value !== null">
      <label
        class="label-left"
        for="fechaFirmaFiduciaria"
        [class.color-secondaryColor]="
          (dataFormulario.get('fechaFirmaFiduciaria').invalid &&
            dataFormulario.get('fechaFirmaFiduciaria').touched) ||
          (dataFormulario.get('fechaFirmaFiduciaria').invalid && estaEditando)
        "
      >
        <b> Fecha de firma por parte de la fiduciaria </b>
      </label>
      <mat-form-field class="w-22">
        <input
          matInput
          [matDatepicker]="pickerFechaFirmaFiduciaria"
          formControlName="fechaFirmaFiduciaria"
          placeholder="DD/MM/AAAA"
          readonly
          (click)="pickerFechaFirmaFiduciaria.open()"
        />
        <mat-datepicker #pickerFechaFirmaFiduciaria></mat-datepicker>
      </mat-form-field>
      <button
        mat-button
        color="primary"
        type="button"
        (click)="pickerFechaFirmaFiduciaria.open()"
        class="btn-calendario"
      >
        <img class="mr-bottom-1" src="assets/img/icon/calendarioCirculo.svg" alt="Abrir Calendario" />
      </button>
      <span class="icon-incompleto">
        <img
          class="icon-incompleto--img"
          src="assets/img/icon/incompleto.svg"
                        alt="este campo es requerido"
              [matTooltipPosition]="'above'"
              matTooltip="Debe ingresar la información en el campo para continuar"
              matTooltipClass="info-tooltip"
          *ngIf="
            (dataFormulario.get('fechaFirmaFiduciaria').invalid &&
              dataFormulario.get('fechaFirmaFiduciaria').touched) ||
            (dataFormulario.get('fechaFirmaFiduciaria').invalid && estaEditando)
          "
        />
      </span>
    </div>

    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="pr-1">
            <label
              class="label-left"
              [class.color-secondaryColor]="
                (dataFormulario.get('observacionesTramite').invalid && dataFormulario.get('observacionesTramite').touched) ||
                (dataFormulario.get('observacionesTramite').invalid && estaEditando)
              "
            >
              Observaciones
            </label>
          </div>
          <div class="col d-flex">
            <quill-editor
              class="quill-editor-style ml-1em card position-relative"
              [styles]="editorStyle"
              [modules]="config"
              (onContentChanged)="maxLength($event, 2000)"
              formControlName="observacionesTramite"
              [class.invalid]="
                (dataFormulario.get('observacionesTramite').invalid && dataFormulario.get('observacionesTramite').touched) ||
                (dataFormulario.get('observacionesTramite').invalid && estaEditando)
              "
              required
            >
            </quill-editor>
            <span
              class="contador miles"
              *ngIf="dataFormulario.get('observacionesTramite').value !== null"
              style="margin-top: 1.8em"
            >
              {{
                2000 -
                  (textoLimpio(dataFormulario.get('observacionesTramite').value) > 2000
                    ? 2000
                    : textoLimpio(dataFormulario.get('observacionesTramite').value))
              }}
            </span>
            <span
              class="contador miles"
              *ngIf="dataFormulario.get('observacionesTramite').value === null"
              style="margin-top: 1.8em"
            >
              2000
            </span>
            <span class="icon-incompleto" style="margin-top: 1.9em">
              <img
                class="icon-incompleto--img"
                src="assets/img/icon/incompleto.svg"
                alt="este campo es requerido"
                [matTooltipPosition]="'above'"
                matTooltip="Debe ingresar la información en el campo para continuar"
                matTooltipClass="info-tooltip"
                *ngIf="
                  (dataFormulario.get('observacionesTramite').invalid && dataFormulario.get('observacionesTramite').touched) ||
                  (dataFormulario.get('observacionesTramite').invalid && estaEditando)
                "
              />
            </span>
          </div>
        </div>
      </div>
    </div>  

    <div class="row mt-1em" *ngIf="dataFormulario.get('fechaFirmaFiduciaria').value !== null">
      <div class="col-md-12">
        <div class="row">
          <div class="pr-1">
            <label
              class="label-left"
              for="urlDocumentoSuscrita"
              [class.color-secondaryColor]="
                (dataFormulario.get('urlDocumentoSuscrita').invalid && dataFormulario.get('urlDocumentoSuscrita').touched) ||
                (dataFormulario.get('urlDocumentoSuscrita').invalid && estaEditando)
              "
            >
              Url con soporte
            </label>
          </div>
          <div class="col d-flex">
            <mat-form-field style="width: 92%;">
              <input matInput type="text" maxlength="400" formControlName="urlDocumentoSuscrita" required />
            </mat-form-field>
            <span class="icon-incompleto">
              <img
                class="icon-incompleto--img"
                src="assets/img/icon/incompleto.svg"
                alt="este campo es requerido"
                [matTooltipPosition]="'above'"
                matTooltip="Debe ingresar la información en el campo para continuar"
                matTooltipClass="info-tooltip"
                *ngIf="
                  (dataFormulario.get('urlDocumentoSuscrita').invalid && dataFormulario.get('urlDocumentoSuscrita').touched) ||
                  (dataFormulario.get('urlDocumentoSuscrita').invalid && estaEditando)
                "
              />
            </span>
          </div>
        </div>
        <span class="info-url">Indique la ruta en la que se encuentra el contrato suscrito.</span>
      </div>
    </div>

    <div class="text-center w-90">
      <button mat-button color="warn" class="btn-guardar" type="submit">
        <img src="assets/img/icon/guardar.svg" alt="Regresar" />
      </button>
    </div>
  </div>
</form>