<p class="info-sub-title supportBlack">
    <span><b>Monto máximo por pagar en esta factura:</b> $15.000.000</span>
    <span><b>Monto pendiente por pagar en la fase:</b> $30.000.000</span>
</p>
<p align="left" ><b>Criterio de pago:</b> Estudios y diseños interventoria hasta 90%, Criterio 3</p>
<mat-card class="shipping-card var-main-gris" style="margin-top: 3em;">
    <mat-card-header class="header-card">
        <mat-card-title class="header-card--text textoGris">
            Estudios y diseños interventoria hasta 90%
        </mat-card-title>
    </mat-card-header>
    <mat-card-content style="text-align: left;">
        <p><strong>Tipo de pago:</strong> Costo variabl3</p>
        <p><strong>Concepto de pago para el criterio:</strong> 718100002002- DEMOLICIONES</p>
        <p><strong>Valor facturado al concepto:</strong> $8.000.000</p>
    </mat-card-content>
</mat-card>
<mat-card class="shipping-card var-main-gris" style="margin-top: 3em;">
    <mat-card-header class="header-card">
        <mat-card-title class="header-card--text textoGris">
            Criterio 3
        </mat-card-title>
    </mat-card-header>
    <mat-card-content style="text-align: left;">
        <p><strong>Tipo de pago:</strong> Tipo de pago 3</p>
        <p><strong>Concepto de pago para el criterio:</strong> 718100003001-CIMENTACIÓN</p>
        <p><strong>Valor facturado al concepto:</strong> $7.000.000</p>
    </mat-card-content>
</mat-card>
<form [formGroup]="addressForm" (ngSubmit)="onSubmit()">
    <div class="row mtop justCenter">
        <div class="col-md-7">
            <label class="label-left">¿Desde la coordinación tiene observaciones a los criterios de pago incluidos en la factura?</label>
        </div>
        <div class="col-md-2">
            <mat-radio-group aria-labelledby="example-radio-group-label" class="radioInput"
                formControlName="tieneObservaciones">
                <mat-radio-button class="radio-button" [value]="true">Sí</mat-radio-button>
                <mat-radio-button class="radio-button" [value]="false">No</mat-radio-button>
            </mat-radio-group>
            <span class="required-form-group" style="margin-left: 1px;">*</span>
        </div>
    </div>
    <div class="d-flex align-items-center mtop" *ngIf="addressForm.get('tieneObservaciones').value === true">
        <div class="text-area-quill izqTitle">
            <label for="observaciones" class="text-area-quill--label" style="color: #174193;">Observaciones a los criterios de pago incluidos en la factura</label>
            <quill-editor class="quill-editor-style" [styles]="editorStyle" [modules]="config" required
                (onContentChanged)="maxLength($event, 1000)" formControlName="observaciones" #observaciones></quill-editor>
        </div>
        <span class="contador miles" *ngIf="addressForm.get('observaciones').value">
            {{1000 - (textoLimpio(observaciones.quillEditor,1000))}}
        </span>
        <span class="contador miles" *ngIf="addressForm.get('observaciones').value === null">
            1000
        </span>
    </div>
    <button mat-button color="warn" class="btn-guardar"
        type="submit">
        <img src="assets/img/icon/guardar.svg" alt="Guardar">
    </button>
</form>
