<section class="container mt-1em">
  <div class="text-center mb-1-5em">
    <h1 class="title-menu--h1">Mapa interactivo y estadísticas generales</h1>
  </div>
  <div class="mt-1em">
    <form [formGroup]="addressForm" (ngSubmit)="showReport()">
      <div class="row">
        <div class="col-md-9 mx-auto">
          <div class="row">
            <div class="pr-1">
              <label
                class="label-left"
                for="quieroVer"
                [class.color-secondaryColor]="
                  addressForm.get('quieroVer').invalid && addressForm.get('quieroVer').touched
                "
              >
                Quiero ver
              </label>
            </div>
            <div class="col">
              <mat-form-field class="select-width">
                <mat-select formControlName="quieroVer" required>
                  <mat-option *ngFor="let quieroVer of indicadorReporte" [value]="quieroVer.indicadorReporteId">
                    {{ quieroVer.nombre }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center mt-1em">
        <button mat-raised-button color="accent" type="submit" [disabled]="addressForm.invalid">Ver reporte</button>
      </div>
    </form>
  </div>
</section>
