<mat-card class="shipping-card var-main-gris" *ngIf="observacionObjeto === undefined">
  <mat-card-header class="header-card header-card--margin">
    <mat-card-title class="header-card--text"> Observaciones al seguimiento diario </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      <strong> ¿Tiene observaciones al registro del seguimiento diario? </strong>
      No
    </p>
  </mat-card-content>
</mat-card>

<mat-card class="shipping-card var-main-gris" *ngIf="observacionObjeto !== undefined">
  <mat-card-header class="header-card header-card--margin">
    <mat-card-title class="header-card--text"> Observaciones al seguimiento diario </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      <strong> ¿Tiene observaciones al registro del seguimiento diario? </strong>
      {{ observacionObjeto !== undefined ? 'Si' : 'No' }}
    </p>
    <div class="divObservaciones">
      <p>{{ observacionObjeto.observaciones }}</p>
    </div>
  </mat-card-content>
</mat-card>
