<div class="d-flex align-items-center var-main-gris mt-2em animatedDown" *ngIf="observacionObjeto === undefined">
  <div class="text-area-quill">
    <label for="observacion" class="text-area-quill--label header">
      Observaciones al seguimiento diario
    </label>
    <div class="row">
      <div class="pr-1">
        <label class="label-left">
          ¿Tiene observaciones al registro del seguimiento diario?
        </label>
      </div>
      <span class="spanObservaciones">No</span>
    </div>
  </div>
</div>

<div class="d-flex align-items-center var-main-gris mt-2em animatedDown" *ngIf="observacionObjeto !== undefined">
  <div class="text-area-quill">
    <label for="observacion" class="text-area-quill--label header">
      Observaciones al seguimiento diario
    </label>
    <div class="row">
      <div class="pr-1">
        <label class="label-left">
          ¿Tiene observaciones al registro del seguimiento diario?
        </label>
      </div>
      <span class="spanObservaciones">{{ observacionObjeto !== undefined ? 'Si' : 'No' }}</span>
    </div>
    <div class="divObservaciones">
      <p>{{ observacionObjeto.observaciones }}</p>
    </div>
  </div>
</div>
