<div class="container text-center">
    <div class="text-right">
        <a routerLink="/home" mat-button color="primary" class="btn-regresar">
            <img src="assets/img/icon/regresar.svg" alt="Regresar">
        </a>
    </div>
    <h1 class="title-menu--h1">
        Gestionar acuerdo de cofinanciación
    </h1>
    <button mat-mini-fab color="primary" class="btn-info" (click)="verAyuda = !verAyuda">?</button>

    <div class="text-info" *ngIf="verAyuda">
        <button mat-icon-button (click)="verAyuda = false" class="text-info--close">
            <img src="assets/img/icon/cerrar-gris.svg" alt="cerrar ayuda">
        </button>
        Bienvenido/a, aquí podrá realizar la gestión de acuerdos de cofinanciación para financiar los proyectos de
        infraestructura del FFIE.
    </div>

    <div>
        <a routerLink="/gestionarAcueros/resgistrarAcuerdos" mat-raised-button color="accent" class="btn-registrar-acuerdo">
            Registrar nuevo acuerdo de cofinanciación
        </a>
    </div>

</div>
