<form *ngIf="solicitudPagoModificado !== undefined" [formGroup]="addressForm">
    <mat-accordion>
        <mat-expansion-panel class="expansion-style sub-expansion" formArrayName="listas" *ngFor="let lista of listas.controls; index as i">
            <mat-expansion-panel-header class="expansion-style--header">
                <mat-panel-title class="expansion-style--title" [ngClass]="esVerDetalle === false ? lista.get( 'semaforo' ).value : ''" style="font-size: .8em !important;">
                    {{ firstLetterUpperCase( lista.get( 'solicitudPagoListaChequeo' ).value.listaChequeo.nombre ) }}
                </mat-panel-title>
            </mat-expansion-panel-header>
    
            <div class="table-responsive">
                <table mat-table [dataSource]="getMatTable( lista.get( 'solicitudPagoListaChequeo' ).value.solicitudPagoListaChequeoRespuesta )" matSort class="mat-elevation-z8">
                    <ng-container matColumnDef="item">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="detalle"> Item </th>
                        <td mat-cell *matCellDef="let element; index as j" align="center" class="detalle"> <b>{{ j + 1 }}</b> </td>
                    </ng-container>
                    <ng-container matColumnDef="documento">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="detalle"> Documento </th>
                        <td mat-cell *matCellDef="let element" align="left"  class="detalle"> <span class="supportBlack">{{ element.listaChequeoItem.nombre }}</span> </td>
                    </ng-container>
                    <ng-container matColumnDef="revTecnica">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="detalle"> Revisión técnica </th>
                        <td mat-cell *matCellDef="let element" align="center" class="detalle"> {{ getRevisionTecnica( element.respuestaCodigo ) }} </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>

            <ng-container *ngIf="esVerDetalle === true; else noEsVerDetalle">
                <mat-card class="shipping-card var-main-gris">
                    <mat-card-header class="header-card header-card--margin">
                        <mat-card-title class="header-card--text textoGris">
                            Observación de la coordinación
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content style="text-align: left;">
                        <p><b> {{ lista.get( 'fechaCreacion' ).value | date: 'dd/MM/yyyy' }} </b></p>
                        <p *ngIf="lista.get( 'tieneObservaciones' ).value === true"><b>¿Desde la coordinación tiene observaciones a la {{ firstLetterUpperCase( lista.get( 'solicitudPagoListaChequeo' ).value.listaChequeo.nombre ) }}?:</b> Si </p>
                        <p *ngIf="lista.get( 'tieneObservaciones' ).value === false"><b>¿Desde la coordinación tiene observaciones a la {{ firstLetterUpperCase( lista.get( 'solicitudPagoListaChequeo' ).value.listaChequeo.nombre ) }}?:</b> No</p>
                        <section [innerHTML]="lista.get( 'observaciones' ).value" *ngIf="lista.get( 'tieneObservaciones' ).value === true"></section>
                    </mat-card-content>
                </mat-card>
            </ng-container>
            <ng-template #noEsVerDetalle [formGroup]="lista">
                    <div class="row mtop justCenter">
                        <div class="col-md-5">
                            <label class="label-left">¿Desde la coordinación tiene observaciones a la {{ firstLetterUpperCase( lista.get( 'solicitudPagoListaChequeo' ).value.listaChequeo.nombre ) }}?</label>
                        </div>
                        <div class="col-md-2">
                            <mat-radio-group aria-labelledby="example-radio-group-label" class="radioInput" formControlName="tieneObservaciones" required>
                                <mat-radio-button class="radio-button" [value]="true">Sí</mat-radio-button>
                                <mat-radio-button class="radio-button" [value]="false">No</mat-radio-button>
                            </mat-radio-group>
                            <span class="required-form-group" style="margin-left: 1px;">*</span>
                        </div>
                    </div>
                    <div class="d-flex align-items-center mtop animatedDown" *ngIf="lista.get('tieneObservaciones').value === true">
                        <div class="text-area-quill izqTitle">
                            <label for="observaciones" class="text-area-quill--label" style="color: #174193;">Observaciones a la {{ firstLetterUpperCase( lista.get( 'solicitudPagoListaChequeo' ).value.listaChequeo.nombre ) }}</label>
                            <quill-editor class="quill-editor-style" [styles]="editorStyle" [modules]="config" required
                                (onContentChanged)="maxLength($event, 1000)" formControlName="observaciones" #observaciones></quill-editor>
                        </div>
                        <span class="contador miles" *ngIf="lista.get('observaciones').value !== null">
                            {{1000 - (textoLimpio(observaciones.quillEditor,1000))}}
                        </span>
                        <span class="contador miles" *ngIf="lista.get('observaciones').value === null">
                            1000
                        </span>
                    </div>
                    <button mat-button color="warn" class="btn-guardar" type="button" [disabled]="lista.dirty === false" (click)="guardar( lista )">
                        <img src="assets/img/icon/guardar.svg" alt="Guardar">
                    </button>
            </ng-template>
        </mat-expansion-panel>    
    </mat-accordion>
</form>