<button mat-button mat-dialog-close class="modal--btn-cerrar">
  <img src="assets/img/icon/cerrar-blanco.svg" alt="cerrar" />
</button>
<div style="padding: 30px 0px">
  <h1 class="title-menu--h1 centerTrick">Cargar acta suscrita contrato {{ this.numContrato }}</h1>
  <form [formGroup]="addressForm" (ngSubmit)="onSubmit()">
    <div class="text-center">
      <div class="mtop">
        <div class="row">
          <div class="col-md-12" style="padding-left: 0;">
            <div class="row">
              <div class="pr-1">
                <label class="label-left" for="fechaFirmaContratistaObra" [class.color-secondaryColor]="
                      (addressForm.get('fechaFirmaContratistaObra')?.invalid &&
                        addressForm.get('fechaFirmaContratistaObra').touched) ||
                      (addressForm.get('fechaFirmaContratistaObra')?.invalid && esRojo)
                    "> {{ this.fecha1Titulo }}</label>
              </div>
              <div class="col d-flex align-items-center">
                <mat-form-field class="example-full-width">
                  <input matInput formControlName="fechaFirmaContratistaObra"
                    [matDatepicker]="pickerfechaFirmaContratistaObra" readonly
                    (click)="pickerfechaFirmaContratistaObra.open()" required placeholder="DD/MM/AAAA">
                  <mat-datepicker #pickerfechaFirmaContratistaObra></mat-datepicker>
                </mat-form-field>
                <button mat-button color="primary" type="button" (click)="pickerfechaFirmaContratistaObra.open()"
                  class="btn-calendario" placeholder="DD/MM/AAAA">
                  <img src="assets/img/icon/calendarioCirculo.svg" alt="Abrir Calendario">
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12" style="padding-left: 0;">
            <div class="row">
              <div class="pr-1">
                <label class="label-left" for="fechaFirmaContratistaInterventoria" [class.color-secondaryColor]="
                      (addressForm.get('fechaFirmaContratistaInterventoria')?.invalid &&
                        addressForm.get('fechaFirmaContratistaInterventoria').touched) ||
                      (addressForm.get('fechaFirmaContratistaInterventoria')?.invalid && esRojo)
                    "> {{ this.fecha2Titulo }}</label>
              </div>
              <div class="col d-flex align-items-center">
                <mat-form-field class="example-full-width">
                  <input matInput formControlName="fechaFirmaContratistaInterventoria"
                    [matDatepicker]="pickerfechaFirmaContratistaInterventoria" readonly
                    (click)="pickerfechaFirmaContratistaInterventoria.open()" required placeholder="DD/MM/AAAA">
                  <mat-datepicker #pickerfechaFirmaContratistaInterventoria></mat-datepicker>
                </mat-form-field>
                <button mat-button color="primary" type="button" (click)="pickerfechaFirmaContratistaInterventoria.open()"
                  class="btn-calendario" placeholder="DD/MM/AAAA">
                  <img src="assets/img/icon/calendarioCirculo.svg" alt="Abrir Calendario">
                </button>
              </div>
            </div>
          </div>
        </div>
        <div
          class="input-file"
          [ngStyle]="{ color: this.archivo == undefined && this.esRojo == true ? '#d21e18' : '#174193' }"
        >
          <span class="input-file--text">{{ archivo }}</span>
          <button mat-raised-button color="primary" type="button" (click)="fileInput.click()" class="input-file--btn">
            Explorar
          </button>
          <input
            required
            hidden
            (change)="fileName($event)"
            #fileInput
            type="file"
            id="file"
            formControlName="documentoFile"
          />
          <span class="required-form-group m-0">*</span>
        </div>
        <p>
          Explore en su computador o dispositivo y seleccione el documento que desea cargar los formatos permitidos son:
          pdf
        </p>
        <button mat-raised-button color="accent" [disabled]="!addressForm.valid" type="submit">{{ boton }}</button>
      </div>
    </div>
  </form>
</div>
