<button mat-button mat-dialog-close class="modal--btn-cerrar">
    <img src="assets/img/icon/cerrar-blanco.svg" alt="cerrar">
</button>
<h1 class="title-menu--h1 centerTrick">
    Cargar acta suscrita contrato {{this.numContrato}}
</h1>
<div class="text-center">
    <div class="mtop">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="pr-1">
                        <label class="label-left">{{this.fecha1Titulo}}</label>
                    </div>
                    <div class="col d-flex">
                        <mat-form-field class="example-full-width">
                            <input matInput [matDatepicker]="picker" required [max]="maxDate" readonly
                                (click)="picker.open()" [(ngModel)]="this.fechaFirmaContratistaObra"
                                placeholder="DD/MM/AAAA">
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                        <button mat-button color="primary" type="button" (click)="picker.open()" class="btn-calendario">
                            <img src="assets/img/icon/calendarioCirculo.svg" alt="Abrir Calendario">
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="pr-1">
                        <label class="label-left">{{this.fecha2Titulo}}</label>
                    </div>
                    <div class="col d-flex">
                        <mat-form-field class="example-full-width" style="width: 20%;">
                            <input matInput [matDatepicker]="picker2" required [max]="maxDate2" readonly
                                (click)="picker2.open()" [(ngModel)]="this.fechaFirmaContratistaInterventoria"
                                placeholder="DD/MM/AAAA">
                            <mat-datepicker #picker2></mat-datepicker>
                        </mat-form-field>
                        <button mat-button color="primary" type="button" (click)="picker2.open()"
                            class="btn-calendario">
                            <img src="assets/img/icon/calendarioCirculo.svg" alt="Abrir Calendario">
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="input-file">
            <span class="input-file--text">{{archivo}}</span>
            <button mat-raised-button color="primary" type="button" (click)="fileInput.click()"
                class="input-file--btn">Explorar</button>
            <input required hidden (change)="fileName()" #fileInput type="file" id="file"
                [formControl]="fileListaProyectos" accept=".pdf">
        </div>
        <p>
            Explore en su computador o dispositivo y seleccione el documento que desea cargar los formatos permitidos
            son: pdf
        </p>
        <button mat-raised-button color="accent" (click)="this.cargarActa()">{{boton}}</button>
    </div>
</div>