<section class="container mt-1em">
  <div class="text-center mb-1-5em">
    <h1 class="title-menu--h1">Reportes estándar</h1>
  </div>
  <form [formGroup]="addressForm" novalidate (ngSubmit)="showReport()">
    <mat-card class="shipping-card">
      <mat-card-header class="header-card header-card--margin">
        <mat-card-title class="header-card--text"> Filtro de búsqueda </mat-card-title>
      </mat-card-header>
      <mat-card-content align="left">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="pr-1">
                <label
                  class="label-left"
                  for="etapa"
                  [class.color-secondaryColor]="addressForm.get('etapa').invalid && addressForm.get('etapa').touched"
                >
                  Etapa
                </label>
              </div>
              <div class="col">
                <mat-form-field class="select-width">
                  <mat-select formControlName="etapa" required>
                    <mat-option *ngFor="let etapa of etapaArray" [value]="etapa.code">
                      {{ etapa.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="pr-1">
                <label
                  class="label-left"
                  for="procesoAcuerdo"
                  [class.color-secondaryColor]="
                    addressForm.get('procesoAcuerdo').invalid && addressForm.get('procesoAcuerdo').touched
                  "
                >
                  Proceso de acuerdo
                </label>
              </div>
              <div class="col">
                <mat-form-field class="select-width">
                  <mat-select formControlName="procesoAcuerdo" required>
                    <mat-option *ngFor="let procesoAcuerdo of procesoAcuerdoArray" [value]="procesoAcuerdo.code">
                      {{ procesoAcuerdo.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
        <div class="animatedDown" *ngIf="addressForm.get('etapa').value && addressForm.get('procesoAcuerdo').value">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="pr-1">
                  <label
                    class="label-left"
                    for="reporte"
                    [class.color-secondaryColor]="
                      addressForm.get('reporte').invalid && addressForm.get('reporte').touched
                    "
                  >
                    Reporte
                  </label>
                </div>
                <div class="col">
                  <mat-form-field class="select-width">
                    <mat-select formControlName="reporte" required>
                      <mat-option *ngFor="let reporte of reporteArray" [value]="reporte.indicadorReporteId">
                        {{ reporte.nombre }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center mt-1em">
          <button mat-raised-button color="accent" type="submit" [disabled]="addressForm.invalid">Ver reporte</button>
        </div>
      </mat-card-content>
    </mat-card>
  </form>
</section>
