.full-width {
  width: 100%;
}

.shipping-card {
  min-width: 120px;
  margin: 20px auto;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}

.mat-form-field input:required ~ .mat-form-field-label-wrapper::after {
  content: '*';
}

.mainColor{
  color: var(--mainColor);
}

.size1{
  font-size: 0.8rem;
  color: var(--fontColor);
  font-style: italic;
}

.mcenter
{
  margin-left: auto;
  margin-right: auto;
}

.quill-editor-style[required]::after {
  right: 0;
}