<section class="container text-center">
  <div class="text-right">
    <a routerLink="../../" mat-button color="primary" class="btn-regresar">
      <img src="assets/img/icon/regresar.svg" alt="Regresar">
    </a>
  </div>
  <h1 class="title-menu--h1">
    Verificar seguimiento diario LY665533
  </h1>
  <p class="colorMainColor mt-05em">
    <span class="mx-1em">05/07/2020</span>
    <span class="mx-1em">Remodelación</span>
    <span class="mx-1em">Atlántico</span>
    <span class="mx-1em">Malambo</span>
    <span class="mx-1em">I.E. María Villa Campo</span>
    <span class="mx-1em">Única sede</span>
  </p>

</section>
<section class="container">
  <mat-card class="shipping-card var-main-gris">
    <mat-card-content>
      <mat-card-title class="header-card--text sub-text mt-0">
        Personal (obreros/técnicos)
      </mat-card-title>
      <p>
        <strong>
          Disponibilidad de personal:
        </strong>
        Suficiente
      </p>
      <p>
        <strong>Observaciones:</strong>
        <span class="d-block">
          La cantidad de personal es suficiente para ejecutar esta fase del proyecto
        </span>
      </p>

      <mat-card-title class="header-card--text sub-text">
        Material
      </mat-card-title>
      <p>
        <strong>
          Disponibilidad de material:
        </strong>
        Óptimo
      </p>
      <p>
        <strong>Observaciones:</strong>
        <span class="d-block">
          La cantidad y estado del material es óptimo.
        </span>
      </p>

      <mat-card-title class="header-card--text sub-text">
        Equipo
      </mat-card-title>
      <p>
        <strong>
          Disponibilidad de equipo:
        </strong>
        Total
      </p>
      <p>
        <strong>Observaciones:</strong>
        <span class="d-block">
          El equipo está completo.
        </span>
      </p>

      <mat-card-title class="header-card--text sub-text">
        Productividad
      </mat-card-title>
      <p>
        <strong>
          Productividad:
        </strong>
        Alta
      </p>
      <p>
        <strong>Observaciones:</strong>
        <span class="d-block">
          La productividad es alta.
        </span>
      </p>

    </mat-card-content>
  </mat-card>
</section>

<section class="container">
  <app-form-observaciones></app-form-observaciones>
</section>
