<div class="text-center">
  <h1 class="title-menu--h1">Bienvenido(a)</h1>
</div>
<div class="container">
  <p class="p">
    Al sistema de información del FFIE para la gestión de Proyectos de Infraestructura Educativa, a continuación,
    encontrará el listado de funcionalidades disponibles para su gestión.
  </p>

  <section class="container menu">
    <a class="menu--button mr-1-5em">
      <img src="assets/img/icon/Recurso-1.svg" alt="Fase de inicio">
      <span class="menu--span">
        Fase de inicio
      </span>
    </a>
    <a class="menu--button mr-1-5em">
      <img src="assets/img/icon/Recurso-2.svg" alt="Fase de seguimiento">
      <span class="menu--span">
        Fase de seguimiento
      </span>
    </a>
    <a class="menu--button mr-1-5em">
      <img src="assets/img/icon/Recurso-3.svg" alt="Fase de cierre">
      <span class="menu--span">
        Fase de cierre
      </span>
    </a>
    <a class="menu--button mr-1-5em" routerLink="/reportes">
      <img src="assets/img/icon/Recurso-4.svg" alt="Reportes">
      <span class="menu--span">
        Reportes
      </span>
    </a>
  </section>
</div>
