<div class="container text-center">
    <div class="busqueda">
        <mat-form-field appearance="outline" class="busqueda--input">
            <mat-label>Buscador / Filtro</mat-label>
            <input matInput #filtro (keyup)="applyFilter($event)">
        </mat-form-field>
        <button mat-button color="primary" class="busqueda--img" (click)="filtro.focus()">
            <img src="assets/img/icon/lupa.svg" alt="Buscar">
        </button>
    </div>
    <div class="table-responsive">
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

            <ng-container matColumnDef="fechaAprobacionRequisitosSupervisor">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de aprobación de requisitos por el
                    supervisor </th>
                <!-- Caso mapeado <td mat-cell *matCellDef="let element"> <b>{{element.fechaFirma | date:'dd/MM/yyyy'}}</b></td>-->
                <td mat-cell *matCellDef="let element"> <b>{{element.fechaAprobacionRequisitosSupervisor}}</b></td>
            </ng-container>

            <ng-container matColumnDef="numeroContrato">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Número del contrato de obra</th>
                <td mat-cell *matCellDef="let element">{{element.numeroContrato}}</td>
            </ng-container>

            <ng-container matColumnDef="estadoActaContrato">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado del acta </th>
                <td mat-cell *matCellDef="let element"> {{element.estadoActaContrato}} </td>
            </ng-container>

            <ng-container matColumnDef="contratoId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Gestión </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-raised-button color="accent" class="btn-table" (click)="this.enviarActaParaFirma()"
                        *ngIf="element.estadoActaContrato=='Con validación del supervisor'">Enviar acta para firma</button>
                    <!--<button mat-raised-button color="accent" class="btn-table" (click)="this.enviarParaRevision(element.contratoId,element.estadoActaContrato)"
                        *ngIf="element.estadoActaContrato=='Con acta preliminar generada'">Enviar para revisión y aprobacion</button>-->
                    <button mat-raised-button color="accent" class="btn-table" (click)="this.cargarActaSuscrita(element.contratoId)"
                        *ngIf="element.estadoActaContrato=='Con acta en proceso de firma'"> Cargar Acta Suscrita</button>
                    <button mat-raised-button color="accent" class="btn-table" (click)="descargarActaDesdeTabla()"
                        *ngIf="element.estadoActaContrato=='Con acta en proceso de firma'"> Descargar Acta</button>
                    <button mat-raised-button color="accent" class="btn-table" (click)="this.generarActaFDos(element.contratoId)"
                    *ngIf="element.estadoActaContrato=='Sin acta generada'">Generar Acta</button>
                    <button mat-raised-button color="accent" class="btn-table"
                        (click)="this.verDetalleEditarActaFDos(element.observaciones,element.contratoId)"
                        *ngIf="element.estadoActaContrato=='Con acta preliminar generada' || element.estadoActaContrato=='Enviada por el supervisor'"> Ver detalle /
                        Editar</button>
                    <button mat-raised-button color="accent" class="btn-table"
                        (click)="this.verDetalleActaFDos(element.contratoId)"
                        *ngIf="element.revisionOAprobacion==true || element.estadoActaContrato=='Con acta en proceso de firma' || element.estadoActaContrato=='Con acta suscrita y cargada'">
                        Ver detalle</button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
