<a routerLink="/gestionarTramiteControversiasContractuales/registrarNuevaMesaTrabajoAct" mat-raised-button color="accent" class="btn-cargar-proyecto">Registrar nueva mesa de trabajo</a><br>
<div style="margin-top: 2em;">
    <div class="busqueda">
        <mat-form-field appearance="outline" class="busqueda--input">
            <mat-label>Buscador / Filtro</mat-label>
            <input matInput #filtro (keyup)="applyFilter($event)">
        </mat-form-field>
        <button mat-button color="primary" class="busqueda--img" (click)="filtro.focus()">
            <img src="assets/img/icon/lupa.svg" alt="Buscar">
        </button>
    </div>
    <div class="table-responsive">
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
            <ng-container matColumnDef="fechaActualizacion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de actualización </th>
                <td mat-cell *matCellDef="let element" align="center"> <b> {{ element.fechaActuacionAdelantada | date:'dd/MM/yyyy'}} </b> </td>
            </ng-container>
    
            <ng-container matColumnDef="actuacion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Actuación </th>
                <td mat-cell *matCellDef="let element" align="center"> {{ element.actuacion }} </td>
            </ng-container>
    
            <ng-container matColumnDef="numeroActuacion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header > Número de Actuación </th>
                <td mat-cell *matCellDef="let element" align="center"> 
                    {{element.numeroActuacionSeguimiento}}
                </td>
            </ng-container>
            <ng-container matColumnDef="estadoRegistro">
                <th mat-header-cell *matHeaderCellDef mat-sort-header > Estado del registro </th>
                <td mat-cell *matCellDef="let element" align="center"> 
                    <span class="info-text info-text__table" [ngClass]="{'sin-diligenciar' : element.estadoRegistroString=='Incompleto', 'completo' : element.estadoRegistroString=='Completo'}"></span>
                    {{element.estadoRegistroString}}
                </td>
            </ng-container>
            <ng-container matColumnDef="estadoActuacion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado de la actuación </th>
                <td mat-cell *matCellDef="let element" align="center">
                    {{element.estadoAvanceMesaString}}
                    </td>
            </ng-container>
            <ng-container matColumnDef="gestion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 20%;"> Gestión </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-raised-button color="accent" class="btn-table" *ngIf="element.estadoAvanceMesaString=='En proceso de registro'"
                    (click)="this.finalizarMesaDeTrabajo(element.controversiaActuacionMesaSeguimientoId)">
                        Finalizar actuación
                    </button>
                    <button mat-raised-button color="accent" class="btn-table" *ngIf="element.estadoAvanceMesaString=='En proceso de registro'"
                    (click)="this.verDetalleEditarMTActuacion(element.controversiaActuacionMesaSeguimientoId,element.numeroActuacionSeguimiento)">
                        Ver detalle/Editar
                    </button>
                    <button mat-raised-button color="accent" class="btn-table" *ngIf="element.estadoAvanceMesaString=='En proceso de registro'"
                    (click)="this.eliminarMTActuacion(element.controversiaActuacionMesaSeguimientoId)">
                        Eliminar
                    </button>
                    <button mat-raised-button color="accent" class="btn-table" *ngIf="element.estadoAvanceMesaString=='Finalizada'"
                    (click)="this.verDetalleMTActuacion(element.controversiaActuacionMesaSeguimientoId,element.numeroActuacionSeguimiento)">
                        Ver detalle
                    </button>
                </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
</div>