<section class="text-center">
  <button mat-button mat-dialog-close class="modal--btn-cerrar" [mat-dialog-close]="true">
    <img src="assets/img/icon/cerrar-blanco.svg" alt="cerrar">
  </button>

  <h1 class="title-menu--h1">
    Observaciones flujo de inversión de recursos
  </h1>

  <section class="flex-center mt-05em">
    <span>
      <strong>
        10/08/2020
      </strong>
    </span>
    <span>
      <strong>
        Valido
      </strong>
    </span>
  </section>
  <mat-card class="shipping-card mainGris">
    <mat-card-header class="header-card header-card--margin">
      <mat-card-title class="header-card--text textoGris">
        Causa rechazo
      </mat-card-title>
    </mat-card-header>
    <mat-card-content style="text-align: left;">
      <div>
        10/08/2020
        El archivo presenta un error, cargue de nuevo para validarlo
      </div>
    </mat-card-content>
  </mat-card>
</section>