<div class="container text-center">
  <div class="text-right">
      <a routerLink="/home" mat-button color="primary" class="btn-regresar">
          <img src="assets/img/icon/regresar.svg" alt="Regresar">
      </a>
  </div>
  <h1 class="title-menu--h1">
    Crear proyecto
  </h1>
  <button mat-mini-fab color="primary" class="btn-info" (click)="verAyuda = !verAyuda">?</button>

  <div class="text-info" *ngIf="verAyuda">
      <button mat-icon-button (click)="verAyuda = false" class="text-info--close">
          <img src="assets/img/icon/cerrar-gris.svg" alt="cerrar ayuda">
      </button>
      Bienvenido/a, aquí podrá realizar la creación de los proyectos administrativos del FFIE.
  </div>

  <a routerLink="/crearProyectoAdministrativo/crearProyecto" mat-raised-button color="accent" class="btn-cargar-proyecto">Crear proyecto</a><br>

<section class="w-table-administrativo">
  <app-tabla-proyectos-admin></app-tabla-proyectos-admin>
</section>
</div>
