<section class="container text-center mb-2em" *ngIf="solicitudPago !== undefined">
    <div class="text-right">
        <a routerLink="/verificarOrdenGiro" mat-button color="primary" class="btn-regresar">
            <img src="assets/img/icon/regresar.svg" alt="Regresar">
        </a>
    </div>

    <ng-container *ngIf="esVerDetalle === true; else noEsVerDetalle">
        <h1 class="title-menu--h1">Ver detalle verificación orden de giro</h1>
    </ng-container>
    <ng-template #noEsVerDetalle>
        <h1 class="title-menu--h1"> {{ esRegistroNuevo === true ? 'Verificar orden de giro' : 'Ver detalle/Editar verificación orden de giro' }} </h1>
    </ng-template>

    <div class="d-flex justify-content-center mt-1em colorMainColor">
        <p>Número de orden de giro: <b> <i> {{ solicitudPago.ordenGiro.numeroSolicitud }} </i> </b></p>
        <ng-container *ngIf="esExpensas === true; else noEsExpensas">
            <p style="margin-left: 2em;">Llave MEN: <b>STEFA8</b></p>
        </ng-container>
        <ng-template #noEsExpensas>
            <p style="margin-left: 2em;">Número de contrato: <b> <i> {{ contrato.numeroContrato }} </i> </b></p>
        </ng-template>
    </div>

    <mat-card class="shipping-card border">
        <mat-card-content align="left">
            <p><strong>Fecha de generación de orden de giro:</strong> <i> {{ solicitudPago.ordenGiro.fechaCreacion | date:'dd/MM/yyyy' }} </i></p>
            <p><strong>Número de solicitud:</strong> <i> {{ solicitudPago.numeroSolicitud }} </i></p>
            <p *ngIf="esExpensas === false"><strong>Modalidad de contrato:</strong> <i> {{ getModalidadContrato( contrato.modalidadCodigo ) }} </i></p>
        </mat-card-content>
    </mat-card>
    
    <mat-accordion>
        <mat-expansion-panel class="expansion-style">
            <mat-expansion-panel-header class="expansion-style--header">
                <mat-panel-title class="expansion-style--title">
                    Información general
                </mat-panel-title>
            </mat-expansion-panel-header>

            <app-informacion-general    [solicitudPago]="solicitudPago"
                                        [esRegistroNuevo]="esRegistroNuevo"
                                        [esExpensas]="esExpensas">
            </app-informacion-general>
        </mat-expansion-panel>

        <mat-expansion-panel class="expansion-style">
            <mat-expansion-panel-header class="expansion-style--header">
                <mat-panel-title class="expansion-style--title">
                    Estrategia de pagos
                </mat-panel-title>
            </mat-expansion-panel-header>

            <app-form-estrateg-pagos-gog [solicitudPago]="solicitudPago"></app-form-estrateg-pagos-gog>
        </mat-expansion-panel>

        <mat-expansion-panel class="expansion-style" *ngFor="let proyecto of listaDetalleGiro">
            <mat-expansion-panel-header class="expansion-style--header">
                <mat-panel-title class="expansion-style--title">
                    Detalle del giro - {{ proyecto.llaveMen }}
                </mat-panel-title>
            </mat-expansion-panel-header>

            <app-detalle-giro   [esRegistroNuevo]="esRegistroNuevo"
                                [esVerDetalle]="esVerDetalle"
                                [solicitudPago]="solicitudPago"
                                [proyecto]="proyecto">
            </app-detalle-giro>
        </mat-expansion-panel>

        <mat-expansion-panel class="expansion-style">
            <mat-expansion-panel-header class="expansion-style--header">
                <mat-panel-title class="expansion-style--title">
                    Observaciones
                </mat-panel-title>
            </mat-expansion-panel-header>
    
            <app-observaciones  [esRegistroNuevo]="esRegistroNuevo"
                                [solicitudPago]="solicitudPago">
            </app-observaciones>
        </mat-expansion-panel>
    
        <mat-expansion-panel class="expansion-style">
            <mat-expansion-panel-header class="expansion-style--header">
                <mat-panel-title class="expansion-style--title">
                    Soporte de orden de giro
                </mat-panel-title>
            </mat-expansion-panel-header>
    
            <app-soporte-orden-giro [esRegistroNuevo]="esRegistroNuevo"
                                    [solicitudPago]="solicitudPago"
                                    *ngIf="solicitudPago.ordenGiro.ordenGiroDetalle[ 0 ].ordenGiroSoporte.length > 0">
            </app-soporte-orden-giro>
        </mat-expansion-panel>
    </mat-accordion>

    <div class="mt-3em">
        <mat-card class="shipping-card border" align="left" *ngIf="esVerDetalle === true">
            <mat-card-header class="header-card">
                <mat-card-title class="header-card--text card-title-detalle">
                    URL con soporte de orden de giro firmada
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p style="margin-left: 2em;"><b>URL con soporte: </b> <i> {{ solicitudPago.ordenGiro.urlSoporteFirmadoVerificar }} </i> </p>
            </mat-card-content>
        </mat-card>
    </div>
</section>