<section class="container" *ngIf="contrato">
  <div class="text-center">
    <div class="text-right">
      <a routerLink="/verificarPreconstruccion" mat-button color="primary" class="btn-regresar">
        <img src="assets/img/icon/regresar.svg" alt="Regresar">
      </a>
    </div>
    <h1 class="title-menu--h1">
      Verificar requisitos de inicio contrato {{ contrato.numeroContrato }} fase 1 - Preconstrucción
    </h1>
    <p class="text-primary">
      <span class="mx-2em">
        Fecha de aprobacion de póliza:
        <b>
          {{ fechaPoliza | date: 'dd/MM/yyyy' }}
        </b>
      </span>
      <span class="mx-2em">
        Proyectos asociados:
        <b>
          {{ contrato.contratacion.contratacionProyecto.length }}
        </b>
      </span>
    </p>
    <p class="info-container">
      <span class="info-text sin-diligenciar">Sin diligenciar</span>
      <span class="info-text en-proceso">En proceso</span>
      <span class="info-text completo">Completo</span>
    </p>
  </div>

  <mat-accordion *ngFor="let contratoProyecto of contrato.contratacion.contratacionProyecto">
    <mat-expansion-panel class="expansion-style">
      <mat-expansion-panel-header class="expansion-style--header">
        <mat-panel-title class="expansion-style--title completo">
          {{ contratoProyecto.proyecto.llaveMen }} - {{ contratoProyecto.proyecto[ 'institucionEducativa' ].nombre }} - {{ contratoProyecto.proyecto[ 'sede' ].nombre }}
        </mat-panel-title>
      </mat-expansion-panel-header>

			<mat-card class="shipping-card">
				<mat-card-content>
					<p>
						<b>Nombre del contratista:</b>
						{{ contrato.contratacion.contratista.nombre }}
					</p>
					<p>
						<b>Número de identificación (NIT/RUT):</b>
						{{ contrato.contratacion.contratista.numeroIdentificacion }}
					</p>
					<p>
						<b>Tipo de intervención:</b>
						{{ contratoProyecto.proyecto.tipoIntervencionCodigo }}
					</p>
					<p>
						<b>Departamento:</b>
						{{ contratoProyecto.proyecto.departamento }}
					</p>
					<p>
						<b>Municipio:</b>
						{{ contratoProyecto.proyecto.municipio }}
					</p>
					<p>
						<b>Valor total del proyecto:</b>
						{{ contratoProyecto.proyecto.valorTotal | currency:'COP':'symbol-narrow':'.0-0' }}
					</p>
				</mat-card-content>
			</mat-card>

      <mat-accordion *ngFor="let perfil of contratoProyecto.proyecto.contratoPerfil; index as i">
        <mat-expansion-panel class="expansion-style sub-expansion">
          <mat-expansion-panel-header class="expansion-style--header">
            <mat-panel-title class="expansion-style--title completo">
              Perfil {{ i+1 }}
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-card class="shipping-card">
            <mat-card-content>
              <p>
                <b>Perfil:</b>
                {{ perfil.perfilCodigo }}
              </p>
              <p>
                <b>Cantidad de hojas de vida requeridas:</b>
                {{ perfil.cantidadHvRequeridas }}
              </p>
              <p>
                <b>Cantidad de hojas de vida recibidas:</b>
                {{ perfil.cantidadHvRecibidas }}
              </p>
              <p>
                <b>Cantidad de hojas de vida aprobadas:</b>
                {{ perfil.cantidadHvAprobadas }}
              </p>
              <p>
                <b>Fecha de aprobación de la totalidad de las hojas de vida:</b>
                {{ perfil.fechaAprobacion | date: 'dd/MM/yyyy' }}
              </p>
              <div *ngFor="let obs of perfil.contratoPerfilObservacion">
                <p *ngIf="obs.tipoObservacionCodigo === '1'">
                  <b>Oservaciones:</b>
                  {{ textoLimpioObservacion( obs.observacion ) }}
                </p>
              </div>
              <p *ngFor="let radicadoFfie of perfil.contratoPerfilNumeroRadicado; index as j">
                <b>Número de radicado en FFIE de aprobación de hojas de vida {{ j+1 }}:</b>
                {{ radicadoFfie['numeroRadicado'] }}
              </p>
              <p>
                <b>URL con soporte:</b>
                {{ perfil.rutaSoporte }}
              </p>
            </mat-card-content>
          </mat-card>

          <div class="row justify-content-center mb-2em">
            <div class="pr-1">
              <label class="label-left" for="tieneObservacion">¿Tiene observaciones a las hojas de vida de este
                perfil?</label>
            </div>
            <div>
              <mat-radio-group class="radioInput" [(ngModel)]="perfil['tieneObservaciones']">
                <mat-radio-button [value]="true">Sí</mat-radio-button>
                <mat-radio-button [value]="false">No</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
          <div class="d-flex align-items-center" *ngIf="perfil['tieneObservaciones'] === true">
            <div class="text-area-quill">
              <label for="alcanceParticular" class="text-area-quill--label">
                Observaciones a las hojas de vida del contratista de obra
              </label>
              <quill-editor class="quill-editor-style miles" [styles]="editorStyle" [modules]="config"
                (onContentChanged)="maxLength($event, 1000)" [(ngModel)]="perfil['verificarObservacion']" required>
              </quill-editor>
            </div>
            <span class="contador" *ngIf="perfil['verificarObservacion'].length > 0">
              {{1000 - textoLimpio(perfil['verificarObservacion'])}}
            </span>
            <span class="contador" *ngIf="perfil['verificarObservacion'].length === 0">
              1000
            </span>
          </div>

          <div class="text-center">
            <button mat-button color="warn" class="btn-guardar" type="button"
              [disabled]="perfil['tieneObservaciones'] === null"
              (click)="onSubmit( perfil )">
              <img src="assets/img/icon/guardar.svg" alt="Guardar">
            </button>
          </div>

        </mat-expansion-panel>
      </mat-accordion>

    </mat-expansion-panel>
  </mat-accordion>

</section>