<section class="container">
  <div class="text-center">
    <div class="text-right">
      <a routerLink="/verificarPreconstruccion" mat-button color="primary" class="btn-regresar">
        <img src="assets/img/icon/regresar.svg" alt="Regresar">
      </a>
    </div>
    <h1 class="title-menu--h1">
      Verificar requisitos de inicio contrato C223456789 fase 1 - Preconstrucción
    </h1>
    <p class="text-primary">
      <span class="mx-2em">
        Fecha de aprobacion de póliza:
        <b>
          21/06/2020
        </b>
      </span>
      <span class="mx-2em">
        Proyectos asociados:
        <b>
          2
        </b>
      </span>
    </p>
    <p class="info-container">
      <span class="info-text sin-diligenciar">Sin diligenciar</span>
      <span class="info-text en-proceso">En proceso</span>
      <span class="info-text completo">Completo</span>
    </p>
  </div>

  <mat-accordion>
    <mat-expansion-panel class="expansion-style">
      <mat-expansion-panel-header class="expansion-style--header">
        <mat-panel-title class="expansion-style--title completo">
          LM564532 - I.E. María Auxiliadora - Única sede
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-card class="shipping-card">
        <mat-card-content>
          <p>
            <b>Nombre del contratista:</b>
            Constructora
          </p>
          <p>
            <b>Número de identificación (NIT/RUT):</b>
            900.675.987-4
          </p>
          <p>
            <b>Tipo de intervención:</b>
            Remodelación
          </p>
          <p>
            <b>Departamento:</b>
            Atlántico
          </p>
          <p>
            <b>Municipio:</b>
            Galapa
          </p>
          <p>
            <b>Valor total del proyecto:</b>
            $ 80.000.000
          </p>
        </mat-card-content>
      </mat-card>

      <mat-accordion>
        <mat-expansion-panel class="expansion-style sub-expansion">
          <mat-expansion-panel-header class="expansion-style--header">
            <mat-panel-title class="expansion-style--title completo">
              Tema 1
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-card class="shipping-card">
            <mat-card-content>
              <p>
                <b>Perfil:</b>
                Ingeniero de obra
              </p>
              <p>
                <b>Cantidad de hojas de vida requeridas:</b>
                1
              </p>
              <p>
                <b>Cantidad de hojas de vida recibidas:</b>
                10
              </p>
              <p>
                <b>Cantidad de hojas de vida aprobadas:</b>
                3
              </p>
              <p>
                <b>Fecha de aprobación de la totalidad de las hojas de vida:</b>
                30/06/2020
              </p>
              <p>
                <b>Oservaciones:</b>
              </p>
              <ol><li>Se requieren más hojas de vida para el perfil requerido.</li><li>Con el ajuste de hojas recibidas y aprobadas quedó completo el perfil.</li></ol>
              <p>
                <b>Número de radicado en FFIE de aprobación de hojas de vida 1:</b>
                NRLM564532-11
              </p>
              <p>
                <b>Número de radicado en FFIE de aprobación de hojas de vida 2:</b>
                NRLM564532-12
              </p>
              <p>
                <b>URL con soporte:</b>
                https://drive.google.com/drive/perfil/Ingenierodeobra/hojasdevida
              </p>
            </mat-card-content>
          </mat-card>

          <form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
            <div class="row justify-content-center mb-2em">
              <div class="pr-1">
                <label class="label-left" for="tieneObservacion">¿Tiene observaciones a las hojas de vida de este
                  perfil?</label>
              </div>
              <div>
                <mat-radio-group class="radioInput" formControlName="tieneObservacion">
                  <mat-radio-button value="true">Sí</mat-radio-button>
                  <mat-radio-button value="false">No</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
            <div class="d-flex align-items-center" *ngIf="addressForm.controls.tieneObservacion.value === 'true'">
              <div class="text-area-quill">
                <label for="alcanceParticular" class="text-area-quill--label">
                  Observaciones a las hojas de vida del contratista de obra
                </label>
                <quill-editor class="quill-editor-style miles" [styles]="editorStyle" [modules]="config"
                  (onContentChanged)="maxLength($event, 1000)" formControlName="observacion" required>
                </quill-editor>
              </div>
              <span class="contador" *ngIf="addressForm.get('observacion').value">
                {{1000 - textoLimpio(addressForm.get('observacion').value)}}
              </span>
              <span class="contador" *ngIf="!addressForm.get('observacion').value">
                1000
              </span>
            </div>

            <div class="text-center">
              <button mat-button color="warn" class="btn-guardar" type="submit"
                [disabled]="!addressForm.controls.tieneObservacion.value">
                <img src="assets/img/icon/guardar.svg" alt="Guardar">
              </button>
            </div>
          </form>

        </mat-expansion-panel>
      </mat-accordion>

    </mat-expansion-panel>
  </mat-accordion>

</section>