<section class="container">
  <div class="container text-center">
    <div class="text-right print-d-none">
      <a routerLink="../../.." mat-button color="primary" class="btn-regresar">
        <img src="assets/img/icon/regresar.svg" alt="Regresar" />
      </a>
    </div>
    <h1 class="title-menu--h1">
      Contratación <span *ngIf="contrato">{{ contrato.numeroContrato }}</span>
    </h1>
    <p class="info-sub-title">
      Contratista <b *ngIf="contrato"> {{ contrato.contratista }} </b>
    </p>
  </div>

  <mat-card class="shipping-card var-main-gris" *ngIf="contrato">
    <mat-card-content>
      <p>
        <strong> Número de solicitud: </strong>
        {{ contrato.numeroSolicitud }}
      </p>
      <p>
        <strong> Fecha de solicitud: </strong>
        {{ contrato.fechaSolicitud | date: 'dd/MM/yyyy' }}
      </p>
      <p>
        <strong> Opción por contratar: </strong>
        {{ contrato.opcionContratar }}
      </p>
      <p>
        <strong> Valor total de la solicitud: </strong>
        {{ contrato.valorSolicitud | currency: 'COP':'symbol-narrow':'.0-0' }}
      </p>
      <p>
        <strong> URL con soporte: </strong>
        <a class="ruta-url max-width-none" [href]="contrato.urlSoporte" target="_blank">
          {{ contrato.urlSoporte }}
        </a>
      </p>
      <h2 class="card-subTitle">Proyectos asociados</h2>
      <div class="table-responsive mb-1em mt-1em">
        <table class="mat-table cdk-table mat-sort mat-table-style table-form table-gris">
          <thead>
            <tr class="mat-header-row cdk-header-row ng-star-inserted">
              <th class="mat-header-cell cdk-header-cell ng-star-inserted">Número de contrato</th>
              <th class="mat-header-cell cdk-header-cell ng-star-inserted">Llave MEN</th>
              <th class="mat-header-cell cdk-header-cell ng-star-inserted">Tipo de intervensión</th>
              <th class="mat-header-cell cdk-header-cell ng-star-inserted">Departamento</th>
              <th class="mat-header-cell cdk-header-cell ng-star-inserted">Municipio</th>
              <th class="mat-header-cell cdk-header-cell ng-star-inserted">Institución Educativa/ Sede</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let element of contrato.vListaProyectos">
              <td class="mat-cell cdk-cell ng-star-inserted">
                <b> {{ element.numeroContrato }} </b>
              </td>
              <td class="mat-cell cdk-cell ng-star-inserted">
                {{ element.llaveMen }}
              </td>
              <td class="mat-cell cdk-cell ng-star-inserted">
                {{ element.tipoIntervencion }}
              </td>
              <td class="mat-cell cdk-cell ng-star-inserted">
                {{ element.departamento }}
              </td>
              <td class="mat-cell cdk-cell ng-star-inserted">
                {{ element.municipio }}
              </td>
              <td class="mat-cell cdk-cell ng-star-inserted">
                {{ element.institucionEducativa }} / {{ element.sede }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </mat-card-content>
  </mat-card>
</section>

<div class="text-center mt-2em mb-2em print-d-none">
  <button mat-raised-button color="accent" (click)="downloadPDF()">Descargar</button>
</div>
