<section class="container" *ngIf="contrato" style="margin-bottom: 2em;">
  <div class="text-center">
      <div class="text-right">
          <a routerLink="/preconstruccion" mat-button color="primary" class="btn-regresar">
              <img src="assets/img/icon/regresar.svg" alt="Regresar">
          </a>
      </div>
      <h1 class="title-menu--h1">
          Ver detalle requisitos para inicio contrato {{ contrato.numeroContrato }} fase 1 - Preconstrucción
      </h1>
      <p class="colorMainColor" style="margin-top: 1em;">
          <span class="mx-2em">
              Fecha de aprobacion de póliza:
              <b>
                {{ contrato.contratoPoliza[0].fechaAprobacion | date: 'dd/MM/yyyy' }}
              </b>
          </span>
          <span class="mx-2em">
              Proyectos asociados:
              <b>
                {{ contrato.contratacion.contratacionProyecto.length }}
              </b>
          </span>
      </p>
  </div>

  <mat-accordion *ngFor="let contratoProyecto of contrato.contratacion.contratacionProyecto">
      <mat-expansion-panel class="expansion-style">
          <mat-expansion-panel-header class="expansion-style--header">
              <mat-panel-title class="expansion-style--title">
                {{ contratoProyecto.proyecto.llaveMen }} - {{ contratoProyecto.proyecto[ 'institucionEducativa' ].nombre }} - {{ contratoProyecto.proyecto[ 'sede' ].nombre }}
              </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-card class="shipping-card">
              <mat-card-content>
                  <p>
                    <b>Nombre del contratista:</b>
                    <i> {{ contrato.contratacion.contratista.nombre }} </i>
                  </p>
                  <p>
                    <b>Número de identificación (NIT/RUT):</b>
                    <i> {{ contrato.contratacion.contratista.numeroIdentificacion }} </i>
                  </p>
                  <p>
                    <b>Tipo de intervención:</b>
                    <i> {{ contratoProyecto.proyecto.tipoIntervencionCodigo }} </i>
                  </p>
                  <p>
                    <b>Departamento:</b>
                    <i> {{ contratoProyecto.proyecto.departamento }} </i>
                  </p>
                  <p>
                    <b>Municipio:</b>
                    <i> {{ contratoProyecto.proyecto.municipio }} </i>
                  </p>
                  <p>
                    <b>Valor total del proyecto:</b>
                    <i> {{ contratoProyecto.proyecto.valorTotal | currency:'COP':'symbol-narrow':'.0-0' }} </i>
                  </p>
              </mat-card-content>
          </mat-card>

          <p class="d-flex justify-content-center"><b style="margin-right: .3em;"> ¿Cuantos perfiles diferentes del contratista de obra se requieren para ejecutar el proyecto?: </b> <i> {{ contratoProyecto.proyecto.contratoPerfil.length }} </i> </p>

          <mat-accordion *ngFor="let perfil of contratoProyecto.proyecto.contratoPerfil; index as i">
              <mat-expansion-panel class="expansion-style sub-expansion">
                  <mat-expansion-panel-header class="expansion-style--header">
                      <mat-panel-title class="expansion-style--title">
                        Perfil {{ i+1 }}
                      </mat-panel-title>
                  </mat-expansion-panel-header>

                  <mat-card class="shipping-card">
                      <mat-card-content>
                          <p>
                            <b>Perfil:</b>
                            <i> {{ getNombrePerfil( perfil.perfilCodigo ) }} </i>
                          </p>
                          <p>
                            <b>Cantidad de hojas de vida requeridas:</b>
                            {{ perfil.cantidadHvRequeridas }}
                          </p>
                          <p>
                            <b>Cantidad de hojas de vida recibidas:</b>
                            {{ perfil.cantidadHvRecibidas }}
                          </p>
                          <p>
                            <b>Cantidad de hojas de vida aprobadas:</b>
                            {{ perfil.cantidadHvAprobadas }}
                          </p>
                          <p>
                            <b>Fecha de aprobación de la totalidad de las hojas de vida:</b>
                            {{ perfil.fechaAprobacion | date: 'dd/MM/yyyy' }}
                          </p>
                          <b style="margin-bottom: .5em;">Observaciones:</b> <div [innerHTML]="perfil.observacion"></div>
                          <p *ngFor="let radicadoFfie of perfil.contratoPerfilNumeroRadicado; index as j">
                            <b>Número de radicado en FFIE de aprobación de hojas de vida {{ j+1 }}:</b>
                            {{ radicadoFfie['numeroRadicado'] }}
                          </p>
                          <p>
                            <b>URL con soporte:</b>
                            <i> {{ perfil.rutaSoporte }} </i>
                          </p>
                      </mat-card-content>
                  </mat-card>

              </mat-expansion-panel>
          </mat-accordion>

      </mat-expansion-panel>
  </mat-accordion>

</section>