<section class="container">
    <div class="text-right">
        <a routerLink="/home" mat-button color="primary" class="btn-regresar">
            <img src="assets/img/icon/regresar.svg" alt="Regresar">
        </a>
    </div>
    <div class="text-center">
        <h1 class="title-menu--h1">
            Verificar solicitudes de pago
        </h1>
        <button mat-mini-fab color="primary" class="btn-info" (click)="verAyuda = !verAyuda">?</button>

        <div class="text-info" *ngIf="verAyuda">
            <button mat-icon-button (click)="verAyuda = false" class="text-info--close">
                <img src="assets/img/icon/cerrar-gris.svg" alt="cerrar ayuda">
            </button>
            Bienvenida/o, aquí podrá realizar la revisión de las solicitudes de pago para los contratos suscritos asignados a usted, que cuentan
            con acta de inicio aprobada, y para los conceptos especiales de Expensas u Otros costos/servicios, que han sido verificados previamente por el
            equipo de facturación y que son ejecutados en el marco de la gestión del FFIE.
        </div>
    </div>

    <div class="busqueda mt-2em">
        <mat-form-field appearance="outline" class="busqueda--input">
            <mat-label>Buscador / Filtro</mat-label>
            <input matInput #filtro (keyup)="applyFilter($event)">
        </mat-form-field>
        <button mat-button color="primary" class="busqueda--img" (click)="filtro.focus()">
            <img src="assets/img/icon/lupa.svg" alt="Buscar">
        </button>
    </div>

    <div class="table-responsive">
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
            <ng-container matColumnDef="fechaSolicitud">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de solicitud </th>
                <td mat-cell *matCellDef="let element" align="center"> <b>{{ element.fechaCreacion }}</b> </td>
            </ng-container>
            <ng-container matColumnDef="numeroSolicitud">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Número de solicitud </th>
                <td mat-cell *matCellDef="let element" align="center"> {{ element.numeroSolicitud }} </td>
            </ng-container>
            <ng-container matColumnDef="modalidadContrato">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Modalidad del contrato </th>
                <td mat-cell *matCellDef="let element" align="center"> {{ element.modalidadNombre }} </td>
            </ng-container>
            <ng-container matColumnDef="numeroContrato">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Número del contrato </th>
                <td mat-cell *matCellDef="let element" align="center"> {{ element.numeroContrato }} </td>
            </ng-container>
            <ng-container matColumnDef="estadoAprobacion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado de la verificación </th>
                <td mat-cell *matCellDef="let element" align="center"> {{ element.estadoCodigo === listaEstadoSolicitudPago.enviadaParaVerificacion ? element.estadoNombre2 : element.estadoNombre }} </td>
            </ng-container>
            <ng-container matColumnDef="gestion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Gestión </th>
                <td mat-cell *matCellDef="let element" align="center">
                    <ng-container *ngIf="element.tipoSolicitudCodigo !== tipoSolicitud.expensas; else esExpensas">

                        <button mat-raised-button
                                color="accent"
                                class="btn-table"
                                [routerLink]="[ 'aprobacionSolicitud', element.contratoId, element.solicitudPagoId ]"
                                *ngIf="element.estadoCodigo === listaEstadoSolicitudPago.enviadaParaVerificacion">
                                Verificar solicitud
                        </button>

                        <button mat-raised-button
                                color="accent"
                                class="btn-table"
                                [routerLink]="[ 'aprobacionSolicitud', element.contratoId, element.solicitudPagoId ]"
                                *ngIf="element.estadoCodigo === listaEstadoSolicitudPago.enProcesoVerificacion">
                                Ver detalle/Editar
                        </button>

                        <button mat-raised-button
                                color="accent"
                                class="btn-table"
                                *ngIf="element.estadoCodigo === listaEstadoSolicitudPago.enProcesoVerificacion && element.registroCompletoVerificar === true && element.tieneObservacion === false"
                                (click)="getAutorizarSolicitudPago( element.solicitudPagoId )">
                                Enviar para autorizar solicitud
                        </button>

                        <button mat-raised-button
                                color="accent"
                                class="btn-table"
                                *ngIf="element.estadoCodigo === listaEstadoSolicitudPago.enProcesoVerificacion && element.registroCompletoVerificar === true && element.tieneObservacion === true"
                                (click)="changueStatusSolicitudPago( element.solicitudPagoId )">
                                Devolver solicitud
                        </button>

                        <button mat-raised-button
                                color="accent"
                                class="btn-table"
                                [routerLink]="[ 'verDetalleAprobarSolicitud', element.contratoId, element.solicitudPagoId ]"
                                *ngIf=" element.estadoCodigo === listaEstadoSolicitudPago.enviadaAutorizacion
                                        || element.estadoCodigo === this.listaEstadoSolicitudPago.enProcesoAutorizacion
                                        || element.estadoCodigo === this.listaEstadoSolicitudPago.enviadaVerificacionFinanciera">
                                Ver detalle
                        </button>

                    </ng-container>
                    <ng-template #esExpensas>

                        <button mat-raised-button
                                color="accent"
                                class="btn-table"
                                [routerLink]="[ 'observacionExpensas', element.solicitudPagoId ]"
                                *ngIf="element.estadoCodigo === listaEstadoSolicitudPago.enviadaParaVerificacion">
                                Verificar solicitud
                        </button>

                        <button mat-raised-button
                                color="accent"
                                class="btn-table"
                                [routerLink]="[ 'observacionExpensas', element.solicitudPagoId ]"
                                *ngIf="element.estadoCodigo === listaEstadoSolicitudPago.enProcesoVerificacion">
                                Ver detalle/Editar
                        </button>

                        <button mat-raised-button
                                color="accent"
                                class="btn-table"
                                *ngIf="element.estadoCodigo === listaEstadoSolicitudPago.enProcesoVerificacion && element.registroCompletoVerificar === true && element.tieneObservacion === false"
                                (click)="getAutorizarSolicitudPago( element.solicitudPagoId )">
                                Enviar para autorizar solicitud
                        </button>

                        <button mat-raised-button
                                color="accent"
                                class="btn-table"
                                *ngIf="element.estadoCodigo === listaEstadoSolicitudPago.enProcesoVerificacion && element.registroCompletoVerificar === true && element.tieneObservacion === true"
                                (click)="changueStatusSolicitudPago( element.solicitudPagoId )">
                                Devolver solicitud
                        </button>

                        <button mat-raised-button
                                color="accent"
                                class="btn-table"
                                [routerLink]="[ 'verDetalleExpensas', element.solicitudPagoId ]"
                                *ngIf=" element.estadoCodigo === listaEstadoSolicitudPago.enviadaAutorizacion
                                        || element.estadoCodigo === this.listaEstadoSolicitudPago.enProcesoAutorizacion
                                        || element.estadoCodigo === this.listaEstadoSolicitudPago.enviadaVerificacionFinanciera">
                                Ver detalle
                        </button>

                    </ng-template>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
</section>
