<section class="container">
    <div class="text-right">
        <a routerLink="/home" mat-button color="primary" class="btn-regresar">
            <img src="assets/img/icon/regresar.svg" alt="Regresar">
        </a>
    </div>
    <div class="text-center">
        <h1 class="title-menu--h1">
            Aprobar solicitudes de pago
        </h1>
        <button mat-mini-fab color="primary" class="btn-info" (click)="verAyuda = !verAyuda">?</button>

        <div class="text-info" *ngIf="verAyuda">
            <button mat-icon-button (click)="verAyuda = false" class="text-info--close">
                <img src="assets/img/icon/cerrar-gris.svg" alt="cerrar ayuda">
            </button>
            Bienvenida/o, aquí podrá realizar la revisión y aprobación de las solicitudes de pago para los contratos suscritos asignados a usted, que cuentan
            con acta de inicio aprobada, y para los conceptos especiales de Expensas u Otros costos/servicios, que han sido verificados previamente por el
            equipo de facturación y que son ejecutados en el marco de la gestión del FFIE.
        </div>
    </div>
    <div class="table-responsive">
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
            <ng-container matColumnDef="fechaSolicitud">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de solicitud </th>
                <td mat-cell *matCellDef="let element" align="center"> <b>{{ element.fechaSolicitud }}</b> </td>
            </ng-container>
            <ng-container matColumnDef="numeroSolicitud">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Número de solicitud </th>
                <td mat-cell *matCellDef="let element" align="center"> {{ element.numeroSolicitud }} </td>
            </ng-container>
            <ng-container matColumnDef="modalidadContrato">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Modalidad del contrato </th>
                <td mat-cell *matCellDef="let element" align="center"> {{ element.modalidadContrato }} </td>
            </ng-container>
            <ng-container matColumnDef="numeroContrato">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Número del contrato </th>
                <td mat-cell *matCellDef="let element" align="center"> {{ element.numeroContrato }} </td>
            </ng-container>
            <ng-container matColumnDef="estadoAprobacion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado de la aprobación </th>
                <td mat-cell *matCellDef="let element" align="center"> {{ element.estadoAprobacion }} </td>
            </ng-container>
            <ng-container matColumnDef="gestion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Gestión </th>
                <td mat-cell *matCellDef="let element" align="center"> 
                    <button mat-raised-button color="accent" class="btn-table">
                        Aprobar solicitud
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
</section>
