<br>
<div class="busqueda">
  <mat-form-field appearance="outline" class="busqueda--input">
      <mat-label>Buscador / Filtro</mat-label>
      <input matInput #filtro (keyup)="applyFilter($event)">
  </mat-form-field>
  <button mat-button color="primary" class="busqueda--img" (click)="filtro.focus()">
      <img src="assets/img/icon/lupa.svg" alt="Buscar">
  </button>
</div>

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

  <ng-container *ngFor="let columna of columnas" matColumnDef="{{columna.name}}">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{columna.titulo}} </th>
      <td mat-cell *matCellDef="let element"> {{element[columna.name]}} </td>
  </ng-container>
  <ng-container matColumnDef="gestion">
    <th mat-header-cell  *matHeaderCellDef style="text-align: center;"> Gestión </th>
    <td mat-cell *matCellDef="let gestion" >
        <button mat-raised-button color="accent" class="btn-table m05_important" type="button" (click)="ver(gestion)">Ver detalle /<br>Editar</button>
        <button mat-raised-button color="accent" class="btn-table m05_important" type="button" (click)="eliminar(gestion)">Eliminar</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
