<section *ngIf="solicitudPagoCargarFormaPago !== undefined">
    <mat-card class="shipping-card var-main-gris">
        <mat-card-header class="header-card header-card--margin">
            <mat-card-title class="header-card--text textoGris">
                Forma de pago
            </mat-card-title>
        </mat-card-header>
        <mat-card-content style="text-align: left;">
            <mat-card-title class="header-card--text alineacion-titulos2" style="padding-left: 0px;" *ngIf="solicitudPagoCargarFormaPago.fasePreConstruccionFormaPagoCodigo !== undefined">
                Fase 1 - Preconstrucción
            </mat-card-title>
            <p *ngIf="solicitudPagoCargarFormaPago.fasePreConstruccionFormaPagoCodigo !== undefined"><strong>Forma de pago:</strong> {{ getFormaPago( solicitudPagoCargarFormaPago.fasePreConstruccionFormaPagoCodigo ) }} </p>
            <mat-card-title class="header-card--text alineacion-titulos2 mt-1em"
                style="padding-left: 0px; margin-top: 1em;" *ngIf="solicitudPagoCargarFormaPago.faseConstruccionFormaPagoCodigo !== undefined">
                Fase 2 - Construcción
            </mat-card-title>
            <p *ngIf="solicitudPagoCargarFormaPago.faseConstruccionFormaPagoCodigo !== undefined"><strong>Forma de pago:</strong> {{ getFormaPago( solicitudPagoCargarFormaPago.faseConstruccionFormaPagoCodigo ) }} </p>
        </mat-card-content>
    </mat-card>

    <!--
    <mat-card class="shipping-card">
        <mat-card-content style="text-align: left;">
            <div class="d-flex justify-content-center align-items-center mt-1em" >
                <img src="./assets/img/icon/sim.svg" class="img-size">
                <p>La forma de pago seleccionada al momento de registrar la solicitud no puede ser modificada, en caso de presentarse inconsistencias devolver y hacer la eliminación en el modulo de registro.</p>
            </div>
        </mat-card-content>
    </mat-card>
    -->
</section>