<section class="container text-center">
    <div class="text-right">
        <a routerLink="/gestionarProcesoDefensaJudicial" mat-button color="primary" class="btn-regresar">
            <img src="assets/img/icon/regresar.svg" alt="Regresar">
        </a>
    </div>
    <h1 class="title-menu--h1">
        Actualizar proceso DJ0012020
    </h1>
    <p class="info-sub-title">
        <span>Fecha de registro del proceso: <b>19/06/2020</b></span>
        <span>Legitimación: <b>Activa</b></span>
    </p>
</section>
<section class="container">
    <mat-card class="shipping-card var-main-gris">
        <mat-card-content>
            <p> <strong>Número de contrato:</strong> C223456789 </p>
            <p> <strong>Nombre de la entidad contratista:</strong> Constructora Colpatria SAS </p>
            <p> <strong>Departamento donde se inició el proceso:</strong> Atlántico </p>
            <p> <strong>Municipio donde se inició el proceso:</strong> Soledad </p>
            <p> <strong>Tipo de acción:</strong> Reparación directa </p>
            <p> <strong>Jurisdicción:</strong> Ordinaria </p>
            <h2 class="card-subTitle">Instituciones Educativas asociadas al proceso</h2>
            <p class="mb1-em" style="font-size: 1.2em;"><b>Aportante </b></p>
        </mat-card-content>
    </mat-card>
</section>