<section class="text-center" *ngIf="esVerDetalle === false && seguimientoSemanal !== undefined">
    <mat-accordion>
        <mat-expansion-panel class="expansion-style sub-expansion">
            <mat-expansion-panel-header class="expansion-style--header">
                <mat-panel-title class="expansion-style--title" [ngClass]="semaforoReporte">
                    Resumen general del estado del contrato
                </mat-panel-title>
            </mat-expansion-panel-header>
            <form autocomplete="off" [formGroup]="formResumenGeneral" (ngSubmit)="guardar()">
                <div class="d-flex mt-2em align-items-center animatedDown" align="left">
                    <div class="text-area-quill"
                    [class.color-secondaryColor]="formResumenGeneral.get('resumenEstadoContrato').invalid && formResumenGeneral.get('resumenEstadoContrato').touched || formResumenGeneral.get('resumenEstadoContrato').invalid">
                        <label  class="text-area-quill--label align-left-label"
                                [class.colorMainColor]="!(formResumenGeneral.get('resumenEstadoContrato').invalid && formResumenGeneral.get('resumenEstadoContrato').touched || formResumenGeneral.get('resumenEstadoContrato').invalid)">
                                Resumen general del estado del contrato
                        </label>
                        <quill-editor   class="quill-editor-style ml-1em"
                                        [styles]="editorStyle"
                                        [modules]="config"
                                        (onContentChanged)="maxLength($event, 2000)"
                                        formControlName="resumenEstadoContrato"
                                        #obsResumenGeneral
                                        required>
                        </quill-editor>
                    </div>
                    <span class="contador miles" *ngIf="formResumenGeneral.get('resumenEstadoContrato').value !== null">
                      {{2000 - textoLimpio( obsResumenGeneral.quillEditor, 2000 )}}
                    </span>
                    <span class="contador miles" *ngIf="formResumenGeneral.get('resumenEstadoContrato').value === null">
                      2000
                    </span>
                    <span class="icon-incompleto">
                        <img
                          class="icon-incompleto--img"
                          src="assets/img/icon/incompleto.svg"
                          alt="este campo es requerido"
                          [matTooltipPosition]="'above'"
                          matTooltip="Debe ingresar la información en el campo para continuar"
                          matTooltipClass="info-tooltip"
                          *ngIf="( formResumenGeneral.get('resumenEstadoContrato').invalid && formResumenGeneral.get('resumenEstadoContrato').touched ) || ( formResumenGeneral.get('resumenEstadoContrato').invalid )"
                        />
                      </span>
                </div>
                <div class="text-center" style="margin-top: 2em;">
                    <button mat-button
                            color="warn"
                            class="btn-guardar"
                            type="submit"
                            [disabled]="formResumenGeneral.get( 'resumenEstadoContrato' ).dirty === false">
                            <img  src="assets/img/icon/guardar.svg">
                    </button>
                </div>
            </form>

            <section class="text-center table-responsive size-table" style="margin-top: 2em;" *ngIf="dataHistorial.length > 0 && esVerDetalle === false">
                <table mat-table [dataSource]="tablaHistorial" matSort>
              
                    <ng-container matColumnDef="fechaRevision">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header class="back-color"> Fecha de revisión </th>
                      <td mat-cell *matCellDef="let element" align="center" class="color-text"> <b>{{ element.fechaCreacion | date: 'dd/MM/yyyy' }}</b> </td>
                    </ng-container>
              
                    <ng-container matColumnDef="responsable">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="back-color w-20"> Responsable de la observación </th>
                        <td mat-cell *matCellDef="let element" align="center" class="color-text">
                            <ng-container *ngIf="element.esSupervisor === true; else noEsSupervisor">
                                <p>Supervisor</p>
                            </ng-container>
                            <ng-template #noEsSupervisor>
                                <p>Apoyo a la supervisión</p>
                            </ng-template>
                        </td>
                    </ng-container>
              
                    <ng-container matColumnDef="historial">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header class="back-color"> Historial de observaciones </th>
                      <td mat-cell *matCellDef="let element" align="center" class="color-text">
                          <section [innerHTML]="element.observacion"></section>
                      </td>
                    </ng-container>
                
                  <tr mat-header-row *matHeaderRowDef="displayedColumnsHistorial"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumnsHistorial;"></tr>
                </table>
            </section>

        </mat-expansion-panel>

        <mat-expansion-panel class="expansion-style sub-expansion">
            <mat-expansion-panel-header class="expansion-style--header">
                <mat-panel-title class="expansion-style--title" [ngClass]="semaforoActividad">
                    Actividades realizadas
                </mat-panel-title>
            </mat-expansion-panel-header>

            <app-form-reporte-actividades-realizadas [seguimientoSemanal]="seguimientoSemanal" [tipoReporteActividad]="tipoReporteActividad" [seguimientoSemanalReporteActividadId]="seguimientoSemanalReporteActividadId" [esSiguienteSemana]="false" [reporteActividad]="reporteActividad" (reporteDeActividades)="guardar( $event )"></app-form-reporte-actividades-realizadas>
        </mat-expansion-panel>

        <mat-expansion-panel class="expansion-style sub-expansion">
            <mat-expansion-panel-header class="expansion-style--header">
                <mat-panel-title class="expansion-style--title" [ngClass]="semaforoActividadSiguiente">
                    Actividades a realizar la siguiente semana
                </mat-panel-title>
            </mat-expansion-panel-header>

            <app-form-reporte-actividades-realizadas [seguimientoSemanal]="seguimientoSemanal" [tipoReporteActividad]="tipoReporteActividad" [seguimientoSemanalReporteActividadId]="seguimientoSemanalReporteActividadId" [esSiguienteSemana]="true" [reporteActividad]="reporteActividad" (reporteDeActividades)="guardar( $event )"></app-form-reporte-actividades-realizadas>
        </mat-expansion-panel>
    </mat-accordion>
</section>

<!-- Ver detalle -->
<section class="text-center" *ngIf="esVerDetalle === true && reporteActividad !== undefined">
    <mat-accordion>
        <mat-expansion-panel class="expansion-style sub-expansion">
            <mat-expansion-panel-header class="expansion-style--header">
                <mat-panel-title class="expansion-style--title">
                    Resumen general del estado del contrato
                </mat-panel-title>
            </mat-expansion-panel-header>

            <div align="left">
                <mat-card class="border">
                    <mat-card-header class="header-card">
                        <mat-card-title class="header-card--text text-color">
                            Resumen general del estado del contrato
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="mt-1em">
                        <section [innerHTML]="reporteActividad.resumenEstadoContrato" style="margin-left: 2em;"></section>
                    </mat-card-content>
                </mat-card>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel class="expansion-style sub-expansion">
            <mat-expansion-panel-header class="expansion-style--header">
                <mat-panel-title class="expansion-style--title">
                    Actividades realizadas
                </mat-panel-title>
            </mat-expansion-panel-header>

            <app-form-reporte-actividades-realizadas [seguimientoSemanal]="seguimientoSemanal" [tipoReporteActividad]="tipoReporteActividad" [seguimientoSemanalReporteActividadId]="seguimientoSemanalReporteActividadId" [esSiguienteSemana]="false" [reporteActividad]="reporteActividad" [esVerDetalle]="true"></app-form-reporte-actividades-realizadas>
        </mat-expansion-panel>

        <mat-expansion-panel class="expansion-style sub-expansion">
            <mat-expansion-panel-header class="expansion-style--header">
                <mat-panel-title class="expansion-style--title">
                    Actividades a realizar la siguiente semana
                </mat-panel-title>
            </mat-expansion-panel-header>

            <app-form-reporte-actividades-realizadas [seguimientoSemanal]="seguimientoSemanal" [tipoReporteActividad]="tipoReporteActividad" [seguimientoSemanalReporteActividadId]="seguimientoSemanalReporteActividadId" [esSiguienteSemana]="true" [reporteActividad]="reporteActividad" [esVerDetalle]="true"></app-form-reporte-actividades-realizadas>
        </mat-expansion-panel>
    </mat-accordion>
</section>