<section class="text-center" *ngIf="esVerDetalle === false && seguimientoSemanal !== undefined">
    <form autocomplete="off" [formGroup]="formAlertasRelevantes" (ngSubmit)="guardar()">
        <div align="left">
            <mat-card>
                <mat-card-content>
                    <div class="row">
                        <div class="col-md-12">
                          <div class="row">
                            <div class="pr-1">
                                <label  class="label-left"
                                        style="margin-top: 1.5em;"
                                        [class.color-secondaryColor]="( formAlertasRelevantes.get('seIdentificaronAlertas').invalid && formAlertasRelevantes.get('seIdentificaronAlertas').touched) || ( formAlertasRelevantes.get('seIdentificaronAlertas').invalid && esRegistroNuevo === false )">
                                        ¿Se identificaron alertas relevantes en desarrollo de la obra?
                                </label>
                            </div>
                            <div class="col d-flex">
                                <section style="width: 95%;">
                                    <mat-form-field appearance="fill">
                                      <mat-select class="padding-left" formControlName="seIdentificaronAlertas" required>
                                        <mat-option *ngFor="let requisito of booleanosEnsayosLaboratorio" [value]="requisito.value">
                                          {{requisito.viewValue}}
                                        </mat-option>
                                      </mat-select>
                                    </mat-form-field>
                                  </section>
                            </div>
                            <span class="icon-incompleto" style="margin-top: .5em;">
                                <img  class="icon-incompleto--img"
                                      src="assets/img/icon/incompleto.svg"
                                      alt="este campo es requerido"
                                      [matTooltipPosition]="'above'"
                                      matTooltip="Debe ingresar la información en el campo para continuar"
                                      matTooltipClass="info-tooltip"
                                      *ngIf="( formAlertasRelevantes.get('seIdentificaronAlertas').invalid && formAlertasRelevantes.get('seIdentificaronAlertas').touched) || ( formAlertasRelevantes.get('seIdentificaronAlertas').invalid && esRegistroNuevo === false )">
                            </span>
                          </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 1em;" *ngIf="formAlertasRelevantes.get( 'seIdentificaronAlertas' ).value === true">
                        <div class="col-md-12">
                          <div>
                            <div class="pr-1">
                                <label  class="label-left"
                                        [class.color-secondaryColor]="( formAlertasRelevantes.get('alerta').invalid && formAlertasRelevantes.get('alerta').touched) || ( formAlertasRelevantes.get('alerta').invalid && esRegistroNuevo === false )">
                                        Alertas relevantes identificadas
                                </label>
                            </div>
                            <div class="col d-flex">
                                <quill-editor   class="quill-editor-style card position-relative"
                                                [styles]="editorStyle"
                                                [modules]="config"
                                                style="width: 100%;"
                                                (onContentChanged)="maxLength($event, 2000)"
                                                formControlName="alerta"
                                                #obsAlertasRelevantes
                                                required>
                                </quill-editor>
                                <span class="contador miles" *ngIf="formAlertasRelevantes.get('alerta').value !== null" style="margin-top: 3.5em;">
                                    {{2000 - textoLimpio( obsAlertasRelevantes.quillEditor, 2000 )}}
                                </span>
                                <span class="contador miles" *ngIf="formAlertasRelevantes.get('alerta').value === null" style="margin-top: 3.5em;">
                                    2000
                                </span>
                                <span class="icon-incompleto" style="margin-top: 3.6em;">
                                    <img  class="icon-incompleto--img"
                                          src="assets/img/icon/incompleto.svg"
                                          alt="este campo es requerido"
                                          [matTooltipPosition]="'above'"
                                          matTooltip="Debe ingresar la información en el campo para continuar"
                                          matTooltipClass="info-tooltip"
                                          *ngIf="( formAlertasRelevantes.get('alerta').invalid && formAlertasRelevantes.get('alerta').touched) || ( formAlertasRelevantes.get('alerta').invalid && esRegistroNuevo === false )">
                                </span>
                            </div>
                          </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="text-center" style="margin-top: 2em;">
            <button mat-button
                    color="warn"
                    class="btn-guardar"
                    type="submit"
                    [disabled]="formAlertasRelevantes.dirty === false">
                    <img  src="assets/img/icon/guardar.svg">
            </button>
        </div>
    </form>
</section>

<!-- Ver detalle -->
<section class="text-center" *ngIf="esVerDetalle === true && seguimientoSemanal !== undefined">
  <div align="left">
    <mat-card class="border">
        <mat-card-content class="mt-1em">
          <p *ngIf="gestionAlertas.seIdentificaronAlertas === true"><b>¿Se identificaron alertas relevantes en desarrollo de la obra?</b>: Si </p>
          <p *ngIf="gestionAlertas.seIdentificaronAlertas === false"><b>¿Se identificaron alertas relevantes en desarrollo de la obra?</b>: No </p>
          <section *ngIf="gestionAlertas.seIdentificaronAlertas === true">
            <p><b>Alertas relevantes identificadas</b></p>
            <div [innerHTML]="gestionAlertas.alerta"></div>
          </section>
        </mat-card-content>
    </mat-card>
  </div>
</section>

<section class="text-center table-responsive size-table" style="margin-top: 2em;" *ngIf="dataHistorial.length > 0 && esVerDetalle === false">
  <table mat-table [dataSource]="tablaHistorial" matSort>

      <ng-container matColumnDef="fechaRevision">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="back-color"> Fecha de revisión </th>
        <td mat-cell *matCellDef="let element" align="center" class="color-text"> <b>{{ element.fechaCreacion | date: 'dd/MM/yyyy' }}</b> </td>
      </ng-container>

      <ng-container matColumnDef="responsable">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="back-color w-20"> Responsable de la observación </th>
          <td mat-cell *matCellDef="let element" align="center" class="color-text">
              <ng-container *ngIf="element.esSupervisor === true; else noEsSupervisor">
                  <p>Supervisor</p>
              </ng-container>
              <ng-template #noEsSupervisor>
                  <p>Apoyo a la supervisión</p>
              </ng-template>
          </td>
      </ng-container>

      <ng-container matColumnDef="historial">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="back-color"> Historial de observaciones </th>
        <td mat-cell *matCellDef="let element" align="center" class="color-text">
            <section [innerHTML]="element.observacion"></section>
        </td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumnsHistorial"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsHistorial;"></tr>
  </table>
</section>