<!--<div class="d-flex justify-content-center" *ngIf="montoMaximoPendiente !== undefined">
    <div>
      <p> <b> Monto pendiente por facturar: </b> {{ montoMaximoPendiente.montoMaximo | currency: '': 'symbol-narrow':'.0-0' }} </p>
    </div>
</div>-->

<div class="d-flex justify-content-center" *ngIf="criteriosSeleccionadosArray.length > 0">
    <strong>Criterios de pago:</strong>
    <p *ngFor="let criterio of criteriosSeleccionadosArray; index as i" style="margin-left: .4em;">
        <span *ngIf="criterio">
          {{ criterio.nombre }}<span *ngIf="criteriosSeleccionadosArray.length - 1 !== i">,</span><span *ngIf="criteriosSeleccionadosArray.length - 1 === i">.</span>
        </span>
    </p>
  </div>
  <form [formGroup]="addressForm">
    <div formArrayName="criterios">
        <div *ngFor="let criterio of criterios.controls; index as j" [formGroup]="criterio">
            <mat-card class="shipping-card var-main-gris" style="margin-top: 3em;">
                <mat-card-header class="header-card header-card--margin">
                    <mat-card-title class="header-card--text textoGris">
                        {{ criterio.get( 'nombreCriterio' ).value }}
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content style="text-align: left;">
                    <p><strong>Tipo de pago:</strong> {{ criterio.get( 'tipoPago' ).value.nombre }} </p>
                    <div *ngFor="let concepto of getConceptos( j ).controls">
                        <p style="margin-top: 1em;"><b> {{ concepto.get( 'conceptoPagoCriterioNombre' ).value }} </b></p>
                        <p><b>Uso para el concepto de pago: </b> {{ getUsosParaElConceoto(concepto.get( 'usoCodigo' ).value) }} </p>
                        <p><b>Valor facturado al concepto:</b> ${{ concepto.get( 'valorFacturadoConcepto' ).value | currency:' ':'symbol-narrow':'.0-0' }} </p>
                    </div>
                    <p><strong>Valor total de los conceptos:</strong> ${{ criterio.get( 'valorFacturado' ).value | currency:' ':'symbol-narrow':'.0-0' }} </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</form>
