<section class="container text-center">
    <div class="text-right">
        <a routerLink="/generarDisponibilidadPresupuestal" mat-button color="primary" class="btn-regresar">
            <img src="assets/img/icon/regresar.svg" alt="Regresar">
        </a>
    </div>
    <h1 class="title-menu--h1">
        Ver detalle solicitud PI_003
    </h1>
    <p class="info-sub-title">
        <span>Fecha de la solicitud: <b>29/06/2020</b></span>
        <span><b>Contratación</b></span>
        <span>Estado: <b>Devuelta por coordinación financiera</b></span>
    </p>

</section>
<section class="container">
    <mat-card class="shipping-card var-main-gris">
        <mat-card-content>
            <p>
                <strong>Rubro por financiar:</strong>
                Proyecto de infraestructura
            </p>
            <p>
                <strong>Valor de la solicitud:</strong>
                $ 400.000.000
            </p>
            <p>
                <strong>Plazo:</strong>
                30 meses / 10 días
            </p>
            <p>
                <strong>Objeto:</strong>
            </p>
            <p>
                Contrato de obra que compromete el diagnóstico y/o actualización y/o complementación y/o elaboración de
                estudios y diseños y ejecución de las obras necesarias para la adecuación y mejoramiento de las
                instituciones rurales.
            </p>
            <p>
                <strong>Número de comité técnico:</strong>
                CT_003
            </p>
            <p>
                <strong>Fecha comité técnico:</strong>
                03/07/2020
            </p>

        </mat-card-content>
    </mat-card>

    <mat-accordion>
        <mat-expansion-panel class="expansion-style">
            <mat-expansion-panel-header class="expansion-style--header">
                <mat-panel-title class="expansion-style--title">
                    LJ776554 - I.E. María Villa Campo - Única sede
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-card class="shipping-card sub-card var-main-gris">
                <mat-card-content>
                    <p>
                        <strong>Tipo de intervención:</strong>
                        Remodelación
                    </p>
                    <p>
                        <strong>Departamento:</strong>
                        Valle del Cauca
                    </p>
                    <p>
                        <strong>Municipio:</strong>
                        Jamundí
                    </p>
                    <p>
                        <strong>Valor total del proyecto:</strong>
                        $ 400.000.000
                    </p>

                </mat-card-content>
            </mat-card>
        </mat-expansion-panel>
    </mat-accordion>

    <mat-card class="shipping-card var-main-gris">
        <mat-card-header class="header-card">
            <mat-card-title class="header-card--text">
                Observaciones
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>
                No existen valores registrados en la fuente Gobernación del Valle del Cauca del recurso.
            </p>

        </mat-card-content>
    </mat-card>
</section>