<form autocomplete="off" [formGroup]="formContratista" (ngSubmit)="guardar()">
    <div class="d-flex mt-1em col-md-6" style="margin: 0 auto;">
        <label class="mr-label" class="label-left"
        [ngClass]="{
            'color-secondaryColor':
              (formContratista.get('numeroContratos').invalid && formContratista.get('numeroContratos').touched) ||
              (formContratista.get('numeroContratos').invalid && estaEditando)
          }"><b>Número de demandados</b></label>
        <div class="col d-flex">
            <mat-form-field class="w-70">
                <input matInput type="text" maxlength="2" formControlName="numeroContratos" required>
            </mat-form-field>
            <span class="contador">{{2 - formContratista.get( 'numeroContratos' ).value?.toString().length}}</span>
        </div>
        <span class="icon-incompleto">
            <img
              class="icon-incompleto--img"
              src="assets/img/icon/incompleto.svg"
              alt="este campo es requerido"
              [matTooltipPosition]="'above'"
              matTooltip="Debe ingresar la información en el campo para continuar"
              matTooltipClass="info-tooltip"
              *ngIf="
                (formContratista.get('numeroContratos').invalid && formContratista.get('numeroContratos').touched) ||
                (formContratista.get('numeroContratos').invalid && estaEditando)
              "
            />
        </span>
    </div>

    <mat-accordion formArrayName="perfiles" *ngIf="formContratista.get( 'numeroContratos' ).value !== null">
        <mat-expansion-panel class="expansion-style sub-expansion" *ngFor="let perfil of perfiles.controls; index as i" [formGroup]="perfil">
            <mat-expansion-panel-header class="expansion-style--header">
                <mat-panel-title class="expansion-style--title 
                {{ perfil.get('registroCompleto').value == null || (!perfil.get('registroCompleto').value && (nomConvocado.value=='' || nomConvocado.value==null)
                && (nomConvocado.tipoIdentificacion =='' || nomConvocado.tipoIdentificacion==null) && (nomConvocado.numIdentificacion==''|| nomConvocado.numIdentificacion==null))? 
                'sin-diligenciar' : !perfil.get('registroCompleto').value ? 
                        'en-proceso' : 'completo' }}">
                        Demandado {{ i+1 }}
                </mat-panel-title>
            </mat-expansion-panel-header>

            <mat-card>
                <mat-card-content>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="pr-1">
                                    <label for="nomConvocado" class="label-left"  
                                    [ngClass]="{
                                        'color-secondaryColor':
                                          (perfil.get('nomConvocado').invalid && perfil.get('nomConvocado').touched) ||
                                          (perfil.get('nomConvocado').invalid && estaEditando)
                                      }">Nombre del demandado</label>
                                </div>
                                <div class="col d-flex">
                                    <mat-form-field class="full-width">
                                        <input matInput #nomConvocado type="text" maxlength="100"
                                            formControlName="nomConvocado" required>
                                    </mat-form-field>
                                    <span class="contador">{{100 - nomConvocado.value.length}}</span>
                                </div>
                                <span class="icon-incompleto">
                                    <img
                                      class="icon-incompleto--img"
                                      src="assets/img/icon/incompleto.svg"
                                      alt="este campo es requerido"
                                      [matTooltipPosition]="'above'"
                                      matTooltip="Debe ingresar la información en el campo para continuar"
                                      matTooltipClass="info-tooltip"
                                      *ngIf="
                                      (perfil.get('nomConvocado').invalid && perfil.get('nomConvocado').touched) ||
                                      (perfil.get('nomConvocado').invalid && estaEditando)
                                      "
                                    />
                                  </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="pr-1">
                                    <label class="label-left" for="tipoIdentificacion"
                                    [ngClass]="{
                                        'color-secondaryColor':
                                          (perfil.get('tipoIdentificacion').invalid && perfil.get('tipoIdentificacion').touched) ||
                                          (perfil.get('tipoIdentificacion').invalid && estaEditando)
                                      }">Tipo de identificación del demandado</label>
                                </div>
                                <div class="col">
                                    <mat-form-field class="select-width">
                                        <mat-select formControlName="tipoIdentificacion" required>
                                            <mat-option *ngFor="let contr of tiposIdentificacionArray" [value]="contr.codigo">
                                                {{ contr.nombre }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <span class="icon-incompleto">
                                    <img
                                      class="icon-incompleto--img"
                                      src="assets/img/icon/incompleto.svg"
                                      alt="este campo es requerido"
                                      [matTooltipPosition]="'above'"
                                      matTooltip="Debe ingresar la información en el campo para continuar"
                                      matTooltipClass="info-tooltip"
                                      *ngIf="
                                      (perfil.get('tipoIdentificacion').invalid && perfil.get('tipoIdentificacion').touched) ||
                                      (perfil.get('tipoIdentificacion').invalid && estaEditando)
                                      "
                                    />
                                  </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="row">
                                <div class="pr-1">
                                    <label for="numIdentificacion" class="label-left"
                                    [ngClass]="{
                                        'color-secondaryColor':
                                          (perfil.get('numIdentificacion').invalid && perfil.get('numIdentificacion').touched) ||
                                          (perfil.get('numIdentificacion').invalid && estaEditando)
                                      }">Número de identificación demandado</label>
                                </div>
                                <div class="col d-flex">
                                    <mat-form-field class="full-width">
                                        <input matInput #numIdentificacion type="text" maxlength="9"
                                            formControlName="numIdentificacion" required>
                                    </mat-form-field>
                                    <span class="contador">{{9 - numIdentificacion.value.length}}</span>
                                </div>
                                <span class="icon-incompleto">
                                    <img
                                      class="icon-incompleto--img"
                                      src="assets/img/icon/incompleto.svg"
                                      alt="este campo es requerido"
                                      [matTooltipPosition]="'above'"
                                      matTooltip="Debe ingresar la información en el campo para continuar"
                                      matTooltipClass="info-tooltip"
                                      *ngIf="
                                      (perfil.get('numIdentificacion').invalid && perfil.get('numIdentificacion').touched) ||
                                      (perfil.get('numIdentificacion').invalid && estaEditando)
                                      "
                                    />
                                  </span>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
            <div class="text-right">
                <button mat-button color="warn" type="button" class="btn-eliminar" (click)="eliminarPerfil( i )"
                    [disabled]="perfiles.controls.length == 1">
                    <img src="assets/img/icon/menos.svg" alt="Eliminar vigencia">
                    Eliminar demandado
                </button>
            </div>

            <div class="text-center">
                <button mat-button color="warn" class="btn-guardar" type="button" (click)="guardar()">
                    <img src="assets/img/icon/guardar.svg">
                </button>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</form>