<mat-card
  class="shipping-card"
  *ngIf="indicadores != null && indicadores != undefined && indicadores?.informacion != null"
>
  <mat-card-header class="header-card header-card--margin">
    <mat-card-title class="header-card--text"> Ficha {{ indicadores?.informacion?.llaveMen }} </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      <strong> Contratista: </strong>
      {{ indicadores?.informacion?.contratista }}
    </p>
    <div class="navegacion">
      <a
        *ngIf="indicadores.tieneResumen"
        class="navegacion--button"
        [routerLink]="[ 'fichaContrato/resumen', indicadores?.informacion?.contratoId ]"
      >
        <img src="assets/img/icon/Menu-contratos/1-Resumen.svg" alt="Resumen" />
        Resumen
      </a>
      <a
        *ngIf="indicadores.tieneSeleccion"
        class="navegacion--button" routerLink="fichaContrato/seleccion"
      >
        <img src="assets/img/icon/Menu-contratos/2-Seleccion.svg" alt="Selección" />
        Selección
      </a>
      <a
        *ngIf="indicadores.tieneContratacion"
        class="navegacion--button" routerLink="fichaContrato/contratacion"
      >
        <img src="assets/img/icon/Menu-contratos/3-contratacion.svg" alt="Contratación" />
        Contratación
      </a>
      <a
        *ngIf="indicadores.tienePolizasSeguros"
        class="navegacion--button" routerLink="fichaContrato/polizasSeguros"
      >
        <img src="assets/img/icon/Menu-contratos/4-polizas-y-seguros.svg" alt="Pólizas y seguros" />
        Pólizas y seguros
      </a>
      <a
        *ngIf="indicadores.tieneEjecucionFinanciera"
        class="navegacion--button" routerLink="fichaContrato/ejecucionFinanciera"
      >
        <img src="assets/img/icon/Menu-contratos/5-Ejecucion-financiera.svg" alt="Ejecución financiera" />
        Ejecución financiera
      </a>
      <a
        *ngIf="indicadores.tieneNovedades"
        class="navegacion--button" routerLink="fichaContrato/novedades"
      >
        <img src="assets/img/icon/Menu-contratos/6-Novedades.svg" alt="Novedades" />
        Novedades
      </a>
      <a
        *ngIf="indicadores.tieneControversias"
        class="navegacion--button" routerLink="fichaContrato/controversias"
      >
        <img src="assets/img/icon/Menu-contratos/7-Controversias.svg" alt="Controversias" />
        Controversias
      </a>
      <a
        *ngIf="indicadores.tieneProcesosDefenzaJudicial"
        class="navegacion--button" routerLink="fichaContrato/procesosDefensaJudicial"
      >
        <img src="assets/img/icon/Menu-contratos/8-P-Defensa-judicial.svg" alt="Procesos de defensa judicial" />
        Procesos de defensa judicial
      </a>
      <a
        *ngIf="indicadores.tieneLiquidacion"
        class="navegacion--button" routerLink="fichaContrato/liquidacion"
      >
        <img src="assets/img/icon/Menu-contratos/9-Liquidacion.svg" alt="Liquidación" />
        Liquidación
      </a>
    </div>
  </mat-card-content>
</mat-card>
