<div class="container text-center">
    <div class="text-right">
        <a routerLink="/solicitar-disponibilidad-presupuestal/crear-solicitud-tradicional" mat-button color="primary"
            class="btn-regresar">
            <img src="assets/img/icon/regresar.svg" alt="Regresar">
        </a>
    </div>
    <h1 class="title-menu--h1">
        Registrar información adicional solucitud CO_001
    </h1>


    <mat-card class="shipping-card var-main-gris">
        <mat-card-content>
            <p><b>DDP:</b>DDP_PI_007</p>
            <p><b>Valor DDP:</b> $60.000.000</p>
            <p><b>Detalle de la modificación:</b></p>
            <p>Se realiza adición de recursos para obras complementarias</p>
        </mat-card-content>
    </mat-card>

    <mat-accordion>
        <mat-expansion-panel class="form-apropiacion">
            <mat-expansion-panel-header class="form-apropiacion--header">
                <mat-panel-title class="form-apropiacion--title">
                    LL987654 - I.E Juan Bosco - Sede Simón Bolivar
                </mat-panel-title>
            </mat-expansion-panel-header>

            <mat-card class="shipping-card var-main-gris">
                <mat-card-header class="header-card">
                    <mat-card-title class="header-card--text">
                      Información basica
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p><b>DDP:</b>DDP_PI_007</p>
                    <p><b>Valor DDP:</b> $60.000.000</p>
                    <p><b>Detalle de la modificación:</b></p>
                    <p>Se realiza adición de recursos para obras complementarias</p>
                </mat-card-content>
            </mat-card>

        </mat-expansion-panel>

    </mat-accordion>

</div>