<section class="container">
  <div class="container text-center">
    <div class="text-right">
      <a routerLink="../.." mat-button color="primary" class="btn-regresar">
        <img src="assets/img/icon/regresar.svg" alt="Regresar">
      </a>
    </div>
    <h1 class="title-menu--h1">
      Registrar revisión jurídica solicitud de novedad NOV-001
    </h1>
    <p class="info-sub-title">
      Número de contrato <b>C223456789</b>
    </p>
  </div>

  <mat-card class="shipping-card var-main-gris">
    <mat-card-content>
      <p>
        <strong>
          Fecha de solicitud:
        </strong>
        20/10/2020
      </p>
      <p>
        <strong>
          Fecha de aprobación del supervisor:
        </strong>
        23/10/2020
      </p>
      <p>
        <strong>
          Tipo de solicitud:
        </strong>
        Reinicio
      </p>
    </mat-card-content>
  </mat-card>

  <div class="mb-2em">
    <app-expansion-panel></app-expansion-panel>
  </div>
</section>
