<form [formGroup]="addressForm">
    <mat-card class="shipping-card var-main-gris" style="margin-top: 3em;">
        <mat-card-header class="header-card header-card--margin">
            <mat-card-title class="header-card--text textoGris">
                Descripción de la factura
            </mat-card-title>
        </mat-card-header>
        <mat-card-content style="text-align: left;">
            <p style="margin-bottom: 2em;" *ngIf="addressForm.get( 'esFactura' ).value === true"><strong>Tipo de documento:</strong> Si </p>
            <p style="margin-bottom: 2em;" *ngIf="addressForm.get( 'esFactura' ).value === false"><strong>Tipo de documento:</strong> No </p>
            <p style="margin-top: 2em;"><strong style="font-size: 16px;">Número de documento:</strong> {{ addressForm.get( 'numeroDocumento' ).value }} </p>
            <p style="margin-top: 2em;"><strong style="font-size: 16px;">Fecha de documento:</strong> {{ addressForm.get( 'fechaDocumento' ).value | date: 'dd/MM/yyyy' }} </p>
        </mat-card-content>
    </mat-card>
</form>