.mat-form-field{
    min-width: 228px !important;
}
.mtop{
    margin-top: 20px;
}
.centerTrick{
    display: table;
    margin: 0 auto;
}
.mainGris{
    border: 1px solid var(--fontColor) !important;
}
.textoGris{
    color: var(--fontColor) !important;
}