<button mat-button mat-dialog-close class="modal--btn-cerrar" [mat-dialog-close]="null">
  <img src="assets/img/icon/cerrar-blanco.svg" alt="cerrar">
</button>

<div class="text-center">
  <h1 class="title-menu--h1">
    Observaciones de la solicitud {{ data.numeroSolicitud }}
  </h1>

  <mat-card class="shipping-card w-80">
    <mat-card-header class="header-card">
      <mat-card-title class="text-area-quill--label" style="color: #174193;">Proyecto 8888</mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <section [innerHTML]="innerObservacion( data.observacion )" align="left" class="padding-section">
      </section>

    </mat-card-content>
  </mat-card>

</div>