.mat-form-field{
  min-width: 250px !important;
}
.mtop{
  margin-top: 20px;
}
.centerIng{
  display: table;
  margin: 0 auto;
}
.centerIng2{
  display: table;
  margin: 20px auto 0 auto;
}
.border-1 {
  border: solid 1px rgba(0,0,0,.54) !important;
}
.w-80 {
  width: 80%;
}
.w-85 {
  width: 85%;
}

.flex-editor {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.mb-2em {
  margin-bottom: 2em;
}

.mt-1em {
  margin-top: 1em;
}

.mt-2em {
  margin-top: 2em;
}

.btn-dialog {
  line-height: 1;
  display: block;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  min-width: 9em;
  display: inline-block;
}
.border {
  border: solid 1px rgba(0,0,0,.54) !important;
}
.grayTitle{
  color: var(--color-info) !important;
}
.alignLeft{
  text-align: left !important;
}

.mat-form-field-appearance-legacy .mat-form-field-underline{
height: 0px !important;
}
