<section class="container text-center">
    <div class="text-right">
        <a routerLink="/generarActaInicioConstruccion" mat-button color="primary" class="btn-regresar">
            <img src="assets/img/icon/regresar.svg" alt="Regresar">
        </a>
    </div>
    <h1 class="title-menu--h1">
        Ver detalle acta C326326 fase 2 - Construcción
    </h1>
    <p class="info-sub-title">
        <span>Fecha de aprobación de requesitos por el supervisor: <b>21/06/2020</b></span>
    </p>
</section>
