<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-content>
      <div class="row">
        <div class="col-md-10">
          <div class="row">
            <div class="pr-1">
              <label
                class="label-left"
                for="fechaRecorridoObra"
                [class.color-secondaryColor]="
                  (addressForm.get('fechaRecorridoObra').invalid && addressForm.get('fechaRecorridoObra').touched) ||
                  (addressForm.get('fechaRecorridoObra').invalid && estaEditando)
                "
              >
                Fecha del recorrido de obra
              </label>
            </div>
            <div class="col d-flex">
              <mat-form-field class="example-full-width">
                <input
                  matInput
                  [matDatepicker]="pickerRecorridoObra"
                  formControlName="fechaRecorridoObra"
                  readonly
                  (click)="pickerRecorridoObra.open()"
                  placeholder="DD/MM/AAAA"
                  required
                />
                <mat-datepicker #pickerRecorridoObra></mat-datepicker>
              </mat-form-field>
              <button
                mat-button
                color="primary"
                type="button"
                (click)="pickerRecorridoObra.open()"
                class="btn-calendario"
              >
                <img src="assets/img/icon/calendarioCirculo.svg" alt="Abrir Calendario" />
              </button>
              <span class="icon-incompleto">
                <img
                  class="icon-incompleto--img"
                  src="assets/img/icon/incompleto.svg"
                  alt="este campo es requerido"
                  [matTooltipPosition]="'above'"
                  matTooltip="Debe ingresar la información en el campo para continuar"
                  matTooltipClass="info-tooltip"
                  *ngIf="
                    (addressForm.get('fechaRecorridoObra').invalid && addressForm.get('fechaRecorridoObra').touched) ||
                    (addressForm.get('fechaRecorridoObra').invalid && estaEditando)
                  "
                />
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10">
          <div class="row">
            <div class="pr-1">
              <label
                class="label-left"
                for="numRepresentantesRecorrido"
                [class.color-secondaryColor]="
                  (addressForm.get('numRepresentantesRecorrido').invalid &&
                    addressForm.get('numRepresentantesRecorrido').touched) ||
                  (addressForm.get('numRepresentantesRecorrido').invalid && estaEditando)
                "
              >
                ¿Cuántos representantes de la ETC estuvieron presentes en el recorrido?
              </label>
            </div>
            <div class="col d-flex">
              <mat-form-field class="full-width">
                <input
                  matInput
                  type="number"
                  #numRepresentantesRecorrido
                  formControlName="numRepresentantesRecorrido"
                  maxlength="2"
                  min="1"
                  max="99"
                  required
                  (keypress)="validateNumberKeypress($event)"
                  onKeyPress="if(this.value.length>=this.maxLength) return false;"
                  oninput="if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                />
              </mat-form-field>
              <span
                class="contador"
                [matTooltipPosition]="'above'"
                matTooltip="Campo numérico"
                matTooltipClass="info-tooltip"
              >
                {{ 2 - numRepresentantesRecorrido.value.length }}
              </span>
              <span class="icon-incompleto">
                <img
                  class="icon-incompleto--img"
                  src="assets/img/icon/incompleto.svg"
                  alt="este campo es requerido"
                  [matTooltipPosition]="'above'"
                  matTooltip="Debe ingresar la información en el campo para continuar"
                  matTooltipClass="info-tooltip"
                  *ngIf="
                    (addressForm.get('numRepresentantesRecorrido').invalid &&
                      addressForm.get('numRepresentantesRecorrido').touched) ||
                    (addressForm.get('numRepresentantesRecorrido').invalid && estaEditando)
                  "
                />
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10">
          <div class="row">
            <div class="pr-1">
              <label
                class="label-left"
                for="fechaFirmaActaEngregaFisica"
                [class.color-secondaryColor]="
                  (addressForm.get('fechaFirmaActaEngregaFisica').invalid && addressForm.get('fechaFirmaActaEngregaFisica').touched) ||
                  (addressForm.get('fechaFirmaActaEngregaFisica').invalid && estaEditando)
                "
              >
                Fecha de firma del acta de entrega física
              </label>
            </div>
            <div class="col d-flex">
              <mat-form-field class="example-full-width">
                <input
                  matInput
                  [matDatepicker]="pickerFirmaActa"
                  formControlName="fechaFirmaActaEngregaFisica"
                  readonly
                  (click)="pickerFirmaActa.open()"
                  placeholder="DD/MM/AAAA"
                  required
                />
                <mat-datepicker #pickerFirmaActa></mat-datepicker>
              </mat-form-field>
              <button mat-button color="primary" type="button" (click)="pickerFirmaActa.open()" class="btn-calendario">
                <img src="assets/img/icon/calendarioCirculo.svg" alt="Abrir Calendario" />
              </button>
              <span class="icon-incompleto">
                <img
                  class="icon-incompleto--img"
                  src="assets/img/icon/incompleto.svg"
                  alt="este campo es requerido"
                  [matTooltipPosition]="'above'"
                  matTooltip="Debe ingresar la información en el campo para continuar"
                  matTooltipClass="info-tooltip"
                  *ngIf="
                    (addressForm.get('fechaFirmaActaEngregaFisica').invalid && addressForm.get('fechaFirmaActaEngregaFisica').touched) ||
                    (addressForm.get('fechaFirmaActaEngregaFisica').invalid && estaEditando)
                  "
                />
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="pr-1">
          <label
            class="label-left"
            for="urlActaEntregaFisica"
            [class.color-secondaryColor]="
              (addressForm.get('urlActaEntregaFisica').invalid && addressForm.get('urlActaEntregaFisica').touched) ||
              (addressForm.get('urlActaEntregaFisica').invalid && estaEditando)
            "
          >
            URL con soporte de votación
          </label>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput type="url" required formControlName="urlActaEntregaFisica" />
          </mat-form-field>
          <span class="info-url">Indique la ruta del soporte de esta información</span>
        </div>
        <span class="icon-incompleto">
          <img
            class="icon-incompleto--img"
            src="assets/img/icon/incompleto.svg"
            alt="este campo es requerido"
            [matTooltipPosition]="'above'"
            matTooltip="Debe ingresar la información en el campo para continuar"
            matTooltipClass="info-tooltip"
            *ngIf="
              (addressForm.get('urlActaEntregaFisica').invalid && addressForm.get('urlActaEntregaFisica').touched) ||
              (addressForm.get('urlActaEntregaFisica').invalid && estaEditando)
            "
          />
        </span>
      </div>
    </mat-card-content>
  </mat-card>
  <div class="text-center">
    <button mat-button color="warn" class="btn-guardar" type="submit" [disabled]="addressForm.dirty === false">
      <img src="assets/img/icon/guardar.svg" alt="Guardar" />
    </button>
  </div>
</form>
<app-form-representante [numRepresentantesRecorrido] = "addressForm.get('numRepresentantesRecorrido').value" (numRepresentantesRecorridoChange)="changeValueRepresentantes($event)" [proyectoEntregaEtcId]= "addressForm.get('proyectoEntregaEtcid').value" [representanteEtcrecorrido] = "representanteEtcrecorrido" (callOnSubmitParent)="onSubmit()"></app-form-representante>