.bordingGeneral{
    border: solid 1px var(--mainColor);
}
.ajusteTable{
    margin: 0em 0em !important;
}
.mlAux{
    margin-left: 3.5em;
}
.mrAux{
    margin-right: 3.5em;
}
.img-size {
    width: 4.9em;
    height: 2em;
}