<div class="container text-center">
    <div class="text-right">
        <a routerLink="/gestionarTramiteControversiasContractuales" mat-button color="primary" class="btn-regresar">
            <img src="assets/img/icon/regresar.svg" alt="Regresar">
        </a>
    </div>
    <h1 class="title-menu--h1">
        Ver detalle/Editar trámite controversia contractual {{this.numeroSolicitud}}
    </h1>
    <p class="info-sub-title">
        <span>Contrato: <b>{{this.numContrato}}</b></span>
    </p>
    <div>
        <mat-card class="shipping-card mainGris">
            <mat-card-header class="header-card header-card--margin">
                <mat-card-title class="header-card--text textoGris">
                    Datos del contrato
                </mat-card-title>
            </mat-card-header>
            <mat-card-content style="text-align: left;">
                <p><strong>Nombre del contratista:</strong> {{this.nombreContratista}}</p>
                <p><strong>Tipo de identificación:</strong> {{this.tipoIdentificacion}}</p>
                <p><strong>Número de identificación:</strong> {{this.numIdentificacion}}</p>
                <p><strong>Tipo de intervención:</strong> {{this.tipoIntervencion}}</p>
                <p><strong>Valor del contrato:</strong> $ {{this.valorContrato}}</p>
                <p><strong>Plazo:</strong> {{this.plazoContrato}}</p>
                <p><strong>Fecha de inicio de contrato:</strong> {{this.fechaInicioContrato}}</p>
                <p><strong>Fecha de finalización de contrato:</strong> {{this.fechaFinalizacionContrato}}</p>
            </mat-card-content>
        </mat-card>
        <div class="text-center">
            <p class="info-container">
                <span class="info-text sin-diligenciar">Sin diligenciar</span>
                <span class="info-text en-proceso">En proceso</span>
                <span class="info-text completo">Completo</span>
            </p>
        </div>
        <mat-accordion>
            <mat-expansion-panel class="expansion-style">
                <mat-expansion-panel-header class="expansion-style--header">
                    <mat-panel-title class="expansion-style--title" [ngClass]="estadoAcordeon">
                        Registrar controversias
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <app-form-registrar-controvrs-accord [isEditable]="true" [idControversia]=this.idControversia  (estadoSemaforo)="estadoAcordeon = $event"></app-form-registrar-controvrs-accord>
            </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion>
            <mat-expansion-panel class="expansion-style">
                <mat-expansion-panel-header class="expansion-style--header">
                    <mat-panel-title class="expansion-style--title" [ngClass]="estadoAcordeon1">
                        Soporte de la solicitud
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <app-form-registrar-controvrs-sop-sol  [isEditable]="true" [idControversia]=this.idControversia  (estadoSemaforo1)="estadoAcordeon1 = $event"></app-form-registrar-controvrs-sop-sol>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>
