<div class="text-center container">
  <div class="text-right">
      <a routerLink="/requisitosTecnicosConstruccion" mat-button color="primary" class="btn-regresar">
          <img src="assets/img/icon/regresar.svg" alt="Regresar">
      </a>
  </div>
  <h1 class="title-menu--h1">
    Gestionar requisitos para inicio contrato C326326 fase 2 - Construcción
  </h1>

  <section class="container margin-1em color-primary">
    <div class="text-center section-flex">
      <p class="mr-1em">Fecha de aprobacion de póliza: <b>06/08/2020</b></p>
      <p>Proyectos asociados: <b>2</b></p>
    </div>
  </section>

  <section>
    <div class="text-center">
        <p class="info-container">
          <span class="info-text sin-diligenciar">Sin diligenciar</span>
          <span class="info-text en-proceso">En proceso</span>
          <span class="info-text completo">Completo</span>
        </p>
    </div>

    <mat-accordion>
      <mat-expansion-panel class="expansion-style">
        <mat-expansion-panel-header class="expansion-style--header w-45">
          <mat-panel-title class="expansion-style--title sin-diligenciar">
            LL457326 - I.E. Nuestra Señora Del Carmen - Única sede
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div align="left">
          <mat-card class="border">
            <mat-card-content>
              <p><b>Nombre del contratista</b>: Constructora Colpatria</p>
              <p><b>Número de identificación (NIT/RUT)</b>: 900.675.987-4</p>
              <p><b>Tipo de intervención</b>: Remodelación</p>
              <p><b>Departamento</b>: Boyacá</p>
              <p><b>Municipio</b>: Susacón</p>
              <p><b>Valor total del proyecto</b>: $60.000.000</p>
            </mat-card-content>
          </mat-card>
        </div>

        <mat-expansion-panel class="expansion-style sub-expansion">
          <mat-expansion-panel-header class="expansion-style--header">
            <mat-panel-title class="expansion-style--title sin-diligenciar">
              Diagnóstico
            </mat-panel-title>
          </mat-expansion-panel-header>

          <app-diagnostico></app-diagnostico>

        </mat-expansion-panel>

        <mat-expansion-panel class="expansion-style sub-expansion">
          <mat-expansion-panel-header class="expansion-style--header">
            <mat-panel-title class="expansion-style--title sin-diligenciar">
              Planes y Programas
            </mat-panel-title>
          </mat-expansion-panel-header>

          <app-planes-programas></app-planes-programas>

        </mat-expansion-panel>

        <mat-expansion-panel class="expansion-style sub-expansion">
          <mat-expansion-panel-header class="expansion-style--header">
            <mat-panel-title class="expansion-style--title sin-diligenciar">
              Manejo de anticipo
            </mat-panel-title>
          </mat-expansion-panel-header>

          <app-manejo-anticipo></app-manejo-anticipo>

        </mat-expansion-panel>

        <mat-expansion-panel class="expansion-style sub-expansion">
          <mat-expansion-panel-header class="expansion-style--header">
            <mat-panel-title class="expansion-style--title sin-diligenciar">
              Hojas de vida del contratista de obra
            </mat-panel-title>
          </mat-expansion-panel-header>

          <app-hoja-vida-contratista></app-hoja-vida-contratista>
          
        </mat-expansion-panel>

        <mat-expansion-panel class="expansion-style sub-expansion">
          <mat-expansion-panel-header class="expansion-style--header">
            <mat-panel-title class="expansion-style--title sin-diligenciar">
              Programación de obra
            </mat-panel-title>
          </mat-expansion-panel-header>
        </mat-expansion-panel>

        <mat-expansion-panel class="expansion-style sub-expansion">
          <mat-expansion-panel-header class="expansion-style--header">
            <mat-panel-title class="expansion-style--title sin-diligenciar">
              Flujo de inversión de recursos
            </mat-panel-title>
          </mat-expansion-panel-header>
        </mat-expansion-panel>

      </mat-expansion-panel>
    </mat-accordion>
  </section>

</div>