.navbar {
    background-color: #174193;;
    background-color: var(--mainColor);
    margin-top: -.5em;
    color: #fff;
    text-align: center;

    display: flex;

    @media only screen and (max-width: 850px) {    
        &__close:not(.navbar--icon-menu-responsive) {
            .mat-button {
                display: none;
            }
        }
    }
    
    .mat-button {
        color: #fff;

        flex-grow: 1;
        border-radius: 0;
        @media only screen and (max-width: 850px) {
            &:not(:first-child) {
                border-top: solid 1px #fff;
            }
        }
        @media only screen and (min-width: 851px) {
            &:not(:last-child) {
                border-right: solid 1px #fff;
            }
        }

        &.active {
            color: #fdc101;
            color: var(--tertiaryColor);
            // position: relative;

            &::before {
                content: '';
                position: absolute;
                display: block;
                height: 1px;
                width: calc(100% - 5em);
                left: calc(100% - (100% - 2.5em));
                bottom: .5em;
                background-color: #fdc101;
                background-color: var(--tertiaryColor);
                animation-name: linkActive;
                animation-duration: .3s;
            }
        }

    }

    &--icon {
        height: 2em;
        width: 1.5em;
        margin-right: .8em;
    }

    &--icon-menu-responsive {
        text-align: right;
        @media only screen and (max-width: 850px) {
            display: block !important;
        }
        @media only screen and (min-width: 851px) {
            display: none;
        }
    }

    @media only screen and (max-width: 850px) {
        flex-direction: column;
    }
}

@keyframes linkActive {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}