.navbar {
    background-color: #174193;;
    background-color: var(--mainColor);
    margin-top: -.5em;
    color: #fff;
    text-align: center;

    display: flex;
    
    .mat-button {
        color: #fff;

        flex-grow: 1;
        border-radius: 0;
        &:not(:first-child) {
            border-left: solid 1px #fff;
        }

        &.active {
            color: #fdc101;
            color: var(--tertiaryColor);
            // position: relative;

            &::before {
                content: '';
                position: absolute;
                display: block;
                height: 1px;
                width: calc(100% - 5em);
                left: calc(100% - (100% - 2.5em));
                bottom: .5em;
                background-color: #fdc101;
                background-color: var(--tertiaryColor);
                animation-name: linkActive;
                animation-duration: .3s;
            }
        }

    }

    &--icon {
        height: 2em;
        width: 1.5em;
        margin-right: .8em;
    }
}

@keyframes linkActive {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}