<mat-card class="shipping-card var-main-gris">
  <mat-card-header class="header-card header-card--margin">
    <mat-card-title class="mat-card-title header-card--text">
      Datos del proyecto
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      <strong>
        Tipo de intervención:
      </strong>
      {{ report.proyecto.tipoIntervencionString }}
    </p>
    <p>
      <strong>
        Institución educativa:
      </strong>
      {{ report.proyecto.institucionEducativa.nombre }}
    </p>
    <p>
      <strong>
        Sede educativa:
      </strong>
      {{ report.proyecto.sede.nombre }}
    </p>
    <p>
      <strong>
        Departamento:
      </strong>
      {{ report.proyecto.departamentoObj.descripcion }}
    </p>
    <p>
      <strong>
        Municipio:
      </strong>
      {{ report.proyecto.municipioObj.descripcion }}
    </p>
    <p>
      <strong>
        Número de contrato de obra:
      </strong>
      {{ report.numeroContratoObra }}
    </p>
    <p>
      <strong>
        Nombre del contratista de obra:
      </strong>
      {{ report.nombreContratistaObra }}
    </p>
    <p>
      <strong>
        Número de contrato de interventoría:
      </strong>
      {{ report.numeroContratoInterventoria }}
    </p>
    <p>
      <strong>
        Nombre de contratista de interventoría:
      </strong>
      {{ report.nombreContratistaInterventoria }}
    </p>
  </mat-card-content>
</mat-card>

<mat-card class="shipping-card var-main-gris">
  <mat-card-header class="header-card header-card--margin">
    <mat-card-title class="mat-card-title header-card--text">
      Recibo a satisfacción
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      <strong>
        URL Acta de recibo a satisfaccion - Obra:
      </strong>
      {{ report.proyecto.informeFinal[0].urlActa }}
    </p>
    <p>
      <strong>
        Fecha de suscripción:
      </strong>
      {{ report.proyecto.informeFinal[0].fechaSuscripcion  | date:'dd/MM/yyyy' }}
    </p>
  </mat-card-content>
</mat-card>

<mat-card class="shipping-card var-main-gris" *ngIf="existeObservacion">
  <mat-card-header class="header-card header-card--margin">
    <mat-card-title class="mat-card-title header-card--text">
      Verificación del apoyo a la supervisión
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      <strong>
        {{ report.proyecto.informeFinal[0].informeFinalObservaciones[0].fechaCreacion | date:'dd/MM/yyyy' }}
      </strong>
    </p>
    <p>
      <strong>
        ¿Tiene observaciones al recibo a satisfacción?:
      </strong>
      <span *ngIf="report.proyecto.informeFinal[0].tieneObservacionesValidacion"> Si</span>
      <span *ngIf="!report.proyecto.informeFinal[0].tieneObservacionesValidacion"> No</span>
    </p>
    <p *ngIf="report.proyecto.informeFinal[0].tieneObservacionesValidacion" [innerHTML]="report.proyecto.informeFinal[0].informeFinalObservaciones[0].observaciones">
    </p>
  </mat-card-content>
</mat-card>