.w-table {
  width: 75%;
  margin-left: 10em;
};

th.mat-header-cell {
  text-align: center !important;
}

.mb-4em {
  margin-bottom: 4em;
}

.flex {
  padding: 0.8em;
  display: flex;
  flex-flow: column wrap;
}

a {
  margin: 0.5em;
}

.width-30 {
  width: 30%;
}

.mt-5em {
  margin-top: 5em;
};