.w-margin {
    width: 99%;
    margin-top: 1em;
  }
  
  .mt-1em {
    margin-top: .8em;
  }
  
  .padding-left {
    padding-left: .7em
  }
  
  .mr-min {
    margin-right: .7em;
  }
  
  .w-30 {
    width: 30%;
  }
  
  .w-31 {
    width: 31%;
  }
  .personalizado{
    background-color: rgba(0,0,0,.75) !important;
    color: #ffffff !important;
  }
  .aux {
    color: rgba(0,0,0,.75) !important;
  }
  .border-1 {
    border: solid 1px rgba(0,0,0,.54) !important;
  }
  .flex-editor {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
  }
  
  .mb-2em {
    margin-bottom: 2em;
  }
  
  .mt-1em {
    margin-top: 1em;
  }
  
  .mt-2em {
    margin-top: 2em;
  }
  
  .btn-dialog {
    line-height: 1;
    display: block;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    min-width: 9em;
    display: inline-block;
  }
  .w-80 {
    width: 80%;
  }