.border {
    border: solid 1px rgba(0,0,0,.54) !important;
  }
  
  .w-45 {
    width: 45%;
  }
  
  .section-flex {
    display: flex;
    justify-content: center;
  }
  
  .mr-1em {
    margin-right: 1em;
  }
  
  .margin-2em {
    margin: 2em;
  }
  
  .margin-1em {
    margin: 1em;
  };
  
  .color-primary {
    color: (var(--mainColor));
  }
  
  .mt-2em {
    margin-top: 2em;
  }
  
  .w-23 {
    width: 23%;
  }
  .w-margin {
    width: 99%;
    margin-top: 1em;
  }
  
  .mt-1em {
    margin-top: .8em;
  }
  
  .padding-left {
    padding-left: .7em
  }
  
  .mr-min {
    margin-right: .7em;
  }
  
  .w-30 {
    width: 30%;
  }
  
  .w-31 {
    width: 31%;
  }
  .personalizado{
    background-color: rgba(0,0,0,.75) !important;
    color: #ffffff !important;
  }
  .aux {
    color: rgba(0,0,0,.75) !important;
  }
  .border {
    border: solid 1px rgba(0,0,0,.54) !important;
  }