<div class="container">
  <div class="text-right">
    <a [routerLink]="['/solicitarContratacion/solicitud/', idSolicitud]" mat-button color="primary"
      class="btn-regresar">
      <img src="assets/img/icon/regresar.svg" alt="Regresar">
    </a>
  </div>
  <div class="text-center">
    <h1 class="title-menu--h1">
      Definir características
    </h1>
  </div>

  <p class="text-detalle flex-center colorMainColor" *ngIf="contratacionProyecto" style="margin-top: 1em;">
    <span style="margin-right: 2em">{{ tipoIntervencion }}</span>
    <span style="margin-right: 2em">{{ contratacionProyecto.tipoIntervencionCodigo }}</span>
    <span style="margin-right: 2em"><b>{{ contratacionProyecto.proyecto.institucionEducativa.nombre }} -
        {{ contratacionProyecto.proyecto.sede.nombre }}</b></span>
    <span> {{ municipio }} </span>
  </p>

  <form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="shipping-card">
      <mat-card-content>
        <div class="row" style="margin-left: .7em;">
          <div class="pr-1">
            <label class="label-left" for="reasignacion">
              ¿El proyecto tiene contemplada la obligación de disponer de servicio de monitoreo en tiempo real a través
              de cámaras con acceso web?
            </label>
          </div>
          <div class="col d-flex">
            <mat-radio-group class="radioInput d-flex" formControlName="completada">
              <mat-radio-button [value]="true" class="mr-1em">Sí</mat-radio-button>
              <mat-radio-button [value]="false">No</mat-radio-button>
            </mat-radio-group>
            <b class="color-mainColor">*</b>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="pr-1">
                <label class="label-left" for="reasignacion">¿El proyecto es una reasignación?</label>
              </div>
              <div class="col d-flex">
                <mat-radio-group class="radioInput d-flex" formControlName="reasignacion">
                  <mat-radio-button [value]="true" class="mr-1em">Sí</mat-radio-button>
                  <mat-radio-button [value]="false">No</mat-radio-button>
                </mat-radio-group>
                <b class="color-mainColor">*</b>
              </div>
            </div>
          </div>
        </div>
        <div class="row animatedDown" *ngIf="addressForm.controls.reasignacion.value == true">
          <div class="col-md-6">
            <div class="row">
              <div class="pr-1">
                <label class="label-left" for="avanceObra">¿El proyecto tiene avance de obra?</label>
              </div>
              <div class="col d-flex">
                <mat-radio-group class="radioInput d-flex" formControlName="avanceObra">
                  <mat-radio-button [value]="true" class="mr-1em">Sí</mat-radio-button>
                  <mat-radio-button [value]="false">No</mat-radio-button>
                </mat-radio-group>
                <b class="color-mainColor">*</b>
              </div>
            </div>
          </div>
        </div>
        <div class="row animatedDown" *ngIf="addressForm.controls.avanceObra.value == true">
          <div class="col-md-6">
            <div class="row">
              <div class="pr-1">
                <label for="porcentajeAvanceObra" class="label-left">¿Cuál es el porcentaje de avance de obra?</label>
              </div>
              <div class="col d-flex">
                <mat-form-field class="full-width">
                  <input matInput type="number" min="1" max="100" formControlName="porcentajeAvanceObra" required>
                </mat-form-field>
                <span class="contador">%</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row animatedDown"
          *ngIf=" ( addressForm.controls.porcentajeAvanceObra.value > 0 && addressForm.controls.porcentajeAvanceObra.value <= 100 )
                  || ( addressForm.controls.reasignacion.value == false )
                  || ( addressForm.controls.reasignacion.value == true && addressForm.controls.avanceObra.value == false )">
          <div class="col-md-6">
            <div class="row">
              <div class="pr-1">
                <label class="label-left" for="requiereLicencias">¿El proyecto requiere licencias?</label>
              </div>
              <div class="col d-flex">
                <mat-radio-group class="radioInput d-flex" formControlName="requiereLicencias">
                  <mat-radio-button [value]="true" class="mr-1em">Sí</mat-radio-button>
                  <mat-radio-button [value]="false">No</mat-radio-button>
                </mat-radio-group>
                <b class="color-mainColor">*</b>
              </div>
            </div>
          </div>
        </div>
        <div class="row animatedDown" *ngIf="addressForm.controls.requiereLicencias.value == true">
          <div class="col-md-6">
            <div class="row">
              <div class="pr-1">
                <label class="label-left" for="licenciaVigente">¿El proyecto tiene licencia vigente?</label>
              </div>
              <div class="col d-flex">
                <mat-radio-group class="radioInput d-flex" formControlName="licenciaVigente">
                  <mat-radio-button [value]="true" class="mr-1em">Sí</mat-radio-button>
                  <mat-radio-button [value]="false">No</mat-radio-button>
                </mat-radio-group>
                <b class="color-mainColor">*</b>
              </div>
            </div>
          </div>
        </div>
        <div class="row animatedDown" *ngIf="addressForm.controls.licenciaVigente.value == true">
          <div class="col-md-6">
            <div class="row">
              <div class="pr-1">
                <label class="label-left" for="numeroLicencia">Número de licencia</label>
              </div>
              <div class="col d-flex">
                <mat-form-field class="full-width">
                  <input matInput #numeroLicencia type="text" maxlength="12" formControlName="numeroLicencia" required>
                </mat-form-field>
                <span class="contador">{{12 - numeroLicencia.value.length}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row animatedDown" *ngIf="addressForm.controls.licenciaVigente.value == true">
          <div class="col-md-6">
            <div class="row">
              <div class="pr-1">
                <label class="label-left" for="fechaVigencia">Fecha de vigencia</label>
              </div>
              <div class="col d-flex align-items-center">
                <mat-form-field class="example-full-width">
                  <input matInput [matDatepicker]="picker" formControlName="fechaVigencia" readonly
                    (click)="picker.open()" required placeholder="DD/MM/AAAA">
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <button mat-button color="primary" type="button" (click)="picker.open()" class="btn-calendario">
                  <img src="assets/img/icon/calendarioCirculo.svg" alt="Abrir Calendario">
                </button>
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <div class="text-center animatedDown">
      <button mat-button color="warn" class="btn-guardar" type="submit">
        <img src="assets/img/icon/guardar.svg" alt="guardar">
      </button>
    </div>
  </form>
</div>
