<section class="text-center" *ngIf="seguimientoSemanal !== undefined">
    <p class="colorMainColor">Periodo del reporte: <b>{{ seguimientoSemanal.fechaInicio | date: 'dd/MM/yyyy' }} - {{ seguimientoSemanal.fechaFin | date: 'dd/MM/yyyy' }}</b> </p>

    <div align="left">
        <mat-card class="border">
            <mat-card-content class="mt-1em">
                <p><b>URL con soporte</b>: {{ reporteFotografico.urlSoporteFotografico }} </p>
                <section>
                    <p><b>Descripción</b></p> <div [innerHTML]="reporteFotografico.descripcion"></div>
                </section>
            </mat-card-content>
        </mat-card>
    </div>
</section>

<ng-container *ngIf="esVerDetalle === true; else noEsVerDetalle">
    <mat-card class="shipping-card var-main-gris" align="left">
        <mat-card-header class="header-card">
          <mat-card-title class="header-card--text">
            Verificación del apoyo a la supervisión
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p style="margin-left: 2em;"><b> {{ formRegistroFotografico.get( 'fechaCreacion' ).value | date: 'dd/MM/yyyy' }} </b></p>
            <p style="margin-left: 2em;" *ngIf="formRegistroFotografico.get( 'tieneObservaciones' ).value === true"><b>¿Tiene observaciones al registro fotográfico?</b>: Si</p>
            <p style="margin-left: 2em;" *ngIf="formRegistroFotografico.get( 'tieneObservaciones' ).value === false"><b>¿Tiene observaciones al registro fotográfico?</b>: No</p>
            <section [innerHTML]="formRegistroFotografico.get( 'observaciones' ).value" style="margin-left: 2em;" *ngIf="formRegistroFotografico.get( 'tieneObservaciones' ).value === true"></section>
        </mat-card-content>
    </mat-card>
</ng-container>
<ng-template #noEsVerDetalle>
    <form [formGroup]="formRegistroFotografico" novalidate (ngSubmit)="guardar()">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-12">
                <div class="row justify-content-center align-items-center" style="width: 100%;">
                    <div class="pr-1">
                        <label class="label-left" for="tieneObservaciones">¿Tiene observaciones al registro fotográfico?</label>
                    </div>
                    <div>
                        <mat-radio-group class="radioInput" formControlName="tieneObservaciones">
                            <mat-radio-button [value]="true" [checked]="formRegistroFotografico.get( 'tieneObservaciones' ).value === true">Sí</mat-radio-button>
                            <mat-radio-button [value]="false" [checked]="formRegistroFotografico.get( 'tieneObservaciones' ).value === false">No</mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <span class="required-form-group m-0">*</span>
                </div>
            </div>
        </div>
        <div class="d-flex mt-2em align-items-center animatedDown" *ngIf="formRegistroFotografico.value.tieneObservaciones == true" align="left">
            <div class="text-area-quill"
            [class.color-secondaryColor]="formRegistroFotografico.get('observaciones').invalid && formRegistroFotografico.get('observaciones').touched || formRegistroFotografico.get('observaciones').invalid">
                <label  class="text-area-quill--label align-left-label"
                        [class.colorMainColor]="!(formRegistroFotografico.get('observaciones').invalid && formRegistroFotografico.get('observaciones').touched || formRegistroFotografico.get('observaciones').invalid)">
                        Observaciones al registro fotográfico
                </label>
                <quill-editor   class="quill-editor-style ml-1em"
                                [styles]="editorStyle"
                                [modules]="config"
                                (onContentChanged)="maxLength($event, 1000)"
                                formControlName="observaciones"
                                #obsRegistroFotografico
                                required>
                </quill-editor>
            </div>
            <span class="contador miles" *ngIf="formRegistroFotografico.get('observaciones').value !== null">
              {{1000 - textoLimpio( obsRegistroFotografico.quillEditor, 1000 )}}
            </span>
            <span class="contador miles" *ngIf="formRegistroFotografico.get('observaciones').value === null">
              1000
            </span>
        </div>
        <div class="text-center mt-1em">
            <button mat-button color="warn" class="btn-guardar" type="submit" [disabled]="formRegistroFotografico.get('tieneObservaciones').value === null">
                <img src="assets/img/icon/guardar.svg" alt="Regresar">
            </button>
        </div>
    </form>

    <section class="text-center table-responsive size-table" style="margin-top: 2em;" *ngIf="dataHistorial.length > 0">
        <table mat-table [dataSource]="tablaHistorial" matSort>
      
            <ng-container matColumnDef="fechaRevision">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="back-color"> Fecha de revisión </th>
              <td mat-cell *matCellDef="let element" align="center" class="color-text"> <b>{{ element.fechaCreacion | date: 'dd/MM/yyyy' }}</b> </td>
            </ng-container>
      
            <ng-container matColumnDef="responsable">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="back-color w-20"> Responsable de la observación </th>
                <td mat-cell *matCellDef="let element" align="center" class="color-text">
                    <ng-container *ngIf="element.esSupervisor === true; else noEsSupervisor">
                        <p>Supervisor</p>
                    </ng-container>
                    <ng-template #noEsSupervisor>
                        <p>Apoyo a la supervisión</p>
                    </ng-template>
                </td>
            </ng-container>
      
            <ng-container matColumnDef="historial">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="back-color"> Historial de observaciones </th>
                <td mat-cell *matCellDef="let element" align="center" class="color-text">
                    <section [innerHTML]="element.observacion"></section>
                </td>
            </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumnsHistorial"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsHistorial;"></tr>
        </table>
    </section>
</ng-template>