span {
  color: #174193;
}

.flex-text-center {
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
}

.margin-p {
  margin-left: 1em;
  margin-top: .5em;
}

.padding-p {
  padding: 1em;
}

.text-color {
  color: #174193
}

.mr-1 {
  margin: 1em;
}

.mr-bottom-2 {
  margin-bottom: 2em;
}

.mt-2 {
  margin-top: 2em;
}

.ml-min {
  margin-left: .3em;
}

.margin-compromisos {
  margin-top: .8em;
  margin-left: .8em;
}

.back-color {
  background-color: #484848;
  color: #ffffff;
}

.border {
  border: solid 1px rgba(0,0,0,.54) !important;
}

.font-w {
  font-weight: 500;
}

.reparacion-card {
  margin: -1.8em -4.05em 1em;

  .col-md-4 {
    padding: 1em;
    text-align: center;
    border-bottom: solid 1px var(--mainColor);
    margin: 0;
    &:not(:last-child) {
      border-right: solid 1px var(--mainColor);
    }
  }
}

.color-blue {
  color: #174193;
}

.w-80 {
  width: 80%;
}

.w-50 {
  width: 50%;
}
