<div class="container text-center">
  <div class="text-right">
      <a routerLink="/home" mat-button color="primary" class="btn-regresar">
          <img src="assets/img/icon/regresar.svg" alt="Regresar">
      </a>
  </div>
  <h1 class="title-menu--h1">
    Registrar contratos y modificaciones contractuales
  </h1>
  <button mat-mini-fab color="primary" class="btn-info" (click)="verAyuda = !verAyuda">?</button>

  <div class="text-info" *ngIf="verAyuda">
      <button mat-icon-button (click)="verAyuda = false" class="text-info--close">
          <img src="assets/img/icon/cerrar-gris.svg" alt="cerrar ayuda">
      </button>
      Bienvenida/o aquí podrá realizar el registro de los requisitos técnicos de inicio aprobados para la fase 2 - construcción, para los contratos de obra
      asignados a usted, que se encuentran activos, que cuentan con póliza aprobada y registro presupuestal y que solo tienen proyectado la fase de
      construcción o que tienen las dos fases (preconstrucción y construcción) pero tienen suscrita y cargada el acta de inicio de la fase de pre
      construcción y que serán ejecutados en el marco de la gestión del FFIE.
  </div>

  <app-tabla-requisitos-tecnicos></app-tabla-requisitos-tecnicos>
</div>