<section *ngIf="formManejoResiduosConstruccion !== undefined">
    <p *ngIf="formManejoResiduosConstruccion.get( 'estaCuantificadoRCD' ).value === true"><b>¿Los RCD fueron cuantificados en toneladas, clasificados, acopiados y protegidos correctamente?</b>: Si</p>
    <p *ngIf="formManejoResiduosConstruccion.get( 'estaCuantificadoRCD' ).value === false"><b>¿Los RCD fueron cuantificados en toneladas, clasificados, acopiados y protegidos correctamente?</b>: No</p>
    <p *ngIf="formManejoResiduosConstruccion.get( 'requiereObservacion' ).value === true"><b>¿Requiere hacer una observación acerca del manejo de los residuos de construcción y demolición?</b>: Si</p>
    <p *ngIf="formManejoResiduosConstruccion.get( 'requiereObservacion' ).value === false"><b>¿Requiere hacer una observación acerca del manejo de los residuos de construcción y demolición?</b>: No</p>
    <section *ngIf="formManejoResiduosConstruccion.get( 'requiereObservacion' ).value === true">
      <b>Observaciones</b>:
      <div [innerHTML]="formManejoResiduosConstruccion.get( 'observacion' ).value"></div>
    </section>
    <section class="mt-1em" *ngFor="let residuo of gestorResiduos.controls; index as i">
      <div class="row">
        <div class="col-md-12">
            <div class="row">
                <h3> <b> Gestor de residuos {{ i+1 }} </b> </h3>
            </div>
        </div>
    </div>
      <p><b>Gestor de residuos de construcción y demolición</b>: {{ residuo.get( 'nombreGestorResiduos' ).value }} </p>
      <p *ngIf="residuo.get( 'tienePermisoAmbiental' ).value === true"><b>¿El gestor presenta permiso ambiental o soporte válido?</b>: Si</p>
      <p *ngIf="residuo.get( 'tienePermisoAmbiental' ).value === false"><b>¿El gestor presenta permiso ambiental o soporte válido?</b>: No</p>
      <p *ngIf="residuo.get( 'url' ).value.length > 0"><b>URL con soporte</b>: {{ residuo.get( 'url' ).value }} </p>
    </section>
    <p class="mt-1em" *ngIf="formManejoResiduosConstruccion.get( 'seReutilizadorResiduos' ).value === true"><b>¿Se reutilizaron temporal o permanente los residuos de construcción y demolición para el porcentaje de aprovechamiento obligatorio?</b>: Si</p>
    <p class="mt-1em" *ngIf="formManejoResiduosConstruccion.get( 'seReutilizadorResiduos' ).value === false"><b>¿Se reutilizaron temporal o permanente los residuos de construcción y demolición para el porcentaje de aprovechamiento obligatorio?</b>: No</p>
    <p *ngIf="formManejoResiduosConstruccion.get( 'seReutilizadorResiduos' ).value === true"><b>Cantidad (Toneladas)</b>: {{ formManejoResiduosConstruccion.get( 'cantidadToneladas' ).value }} </p>
</section>