.margin-90 {
  width: 65%;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
}

.w-25 {
  width: 25%;
}

.back-color {
  background-color: #000000b8;
}

.color-text {
  color: #000000b8;
  border-color: #000000b8;
}