.contenidoContrato{
    width: 100%;
    margin-top: 20px;
    color: var(--mainColor);
    font-weight: 400;
}
.info-sub-title, .mat-typography .info-sub-title {
    margin-top: .8em;
    margin-bottom: 1.2em;
    color: var(--mainColor);
}
.info-sub-title span, .mat-typography .info-sub-title span {
    margin-left: 1em;
    margin-right: 1em;
}
.header-card--text.sub-text {
    margin-top: 1em!important;
    margin-left: 0;
    padding: 0;
}
.grissub{
    background-color: var(--fontColor) !important;
}
.cont1{
    text-align: right;
}
.cont3{
    text-align: left;
}
.cont1, .cont2, .cont3{
    width: 33.33%;
    float: left;
}
.shipping-card {
    min-width: 120px;
    margin: 20px auto;
}
.mainGris{
    border: 1px solid var(--fontColor) !important;
}
.textoGris{
    color: var(--fontColor) !important;
}
.mtop{
    margin-top: 20px;
}
.mtopmini{
    margin-top: 15px !important;
}
.supportElement{
    padding: 12px 0.6em;
    border-top-width: 1px;
    border-top-style: solid;
}
.botones{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 3em;
    margin-top: 2em;
}
.botones button{
    line-height: 1.2;
    min-height: 33px;
}
table th {
    background-color: #474747;
    border-color: white;
}

table td{
    border-color: #474747;
    color: #474747;
}
.w-20 {
    width: 25%;
}

.back-color {
    background-color: #000000b8;
}
  
.color-text {
  color: #000000b8;
  border-color: #000000b8 !important;
}

.border-color-detalle {
    color: rgb(63, 63, 63) !important;
    border-bottom: 1.5px solid#000000b8 !important;
    border-right: 1.5px solid#000000b8 !important;
}

.h-3em {
    height: 3em;
}

.sub-item-table {
    display: block;
    &:not(:first-child) {
        border-top: solid 1px var(--mainColor);
    }
}

.padding-0em {
    padding: 0em 0em !important;
}

.flex-table {
    display: flex !important;
}

.mat-button.mat-warn[disabled], .mat-button[disabled][disabled] {
    opacity: .5;
}

.w-20 {
    width: 25%;
}

.back-color {
    background-color: #000000b8;
}
  
.color-text {
  color: #000000b8;
  border-color: #000000b8 !important;
}

.border-color-detalle {
    color: rgb(63, 63, 63) !important;
    border-bottom: 1.5px solid#000000b8 !important;
    border-right: 1.5px solid#000000b8 !important;
}

.h-3em {
    height: 3em;
}

.sub-item-table {
    display: block;
    &:not(:first-child) {
        border-top: solid 1px var(--mainColor);
    }
}

.padding-0em {
    padding: 0em 0em !important;
}

.flex-table {
    display: flex !important;
}