<section class="container">
  <div class="text-right">
    <a routerLink="../../" mat-button color="primary" class="btn-regresar">
      <img src="assets/img/icon/regresar.svg" alt="Regresar" />
    </a>
  </div>
  <div class="text-center">
    <h1 class="title-menu--h1">
      Ver detalle entrega {{ llaveMen }}
    </h1>
    <p class="colorMainColor mt-05em">
      Número de contrato Obra:
      <b> {{ numeroContratoObra }} </b>
    </p>
    <p class="colorMainColor mt-05em">
      Número de contrato Interventoria: 
      <b> {{ numeroContratoInterventoria }} </b>
    </p>
  </div>

  <div>

    <mat-accordion *ngIf="proyectoEntregaEtc">
      <mat-expansion-panel class="expansion-style">
        <mat-expansion-panel-header class="expansion-style--header">
          <mat-panel-title
            class="expansion-style--title">
            Recorrido de la obra
          </mat-panel-title>
        </mat-expansion-panel-header>
        
        <mat-card class="shipping-card var-main-gris">
          <mat-card-content>
            <p>
              <strong>
                Fecha del recorrido de obra:
              </strong>
              {{ proyectoEntregaEtc.fechaRecorridoObra | date:'dd/MM/yyyy'}}
            </p>
            <p>
              <strong>
                ¿Cuántos representantes de la ETC estuvieron presentes en el recorrido?:
              </strong>
              {{ proyectoEntregaEtc.numRepresentantesRecorrido }}
            </p>
            <p>
              <strong>
                Fecha de firma del acta de entrega física:
              </strong>
              <span>
                {{ proyectoEntregaEtc.fechaFirmaActaEngregaFisica | date:'dd/MM/yyyy'}}
              </span>
            </p>
            <p>
              <strong>
                URL de acta de entrega física:
              </strong>
              <span>
                {{ proyectoEntregaEtc.urlActaEntregaFisica }}
              </span>
            </p>
          </mat-card-content>
        </mat-card>
        <mat-accordion class="animatedDown" *ngIf="proyectoEntregaEtc.representanteEtcrecorrido.length > 0">
          <mat-expansion-panel
            class="expansion-style sub-expansion"
            *ngFor="let representante of arrayOne(proyectoEntregaEtc.numRepresentantesRecorrido); let i = index"
          >
            <mat-expansion-panel-header class="expansion-style--header">
              <mat-panel-title
                class="expansion-style--title"
              >
                Representante {{ i + 1 }}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-card class="shipping-card var-main-gris">
              <mat-card-content>
                <p>
                  <strong>
                    Nombre y apellidos:
                  </strong>
                  {{ proyectoEntregaEtc.representanteEtcrecorrido[i].nombre }} 
                </p>
                <p>
                  <strong>
                    Cargo:
                  </strong>
                  {{ proyectoEntregaEtc.representanteEtcrecorrido[i].cargo }} 
                </p>
                <p>
                  <strong>
                    Dependencia de la ETC:
                  </strong>
                  <span>
                    {{ proyectoEntregaEtc.representanteEtcrecorrido[i].dependencia }} 
                  </span>
                </p>
              </mat-card-content>
            </mat-card>
          </mat-expansion-panel>
        </mat-accordion>

      </mat-expansion-panel>
      <mat-expansion-panel class="expansion-style">
        <mat-expansion-panel-header class="expansion-style--header">
          <mat-panel-title
            class="expansion-style--title"
          >
            Remisión a ETC de documentos técnicos a la ETC
          </mat-panel-title>
        </mat-expansion-panel-header>
        
        <mat-card class="shipping-card var-main-gris">
          <mat-card-content>
            <p>
              <strong>
                Fecha de entrega de los documentos técnicos:
              </strong>
              {{ proyectoEntregaEtc.fechaEntregaDocumentosEtc | date:'dd/MM/yyyy'}}
            </p>
            <p>
              <strong>
                Número de radicado de la entrega:
              </strong>
              {{ proyectoEntregaEtc.numRadicadoDocumentosEntregaEtc }}
            </p>
          </mat-card-content>
        </mat-card>

      </mat-expansion-panel>
      <mat-expansion-panel class="expansion-style">
        <mat-expansion-panel-header class="expansion-style--header">
          <mat-panel-title
            class="expansion-style--title"
          >
            Acta de entrega de bienes y servicios
          </mat-panel-title>
        </mat-expansion-panel-header>
        
        <mat-card class="shipping-card var-main-gris">
          <mat-card-content>
            <p>
              <strong>
                Fecha de firma acta de entrega de bienes y servicios:
              </strong>
              {{ proyectoEntregaEtc.fechaFirmaActaBienesServicios | date:'dd/MM/yyyy'}}
            </p>
            <p>
              <strong>
                Adjuntar acta:
              </strong>
              {{ proyectoEntregaEtc.actaBienesServicios }}
            </p>
          </mat-card-content>
        </mat-card>

        <div class="text-center">
          <button mat-raised-button color="accent" (click)="descargarActa(proyectoEntregaEtc.actaBienesServicios)">
            Descargar acta
        </button>
        </div>

      </mat-expansion-panel>
    </mat-accordion>
  </div>
</section>
