.full-width {
  width: 100%;
}

.shipping-card {
  min-width: 120px;
  margin: 20px auto;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}

.mt-1em {
  margin-top: 1em;
}

.table-form {
  border-collapse: collapse
}

.toptd {
  position: absolute;
  top: 0.8em;
  left: 50%;
  transform: translateX(-50%);
  display: block;

  button.btn-calendario {
    margin-left: 0;
  }

  .icon-incompleto {
    margin-left: 1em;
    transform: translateY(10px);
  }
}

.select-width-2 {
  width: 8em;
  display: flex;
  .field {
    max-width: calc(100% - 2em);
    margin-right: auto;
  }
}

.position-relative {
  position: relative;
}