.title-menu--h1 {
    margin-top: 0;
}

.shipping-card {
    text-align: left;
    padding: 1em !important;
    color: var(--mainColor);
}

.p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.ol {
    padding: 0;
    height: 10em;
    overflow: auto;
    list-style: none;
    counter-reset: number-counter;

    li {
        counter-increment: number-counter;
        margin-bottom: .5em;

        &::before {
            content: counter(number-counter) ". ";
            color: var(--mainColor);
            font-weight: 700;
        }
    }
}