.w-80 {
    width: 80%;
  }
  
  .flex-editor {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
  }
  
  .mb-2em {
    margin-bottom: 2em;
  }
  
  .mt-1em {
    margin-top: 1em;
  }
  
  .mt-2em {
    margin-top: 2em;
  }
  
  .btn-dialog {
    line-height: 1;
    display: block;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    min-width: 9em;
    display: inline-block;
  }