<div class="container text-center" *ngIf='this.dataTable.length > 0'>
    <div class="table-responsive">
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

            <ng-container matColumnDef="fechaRevision">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de revisión</th>
                <td mat-cell *matCellDef="let element"> <b>{{element.fechaRevision | date:'dd/MM/yyyy'}}</b></td>
            </ng-container>

            <ng-container matColumnDef="observacion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Observaciones generales</th>
                <td mat-cell *matCellDef="let element">
                    <div [innerHtml]="element.observacion"></div>
                </td>
            </ng-container>

            <ng-container matColumnDef="estadoRevisionCodigo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado de la revision</th>
                <td mat-cell *matCellDef="let element">
                    <div *ngIf="element.estadoRevisionCodigo=='1'">
                        Devuelta
                    </div>
                    <div *ngIf="element.estadoRevisionCodigo=='2'">
                        Aprobada
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>