<section class="container text-center" *ngIf="ultimaBitacora !== undefined">
    <div class="text-right">
        <a routerLink="/registrarAvanceSemanal" mat-button color="primary" class="btn-regresar">
            <img src="assets/img/icon/regresar.svg" alt="Regresar">
        </a>
    </div>

    <h1 class="title-menu--h1">
        Consultar / Editar bitácora {{ ultimaBitacora.llaveMen }}
    </h1>

    <div class="d-flex justify-content-center colorMainColor mt-1em">
        <p>Número de contrato de obra: <b> {{ ultimaBitacora.numeroContrato }} </b> </p>
        <p style="margin-left: 2em;">Fecha de último reporte: <b> {{ ultimaBitacora.ultimoReporte | date: 'dd/MM/yyyy' }} </b> </p>
    </div>

    <app-tabla-consultar-editar-bitacora [consultarBitacora]="consultarBitacora"></app-tabla-consultar-editar-bitacora>
</section>