.border {
    border: solid 1px rgba(0,0,0,.54) !important;
}

.ml-final-date {
    margin-left: 21em;
};

.ml-1em {
    margin-left: 1em;
};

.mr-1em {
    margin-right: 1em;
};

.btn-color {
    background-color: #d1d1d1 !important;
};

.h-2em {
    height: 2em;
};

.size-table {
    display: inline-block;
    width: 90%;
};

.w-20 {
    width: 20%;
}

.back-color {
    background-color: #000000b8;
}
  
.color-text {
  color: #000000b8;
  border-color: #000000b8;
}