<section class="text-center" *ngIf="gestionComiteObra !== undefined">
    <div class="d-flex justify-content-center colorMainColor">
        <p>Periodo del reporte: <b>{{ seguimientoSemanal.fechaInicio | date: 'dd/MM/yyyy' }} - {{ seguimientoSemanal.fechaFin | date: 'dd/MM/yyyy' }}</b> </p>
        <p style="margin-left: 2em;">Número de comité de obra: <b> {{ numeroComiteObra }} </b> </p>
    </div>

    <div align="left">
        <mat-card class="border">
            <mat-card-content class="mt-1em">
              <p><b>Fecha de comité de obra</b>: {{ gestionComiteObra.fechaComite | date: 'dd/MM/yyyy' }} </p>
              <p><b>URL con soporte</b>: {{ gestionComiteObra.urlSoporteComite }} </p>
            </mat-card-content>
        </mat-card>
    </div>
</section>