<div class="text-center container" *ngIf="contrato">
    <div class="text-right">
        <a routerLink="/verificarRequisitosTecnicosConstruccion" mat-button color="primary" class="btn-regresar">
            <img src="assets/img/icon/regresar.svg" alt="Regresar">
        </a>
    </div>
    <h1 class="title-menu--h1">
        Gestionar requisitos de inicio contrato {{ contrato.numeroContrato }} fase 2 - Construcción
    </h1>
    <section class="container margin-1em color-primary">
        <div class="text-center section-flex">
            <p class="mr-1em">Fecha de aprobacion de póliza: <b>{{ fechaPoliza | date: 'dd/MM/yyyy' }}</b></p>
            <p>Proyectos asociados: <b>{{ contrato.contratacion.contratacionProyecto.length }}</b></p>
        </div>
    </section>
    <section>
        <div class="text-center">
            <p class="info-container">
                <span class="info-text sin-diligenciar">Sin diligenciar</span>
                <span class="info-text en-proceso">En proceso</span>
                <span class="info-text completo">Completo</span>
            </p>
        </div>
        <mat-accordion *ngFor="let contratacion of contrato.contratacion.contratacionProyecto; index as i">
            <mat-expansion-panel class="expansion-style">
                <mat-expansion-panel-header class="expansion-style--header w-45">
                    <mat-panel-title class="expansion-style--title {{ contratacion.proyecto.estadoSemaforo }}">
                        {{ contratacion.proyecto.llaveMen }} -
                        {{ contratacion.proyecto[ 'institucionEducativa' ].nombre }} -
                        {{ contratacion.proyecto[ 'sede' ].nombre }}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div align="left">
                    <mat-card class="border">
                        <mat-card-content>
                            <p><b>Nombre del contratista</b>: {{ contrato.contratacion.contratista.nombre }}</p>
                            <p><b>Número de identificación (NIT/RUT)</b>:
                                {{ contrato.contratacion.contratista.numeroIdentificacion }}</p>
                            <p><b>Tipo de intervención</b>: {{ contratacion.proyecto.tipoIntervencionCodigo }}</p>
                            <p><b>Departamento</b>: {{ contratacion.proyecto.departamento }}</p>
                            <p><b>Municipio</b>: {{ contratacion.proyecto.municipio }}</p>
                            <p><b>Valor total del proyecto</b>:
                                {{ contratacion.proyecto.valorTotal | currency:'COP':'symbol-narrow':'.0-0' }}</p>
                        </mat-card-content>
                    </mat-card>
                </div>
                <section *ngIf="contratacion.proyecto.contratoConstruccion.length > 0">
                    <app-registro-hojas-vida-vrtc
                        [perfilProyecto]="contratacion.proyecto.contratoConstruccion[0].construccionPerfil"
                        [contratoId]="contrato.contratoId" 
                        [proyectoId]="contratacion.proyectoId"
                        (enviarPerfilesContrato)="getPerfilesContrato( i, $event )"
                        (perfilesCompletados)="estadoSemaforo( i, $event )">
                    </app-registro-hojas-vida-vrtc>
                </section>
                <section *ngIf="contratacion.proyecto.contratoConstruccion.length === 0">
                    <app-registro-hojas-vida-vrtc 
                        [perfilProyecto]="[]" 
                        [contratoId]="contrato.contratoId"
                        [proyectoId]="contratacion.proyectoId"
                        (enviarPerfilesContrato)="getPerfilesContrato( i, $event )"
                        (perfilesCompletados)="estadoSemaforo( i, $event )">
                    </app-registro-hojas-vida-vrtc>
                </section>
            </mat-expansion-panel>
        </mat-accordion>
    </section>
</div>