<div class="container text-center">
    <div class="text-right">
        <a routerLink="/gestionarTramiteControversiasContractuales/actualizarReclamoAseguradora" mat-button color="primary" class="btn-regresar">
            <img src="assets/img/icon/regresar.svg" alt="Regresar">
        </a>
    </div>
    <h1 class="title-menu--h1">
        Ver detalle/Editar actuacion ACT controversia 17/08/2020 0003
    </h1>
    <p class="info-sub-title">
        <span>Solicitud: <b>CO00002</b> Número del contrato: <b>C223456789</b> Tipo de controversia: <b>Terminación anticipada por imposibilidad de ejecución (TAIE)</b></span>
    </p>
    <app-form-registar-actuacion-notai [isEditable]="true"></app-form-registar-actuacion-notai>
</div>
