.w-margin {
  width: 99%;
  margin-top: 1em;
}

.mt-1em {
  margin-top: .8em;
}

.padding-left {
  padding-left: .7em
}

.mr-min {
  margin-right: .7em;
}

.w-30 {
  width: 30%;
}

.w-31 {
  width: 31%;
}