<div class="container text-center">
    <div class="text-right">
        <a routerLink="/solicitarDisponibilidadPresupuestal" mat-button color="primary" class="btn-regresar">
            <img src="assets/img/icon/regresar.svg" alt="Regresar">
        </a>
    </div>
    <h1 class="title-menu--h1">
        Crear solicitud de disponibilidad presupuestal DDP tradicional
    </h1>
    <button mat-mini-fab color="primary" class="btn-info" (click)="verAyuda = !verAyuda">?</button>

    <div class="text-info" *ngIf="verAyuda">
        <button mat-icon-button (click)="verAyuda = false" class="text-info--close">
            <img src="assets/img/icon/cerrar-gris.svg" alt="cerrar ayuda">
        </button>

        Bienvenido/a, aquí podrá realizar una solicitud de disponibilidad presupuestal, y la modificación o cancelación
        de esta para los proyectos creados que tienen registro completo, aprobación de comité técnico y que se
        encuentran activos en el sistema de información.
    </div>
    <div class="busqueda">
        <mat-form-field appearance="outline" class="busqueda--input">
            <mat-label>Buscador / Filtro</mat-label>
            <input matInput #filtro (keyup)="applyFilter($event)">
        </mat-form-field>
        <button mat-button color="primary" class="busqueda--img" (click)="filtro.focus()">
            <img src="assets/img/icon/lupa.svg" alt="Buscar">
        </button>
    </div>
    <div class="table-responsive">
        <table mat-table [dataSource]="dataSource" matSort>
    
            <ng-container matColumnDef="fechaSolicitud">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de la solicitud </th>
                <td mat-cell *matCellDef="let element"> <b>{{element.fechaSolicitud | date: 'dd/MM/yyyy'}}</b> </td>
            </ng-container>
    
            <ng-container matColumnDef="tipoSolicitudText">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo de solicitud </th>
                <td mat-cell *matCellDef="let element"> {{element.tipoSolicitudText}} </td>
            </ng-container>
    
            <ng-container matColumnDef="numeroSolicitud">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Número de solicitud </th>
                <td mat-cell *matCellDef="let element"> {{element.numeroSolicitud}} </td>
            </ng-container>
    
            <ng-container matColumnDef="opcionContratar">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Opción por contratar </th>
                <td mat-cell *matCellDef="let element"> {{element.opcionContratar}} </td>
            </ng-container>
    
            <ng-container matColumnDef="valorSolicitud">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Valor solicitado </th>
                <td mat-cell *matCellDef="let element"> {{element.valorSolicitud | currency:'USD':'symbol':'1.0'}} </td>
            </ng-container>
    
            <ng-container matColumnDef="estadoSolicitudText">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado de la solicitud </th>
                <td mat-cell *matCellDef="let element">
                    <section *ngIf=" element.estadoSolicitudText.length === 0">
                        Sin registro
                    </section>
                    <section *ngIf=" element.estadoSolicitudText.length > 0">
                        {{element.estadoSolicitudText}}
                    </section>
                </td>
            </ng-container>
    
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Gestión </th>
                <td mat-cell *matCellDef="let element">
    
                    <button mat-raised-button color="accent" 
                            class="btn-table" 
                            (click)="enviarSolicitud(element.disponibilidadPresupuestalId)"
                            *ngIf="element.disponibilidadPresupuestalId && element.estadoSolicitudText == '' ||
                            element.estadoSolicitudText == 'Devuelta por validación presupuestal'">
                            Enviar solicitud
                    </button>
                    <button mat-raised-button color="accent" 
                            class="btn-table" 
                            (click)="eliminarSolicitud(element.disponibilidadPresupuestalId)"
                            *ngIf="element.disponibilidadPresupuestalId && element.estadoSolicitudText == ''">
                            Eliminar
                    </button>
                    
                    <a mat-raised-button color="accent" 
                            class="btn-table" 
                            [routerLink]="['./registrar', element.contratacionId, element.disponibilidadPresupuestalId,1]"
                            *ngIf="element.disponibilidadPresupuestalId != 0 && (element.estadoSolicitudText == '' ||
                            element.estadoSolicitudText == 'Devuelta por validación presupuestal')">
                            Ver detalle /Editar
                    </a>
                    
                    <a mat-raised-button color="accent" 
                        class="btn-table" 
                        [routerLink]="['./registrar', element.contratacionId, element.disponibilidadPresupuestalId,1]"
                        *ngIf="element.disponibilidadPresupuestalId == 0">
                        Registrar información adicional
                    </a>

                    <a  mat-raised-button color="accent" 
                        class="btn-table" 
                        [routerLink]="['verDetalle', element.contratacionId, element.disponibilidadPresupuestalId,1]"
                        *ngIf="element.disponibilidadPresupuestalId != 0 && ( element.estadoSolicitudText === 'Con validación presupuestal' ||
                         element.estadoSolicitudText === 'En validación presupuestal' ||  element.estadoSolicitudText === 'Con disponibilidad presupuestal'
                         ||  element.estadoSolicitudText === 'Rechazada por validación presupuestal' 
                         ||  element.estadoSolicitudText === 'Devuelta por coordinación financiera'
                         ||  element.estadoSolicitudText === 'Con registro presupuestal')">
                        Ver detalle
                    </a>
    
                    </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>