<div class="text-center">
  <p class="info-container">
    <span class="info-text sin-diligenciar">Sin diligenciar</span>
    <span class="info-text en-proceso">En proceso</span>
    <span class="info-text completo">Completo</span>
  </p>

  <mat-accordion>
    <mat-expansion-panel class="expansion-style">
      <mat-expansion-panel-header class="expansion-style--header">
        <mat-panel-title class="expansion-style--title">
          Informe final y anexos
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-tabla-informe-final-anexos></app-tabla-informe-final-anexos>
    </mat-expansion-panel>
  </mat-accordion>
</div>
