<div class="pt-1em">
  <form [formGroup]="addressForm" novalidate (ngSubmit)="guardarNuevosProponentes()">
    <div formArrayName="proponentes">
      <div *ngFor="let proponente of proponentesField.controls; let j = index" [formGroupName]="j">
        <mat-card-title class="header-card--text"> Proponente Nuevo {{ j + 1 }}</mat-card-title>
        <div class="row">
          <div class="col-md-8">
            <div class="row">
              <div class="pr-1">
                <label
                  class="label-left"
                  for="tipoProponenteCodigo"
                  [class.color-secondaryColor]="
                    (proponente.get('tipoProponenteCodigo').invalid &&
                      proponente.get('tipoProponenteCodigo').touched) ||
                    (proponente.get('tipoProponenteCodigo').invalid && estaEditando)
                  "
                >
                  Tipos de proponente nuevo
                </label>
              </div>
              <div class="col d-flex">
                <mat-form-field class="select-width">
                  <mat-select formControlName="tipoProponenteCodigo" (selectionChange)="limpiarForms()" required>
                    <mat-option *ngFor="let proponenteName of listaProponentes" [value]="proponenteName.codigo">
                      {{ proponenteName.nombre }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <span class="icon-incompleto">
                <img
                  class="icon-incompleto--img"
                  src="assets/img/icon/incompleto.svg"
                  alt="este campo es requerido"
                  [matTooltipPosition]="'above'"
                  matTooltip="Debe ingresar la información en el campo para continuar"
                  matTooltipClass="info-tooltip"
                  *ngIf="
                    (proponente.get('tipoProponenteCodigo').invalid &&
                      proponente.get('tipoProponenteCodigo').touched) ||
                    (proponente.get('tipoProponenteCodigo').invalid && estaEditando)
                  "
                />
              </span>
            </div>
          </div>
        </div>
        <div *ngIf="proponente.get('tipoProponenteCodigo').value == 4">
          <div class="row">
            <div class="col-md-8">
              <div class="row">
                <div class="pr-1">
                  <label
                    for="cuantasEntidades"
                    class="label-left"
                    [class.color-secondaryColor]="
                      (proponente.get('cuantasEntidades')?.invalid && proponente.get('cuantasEntidades').touched) ||
                      (proponente.get('cuantasEntidades')?.invalid && estaEditando)
                    "
                  >
                    ¿Cuántas entidades integran la unión temporal o Consorcio?
                  </label>
                </div>
                <div class="col d-flex">
                  <mat-form-field class="full-width">
                    <input
                      matInput
                      #cuantasEntidades
                      type="number"
                      min="1"
                      max="99"
                      formControlName="cuantasEntidades"
                      (keyup)="CambioNumeroCotizantes(j)"
                      maxlength="2"
                      (keypress)="validateNumberKeypress($event)"
                      onKeyPress="if(this.value.length>=this.maxLength) return false;"
                      oninput="if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                      required
                    />
                  </mat-form-field>
                  <span
                    class="contador"
                    [matTooltipPosition]="'above'"
                    matTooltip="Campo numérico"
                    matTooltipClass="info-tooltip"
                  >
                    {{ 2 - cuantasEntidades.value.length }}
                  </span>
                </div>
                <span class="icon-incompleto">
                  <img
                    class="icon-incompleto--img"
                    src="assets/img/icon/incompleto.svg"
                    alt="este campo es requerido"
                    [matTooltipPosition]="'above'"
                    matTooltip="Debe ingresar la información en el campo para continuar"
                    matTooltipClass="info-tooltip"
                    *ngIf="
                      (proponente.get('cuantasEntidades')?.invalid && proponente.get('cuantasEntidades').touched) ||
                      (proponente.get('cuantasEntidades')?.invalid && estaEditando)
                    "
                  />
                </span>
              </div>
            </div>
          </div>
          <div *ngIf="proponente.get('cuantasEntidades').value > 0 && proponente.get('cuantasEntidades').value < 100">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="pr-1">
                    <label
                      for="nombreProponente"
                      class="label-left"
                      [class.color-secondaryColor]="
                        (proponente.get('nombreProponente')?.invalid && proponente.get('nombreProponente').touched) ||
                        (proponente.get('nombreProponente')?.invalid && estaEditando)
                      "
                    >
                      Nombre de la UT o Consorcio
                    </label>
                  </div>
                  <div class="col d-flex">
                    <mat-form-field class="full-width">
                      <input
                        matInput
                        #nombre3
                        type="text"
                        maxlength="1000"
                        formControlName="nombreProponente"
                        required
                      />
                    </mat-form-field>
                    <span
                      class="contador miles"
                      [matTooltipPosition]="'above'"
                      matTooltip="Campo alfanumérico"
                      matTooltipClass="info-tooltip"
                    >
                      {{ 1000 - nombre3.value.length }}
                    </span>
                    <span class="icon-incompleto">
                      <img
                        class="icon-incompleto--img"
                        src="assets/img/icon/incompleto.svg"
                        alt="este campo es requerido"
                        [matTooltipPosition]="'above'"
                        matTooltip="Debe ingresar la información en el campo para continuar"
                        matTooltipClass="info-tooltip"
                        *ngIf="
                          (proponente.get('nombreProponente')?.invalid && proponente.get('nombreProponente').touched) ||
                          (proponente.get('nombreProponente')?.invalid && estaEditando)
                        "
                      />
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <h2 class="card-subTitle">Integrantes</h2>
            <div formArrayName="entidades">
              <div *ngFor="let entidad of getEntidades(j).controls; let i = index">
                <div [formGroupName]="i">
                  <mat-card-title class="header-card--text sub-text"> Integrante {{ i + 1 }} </mat-card-title>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="row">
                        <div class="pr-1">
                          <label
                            for="nombre"
                            class="label-left"
                            [class.color-secondaryColor]="
                              (entidad.get('nombre')?.invalid && entidad.get('nombre').touched) ||
                              (entidad.get('nombre')?.invalid && estaEditando)
                            "
                          >
                            Nombre
                          </label>
                        </div>
                        <div class="col d-flex">
                          <mat-form-field class="full-width">
                            <input matInput #nombre3 type="text" maxlength="1000" formControlName="nombre" required />
                          </mat-form-field>
                          <span
                            class="contador miles"
                            [matTooltipPosition]="'above'"
                            matTooltip="Campo alfanumérico"
                            matTooltipClass="info-tooltip"
                          >
                            {{ 1000 - nombre3.value.length }}
                          </span>
                          <span class="icon-incompleto">
                            <img
                              class="icon-incompleto--img"
                              src="assets/img/icon/incompleto.svg"
                              alt="este campo es requerido"
                              [matTooltipPosition]="'above'"
                              matTooltip="Debe ingresar la información en el campo para continuar"
                              matTooltipClass="info-tooltip"
                              *ngIf="
                                (entidad.get('nombre')?.invalid && entidad.get('nombre').touched) ||
                                (entidad.get('nombre')?.invalid && estaEditando)
                              "
                            />
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-8">
                      <div class="row">
                        <div class="pr-1">
                          <label
                            for="porcentaje"
                            class="label-left"
                            [class.color-secondaryColor]="
                              (entidad.get('porcentaje')?.invalid && entidad.get('porcentaje').touched) ||
                              (entidad.get('porcentaje')?.invalid && estaEditando)
                            "
                          >
                            Porcentaje de participación
                          </label>
                        </div>
                        <div class="col d-flex">
                          <mat-form-field class="full-width">
                            <input
                              matInput
                              #porcentaje
                              type="number"
                              min="1"
                              max="100"
                              maxLength="3"
                              formControlName="porcentaje"
                              oninput="if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                              required
                            />
                            <input type="hidden" formControlName="procesoSeleccionIntegranteId" />
                          </mat-form-field>
                          <span class="contador">%</span>
                          <span class="icon-incompleto">
                            <img
                              class="icon-incompleto--img"
                              src="assets/img/icon/incompleto.svg"
                              alt="este campo es requerido"
                              [matTooltipPosition]="'above'"
                              matTooltip="Debe ingresar la información en el campo para continuar"
                              matTooltipClass="info-tooltip"
                              *ngIf="
                                (entidad.get('porcentaje')?.invalid && entidad.get('porcentaje').touched) ||
                                (entidad.get('porcentaje')?.invalid && estaEditando)
                              "
                            />
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 text-right" *ngIf="getEntidades(j).controls.length > 1">
                      <button
                        mat-button
                        color="warn"
                        type="button"
                        class="btn-eliminar"
                        (click)="borrarArray(entidades, i)"
                      >
                        <img src="assets/img/icon/menos.svg" alt="Eliminar integrante" />
                        Eliminar integrante
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <h2 class="card-subTitle">Datos del representante legal</h2>
          </div>
        </div>
        <div
          *ngIf="
            proponente.get('tipoProponenteCodigo').value == 1 ||
            proponente.get('tipoProponenteCodigo').value == 2 ||
            (proponente.get('tipoProponenteCodigo').value == 4 &&
              proponente.get('cuantasEntidades').value > 0 &&
              proponente.get('cuantasEntidades').value < 100)
          "
        >
          <div
            class="row"
            *ngIf="
              proponente.get('tipoProponenteCodigo').value == 1 || proponente.get('tipoProponenteCodigo').value == 2
            "
          >
            <div class="pr-1">
              <label
                for="nombre"
                class="label-left"
                [class.color-secondaryColor]="
                  (proponente.get('nombreProponente')?.invalid && proponente.get('nombreProponente').touched) ||
                  (proponente.get('nombreProponente')?.invalid && estaEditando)
                "
              >
                <span *ngIf="proponente.get('tipoProponenteCodigo').value == 1"> Nombre del proponente </span>
                <span *ngIf="proponente.get('tipoProponenteCodigo').value == 2"> Nombre </span>
              </label>
            </div>
            <div class="col d-flex">
              <mat-form-field
                class="full-width"
                [matTooltipPosition]="'above'"
                matTooltip="Búsqueda sugerida, ingrese al menos un carácter"
                matTooltipClass="info-tooltip"
              >
                <input
                  matInput
                  #nombre
                  type="text"
                  maxlength="1000"
                  formControlName="nombreProponente"
                  required
                  [matAutocomplete]="auto"
                />
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option
                    (click)="seleccionAutocomplete(nombres)"
                    *ngFor="let nombres of filteredName | async"
                    [value]="nombres"
                  >
                    {{ nombres }}
                  </mat-option>
                </mat-autocomplete>
                <input type="hidden" formControlName="procesoSeleccionProponenteId" />
              </mat-form-field>
              <span
                class="contador miles"
                [matTooltipPosition]="'above'"
                matTooltip="Campo alfanumérico"
                matTooltipClass="info-tooltip"
              >
                {{ 1000 - nombre.value.length }}
              </span>
              <span class="icon-incompleto">
                <img
                  class="icon-incompleto--img"
                  src="assets/img/icon/incompleto.svg"
                  alt="este campo es requerido"
                  [matTooltipPosition]="'above'"
                  matTooltip="Debe ingresar la información en el campo para continuar"
                  matTooltipClass="info-tooltip"
                  *ngIf="
                    (proponente.get('nombreProponente')?.invalid && proponente.get('nombreProponente').touched) ||
                    (proponente.get('nombreProponente')?.invalid && estaEditando)
                  "
                />
              </span>
            </div>
          </div>
          <div class="row">
            <div class="pr-1">
              <label
                for="numeroIdentificacion"
                class="label-left"
                [class.color-secondaryColor]="
                  (proponente.get('numeroIdentificacion')?.invalid && proponente.get('numeroIdentificacion').touched) ||
                  (proponente.get('numeroIdentificacion')?.invalid && estaEditando)
                "
              >
                <span *ngIf="proponente.get('tipoProponenteCodigo').value == 1">
                  Número de identificación del proponente
                </span>
                <span *ngIf="proponente.get('tipoProponenteCodigo').value == 2">
                  Número de identificación tributaria (NIT)
                </span>
                <span *ngIf="proponente.get('tipoProponenteCodigo').value == 4"> Cédula del representante legal </span>
              </label>
            </div>
            <div class="col d-flex">
              <mat-form-field class="full-width">
                <input
                  matInput
                  #numeroIdentificacion
                  type="number"
                  maxlength="12"
                  formControlName="numeroIdentificacion"
                  required
                  (keypress)="validateNumberKeypress($event)"
                  onKeyPress="if(this.value.length>=this.maxLength) return false;"
                  oninput="if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                />
              </mat-form-field>
              <span
                class="contador"
                [matTooltipPosition]="'above'"
                matTooltip="Campo numérico"
                matTooltipClass="info-tooltip"
              >
                {{ 12 - numeroIdentificacion.value.length }}
              </span>
              <span class="icon-incompleto">
                <img
                  class="icon-incompleto--img"
                  src="assets/img/icon/incompleto.svg"
                  alt="este campo es requerido"
                  [matTooltipPosition]="'above'"
                  matTooltip="Debe ingresar la información en el campo para continuar"
                  matTooltipClass="info-tooltip"
                  *ngIf="
                    (proponente.get('numeroIdentificacion')?.invalid &&
                      proponente.get('numeroIdentificacion').touched) ||
                    (proponente.get('numeroIdentificacion')?.invalid && estaEditando)
                  "
                />
              </span>
            </div>
          </div>

          <!-- esto es de Individual y juridica -->
          <div class="row" *ngIf="proponente.get('tipoProponenteCodigo').value == 2">
            <div class="col-md-12">
              <div class="row">
                <div class="pr-1">
                  <label
                    for="nombreRepresentanteLegal"
                    class="label-left"
                    [class.color-secondaryColor]="
                      (proponente.get('nombreRepresentanteLegal')?.invalid &&
                        proponente.get('nombreRepresentanteLegal').touched) ||
                      (proponente.get('nombreRepresentanteLegal')?.invalid && estaEditando)
                    "
                  >
                    Representante legal
                  </label>
                </div>
                <div class="col d-flex">
                  <mat-form-field class="full-width">
                    <input
                      matInput
                      #nombreRepresentanteLegal2
                      type="text"
                      maxlength="1000"
                      formControlName="nombreRepresentanteLegal"
                      required
                    />
                  </mat-form-field>
                  <span
                    class="contador miles"
                    [matTooltipPosition]="'above'"
                    matTooltip="Campo alfanumérico"
                    matTooltipClass="info-tooltip"
                  >
                    {{ 1000 - nombreRepresentanteLegal2.value.length }}
                  </span>
                  <span class="icon-incompleto">
                    <img
                      class="icon-incompleto--img"
                      src="assets/img/icon/incompleto.svg"
                      alt="este campo es requerido"
                      [matTooltipPosition]="'above'"
                      matTooltip="Debe ingresar la información en el campo para continuar"
                      matTooltipClass="info-tooltip"
                      *ngIf="
                        (proponente.get('nombreRepresentanteLegal')?.invalid &&
                          proponente.get('nombreRepresentanteLegal').touched) ||
                        (proponente.get('nombreRepresentanteLegal')?.invalid && estaEditando)
                      "
                    />
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="proponente.get('tipoProponenteCodigo').value == 2">
            <div class="col-md-8">
              <div class="row">
                <div class="pr-1">
                  <label
                    for="cedulaRepresentanteLegal"
                    class="label-left"
                    [class.color-secondaryColor]="
                      (proponente.get('cedulaRepresentanteLegal')?.invalid &&
                        proponente.get('cedulaRepresentanteLegal').touched) ||
                      (proponente.get('cedulaRepresentanteLegal')?.invalid && estaEditando)
                    "
                  >
                    Cédula del representante legal
                  </label>
                </div>
                <div class="col d-flex">
                  <mat-form-field class="full-width">
                    <input
                      matInput
                      #cedulaRepresentanteLegal2
                      type="number"
                      maxlength="12"
                      formControlName="cedulaRepresentanteLegal"
                      required
                      (keypress)="validateNumberKeypress($event)"
                      onKeyPress="if(this.value.length>=this.maxLength) return false;"
                      oninput="if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                    />
                  </mat-form-field>
                  <span
                    class="contador"
                    [matTooltipPosition]="'above'"
                    matTooltip="Campo numérico"
                    matTooltipClass="info-tooltip"
                  >
                    {{ 12 - cedulaRepresentanteLegal2.value.length }}
                  </span>
                  <span class="icon-incompleto">
                    <img
                      class="icon-incompleto--img"
                      src="assets/img/icon/incompleto.svg"
                      alt="este campo es requerido"
                      [matTooltipPosition]="'above'"
                      matTooltip="Debe ingresar la información en el campo para continuar"
                      matTooltipClass="info-tooltip"
                      *ngIf="
                        (proponente.get('cedulaRepresentanteLegal')?.invalid &&
                          proponente.get('cedulaRepresentanteLegal').touched) ||
                        (proponente.get('cedulaRepresentanteLegal')?.invalid && estaEditando)
                      "
                    />
                  </span>
                </div>
              </div>
            </div>
          </div>
          <!-- esto es de Individual y juridica -->

          <div class="row">
            <div class="col-md-8">
              <div class="row">
                <div class="pr-1">
                  <label
                    for="departamento"
                    class="label-left"
                    [class.color-secondaryColor]="
                      (proponente.get('departamento')?.invalid && proponente.get('departamento').touched) ||
                      (proponente.get('departamento')?.invalid && estaEditando)
                    "
                  >
                    Departamento del domicilio del proponente
                  </label>
                </div>
                <div class="col">
                  <mat-form-field class="select-width capitalize">
                    <mat-select formControlName="nombreDepartamento" required (selectionChange)="changeDepartamento(j)">
                      <mat-option
                        *ngFor="let departamento of listaDepartamentos"
                        class="capitalize"
                        [value]="departamento.localizacionId"
                      >
                        {{ departamento.descripcion }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <span class="icon-incompleto">
                  <img
                    class="icon-incompleto--img"
                    src="assets/img/icon/incompleto.svg"
                    alt="este campo es requerido"
                    [matTooltipPosition]="'above'"
                    matTooltip="Debe ingresar la información en el campo para continuar"
                    matTooltipClass="info-tooltip"
                    *ngIf="
                      (proponente.get('departamento')?.invalid && proponente.get('departamento').touched) ||
                      (proponente.get('departamento')?.invalid && estaEditando)
                    "
                  />
                </span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <div class="row">
                <div class="pr-1">
                  <label
                    for="localizacionIdMunicipio"
                    class="label-left"
                    [class.color-secondaryColor]="
                      (proponente.get('localizacionIdMunicipio')?.invalid && proponente.get('localizacionIdMunicipio').touched) ||
                      (proponente.get('localizacionIdMunicipio')?.invalid && estaEditando)
                    "
                  >
                    Municipio del domicilio del proponente
                  </label>
                </div>
                <div class="col">
                  <mat-form-field class="select-width capitalize">
                    <mat-select formControlName="localizacionIdMunicipio" required>
                      <mat-option *ngFor="let municipio of listaMunicipios[j]" class="capitalize" [value]="municipio.localizacionId">
                        {{ municipio.descripcion }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <span class="icon-incompleto">
                  <img
                    class="icon-incompleto--img"
                    src="assets/img/icon/incompleto.svg"
                    alt="este campo es requerido"
                    [matTooltipPosition]="'above'"
                    matTooltip="Debe ingresar la información en el campo para continuar"
                    matTooltipClass="info-tooltip"
                    *ngIf="
                      (proponente.get('localizacionIdMunicipio')?.invalid && proponente.get('localizacionIdMunicipio').touched) ||
                      (proponente.get('localizacionIdMunicipio')?.invalid && estaEditando)
                    "
                  />
                </span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="pr-1">
              <label
                for="direccionProponente"
                class="label-left"
                [class.color-secondaryColor]="
                  (proponente.get('direccionProponente')?.invalid && proponente.get('direccionProponente').touched) ||
                  (proponente.get('direccionProponente')?.invalid && estaEditando)
                "
              >
                Dirección del proponente
              </label>
            </div>
            <div class="col d-flex">
              <mat-form-field class="full-width">
                <input
                  matInput
                  #direccionProponente
                  type="text"
                  maxlength="500"
                  formControlName="direccionProponente"
                  required
                />
              </mat-form-field>
              <span
                class="contador"
                [matTooltipPosition]="'above'"
                matTooltip="Campo alfanumérico"
                matTooltipClass="info-tooltip"
              >
                {{ 500 - direccionProponente.value.length }}
              </span>
              <span class="icon-incompleto">
                <img
                  class="icon-incompleto--img"
                  src="assets/img/icon/incompleto.svg"
                  alt="este campo es requerido"
                  [matTooltipPosition]="'above'"
                  matTooltip="Debe ingresar la información en el campo para continuar"
                  matTooltipClass="info-tooltip"
                  *ngIf="
                    (proponente.get('direccionProponente')?.invalid && proponente.get('direccionProponente').touched) ||
                    (proponente.get('direccionProponente')?.invalid && estaEditando)
                  "
                />
              </span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <div class="row">
                <div class="pr-1">
                  <label
                    for="telefonoProponente"
                    class="label-left"
                    [class.color-secondaryColor]="
                      (proponente.get('telefonoProponente')?.invalid && proponente.get('telefonoProponente').touched) ||
                      (proponente.get('telefonoProponente')?.invalid && estaEditando)
                    "
                  >
                    Teléfono del proponente
                  </label>
                </div>
                <div class="col d-flex">
                  <mat-form-field class="full-width">
                    <input
                      matInput
                      #telefonoProponente
                      type="number"
                      maxlength="10"
                      formControlName="telefonoProponente"
                      required
                      (keypress)="validateNumberKeypress($event)"
                      onKeyPress="if(this.value.length>=this.maxLength) return false;"
                      oninput="if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                    />
                  </mat-form-field>
                  <span
                    class="contador"
                    [matTooltipPosition]="'above'"
                    matTooltip="Campo numérico"
                    matTooltipClass="info-tooltip"
                  >
                    {{ 10 - telefonoProponente.value.length }}
                  </span>
                  <span class="icon-incompleto">
                    <img
                      class="icon-incompleto--img"
                      src="assets/img/icon/incompleto.svg"
                      alt="este campo es requerido"
                      [matTooltipPosition]="'above'"
                      matTooltip="Debe ingresar la información en el campo para continuar"
                      matTooltipClass="info-tooltip"
                      *ngIf="
                        (proponente.get('telefonoProponente')?.invalid &&
                          proponente.get('telefonoProponente').touched) ||
                        (proponente.get('telefonoProponente')?.invalid && estaEditando)
                      "
                    />
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="pr-1">
              <label
                for="emailProponente"
                class="label-left"
                [class.color-secondaryColor]="
                  (proponente.get('emailProponente')?.invalid && proponente.get('emailProponente').touched) ||
                  (proponente.get('emailProponente')?.invalid && estaEditando)
                "
              >
                Correo electrónico del proponente
              </label>
            </div>
            <div class="col d-flex">
              <mat-form-field class="full-width">
                <input
                  matInput
                  #emailProponente
                  type="email"
                  maxlength="1000"
                  formControlName="emailProponente"
                  required
                />
              </mat-form-field>
              <span class="contador miles">
                {{ 1000 - emailProponente.value.length }}
              </span>
              <span class="icon-incompleto">
                <img
                  class="icon-incompleto--img"
                  src="assets/img/icon/incompleto.svg"
                  alt="este campo es requerido"
                  [matTooltipPosition]="'above'"
                  matTooltip="Debe ingresar la información en el campo para continuar"
                  matTooltipClass="info-tooltip"
                  *ngIf="
                    (proponente.get('emailProponente')?.invalid && proponente.get('emailProponente').touched) ||
                    (proponente.get('emailProponente')?.invalid && estaEditando)
                  "
                />
              </span>
            </div>
          </div>
        </div>
        <div class="text-center">
          <button
            mat-button
            color="warn"
            class="btn-guardar"
            type="submit"
            *ngIf="j + 1 === proponentesField.controls.length"
          >
            <img src="assets/img/icon/guardar.svg" alt="Guardar" />
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
