.full-width {
  width: 100%;
}

.shipping-card {
  min-width: 120px;
  margin: 20px auto;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}

@media only screen and (min-width: 75em) {
  .margin-tabla {
    margin-top: 2em;
    margin-left: 5em;
    margin-right: 5em;
  }
}

.mt-2em {
  margin-top: 2em;
}