<div class="container text-center">
    <div class="busqueda">
        <mat-form-field appearance="outline" class="busqueda--input">
            <mat-label>Buscador / Filtro</mat-label>
            <input matInput #filtro (keyup)="applyFilter($event)">
        </mat-form-field>
        <button mat-button color="primary" class="busqueda--img" (click)="filtro.focus()">
            <img src="assets/img/icon/lupa.svg" alt="Buscar">
        </button>
    </div>
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <ng-container matColumnDef="tipo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo de proceso </th>
            <td mat-cell *matCellDef="let element"> {{element.tipo}} </td>
        </ng-container>

        <ng-container matColumnDef="numero">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Número de proceso </th>
            <td mat-cell *matCellDef="let element"> {{element.numero}} </td>
        </ng-container>

        <ng-container matColumnDef="fechaSolicitud">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de solicitud </th>
            <td mat-cell *matCellDef="let element"> {{element.fechaSolicitud}} </td>
        </ng-container>

        <ng-container matColumnDef="numeroSolicitud">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Número de solucitud </th>
            <td mat-cell *matCellDef="let element"> {{element.numeroSolicitud}} </td>
        </ng-container>

        <ng-container matColumnDef="estadoDelSolicitud">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado de solicitud </th>
            <td mat-cell *matCellDef="let element"> {{element.estadoDelSolicitud}} </td>
        </ng-container>

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Gestión </th>
            <td mat-cell *matCellDef="let element">
                <button mat-raised-button color="accent" class="btn-table">Ver detalle/ Edita</button>
                <button mat-raised-button color="accent" class="btn-table">Enviar solicitud a comité</button>
                <button mat-raised-button color="accent" class="btn-table">Eliminar</button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>