<section class="container" *ngIf="data != null">
  <div class="text-right">
    <a routerLink="./../" mat-button color="primary" class="btn-regresar">
      <img src="assets/img/icon/regresar.svg" alt="Regresar" />
    </a>
  </div>
  <div class="text-center">
    <h1 class="title-menu--h1">
      Recursos comprometidos y pagados
      {{ data.llaveMen }}
    </h1>
    <p class="colorMainColor mt-05em">
      <span class="mx-1em">
        Número de contrato de obra:
        <b> {{ data.numeroContratoObra }} </b>
      </span>
      <span class="mx-1em">
        Número de contrato de interventoría:
        <b> {{ data.numeroContratoInterventoria }} </b>
      </span>
    </p>
  </div>

  <mat-card class="shipping-card var-main-gris">
    <mat-card-content>
      <p>
        <strong>
          Tipo de intervención:
        </strong>
        {{ data.tipoIntervencion }}
      </p>
      <p>
        <strong>
          Institución Educativa:
        </strong>
        {{ data.institucionEducativa }}
      </p>
      <p>
        <strong>
          Sede:
        </strong>
        {{ data.sedeEducativa }}
      </p>
      <p>
        <strong>
          Departamento:
        </strong>
        {{ data.departamento }}
      </p>
      <p>
        <strong>
          Municipio:
        </strong>
        {{ data.municipio }}
      </p>
    </mat-card-content>
  </mat-card>

  <mat-accordion>
    <mat-expansion-panel class="expansion-style">
      <mat-expansion-panel-header class="expansion-style--header">
        <mat-panel-title class="expansion-style--title">
          Contrato de obra &nbsp;<span *ngIf="contratoObra">{{ contratoObra.numeroContrato }}</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-accordion>
        <mat-expansion-panel class="expansion-style sub-expansion">
          <mat-expansion-panel-header class="expansion-style--header">
            <mat-panel-title class="expansion-style--title">
              Recursos comprometidos
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-detalle-recursos-comprometidos *ngIf="contratoObra" [contratacionProyecto]="contratoObra.contratacion.contratacionProyecto"></app-detalle-recursos-comprometidos>
        </mat-expansion-panel>
        <mat-expansion-panel class="expansion-style sub-expansion">
          <mat-expansion-panel-header class="expansion-style--header">
            <mat-panel-title class="expansion-style--title">
              Contratistas
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-detalle-contratistas *ngIf="contratoObra" [contratista]="contratoObra.contratacion.contratista"></app-detalle-contratistas>
        </mat-expansion-panel>
        <mat-expansion-panel class="expansion-style sub-expansion">
          <mat-expansion-panel-header class="expansion-style--header">
            <mat-panel-title class="expansion-style--title">
              Valor total ordenes de giro
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-tabla-total-ordenes-de-giro *ngIf="contratoObra" [solicitudPago]="contratoObra.solicitudPago"></app-tabla-total-ordenes-de-giro>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-expansion-panel>
    <mat-expansion-panel class="expansion-style">
      <mat-expansion-panel-header class="expansion-style--header">
        <mat-panel-title class="expansion-style--title">
          Contrato de interventoría &nbsp;<span *ngIf="contratoInterventoria">{{ contratoInterventoria.numeroContrato }}</span>
      </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-accordion>
        <mat-expansion-panel class="expansion-style sub-expansion">
          <mat-expansion-panel-header class="expansion-style--header">
            <mat-panel-title class="expansion-style--title">
              Recursos comprometidos
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-detalle-recursos-comprometidos *ngIf="contratoInterventoria" [contratacionProyecto]="contratoInterventoria.contratacion.contratacionProyecto"></app-detalle-recursos-comprometidos>
        </mat-expansion-panel>
        <mat-expansion-panel class="expansion-style sub-expansion">
          <mat-expansion-panel-header class="expansion-style--header">
            <mat-panel-title class="expansion-style--title">
              Contratistas
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-detalle-contratistas *ngIf="contratoInterventoria" [contratista]="contratoInterventoria.contratacion.contratista"></app-detalle-contratistas>
        </mat-expansion-panel>
        <mat-expansion-panel class="expansion-style sub-expansion">
          <mat-expansion-panel-header class="expansion-style--header">
            <mat-panel-title class="expansion-style--title">
              Valor total ordenes de giro
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-tabla-total-ordenes-de-giro *ngIf="contratoInterventoria" [solicitudPago]="contratoInterventoria.solicitudPago"></app-tabla-total-ordenes-de-giro>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-expansion-panel>
  </mat-accordion>

</section>
