<div class="container text-center mt-2em"  *ngIf="dataNovedad != null">
  <div class="text-right">
    <a routerLink="/contratosModificacionesContractuales" mat-button color="primary" class="btn-regresar">
      <img src="assets/img/icon/regresar.svg" alt="Regresar">
    </a>
  </div>

  <div class="text-center">
    <h1 class="title-menu--h1">
      <ng-container *ngIf="esVerDetalle === true; else noEsVerDetalle">
          Ver detalle solicitud {{ dataNovedad.numeroSolicitud }}
      </ng-container>
      <ng-template #noEsVerDetalle>
          Gestionar solicitud {{ dataNovedad.numeroSolicitud }}
      </ng-template>
    </h1>
  </div>
  <div class="text-center flex">
    <p class="color-titulo mr-right-8em">Fecha de solicitud: <b>{{ dataNovedad.fechaCreacion | date: 'dd/MM/yyyy' }}</b></p>
    <p class="color-titulo"><b>Modificación contractual</b></p>
  </div>
  <div align="left">
    <mat-card class="border">
      <mat-card-content>
       <div  *ngIf="dataNovedad['sesionComiteSolicitud'][0].comiteTecnicoFiduciario != 'undefined' && dataNovedad['sesionComiteSolicitud'][0].comiteTecnicoFiduciario != null">
          <p><b>Número de comité fiduciario</b>:{{ dataNovedad['sesionComiteSolicitud'][0].comiteTecnicoFiduciario.numeroComite }}</p>
          <p><b>Fecha de comité fiduciario</b>: {{ dataNovedad['sesionComiteSolicitud'][0].comiteTecnicoFiduciario.fechaOrdenDia | date: 'dd/MM/yyyy' }}</p>
        </div>
        <div *ngIf="dataNovedad['sesionComiteSolicitud'][0].comiteTecnico != 'undefined' && dataNovedad['sesionComiteSolicitud'][0].comiteTecnico != null">
          <p><b>Número de comité técnico</b>:{{ dataNovedad['sesionComiteSolicitud'][0].comiteTecnico.numeroComite }}</p>
          <p><b>Fecha de comité técnico</b>: {{ dataNovedad['sesionComiteSolicitud'][0].comiteTecnico.fechaOrdenDia | date: 'dd/MM/yyyy' }}</p>
        </div>
      </mat-card-content>
  </mat-card>
  </div>
  <div class="text-center">
    <mat-accordion>
      <mat-expansion-panel class="expansion-style">
        <mat-expansion-panel-header class="expansion-style--header w-50">
          <mat-panel-title class="expansion-style--title">
            Datos de contratista
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div align="left">
          <mat-card class="border">
            <mat-card-content>
              <p><b>Nombre del contratista</b>: {{ dataNovedad.contrato.contratacion.contratista.nombre }}</p>
              <p><b>Tipo de identificación</b>: {{ dataNovedad.contrato.contratacion.contratista.tipoIdentificacionNotMapped }}</p>
              <p><b>Número de identificación</b>: {{ dataNovedad.contrato.contratacion.contratista.numeroIdentificacion }}</p>
            </mat-card-content>
          </mat-card>
        </div>

      </mat-expansion-panel>

      <mat-expansion-panel class="expansion-style">
        <mat-expansion-panel-header class="expansion-style--header w-50">
          <mat-panel-title class="expansion-style--title">
            Datos del contrato
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div align="left">
          <mat-card class="border">
            <mat-card-content>
              <p><b>Tipo de contrato</b>: {{ dataNovedad.contrato.contratacion.tipoSolicitudCodigo === '2' ? 'Interventoria' : 'Obra' }}</p>
              <p><b>Valor del contrato</b>: {{ dataNovedad.contrato.contratacion.disponibilidadPresupuestal[0].valorSolicitud | currency:'COP':'symbol-narrow':'.0-0' }}</p>
              <p><b>Plazo</b>: {{ dataNovedad.contrato.contratacion[ 'plazoContratacion' ].plazoMeses }} meses / {{ dataNovedad.contrato.contratacion[ 'plazoContratacion' ].plazoDias }} días</p>
          </mat-card-content>
          </mat-card>
        </div>

      </mat-expansion-panel>

      <mat-expansion-panel class="expansion-style">
        <mat-expansion-panel-header class="expansion-style--header w-50">
          <mat-panel-title class="expansion-style--title">
            Detalle de modificación
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div align="left">
          <mat-card class="border">
            <mat-card-content>
              <p><b>Número de la solicitud de modificación</b>: {{ dataNovedad.numeroSolicitud }}</p>
              <p><b>Tipo de modificación</b>: {{ tipoModificacion }}</p>
              <p><b>URL con soporte</b>: {{ dataNovedad.urlSoporteGestionar }}</p>
              <div *ngFor="let element of dataNovedad.novedadContractualDescripcion; let f = index">
                <h3 *ngIf="dataNovedad?.novedadContractualDescripcion.length > 1"><b>Novedad {{ f+1 }}</b></h3>
                <p *ngIf="element.tipoNovedadCodigo === this.tipoNovedad.adicion"><b>Valor inicial del contrato</b>: {{ dataNovedad?.contrato?.contratacion?.disponibilidadPresupuestal[0]?.valorSolicitud | currency:'COP':'symbol-narrow':'.0-0' }}</p>
                <p *ngIf="element.tipoNovedadCodigo === this.tipoNovedad.adicion"><b>Valor adicionado</b>: {{ element.presupuestoAdicionalSolicitado | currency:'':'symbol':'3.0'}}</p>
                <p *ngIf="element.tipoNovedadCodigo === this.tipoNovedad.adicion"><b>Valor después de la modificación</b>: {{ (element.presupuestoAdicionalSolicitado + dataNovedad?.contrato?.contratacion?.disponibilidadPresupuestal[0]?.valorSolicitud) | currency:'':'symbol':'3.0'}}</p>
                <p *ngIf="element.tipoNovedadCodigo === this.tipoNovedad.prorroga"><b>Plazo inicial del contrato</b>: <span *ngIf="dataNovedad?.contrato?.contratacion?.plazoContratacion != null ">{{ dataNovedad?.contrato?.contratacion?.plazoContratacion?.plazoMeses }} meses / {{ dataNovedad?.contrato?.contratacion?.plazoContratacion?.plazoDias }} días</span></p>
                <p *ngIf="element.tipoNovedadCodigo === this.tipoNovedad.prorroga"><b>Plazo adicionado</b>: <span *ngIf="element.plazoAdicionalDias != null && element.plazoAdicionalMeses != null ">{{element?.plazoAdicionalMeses }} meses / {{element?.plazoAdicionalDias }} días</span></p>
                <p *ngIf="element.tipoNovedadCodigo === this.tipoNovedad.prorroga"><b>Plazo después de la modificación</b>: <span *ngIf="element.plazoModificacionMeses != null && element.plazoModificacionDias != null ">{{element.plazoModificacionMeses }} meses / {{ element.plazoModificacionDias }} días</span></p>
                <p *ngIf="element.tipoNovedadCodigo === this.tipoNovedad.suspension || element.tipoNovedadCodigo === this.tipoNovedad.prorroga_a_las_Suspension"><b>Fecha de inicio de la suspensión</b>: {{ element.fechaInicioSuspension | date: 'dd/MM/yyyy' }}</p>
                <p *ngIf="element.tipoNovedadCodigo === this.tipoNovedad.suspension || element.tipoNovedadCodigo === this.tipoNovedad.prorroga_a_las_Suspension"><b>Fecha final de la suspensión</b>: {{ element.fechaFinSuspension | date: 'dd/MM/yyyy' }}</p>
                <p *ngIf="element.tipoNovedadCodigo === this.tipoNovedad.reinicio"><b>Fecha de inicio del reinicio</b>: {{ element.fechaInicioSuspension | date: 'dd/MM/yyyy' }}</p>
                <p *ngIf="element.tipoNovedadCodigo === this.tipoNovedad.reinicio"><b>Fecha final del reinicio</b>: {{ element.fechaFinSuspension | date: 'dd/MM/yyyy' }}</p>
                <p *ngIf="element.tipoNovedadCodigo === this.tipoNovedad.modificacion_de_Condiciones_Contractuales">
                  <b>Cláusula</b>:<span [innerHTML]="element?.novedadContractualClausula[0].clausulaAmodificar"></span>
                  <b>Ajuste</b>:<span [innerHTML]="element?.novedadContractualClausula[0].ajusteSolicitadoAclausula"></span>
                </p>
                <p><b>Detalle de la modificación</b>: <span [innerHTML]="element.resumenJustificacion"></span></p>
              </div>
              <h2 class="card-subTitle back-color" *ngIf="adicionBoolean">Aportantes</h2>

              <div *ngFor="let aportante of dataNovedad.novedadContractualAportante; let i = index">
                <section>
                  <h1 style="margin-bottom: .2em;margin-top: 1em;"><b>Aportante {{ i+1 }}</b></h1>
                  <p><b>Tipo de aportante</b>: {{ aportante[ 'tipoAportante' ] }}</p>
                  <p><b>Nombre del aportante</b>: {{ aportante.nombreAportante }}</p>
                  <p><b>Valor del aportante al proyecto</b>: {{ aportante.valorAporte | currency: '':'symbol':'3.0' }}</p>
                </section>
                <section *ngFor="let componente of aportante.componenteAportanteNovedad; let componenteIndex = index">
                  <h2 style="margin-bottom: .2em;margin-top: 1em;"><b>Fase {{ componente.nombrefase }}</b></h2>
                  <div *ngFor="let fuente of componente.componenteFuenteNovedad; let f = index">
                    <h3><b>Fuente {{ f+1 }}</b></h3>
                    <p><b>Fuente</b>: {{ fuente.fuenteFinanciacion.nombreFuente }}</p>
                    <p><b>Valor solicitado de la fuente</b>: {{ fuente[ 'valorFuente' ] | currency: '':'symbol':'3.0' }}</p>
                  </div>
                </section>
              </div>

            </mat-card-content>
          </mat-card>
        </div>

      </mat-expansion-panel>

      <div class="text-center w-15" *ngIf="dataNovedad?.estadoCodigo != '14'">
        <button mat-raised-button color="accent" class="btn-table"
          (click)="getDdp( dataNovedad?.contrato?.contratacion?.disponibilidadPresupuestal[0].disponibilidadPresupuestalId, dataNovedad?.contrato?.contratacion?.disponibilidadPresupuestal[0].numeroDdp )">
          Descargar DDP
        </button>
      </div>

    </mat-accordion>
  </div>

  <div class="mt-2em" align="left" *ngIf="!esVerDetalle">
    <mat-card class="border">
      <mat-card-title class="text-area-quill--label">Registrar trámite</mat-card-title>
      <mat-card-content class="mt-2em">
        <p><b>Fecha del trámite</b>: {{ dataNovedad.contrato.contratacion.fechaTramite | date: 'dd/MM/yyyy' }}</p>
        <p><b>Número del contrato</b>: {{ dataNovedad.contrato.numeroContrato }}</p>
        <p><b>Modalidad del contrato</b>: <span *ngIf="modalidadContrato != null">{{ modalidadContrato }}</span></p>
        <app-form-registro-modificacion-contractual [dataFormulario]="formModificacionContractual"></app-form-registro-modificacion-contractual>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="mt-2em" align="left" *ngIf="esVerDetalle">
    <mat-card class="border">
      <mat-card-title class="text-area-quill--label">Datos del trámite</mat-card-title>
      <mat-card-content class="mt-2em">
        <p><b>Fecha del trámite</b>: {{ dataNovedad.contrato.contratacion.fechaTramite | date: 'dd/MM/yyyy' }}</p>
        <p><b>Número del contrato</b>: {{ dataNovedad.contrato.numeroContrato }}</p>
        <p><b>Modalidad del contrato</b>: <span *ngIf="modalidadContrato != null">{{ modalidadContrato }}</span></p>
        <p><b>Número de otrosí </b>: {{ dataNovedad.numeroOtroSi }}</p>
        <p><b>Fecha de envío para firma del contratista</b>: {{ dataNovedad.fechaEnvioFirmaContratista | date: 'dd/MM/yyyy' }}</p>
        <p><b>Fecha de firma por parte del contratista</b>: {{ dataNovedad.fechaFirmaContratista | date: 'dd/MM/yyyy' }}</p>
        <p><b>Fecha de envío para la firma de la fiduciaria</b>: {{ dataNovedad.fechaEnvioFirmaFiduciaria | date: 'dd/MM/yyyy' }}</p>
        <p><b>Fecha de firma por parte de la fiduciaria</b>: {{ dataNovedad.fechaFirmaFiduciaria | date: 'dd/MM/yyyy' }}</p>
        <p><b>Observaciones</b>: <span class="text-justify" [innerHTML]="dataNovedad.observacionesTramite"></span></p>
        <p><b>URL con soporte</b>: {{ dataNovedad.urlDocumentoSuscrita }}</p>
      </mat-card-content>
    </mat-card>
  </div>

</div>
