.mt-2em {
  margin-top: 2em;
}

.flex {
  display: flex;
  justify-content: center;
  margin-top: .8em;
}

.color-titulo {
  color: #174193;
}

.mr-right-8em {
  margin-right: 8em;
}

.mr-label {
  margin-right: 0.5em;
  margin-top: 1.5em;
}

.ml-1em {
  margin-left: .3em;
}

.border {
  border: solid 1px rgba(0,0,0,.54) !important;
}

.w-50 {
  width: 50%;
}

.w-45 {
  width: 45%;
}

.w-20 {
  width: 20%;
}

.w-15 {
  width: 15%;
  display: inline-block;
}