.supportBlack{
    color: #474747;
}

.mat-button.mat-warn[disabled], .mat-button[disabled][disabled] {
    opacity: .5;
}

table th.detalle{
    background-color: #474747;
    border-color: white;
}

table td.detalle{
    border-color: #474747;
    color: #474747;
}
.w-2{
    width: 2%;
}
.w-20{
    width: 20%;
}
.w-60{
    width: 60%;
}