<section *ngIf="contrato !== undefined && faseContrato.construccion !== undefined">
    <div class="table-responsive">
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
            <ng-container matColumnDef="faseContrato">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Fase del contrato </th>
                <td mat-cell *matCellDef="let element" align="center"> <b>Preguntar a Ivonne por esta tabla</b> </td>
            </ng-container>
            <ng-container matColumnDef="pagosRealizados">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Pagos Realizados </th>
                <td mat-cell *matCellDef="let element" align="center"> {{ element.pagosRealizados }} </td>
            </ng-container>
            <ng-container matColumnDef="valorFacturado">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Valor facturado </th>
                <td mat-cell *matCellDef="let element" align="center"> {{ element.valorFacturado }} </td>
            </ng-container>
            <ng-container matColumnDef="porcentajeFacturado">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Porcentaje facturado </th>
                <td mat-cell *matCellDef="let element" align="center"> {{ element.porcentajeFacturado }} </td>
            </ng-container>
            <ng-container matColumnDef="saldoPorPagar">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Saldo por pagar </th>
                <td mat-cell *matCellDef="let element" align="center"> {{ element.saldoPorPagar }} </td>
            </ng-container>
            <ng-container matColumnDef="porcentajePorPagar">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Porcentaje por pagar </th>
                <td mat-cell *matCellDef="let element" align="center"> {{ element.porcentajePorPagar }} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <!--<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>-->
    </div>
    <form [formGroup]="addressForm" novalidate (ngSubmit)="guardar()">
        <mat-card class="shipping-card" style="margin-top: 3em;">
            <mat-card-header class="header-card header-card--margin">
                <mat-card-title class="header-card--text">
                    Registro
                </mat-card-title>
            </mat-card-header>
            <mat-card-content style="text-align: left;">
                <div class="row">
                    <div class="col-md-8">
                        <div class="row">
                            <div class="pr-1">
                                <label class="label-left" for="fechaSolicitud">Fecha de solicitud</label>
                            </div>
                            <div class="col d-flex align-items-center">
                                <mat-form-field class="example-full-width">
                                    <input matInput formControlName="fechaSolicitud" [matDatepicker]="pickerFechaRevision"
                                        readonly (click)="pickerFechaRevision.open()" required placeholder="DD/MM/AAAA">
                                    <mat-datepicker #pickerFechaRevision></mat-datepicker>
                                </mat-form-field>
                                <button mat-button color="primary" type="button" (click)="pickerFechaRevision.open()"
                                    class="btn-calendario">
                                    <img src="assets/img/icon/calendarioCirculo.svg" alt="Abrir Calendario">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="row">
                            <div class="pr-1">
                                <label for="numeroRadicado" class="label-left">Número de radicado SAC</label>
                            </div>
                            <div class="col d-flex">
                                <mat-form-field class="full-width">
                                    <input matInput #numeroRadicado type="text" maxlength="10"
                                        formControlName="numeroRadicado" required>
                                </mat-form-field>
                                <span class="contador">{{10 - numeroRadicado.value.length}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="row">
                            <div class="pr-1">
                                <label class="label-left" for="faseContrato">Fase del contrato</label>
                            </div>
                            <div class="col">
                                <mat-form-field class="select-width">
                                    <mat-select formControlName="faseContrato" required>
                                        <mat-option *ngFor="let fase of fasesArray" [value]="fase">
                                            {{ fase.nombre }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
        <div class="text-center mb-2em">
            <button mat-button color="warn" class="btn-guardar" type="submit">
                <img src="assets/img/icon/guardar.svg" alt="Regresar">
            </button>
        </div>
    </form>
    <div *ngIf="addressForm.get( 'faseContrato' ).value !== null && addressForm.get( 'faseContrato' ).value.codigo === faseContrato.preConstruccion">
        <mat-accordion>
            <mat-expansion-panel class="expansion-style sub-expansion">
                <mat-expansion-panel-header class="expansion-style--header">
                    <mat-panel-title class="expansion-style--title" [ngClass]="enabledAcordeonFase( solicitudPagoRegistrarSolicitudPago?.registroCompleto, true )">
                        Fase 1 - Preconstrucción
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <!--
                    Validacion mat-acordeon de las fase preconstruccion
                    *ngIf="this.solicitudPagoRegistrarSolicitudPago !== undefined && this.solicitudPagoRegistrarSolicitudPago.registroCompleto === true"
                -->
                <mat-accordion>
                    <mat-expansion-panel class="expansion-style sub-expansion-black">
                        <mat-expansion-panel-header class="expansion-style--header">
                            <mat-panel-title class="expansion-style--title" [ngClass]="enabledAcordeonSubFase( solicitudPagoFase, 'criterioDePago' )">
                                Criterios de pago incluidos en la factura
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <app-form-criterios-pago [solicitudPago]="contrato.solicitudPagoOnly" [contratacionProyectoId]="contratacionProyectoId"></app-form-criterios-pago>
                    </mat-expansion-panel>
                    <mat-expansion-panel class="expansion-style sub-expansion-black">
                        <mat-expansion-panel-header class="expansion-style--header">
                            <mat-panel-title class="expansion-style--title" [ngClass]="enabledAcordeonSubFase( solicitudPagoFase, 'detalleFactura' )">
                                Detalle factura para proyectos asociados
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <app-detalle-factura-proyectos-asociados [solicitudPago]="contrato.solicitudPagoOnly"></app-detalle-factura-proyectos-asociados>
                    </mat-expansion-panel>
                </mat-accordion>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <div *ngIf="addressForm.get( 'faseContrato' ).value !== null && addressForm.get( 'faseContrato' ).value.codigo === faseContrato.construccion">
        <mat-accordion>
            <mat-expansion-panel class="expansion-style sub-expansion">
                <mat-expansion-panel-header class="expansion-style--header">
                    <mat-panel-title class="expansion-style--title" [ngClass]="enabledAcordeonFase( solicitudPagoRegistrarSolicitudPago?.registroCompleto, false )">
                        Fase 2 - Construcción
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <!--
                    *ngIf="this.solicitudPagoRegistrarSolicitudPago !== undefined && solicitudPagoRegistrarSolicitudPago.registroCompleto === true"
                -->
                <mat-accordion>
                    <mat-expansion-panel class="expansion-style sub-expansion-black">
                        <mat-expansion-panel-header class="expansion-style--header">
                            <mat-panel-title class="expansion-style--title sin-diligenciar">
                                Criterios de pago incluidos en la factura
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <app-form-criterios-pago [solicitudPago]="contrato.solicitudPagoOnly" [esPreconstruccion]="false" [contratacionProyectoId]="contratacionProyectoId"></app-form-criterios-pago>
                    </mat-expansion-panel>
                    <mat-expansion-panel class="expansion-style sub-expansion-black">
                        <mat-expansion-panel-header class="expansion-style--header">
                            <mat-panel-title class="expansion-style--title en-alerta">
                                Amortización del anticipo
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <app-form-amortizacion-anticipo></app-form-amortizacion-anticipo>
                    </mat-expansion-panel>
                    <mat-expansion-panel class="expansion-style sub-expansion-black">
                        <mat-expansion-panel-header class="expansion-style--header">
                            <mat-panel-title class="expansion-style--title en-alerta">
                                Detalle factura para proyectos asociados
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <app-detalle-factura-proyectos-asociados [solicitudPago]="contrato.solicitudPagoOnly"></app-detalle-factura-proyectos-asociados>
                    </mat-expansion-panel>
                </mat-accordion>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <mat-accordion>
        <mat-expansion-panel class="expansion-style sub-expansion">
            <mat-expansion-panel-header class="expansion-style--header">
                <mat-panel-title class="expansion-style--title en-alerta">
                    Datos de la factura
                </mat-panel-title>
            </mat-expansion-panel-header>
            <app-datos-factura-construccion-rvrp></app-datos-factura-construccion-rvrp>
        </mat-expansion-panel>
    </mat-accordion>
</section>