<div class="container text-center">
    <div class="busqueda">
        <mat-form-field appearance="outline" class="busqueda--input">
            <mat-label>Buscador / Filtro</mat-label>
            <input matInput #filtro (keyup)="applyFilter($event)">
        </mat-form-field>
        <button mat-button color="primary" class="busqueda--img" (click)="filtro.focus()">
            <img src="assets/img/icon/lupa.svg" alt="Buscar">
        </button>
    </div>
    <div class="table-responsive">
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

            <ng-container matColumnDef="fechaAprobacionRequisitos">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de aprobación
                    de requisitos </th>
                <!-- Caso mapeado <td mat-cell *matCellDef="let element"> <b>{{element.fechaFirma | date:'dd/MM/yyyy'}}</b></td>-->
                <td mat-cell *matCellDef="let element"> <b>{{element.fechaAprobacionRequisitos}}</b></td>
            </ng-container>

            <ng-container matColumnDef="numeroContratoObra">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Número del contrato de obra</th>
                <td mat-cell *matCellDef="let element">{{element.numeroContratoObra}}</td>
            </ng-container>

            <ng-container matColumnDef="estadoActa">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado del acta </th>
                <td mat-cell *matCellDef="let element"> {{element.estadoActa}} </td>
            </ng-container>

            <ng-container matColumnDef="contratoId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Gestión </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-raised-button color="accent" class="btn-table"
                        *ngIf="element.estadoActa=='Sin revisión'"
                        (click)="this.validarActaParaInicio(element.contratoId)">Validar acta de inicio</button>
                    <button mat-raised-button color="accent" class="btn-table" (click)="this.cargarActaSuscrita()"
                        *ngIf="element.estadoActa=='Con acta en proceso de firma'"> Cargar Acta Suscrita</button>
                    <button mat-raised-button color="accent" class="btn-table"
                        (click)="this.descargarActaDesdeTabla(element.contratoId)"
                        *ngIf="element.estadoActa=='Con acta en proceso de firma'"> Descargar Acta</button>
                    <button mat-raised-button color="accent" class="btn-table"
                        *ngIf="element.estadoActa=='Con revisión sin observaciones' || element.estadoActa=='Con revisión con observaciones'"
                        (click)="this.enviarRevision(element.contratoId,element.estadoActa)">Enviar para revisión y aprobación</button>
                    <button mat-raised-button color="accent" class="btn-table"
                        *ngIf="element.estadoActa=='Con revisión sin observaciones' || element.estadoActa=='Con revisión con observaciones'"
                        (click)="this.verDetalleEditar(element.contratoId)">Ver detalle/Editar</button>
                    <button mat-raised-button color="accent" class="btn-table"
                        *ngIf="element.estadoActa=='Enviado por el supervisor'"
                        (click)="this.enviarInterventor(element.contratoId)">Enviar para revisión y aprobación</button>
                    <button mat-raised-button color="accent" class="btn-table"
                        *ngIf="element.estadoActa=='Enviado por el supervisor' || element.estadoActa=='Enviada por el supervisor'"
                        (click)="this.verDetalle(element.contratoId)">Ver detalle</button>

                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>