<ng-container *ngIf="esVerDetalle === true; else noEsVerDetalle">
    <mat-card class="shipping-card var-main-gris">
        <mat-card-header class="header-card header-card--margin">
            <mat-card-title class="header-card--text">
                Amortización del anticipo en el criterio de pago
            </mat-card-title>
        </mat-card-header>
        <mat-card-content style="text-align: left;">
            <p><strong>Porcentaje de amortización:</strong> {{ addressForm.get( 'porcentajeAmortizacion' ).value }}% </p>
            <p><strong>Valor de amortización:</strong> {{ addressForm.get( 'valorAmortizacion' ).value | currency:'':'symbol-narrow':'.0-0' }} </p>
        </mat-card-content>
    </mat-card>
</ng-container>
<ng-template #noEsVerDetalle>
    <form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
        <mat-card class="shipping-card">
            <mat-card-header class="header-card header-card--margin">
                <mat-card-title class="header-card--text">
                    Amortización del anticipo en el criterio de pago
                </mat-card-title>
            </mat-card-header>
            <mat-card-content style="text-align: left;">
                <div class="row">
                    <div class="col-md-8">
                        <div class="row">
                            <div class="pr-1">
                                <label  class="label-left"> Saldo a amortizar </label>
                            </div>
                            <div class="col d-flex" style="margin-right: 5.4em;">
                                <mat-form-field class="full-width" >
                                    <input
                                        matInput
                                        type="number"
                                        [formControl]="valorPorAmortizar"
                                        disabled
                                    >
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="row">
                            <div class="pr-1">
                                <label  for="porcentajeAmortizacion"
                                        class="label-left"
                                        max="100"
                                        [ngClass]="{ 'color-secondaryColor':(addressForm.get('porcentajeAmortizacion').invalid && addressForm.get('porcentajeAmortizacion').touched) || (addressForm.get('porcentajeAmortizacion').invalid && estaEditando) }">
                                        Porcentaje de amortización
                                </label>
                            </div>
                            <div class="col d-flex">
                                <mat-form-field class="full-width">
                                    <input
                                    matInput
                                    #porcentajeAmortizacion
                                    type="number"
                                    formControlName="porcentajeAmortizacion"
                                    (ngModelChange)="numberValidate($event)"
                                    required
                                    >
                                </mat-form-field>
                                <span class="contador">%</span>
                            </div>
                            <span class="icon-incompleto">
                                <img    class="icon-incompleto--img"
                                        src="assets/img/icon/incompleto.svg"
                                        alt="este campo es requerido"
                                        [matTooltipPosition]="'above'"
                                        matTooltip="Debe ingresar la información en el campo para continuar"
                                        matTooltipClass="info-tooltip"
                                        *ngIf="(addressForm.get('porcentajeAmortizacion').invalid && addressForm.get('porcentajeAmortizacion').touched) || (addressForm.get('porcentajeAmortizacion').invalid && estaEditando)">
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="row">
                            <div class="pr-1">
                                <label  class="label-left"
                                        for="valorAmortizacion"
                                        [ngClass]="{ 'color-secondaryColor': (addressForm.get('valorAmortizacion').invalid && addressForm.get('valorAmortizacion').touched) || (addressForm.get('valorAmortizacion').invalid && estaEditando) }">
                                        Valor de amortización
                                </label>
                            </div>
                            <div class="col d-flex">
                                <mat-form-field class="full-width">
                                    <input  matInput
                                            #valorAmortizacion
                                            currencyMask
                                            maxlength="20"
                                            required
                                            formControlName="valorAmortizacion"
                                            (keypress)="validateNumberKeypress($event)"
                                            onKeyPress="if(this.value.length>=this.maxLength) return false; if (event.key === '-') this.value = ''"
                                            [options]="{ prefix: '$ ', thousands: '.', precision: '0', align: 'center' }">
                                </mat-form-field>
                                <span   class="contador"
                                        [matTooltipPosition]="'above'"
                                        matTooltip="Campo numérico"
                                        matTooltipClass="info-tooltip">
                                        {{ 20 - valorAmortizacion.value.length }}
                                </span>
                            </div>
                            <span class="icon-incompleto">
                                <img    class="icon-incompleto--img"
                                        src="assets/img/icon/incompleto.svg"
                                        alt="este campo es requerido"
                                        [matTooltipPosition]="'above'"
                                        matTooltip="Debe ingresar la información en el campo para continuar"
                                        matTooltipClass="info-tooltip" *ngIf="(addressForm.get('valorAmortizacion').invalid && addressForm.get('valorAmortizacion').touched) || (addressForm.get('valorAmortizacion').invalid && estaEditando)">
                            </span>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>

        <mat-card class="shipping-card var-main-gris" style="margin-top: 3em;" *ngIf="observacion !== undefined">
            <mat-card-header class="header-card header-card--margin">
                <mat-card-title class="header-card--text textoGris">
                    Observación {{ esAutorizar === true ? 'de la coordinación' : 'del apoyo a la supervisión' }}
                </mat-card-title>
            </mat-card-header>
            <mat-card-content style="text-align: left;">
                <p><b> {{ observacion.fechaCreacion | date: 'dd/MM/yyyy' }} </b></p>
                <p *ngIf="observacion.tieneObservacion === true"><b>¿Desde {{ esAutorizar === true ? 'la coordinación' : 'del apoyo a la supervisión' }} tiene observaciones a la amortización del anticipo?:</b> Si</p>
                <p *ngIf="observacion.tieneObservacion === false"><b>¿Desde {{ esAutorizar === true ? 'la coordinación' : 'del apoyo a la supervisión' }} tiene observaciones a la amortización del anticipo?:</b> No</p>
                <section [innerHTML]="observacion.observacion" *ngIf="observacion.tieneObservacion === true"></section>
            </mat-card-content>
        </mat-card>

        <div class="text-center mb-2em">
            <button mat-button color="warn" class="btn-guardar" type="submit" [disabled]="addressForm.dirty === false">
                <img src="assets/img/icon/guardar.svg" alt="Guardar">
            </button>
        </div>
    </form>
</ng-template>