.display-block {
  display: block;
};

.text-center {
  text-align: center;
  justify-content: center;
};

.div-temas {
  margin-top: 2em;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
};

.width-80 {
  width: 80%;
};

.w-100-4em {
  width: calc(100% - 4em);
}

.w-100-15em {
  width: calc(100% - 15em);
}

.w-100-20em {
  width: calc(100% - 20em);
}

.w-100-11em {
  width: calc(100% - 11em);
}

.mr-bottom {
  margin-bottom: 0.8em !important;
}

.btn-right {
  display: flex;
  width: 85%;
  justify-content: flex-end;
}

.btn-right-delete {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}