<form autocomplete="off" [formGroup]="formOtrosManejos" *ngIf="formOtrosManejos !== undefined">
    <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="pr-1">
              <label class="label-left">Fecha de actividad</label>
            </div>
            <div class="col d-flex">
                <mat-form-field>
                    <input  matInput
                            [matDatepicker]="pickerfechaActividad"
                            formControlName="fechaActividad"
                            placeholder="DD/MM/AAAA"
                            (click)="pickerfechaActividad.open()"
                            readonly
                            required>
                    <mat-datepicker #pickerfechaActividad></mat-datepicker>
                </mat-form-field>
                <button mat-button
                        color="primary"
                        type="button"
                        (click)="pickerfechaActividad.open()"
                        class="btn-calendario">
                        <img  class="mr-bottom-1"
                              src="assets/img/icon/calendarioCirculo.svg"
                              alt="Abrir Calendario">
                </button>
            </div>
          </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
          <div>
            <div class="pr-1">
              <label class="label-left">Actividad</label>
            </div>
            <div class="col d-flex" style="width: 100%;">
                <quill-editor   class="quill-editor-style card-80em position-relative"
                                [styles]="editorStyle"
                                [modules]="config"
                                (onContentChanged)="maxLength($event, 500)"
                                formControlName="actividad"
                                #obsOtrosManejos
                                required>
                </quill-editor>
                <span class="contador miles" *ngIf="formOtrosManejos.get('actividad').value !== null" style="margin-top: 3.5em;">
                    {{500 - textoLimpio( obsOtrosManejos.quillEditor, 500 )}}
                </span>
                <span class="contador miles" *ngIf="formOtrosManejos.get('actividad').value === null" style="margin-top: 3.5em;">
                    500
                </span>
            </div>
          </div>
        </div>
    </div>

    <div class="row mt-1em">
        <div class="col-md-12">
          <div class="row">
            <div class="pr-1">
              <label class="label-left">URL con soporte</label>
            </div>
            <div class="col d-flex">
                <mat-form-field style="width: 98%;">
                    <input  matInput
                            type="text"
                            formControlName="urlSoporteGestion">
                </mat-form-field>
            </div>
            <div class="d-flex justify-content-center size-text-descriptivo">
                <p class="color-text-descriptivo">
                    <i> 
                        Indique la ruta de la ubicación de los documentos de soporte de la Gestión ambiental.
                    </i>
                </p>
            </div>
          </div>
        </div>
    </div>
</form>