<mat-card class="shipping-card var-main-gris">
  <mat-card-header class="header-card header-card--margin">
    <mat-card-title class="mat-card-title header-card--text">
      Validación de la supervisión
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      <strong>
        27/11/2020
      </strong>
    </p>
    <p>
      <strong>
        ¿Desde la supervisión tiene observaciones al recibo a satisfacción?:
      </strong>
      No
    </p>
  </mat-card-content>
</mat-card>