<div class="container text-center">
    <div class="text-right">
        <a routerLink="/home" mat-button color="primary" class="btn-regresar">
            <img src="assets/img/icon/regresar.svg" alt="Regresar">
        </a>
    </div>
    <h1 class="title-menu--h1">
        Generar orden de giro
    </h1>
    <button mat-mini-fab color="primary" class="btn-info" (click)="verAyuda = !verAyuda">?</button>
    <div class="text-info" *ngIf="verAyuda">
        <button mat-icon-button (click)="verAyuda = false" class="text-info--close">
            <img src="assets/img/icon/cerrar-gris.svg" alt="cerrar ayuda">
        </button>
        Bienvenida/o, aquí podrá generar la orden de giro para las solitudes de pago validadas financieramente para los contratos de obra o
        interventoría suscritos que se encuentran activos y cuentan con acta de inicio aprobada o para conceptos especiales de Expensas u
        Otros costos/servicios que serán ejecutados en el marco de la gestión de los proyectos de infraestructura que ejecuta el FFIE.
    </div>
    <div class="table-responsive">
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
            <ng-container matColumnDef="fechaValidacionFinanciera">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 14%;"> Fecha de validación financiera </th>
                <td mat-cell *matCellDef="let element" align="center"> <b>{{ 'Funcionalidad pendiente' }}</b> </td>
            </ng-container>
            <ng-container matColumnDef="numeroSolicitud">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 12%;"> Número de solicitud </th>
                <td mat-cell *matCellDef="let element" align="center"> {{ element.numeroSolicitud }} </td>
            </ng-container>
            <ng-container matColumnDef="modalidadContrato">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 11%;"> Modalidad del contrato </th>
                <td mat-cell *matCellDef="let element" align="center"> {{ element.modalidad }} </td>
            </ng-container>
            <ng-container matColumnDef="numeroContrato">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Número de contrato </th>
                <td mat-cell *matCellDef="let element" align="center"> {{ element.numeroContrato }} </td>
            </ng-container>
            <ng-container matColumnDef="estadoGeneracion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado de la generación </th>
                <td mat-cell *matCellDef="let element" align="center"> {{ element.estadoGeneracion }} </td>
            </ng-container>
            <ng-container matColumnDef="estadoRegistro">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado del registro </th>
                <td mat-cell *matCellDef="let element" align="center"> 
                    <span class="info-text info-text__table" [ngClass]="{'sin-diligenciar' : element.estadoRegistro=='Incompleto', 'completo' : element.estadoRegistro=='Completo'}"></span>
                    {{ element.estadoRegistro }} 
                </td>
            </ng-container>
            <ng-container matColumnDef="gestion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 20%;"> Gestión </th>
                <td mat-cell *matCellDef="let element" align="center"> 
                    <button mat-raised-button color="accent" class="btn-table" (click)="this.generarOrden(element.gestion)"
                    *ngIf="element.estadoGeneracion=='Sin generación'">
                        Generar orden de giro
                    </button>
                    <button mat-raised-button color="accent" class="btn-table" (click)="this.devolverSolicitud()"
                    *ngIf="element.estadoGeneracion=='En proceso de generación'">
                        Enviar para verificación orden de giro
                    </button>
                    <button mat-raised-button color="accent" class="btn-table" (click)="this.devolverSolicitud()"
                    *ngIf="element.estadoGeneracion=='En proceso de generación'">
                        Devolver solicitud de pago
                    </button>
                    <button mat-raised-button color="accent" class="btn-table" (click)="this.verDetalleEdit(element.gestion)"
                    *ngIf="element.estadoGeneracion=='En proceso de generación'">
                        Ver detalle/Editar
                    </button>
                    <button mat-raised-button color="accent" class="btn-table" (click)="this.verDetalle(element.gestion)"
                    *ngIf="element.estadoGeneracion=='Solicitud enviada a verificación'">
                        Ver detalle
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
</div>
