<section class="container" *ngIf="ajusteProgramacionInfo">
  <div class="container text-center">
    <div class="text-right">
      <a routerLink="../.." mat-button color="primary" class="btn-regresar">
        <img src="assets/img/icon/regresar.svg" alt="Regresar">
      </a>
    </div>
    <h1 class="title-menu--h1">
      Registrar ajuste a la programación {{ ajusteProgramacionInfo.llaveMen }}
    </h1>
    <p class="info-sub-title">
      <span>
        Fecha de aprobacion de póliza:
        <b>
          {{ ajusteProgramacionInfo.fechaAprobacionPoliza | date: 'dd/MM/yyyy'  }}
        </b>
      </span>
      <span>
        Número de contrato:
        <b>
          {{ ajusteProgramacionInfo.numeroContrato }}
        </b>
      </span>
    </p>
  </div>

  <mat-card class="shipping-card var-main-gris">
    <mat-card-content>
      <p>
        <strong>
          Tipo de modificación:
        </strong>
        {{ ajusteProgramacionInfo.novedadesSeleccionadas }}
      </p>
      <p *ngIf="modificaFecha">
        <strong >
          Fecha de inicio:
        </strong>
        {{
          (novedad?.contrato?.fechaActaInicioFase2
            ? novedad?.contrato?.fechaActaInicioFase2
            : novedad?.contrato?.fechaActaInicioFase1
          ) | date: 'dd/MM/yyyy'
        }}
      </p>
      <p  *ngIf="modificaFecha">
        <strong>
          Fecha final antes de la modificación:
        </strong>
        {{
          (novedad?.contrato?.fechaTerminacionFase2
            ? novedad?.contrato?.fechaTerminacionFase2
            : novedad?.contrato?.fechaTerminacion
          ) | date: 'dd/MM/yyyy'
        }}
      </p>
      <p *ngIf="modificaFecha">
        <strong >
          Nueva fecha de finalización:
        </strong>
        {{
          (novedad?.contrato?.fechaEstimadaFinalizacion ? novedad?.contrato?.fechaEstimadaFinalizacion :
            novedad?.contrato?.fechaTerminacionFase2
            ? novedad?.contrato?.fechaTerminacionFase2
            : novedad?.contrato?.fechaTerminacion
          ) | date: 'dd/MM/yyyy'
        }}
      </p>
      <p *ngIf="esAdicion">
        <strong >
          Valor inicial:
        </strong>
        {{ novedad?.contrato?.contratacion?.disponibilidadPresupuestal[0]?.valorSolicitud | currency: 'COP':'symbol-narrow':'.0-0'  }}
      </p>
      <p *ngIf="esAdicion">
        <strong >
          Valor después de la modificación:
        </strong>
        {{ novedad?.contrato?.contratacion?.disponibilidadPresupuestal[0]?.valorSolicitud + presupuestoAdicionalSolicitado | currency: 'COP':'symbol-narrow':'.0-0'  }}
      </p>
      <p>
        <strong>
          Nombre del contratista:
        </strong>
        {{ ajusteProgramacionInfo.nombreContratista }}
      </p>
      <p>
        <strong>
          Número de identificación (NIT/RUT):
        </strong>
        {{ ajusteProgramacionInfo.nombreContratista }}
      </p>
      <p>
        <strong>
          Tipo de intervención:
        </strong>
        {{ novedad?.proyectosSeleccionado?.tipoIntervencion }}
      </p>
      <p>
        <strong>
          Departamento:
        </strong>
        {{ novedad?.proyectosSeleccionado?.departamento }}
      </p>
      <p>
        <strong>
          Institución Educativa:
        </strong>
        {{ novedad?.proyectosSeleccionado?.institucionEducativa }}
      </p>
      <p>
        <strong>
          Sede:
        </strong>
        {{ novedad?.proyectosSeleccionado?.sede }}
      </p>
      <p>
        <strong>
          Municipio:
        </strong>
        {{ novedad?.proyectosSeleccionado?.municipio }}
      </p>
      <p>
        <strong>
          Valor total del proyecto:
        </strong>
        {{ novedad?.proyectosSeleccionado?.valorTotal | currency: '':'symbol':'3.0' }}
      </p>
    </mat-card-content>
  </mat-card>

  <div class="mb-2em" *ngIf="novedad?.contrato?.contratacion">
    <app-expansion-panel
                        [ajusteProgramacionInfo]="ajusteProgramacionInfo"
                        [novedadContractualRegistroPresupuestal] = "novedad?.novedadContractualRegistroPresupuestal[0]"
                        [plazoContratacion] = "novedad?.contrato?.contratacion?.plazoContratacion"
                        [valorContrato] = "novedad?.contrato?.contratacion?.disponibilidadPresupuestal[0]?.valorSolicitud + presupuestoAdicionalSolicitado"
    >
    </app-expansion-panel>
  </div>
</section>
