<section class="container" *ngIf="ajusteProgramacionInfo">
  <div class="container text-center">
    <div class="text-right">
      <a routerLink="../.." mat-button color="primary" class="btn-regresar">
        <img src="assets/img/icon/regresar.svg" alt="Regresar">
      </a>
    </div>
    <h1 class="title-menu--h1">
      <ng-container *ngIf="esVerDetalle === true; else noEsVerDetalle">
          Ver detalle ajuste a la programación {{ ajusteProgramacionInfo.llaveMen }}
      </ng-container>
      <ng-template #noEsVerDetalle>
          {{ esRegistroNuevo === true ? 'Registrar' : 'Ver detalle/Editar' }} ajuste a la programación {{ ajusteProgramacionInfo.llaveMen }}
      </ng-template>
    </h1>
    <p class="info-sub-title">
      <span>
        Fecha de aprobacion de póliza:
        <b>
          {{ ajusteProgramacionInfo.fechaAprobacionPoliza | date: 'dd/MM/yyyy'  }}
        </b>
      </span>
      <span>
        Número de contrato:
        <b>
          {{ ajusteProgramacionInfo.numeroContrato }}
        </b>
      </span>
    </p>
  </div>

  <mat-card class="shipping-card var-main-gris">
    <mat-card-content>
      <p>
        <strong>
          Tipo de modificación:
        </strong>
        {{ ajusteProgramacionInfo.novedadesSeleccionadas }}
      </p>
      <p>
        <strong>
          Fecha de inicio del proyecto:
        </strong>
        {{ novedad?.datosContratoProyectoModificadosXNovedad[0]?.fechaInicioProyecto | date: 'dd/MM/yyyy' }}
      </p>
      <p>
        <strong>
          Fecha final antes de la modificación del proyecto:
        </strong>
        {{ novedad?.datosContratoProyectoModificadosXNovedad[0]?.fechaFinProyecto | date: 'dd/MM/yyyy' }}
      </p>
      <p>
        <strong>
          Nueva fecha de finalización del proyecto:
        </strong>
        {{ novedad?.datosContratoProyectoModificadosXNovedad[0]?.fechaEstimadaFinProyecto | date: 'dd/MM/yyyy' }}
      </p>
      <p>
        <strong >
          Valor inicial
          <span *ngIf="novedad?.datosContratoProyectoModificadosXNovedad[0]?.tipoSolicitudCodigo == '1'">(Obra) </span>
          <span *ngIf="novedad?.datosContratoProyectoModificadosXNovedad[0]?.tipoSolicitudCodigo == '2'">(Interventoría </span>:
        </strong>
        {{ novedad?.datosContratoProyectoModificadosXNovedad[0]?.valorProyecto | currency: '':'symbol':'3.0' }}
      </p>
      <p>
        <strong >
          Valor después de la modificación
          <span *ngIf="novedad?.datosContratoProyectoModificadosXNovedad[0]?.tipoSolicitudCodigo == '1'">(Obra) </span>
          <span *ngIf="novedad?.datosContratoProyectoModificadosXNovedad[0]?.tipoSolicitudCodigo == '2'">(Interventoría </span>:
        </strong>
        {{ novedad?.datosContratoProyectoModificadosXNovedad[0]?.valorTotalProyecto | currency: '':'symbol':'3.0' }}
      </p>
      <p>
        <strong>
          Nombre del contratista:
        </strong>
        {{ ajusteProgramacionInfo.nombreContratista }}
      </p>
      <p>
        <strong>
          Número de identificación (NIT/RUT):
        </strong>
        {{ ajusteProgramacionInfo.nombreContratista }}
      </p>
      <p>
        <strong>
          Tipo de intervención:
        </strong>
        {{ novedad?.proyectosSeleccionado?.tipoIntervencion }}
      </p>
      <p>
        <strong>
          Departamento:
        </strong>
        {{ novedad?.proyectosSeleccionado?.departamento }}
      </p>
      <p>
        <strong>
          Institución Educativa:
        </strong>
        {{ novedad?.proyectosSeleccionado?.institucionEducativa }}
      </p>
      <p>
        <strong>
          Sede:
        </strong>
        {{ novedad?.proyectosSeleccionado?.sede }}
      </p>
      <p>
        <strong>
          Municipio:
        </strong>
        {{ novedad?.proyectosSeleccionado?.municipio }}
      </p>
      <p>
        <strong>
          Valor total del proyecto (Obra e Interventoría):
        </strong>
        {{ novedad?.datosContratoProyectoModificadosXNovedad[0]?.valorTotalObraInterventoria | currency: '':'symbol':'3.0' }}
      </p>
      <p>
        <strong>
          Valor total del proyecto después de la modificación (Obra e Interventoría):
        </strong>
        {{ novedad?.datosContratoProyectoModificadosXNovedad[0]?.valorEstimadoObraInterventoria | currency: '':'symbol':'3.0' }}
      </p>
    </mat-card-content>
  </mat-card>

  <div class="mb-2em" *ngIf="novedad?.contrato?.contratacion">
    <app-expansion-panel
                        [ajusteProgramacionInfo]="ajusteProgramacionInfo"
                        [datosContratoProyectoModificadosXNovedad]="novedad?.datosContratoProyectoModificadosXNovedad[0]"
                        [novedadContractualRegistroPresupuestal] = "novedad?.novedadContractualRegistroPresupuestal[0]"
                        [plazoContratacion] = "novedad?.contrato?.contratacion?.plazoContratacion"
                        [valorContrato] = "novedad?.contrato?.contratacion?.disponibilidadPresupuestal[0]?.valorSolicitud + presupuestoAdicionalSolicitado"
                        [esVerDetalle] = "esVerDetalle"
    >
    </app-expansion-panel>
  </div>
</section>
