<div class="container text-center">
  <div class="text-right">
    <a routerLink="/gestionarTramiteControversiasContractuales" mat-button color="primary" class="btn-regresar">
      <img src="assets/img/icon/regresar.svg" alt="Regresar" />
    </a>
  </div>
  <h1 class="title-menu--h1">Registrar controversia contractual</h1>
  <!--
  <div class="my-1em color-secondaryColor d-flex align-items-center justify-content-center">
    <img class="icon-incompleto--img mr-05em" src="assets/img/icon/incompleto.svg" alt="este campo es requerido" />
    Debe ingresar la información en el campo para continuar
  </div>
  -->
  <form [formGroup]="addressForm">
    <div class="row" style="margin-top: 2em; justify-content: center">
      <div class="col-md-6">
        <div class="row">
          <div class="pr-1">
            <label
              class="label-left"
              for="contrato"
              [class.color-secondaryColor]="
                (addressForm.get('contrato').invalid && addressForm.get('contrato').touched) ||
                (addressForm.get('contrato').invalid && estaEditando)
              "
            >
              Número de contrato
            </label>
          </div>
          <div class="col d-flex">
            <mat-form-field class="full-width">
              <input matInput #contrato type="text" maxlength="100" required [matAutocomplete]="auto" />
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option
                  (click)="seleccionAutocomplete(contr.contratoId)"
                  *ngFor="let contr of contratosArray"
                  [value]="contr.numeroContrato"
                >
                  {{ contr.numeroContrato }}
                </mat-option>
              </mat-autocomplete>
              <input type="hidden" formControlName="contrato" />
            </mat-form-field>
            <button mat-button color="primary" class="busqueda--img">
              <img src="assets/img/icon/lupa.svg" alt="Buscar" />
            </button>
          </div>
          <span class="icon-incompleto">
            <img
              class="icon-incompleto--img"
              src="assets/img/icon/incompleto.svg"
              alt="este campo es requerido"
              *ngIf="
                (addressForm.get('contrato').invalid && addressForm.get('contrato').touched) ||
                (addressForm.get('contrato').invalid && estaEditando)
              "
            />
          </span>
          <!--
                    <div class="col">
                        <mat-form-field class="select-width">
                            <mat-select formControlName="contrato" required>
                                <mat-option *ngFor="let contr of contratosArray" [value]="contr.value">
                                    {{ contr.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    -->
        </div>
      </div>
    </div>
    <div *ngIf="addressForm.value.contrato !== null">
      <mat-card class="shipping-card mainGris">
        <mat-card-header class="header-card">
          <mat-card-title class="header-card--text textoGris"> Datos del contrato </mat-card-title>
        </mat-card-header>
        <mat-card-content style="text-align: left">
          <p>
            <strong>Nombre del contratista: </strong> <em>{{ this.nombreContratista }}</em>
          </p>
          <p>
            <strong>Tipo de identificación: </strong> <em>{{ this.tipoIdentificacion }}</em>
          </p>
          <p>
            <strong>Número de identificación: </strong> <em>{{ this.numIdentificacion }}</em>
          </p>
          <p>
            <strong>Tipo de intervención: </strong> <em>{{ this.tipoIntervencion }}</em>
          </p>
          <p>
            <strong>Valor del contrato: </strong> <em> {{ this.valorContrato | currency }}</em>
          </p>
          <p>
            <strong>Plazo: </strong> <em>{{ this.plazoContrato }}</em>
          </p>
          <p>
            <strong>Fecha de inicio de contrato: </strong> <em>{{ this.fechaInicioContrato }}</em>
          </p>
          <p>
            <strong>Fecha de finalización de contrato: </strong> <em>{{ this.fechaFinalizacionContrato }}</em>
          </p>
        </mat-card-content>
      </mat-card>
      <div class="text-center">
        <p class="info-container">
          <span class="info-text sin-diligenciar">Sin diligenciar</span>
          <span class="info-text en-proceso">En proceso</span>
          <span class="info-text completo">Completo</span>
        </p>
      </div>
      <mat-accordion>
        <mat-expansion-panel class="expansion-style">
          <mat-expansion-panel-header class="expansion-style--header">
            <mat-panel-title class="expansion-style--title sin-diligenciar"> Registrar controversias </mat-panel-title>
          </mat-expansion-panel-header>
          <app-form-registrar-controvrs-accord
            [isEditable]="false"
            [contratoId]="this.contratoId"
          ></app-form-registrar-controvrs-accord>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-accordion>
        <mat-expansion-panel class="expansion-style">
          <mat-expansion-panel-header class="expansion-style--header">
            <mat-panel-title class="expansion-style--title sin-diligenciar"> Soporte de la solicitud </mat-panel-title>
          </mat-expansion-panel-header>
          <app-form-registrar-controvrs-sop-sol [isEditable]="false"></app-form-registrar-controvrs-sop-sol>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </form>
</div>
