<div class="container text-center">
  <div class="text-right">
    <a routerLink="/comiteFiduciario" mat-button color="primary" class="btn-regresar">
      <img src="assets/img/icon/regresar.svg" alt="Regresar">
    </a>
  </div>
  <div class="text-center">
    <h1 class="title-menu--h1">
      {{ detalle }}
    </h1>
  </div>

  <!-- Seleccionar temas a tratar en el comite Fiduciario -->
  <div class="flex w-tema">

    <span class="mr-1em">Tipo de tema</span>

    <mat-form-field appearance="fill" class="w-30">
      <mat-select [formControl]="tipoDeTemas" multiple required (selectionChange)="getvalues( $event.value )">
        <mat-select-trigger>
          <small >
            {{ (tipoDeTemas.value && tipoDeTemas.value[0]) ? tipoDeTemas.value[0].nombre : ''}}
            <span *ngIf="tipoDeTemas.value  ?.length > 1">
              , {{ tipoDeTemas.value ? tipoDeTemas.value[1].nombre : '' }}
            </span>
          </small>
        </mat-select-trigger>
        <mat-option *ngFor="let tema of listaTipoTemas" [value]="tema">{{tema.nombre}}</mat-option>
      </mat-select>
    </mat-form-field>

  </div>

  <!-- Solicitudes contractuales -->
  <div *ngIf="solicitudBoolean">

    <div class="flex ml-3">
      <h4 align="center"> Seleccione los temas que desea incluir al comité fiduciario</h4>
      <span class="seleccionados"> {{ totalSolicitudes() }} </span>
    </div>

    <mat-accordion>

      <mat-expansion-panel class="expansion-style ml-5" *ngFor="let datasolicitud of dataSolicitudContractual">
        <mat-expansion-panel-header class="expansion-style--header width-40">
          <mat-panel-title class="expansion-style--title">
            Sesión del {{ datasolicitud.fecha | date: 'dd/MM/yyyy' }} {{ datasolicitud.nombreSesion }}
          </mat-panel-title>
        </mat-expansion-panel-header>

        <app-tabla-sesiones 
            (sesionesSeleccionadas)="getSesionesSeleccionada( $event )" 
            [dataSolicitud]="datasolicitud">
        </app-tabla-sesiones>

      </mat-expansion-panel>

    </mat-accordion>

  </div>

  <form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()" *ngIf="temaNuevoBoolean">
    <mat-card class="shipping-card" >
      <mat-card-header class="header-card">
        <mat-card-title class="header-card--text">
          Nuevo tema
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div formGroupName="tema">
          <div *ngFor="let registroPresupuestal of tema.controls; let i = index">
            <div [formGroupName]="i">
              <mat-card-title class="header-card--text alineacion-titulos2">
                Tema {{ i + 1 }}
              </mat-card-title>
              <div class="row">
                <div class="pr-1">
                  <label class="label-left">Tema</label>
                </div>
                <div class="col d-flex">
                  <mat-form-field class="full-width">
                    <input matInput #temaInput type="text" formControlName="tema" maxlength="100" required>
                    <input type="hidden" formControlName="sesionTemaId">
                  </mat-form-field>
                  <span class="contador">{{50 - temaInput.value.length}}</span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-8">
                  <div class="row">
                    <div class="pr-1">
                      <label class="label-left">Responsable</label>
                    </div>
                    <div class="col">
                      <mat-form-field class="select-width">
                        <mat-select formControlName="responsable" required>
                          <mat-option *ngFor="let responsable of responsablesArray" [value]="responsable">
                            {{ responsable.nombre }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-8">
                  <div class="row">
                    <div class="pr-1">
                      <label class="label-left">Tiempo de intervención <b class="minutos">Minutos</b></label>
                    </div>
                    <div class="col d-flex">
                      <mat-form-field class="full-width">
                        <input matInput #tiempoIntervencion type="number" formControlName="tiempoIntervencion"
                          maxlength="3" min="1" max="999" required (keypress)="validateNumberKeypress($event)"
                          onKeyPress="if(this.value.length>=this.maxLength) return false;">
                      </mat-form-field>
                      <span class="contador">{{3 - tiempoIntervencion.value.length}}</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="pr-1">
                  <label class="label-left">Url con soporte</label>
                </div>
                <div class="col">
                  <mat-form-field class="full-width">
                    <input matInput type="text" formControlName="url" maxlength="100">
                  </mat-form-field>
                  <span class="text-center d-block">Indique la ruta del soporte de esta información</span>
                </div>
              </div>
              <div class="text-right" *ngIf="tema.controls.length > 0">
                <button mat-button color="warn" type="button" class="btn-eliminar" (click)="eliminarTema(i)">
                  <img src="assets/img/icon/menos.svg" alt="Eliminar vigencia">
                  Eliminar tema
                </button>
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <div class="text-right">
      <button mat-button color="warn" type="button" class="btn-eliminar" (click)="agregaTema()">
        <img src="assets/img/icon/mas.svg" alt="Agregar otra fuente de recursos">
        Agregar un nuevo tema
      </button>
    </div>

    <mat-card class="shipping-card">
      <mat-card-header class="header-card">
        <mat-card-title class="header-card--text">
          Proposiciones y varios
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>

      </mat-card-content>
    </mat-card>
  </form>
  <div class="text-center">

    <button mat-button 
      color="warn" 
      class="btn-guardar" 
      *ngIf="estadosComite.sinConvocatoria == objetoSesion.estadoComiteCodigo"
      type="button"
      (click)="onSubmit()">
      <img src="assets/img/icon/guardar.svg" alt="Guardar">
    </button>
  </div>
</div>