<div class="tabs--actions">
  <button
    mat-raised-button
    color="accent"
    class="tabs--btn"
    (click)="this.cargarNuevoReportedePago()"
  >
    Cargar nuevo reporte de pagos
  </button>
</div>
<div class="table-responsive">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="fechaCargue">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 12%">
        Fecha de cargue
      </th>
      <td mat-cell *matCellDef="let element" align="center">
        <b>{{ element.fechaCargue | date: 'dd/MM/yyyy' }}</b>
      </td>
    </ng-container>
    <ng-container matColumnDef="totalRegistros">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 12%">
        Número total de registros
      </th>
      <td mat-cell *matCellDef="let element" align="center">
        <em>{{ element.totalRegistros }}</em>
      </td>
    </ng-container>
    <ng-container matColumnDef="registrosValidos">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 13%">
        Número de registros validos
      </th>
      <td mat-cell *matCellDef="let element" align="center">
        <em>{{ element.registrosValidos }}</em>
      </td>
    </ng-container>
    <ng-container matColumnDef="registrosInvalidos">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 14%">
        Número de registros inválidos
      </th>
      <td mat-cell *matCellDef="let element" align="center">
        {{ element.registrosInvalidos }}
      </td>
    </ng-container>
    <ng-container matColumnDef="estadoCargue">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 12%">
        Estado del cargue
      </th>
      <td mat-cell *matCellDef="let element" align="center">
        <span
          class="info-text info-text__table"
          style="margin-right: 0em"
          [ngClass]="{
            'sin-diligenciar': element.estadoCargue == 'Fallido',
            completo: element.estadoCargue == 'Valido'
          }"
        ></span>
        <br />
        {{ element.estadoCargue }}
      </td>
    </ng-container>
    <ng-container matColumnDef="gestion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 15%">
        Gestión
      </th>
      <td mat-cell *matCellDef="let element" align="center">
        <button mat-raised-button color="accent" 
          class="btn-table"
          (click)="viewDetails(element.cargaPagosRendimientosId)"
          >
          Ver detalle
        </button>
        <button
          mat-raised-button
          color="accent"
          class="btn-table"
          [class.sin-diligenciar]="element.estadoCargue == 'Fallido'"
          *ngIf="element.registrosInvalidos > 0"
          (click)="abrirObservaciones(element.cargaPagosRendimientosId)"
        >
          Observaciones
        </button>
        <button mat-raised-button color="accent" 
          *ngIf="element.estadoCargue == 'Valido'"
          class="btn-table"
          (click)="deleteUpload(element.cargaPagosRendimientosId)"
          >
          Eliminar
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
