<form [formGroup]="formOrigen" (ngSubmit)="guardar()">
    <mat-card class="shipping-card var-main-gris">
        <mat-card-content align="left">
            <div formArrayName="aportantes" *ngFor="let aportante of aportantes.controls; index as i">
                <mat-card-title class="header-card--text sub-text" style="margin-left: .5em;">
                    Aportante {{ i + 1 }}
                </mat-card-title>
                <div class="mt-1em" [formGroup]="aportante">
                    <div style="margin-left: .5em;">
                        <p><strong>Tipo de aportante: </strong> {{ aportante.get( 'tipoAportante' ).value.nombre }} </p>
                        <p><strong>Nombre del aportante: </strong> {{ aportante.get( 'nombreAportante' ).value.nombreAportante }} </p>
                        <p><strong>Fuente: </strong> {{ aportante.get( 'fuente' ).value.nombre }} </p>
                    </div>
                    <ng-container *ngIf="aportante.get( 'listaCuentaBancaria' ).value.length > 1; else elseTemplate">
                        <p><b>Nombre de la Cuenta: </b> {{ firstLetterUpperCase( aportante.get( 'cuentaBancariaId' ).value.nombreCuentaBanco ) }} </p>
                        <div class="animatedDown" *ngIf="aportante.get( 'cuentaBancariaId' ).value !== null" style="margin-left: .5em;">
                            <p><strong>Número de Cuenta: </strong> {{ aportante.get( 'cuentaBancariaId' ).value.numeroCuentaBanco }} </p>
                            <p><strong>Banco: </strong> {{ firstLetterUpperCase( getBanco( aportante.get( 'cuentaBancariaId' ).value.bancoCodigo ) ) }} </p>
                            <p><strong>Tipo de Cuenta: </strong> {{ aportante.get( 'cuentaBancariaId' ).value.tipoCuentaCodigo }} </p>
                            <p><strong>Código SIFI: </strong> {{ aportante.get( 'cuentaBancariaId' ).value.codigoSifi }} </p>
                        </div>
                    </ng-container>
                    <ng-template #elseTemplate>
                        <p style="margin-left: .5em;"><strong>Nombre de la Cuenta: </strong> {{ firstLetterUpperCase( aportante.get( 'cuentaBancariaId' ).value.nombreCuentaBanco ) }} </p>
                        <div class="animatedDown" *ngIf="aportante.get( 'cuentaBancariaId' ).value !== null" style="margin-left: .5em;">
                            <p><strong>Número de Cuenta: </strong> {{ aportante.get( 'cuentaBancariaId' ).value.numeroCuentaBanco }} </p>
                            <p><strong>Banco: </strong> {{ firstLetterUpperCase( getBanco( aportante.get( 'cuentaBancariaId' ).value.bancoCodigo ) ) }} </p>
                            <p><strong>Tipo de Cuenta: </strong> {{ aportante.get( 'cuentaBancariaId' ).value.tipoCuentaCodigo }} </p>
                            <p><strong>Código SIFI: </strong> {{ aportante.get( 'cuentaBancariaId' ).value.codigoSifi }} </p>
                        </div>
                    </ng-template>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</form>