.mat-button.mat-warn[disabled], .mat-button[disabled][disabled] {
    opacity: .5;
}

.align-left-label {
    left: 1em;
    font-size: 1.4em;
}

.back-color {
    background-color: #000000b8;
}
  
.color-text {
  color: #000000b8;
  border-color: #000000b8 !important;
}