.btn-table.min-w-11em {
  min-width: 11em;
}

.slect-table-contain {
  width: 9em;
}

.ruta-url {
  max-width: 20em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  color: #174193;
  text-decoration: underline;
}