<div align="center">
  <section>
    <button mat-raised-button color="accent" (click)="descargar()">Descargar archivo</button>
  </section>
</div>
<div align="center" class="mt-2em" *ngIf="contratoConstruccion.observacionFlujoInversionApoyo !== undefined">
  <mat-card class="border mt-2em">
    <mat-card-header class="header-card">
      <mat-card-title class="header-card--text grayTitle"> Verificación del apoyo a la supervisión </mat-card-title>
    </mat-card-header>
    <mat-card-content align="left">
      <p style="margin-left: 2em">
        <b> {{ contratoConstruccion.observacionFlujoInversionApoyo.fechaCreacion | date: 'dd/MM/yyyy' }} </b>
      </p>
      <p style="margin-left: 2em" *ngIf="contratoConstruccion.tieneObservacionesFlujoInversionApoyo === true">
        <b>¿Tiene observaciones al flujo de inversión de recursos?:</b> Si
      </p>
      <p style="margin-left: 2em" *ngIf="contratoConstruccion.tieneObservacionesFlujoInversionApoyo === false">
        <b>¿Tiene observaciones al flujo de inversión de recursos?:</b> No
      </p>
      <section style="margin-left: 2em" *ngIf="contratoConstruccion.tieneObservacionesFlujoInversionApoyo === true">
        <div [innerHTML]="contratoConstruccion.observacionFlujoInversionApoyo.observaciones"></div>
      </section>
    </mat-card-content>
  </mat-card>
  <!--Tabla para historial de observaciones-->
  <div
    class="w-100 table-responsive"
    *ngIf="
      dataTablaHistorialObservacion.length > 1 && contratoConstruccion.observacionDevolucionFlujoInversion !== undefined
    "
  >
    <table mat-table [dataSource]="dataSourceApoyo" matSort class="mat-elevation-z8">
      <ng-container matColumnDef="fechaRevision">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="w-20">Fecha de revisión</th>
        <td mat-cell *matCellDef="let element" align="center">{{ element.fechaCreacion | date: 'dd/MM/yyyy' }}</td>
      </ng-container>

      <ng-container matColumnDef="observacionesSupervision" class="w-80">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Historial de observaciones del apoyo a la supervisión</th>
        <td mat-cell *matCellDef="let element" align="center">
          <section [innerHTML]="element.observaciones"></section>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
<div class="my-1em color-secondaryColor d-flex align-items-center justify-content-center">
  <img class="icon-incompleto--img mr-05em" src="assets/img/icon/incompleto.svg" alt="este campo es requerido" />
  Debe ingresar la información en el campo para continuar
</div>
<div align="center" class="mt-2em" *ngIf="this.observacionesCompleted == false">
  <form [formGroup]="addressForm" novalidate (ngSubmit)="guardarFlujo()">
    <div class="row justify-content-center" align="center" style="margin-left: 6em">
      <div class="col-md-8">
        <div class="row">
          <div class="pr-1">
            <label
              class="label-left"
              for="tieneObservaciones"
              [class.color-secondaryColor]="
                (addressForm.get('tieneObservaciones').invalid && addressForm.get('tieneObservaciones').touched) ||
                (addressForm.get('tieneObservaciones').invalid && estaEditando)
              "
            >
              ¿Desde la supervisión tiene observaciones al flujo de inversión de recursos?
            </label>
          </div>
          <div>
            <mat-radio-group class="radioInput" formControlName="tieneObservaciones">
              <mat-radio-button [value]="true" [checked]="addressForm.get('tieneObservaciones').value === true">
                Sí
              </mat-radio-button>
              <mat-radio-button [value]="false" [checked]="addressForm.get('tieneObservaciones').value === false">
                No
              </mat-radio-button>
            </mat-radio-group>
          </div>
          <span class="required-form-group m-0">*</span>
        </div>
        <span class="icon-incompleto">
          <img
            class="icon-incompleto--img"
            src="assets/img/icon/incompleto.svg"
            alt="este campo es requerido"
            *ngIf="
              (addressForm.get('tieneObservaciones').invalid && addressForm.get('tieneObservaciones').touched) ||
              (addressForm.get('tieneObservaciones').invalid && estaEditando)
            "
          />
        </span>
      </div>
    </div>
    <div class="d-flex mt-2em align-items-center animatedDown" *ngIf="addressForm.value.tieneObservaciones == true">
      <div
        class="text-area-quill"
        [class.color-secondaryColor]="
          (addressForm.get('observaciones').invalid && addressForm.get('observaciones').touched) ||
          (addressForm.get('observaciones').invalid && estaEditando)
        "
      >
        <label
          class="text-area-quill--label align-left-label"
          [class.colorMainColor]="
            !(
              (addressForm.get('observaciones').invalid && addressForm.get('observaciones').touched) ||
              (addressForm.get('observaciones').invalid && estaEditando)
            )
          "
        >
          Observaciones al flujo de inversión de recursos
        </label>
        <quill-editor
          class="quill-editor-style ml-1em"
          [styles]="editorStyle"
          [modules]="config"
          (onContentChanged)="maxLength($event, 1000)"
          formControlName="observaciones"
          #obsFlujoInversion
          required
        >
        </quill-editor>
      </div>
      <span class="contador miles" *ngIf="addressForm.get('observaciones').value !== null">
        {{ 1000 - textoLimpio(obsFlujoInversion.quillEditor, 1000) }}
      </span>
      <span class="contador miles" *ngIf="addressForm.get('observaciones').value === null"> 1000 </span>
      <span class="icon-incompleto">
        <img
          class="icon-incompleto--img"
          src="assets/img/icon/incompleto.svg"
          alt="este campo es requerido"
          *ngIf="
            (addressForm.get('observaciones').invalid && addressForm.get('observaciones').touched) ||
            (addressForm.get('observaciones').invalid && estaEditando)
          "
        />
      </span>
    </div>
    <div class="text-center mt-1em">
      <button
        mat-button
        color="warn"
        class="btn-guardar"
        type="submit"
        [disabled]="addressForm.get('tieneObservaciones').value === null"
      >
        <img src="assets/img/icon/guardar.svg" alt="Regresar" />
      </button>
    </div>
  </form>
</div>
<div align="center" *ngIf="this.observacionesCompleted == true">
  <mat-card class="border mt-1em">
    <mat-card-header class="header-card">
      <mat-card-title class="header-card--text grayTitle"> Validación de la supervisión </mat-card-title>
    </mat-card-header>
    <mat-card-content align="left">
      <p *ngIf="contratoConstruccion.observacionDevolucionFlujoInversion !== undefined" style="margin-left: 2em">
        <b> {{ contratoConstruccion.observacionDevolucionFlujoInversion.fechaCreacion | date: 'dd/MM/yyyy' }} </b>
      </p>
      <p *ngIf="contratoConstruccion.observacionDevolucionFlujoInversion !== undefined" style="margin-left: 2em">
        <b>¿Tiene observaciones a la programación de obra?:</b> Si
      </p>
      <p *ngIf="contratoConstruccion.observacionDevolucionFlujoInversion === undefined" style="margin-left: 2em">
        <b>¿Tiene observaciones a la programación de obra?:</b> No
      </p>
      <section
        *ngIf="contratoConstruccion.observacionDevolucionFlujoInversion !== undefined"
        [innerHTML]="contratoConstruccion.observacionDevolucionFlujoInversion.observaciones"
        style="margin-left: 2em"
      ></section>
    </mat-card-content>
  </mat-card>
  <!--Tabla para historial de observaciones-->
  <div
    class="w-100 table-responsive"
    *ngIf="
      dataTablaHistorialObservacion.length > 1 && contratoConstruccion.observacionDevolucionFlujoInversion !== undefined
    "
  >
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
      <ng-container matColumnDef="fechaRevision">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="w-20">Fecha de revisión</th>
        <td mat-cell *matCellDef="let element" align="center">{{ element.fechaCreacion | date: 'dd/MM/yyyy' }}</td>
      </ng-container>

      <ng-container matColumnDef="observacionesSupervision" class="w-80">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Historial de observaciones de la supervisión</th>
        <td mat-cell *matCellDef="let element" align="center">
          <section [innerHTML]="element.observaciones"></section>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
