<section *ngIf="solicitudPago !== undefined && solicitudPagoFase !== undefined">
    <mat-accordion>
        <mat-expansion-panel class="expansion-style sub-expansion">
            <mat-expansion-panel-header class="expansion-style--header">
                <mat-panel-title class="expansion-style--title ">
                    Datos de la solicitud
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-card class="shipping-card var-main-gris" style="margin-top: 3em;">
                <mat-card-content style="text-align: left;">
                    <p><strong>Código SIFI:</strong> 357233</p>
                    <p><strong>Coordinación responsable:</strong> Andina</p>
                    <p><strong>Tipo de contrato:</strong> {{ getTipoSolicitudContrato( solicitudPago.tipoSolicitudCodigo ) }} </p>
                    <!--
                        solicitudPago.solicitudPagoRegistrarSolicitudPago[0].solicitudPagoFase[0].solicitudPagoFaseFactura[0].valorFacturado
                    -->
                    <p><strong>Valor de la factura:</strong> {{ valorTotalFactura | currency:'':'symbol-narrow':'.0-0' }} </p>
                </mat-card-content>
            </mat-card>
            <app-tabla-datos-solicitud-gog [listProyectos]="solicitudPago.contratoSon.listProyectos[1]"></app-tabla-datos-solicitud-gog>
        </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
        <mat-expansion-panel class="expansion-style sub-expansion">
            <mat-expansion-panel-header class="expansion-style--header">
                <mat-panel-title class="expansion-style--title ">
                    Datos DDP y DRP
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="table-responsive">
                <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
                    <ng-container matColumnDef="drp">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> DRP </th>
                        <td mat-cell *matCellDef="let element; index as i" align="center"> <b>{{ i + 1 }}</b> </td>
                    </ng-container>
                    <ng-container matColumnDef="numDrp">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Número DRP </th>
                        <td mat-cell *matCellDef="let element" align="center"> {{ element.numeroDrp }} </td>
                    </ng-container>
                    <ng-container matColumnDef="valor">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Valor </th>
                        <td mat-cell *matCellDef="let element" align="center"> {{ element.valorSolicitud }} </td>
                    </ng-container>
                    <ng-container matColumnDef="saldo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Saldo </th>
                        <td mat-cell *matCellDef="let element" align="center"> {{ element.valorSolicitud }} </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <!--<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>-->
            </div>
            <app-tabla-datos-ddp-gog></app-tabla-datos-ddp-gog>
        </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
        <mat-expansion-panel class="expansion-style sub-expansion">
            <mat-expansion-panel-header class="expansion-style--header">
                <mat-panel-title class="expansion-style--title ">
                    Soportes de factura
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-card class="shipping-card var-main-gris" style="margin-top: 3em;">
                <mat-card-content style="text-align: left;">
                    <p><strong>URL con soporte:</strong>
                        {{ solicitudPago.solicitudPagoSoporteSolicitud[0]?.urlSoporte }}
                    </p>
                </mat-card-content>
            </mat-card>
        </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
        <mat-expansion-panel class="expansion-style sub-expansion">
            <mat-expansion-panel-header class="expansion-style--header">
                <mat-panel-title class="expansion-style--title sin-diligenciar">
                    Tercero de giro
                </mat-panel-title>
            </mat-expansion-panel-header>
            <app-form-tercero-giro-gog [solicitudPago]="solicitudPago"></app-form-tercero-giro-gog>
        </mat-expansion-panel>
    </mat-accordion>
</section>