<form [formGroup]="addressForm" novalidate (ngSubmit)="guardar()" *ngIf="contrato !== undefined && formaPagoArrayPreconstruccion.length > 0">
    <mat-card class="shipping-card">
        <mat-card-header class="header-card header-card--margin">
            <mat-card-title class="header-card--text">
                Forma de pago
            </mat-card-title>
        </mat-card-header>
        <mat-card-content style="text-align: left;">
            <mat-card-title class="header-card--text alineacion-titulos2 mt-1em" style="padding-left: 0px;margin-top: 0.5em;" *ngIf="tieneFase1 === true">
                Fase 1 - Preconstrucción
            </mat-card-title>
            <div class="row" style="margin-left:-0.5em;" *ngIf="tieneFase1 === true">
                <div class="col-md-6">
                    <div class="row">
                        <div class="pr-1">
                            <label class="label-left" for="formaPagoPreconstruccion"
                            [ngClass]="{
                                'color-secondaryColor':
                                  (addressForm.get('formaPagoPreconstruccion').invalid && addressForm.get('formaPagoPreconstruccion').touched) ||
                                  (addressForm.get('formaPagoPreconstruccion').invalid && estaEditando)
                              }">Forma de pago</label>
                        </div>
                        <div class="col">
                            <mat-form-field class="select-width">
                                <mat-select formControlName="formaPagoPreconstruccion" required>
                                    <mat-option *ngFor="let forma of formaPagoArrayPreconstruccion" [value]="forma">
                                        {{ forma.nombre }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <span class="icon-incompleto">
                            <img
                              class="icon-incompleto--img"
                              src="assets/img/icon/incompleto.svg"
                              alt="este campo es requerido"
                              [matTooltipPosition]="'above'"
                              matTooltip="Debe ingresar la información en el campo para continuar"
                              matTooltipClass="info-tooltip"
                              *ngIf="
                                (addressForm.get('formaPagoPreconstruccion').invalid && addressForm.get('formaPagoPreconstruccion').touched) ||
                                (addressForm.get('formaPagoPreconstruccion').invalid && estaEditando)
                              "
                            />
                          </span>
                    </div>
                </div>
            </div>
            <mat-card-title class="header-card--text alineacion-titulos2 mt-1em"
                style="padding-left: 0px; margin-top: 1em;">
                Fase 2 - Construcción
            </mat-card-title>
            <div class="row" style="margin-left: -0.5em;">
                <div class="col-md-6">
                    <div class="row">
                        <div class="pr-1">
                            <label class="label-left" for="formaPagoConstruccion"
                            [ngClass]="{
                                'color-secondaryColor':
                                  (addressForm.get('formaPagoConstruccion').invalid && addressForm.get('formaPagoConstruccion').touched) ||
                                  (addressForm.get('formaPagoConstruccion').invalid && estaEditando)
                              }">Forma de pago</label>
                        </div>
                        <div class="col">
                            <mat-form-field class="select-width">
                                <mat-select formControlName="formaPagoConstruccion" required>
                                    <mat-option *ngFor="let forma of formaPagoArrayConstruccion" [value]="forma">
                                        {{ forma.nombre }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <span class="icon-incompleto">
                            <img
                              class="icon-incompleto--img"
                              src="assets/img/icon/incompleto.svg"
                              alt="este campo es requerido"
                              [matTooltipPosition]="'above'"
                              matTooltip="Debe ingresar la información en el campo para continuar"
                              matTooltipClass="info-tooltip"
                              *ngIf="
                                (addressForm.get('formaPagoConstruccion').invalid && addressForm.get('formaPagoConstruccion').touched) ||
                                (addressForm.get('formaPagoConstruccion').invalid && estaEditando)
                              "
                            />
                          </span>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
    <div class="text-center mb-2em">
        <button mat-button color="warn" class="btn-guardar" type="submit" [disabled]="addressForm.dirty === false">
            <img src="assets/img/icon/guardar.svg">
        </button>
    </div>
</form>
