.full-width {
  width: 100%;
}

.shipping-card {
  min-width: 120px;
  margin: 20px auto;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}

.size1{
  font-size: 0.8rem;
  color: var(--fontColor);
  font-style: italic;
}
.mcenter
{
  margin-left: auto;
  margin-right: auto;
}