<div class="container text-center">
    <div class="busqueda">
        <mat-form-field appearance="outline" class="busqueda--input">
            <mat-label>Buscador / Filtro</mat-label>
            <input matInput #filtro (keyup)="applyFilter($event)">
        </mat-form-field>
        <button mat-button color="primary" class="busqueda--img" (click)="filtro.focus()">
            <img src="assets/img/icon/lupa.svg" alt="Buscar">
        </button>
    </div>
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <ng-container matColumnDef="fechaCreacion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de creación </th>
            <td mat-cell *matCellDef="let element"> {{element.fechaCreacion}} </td>
        </ng-container>

        <ng-container matColumnDef="numeroAcuerdo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Número del acuerdo </th>
            <td mat-cell *matCellDef="let element"> {{element.numeroAcuerdo}} </td>
        </ng-container>

        <ng-container matColumnDef="vigenciaAcuerdo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Vigencia del acuerdo de cofinanciación </th>
            <td mat-cell *matCellDef="let element"> {{element.vigenciaAcuerdo}} </td>
        </ng-container>

        <ng-container matColumnDef="valorTotal">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Valor Total del acuerdo </th>
            <td mat-cell *matCellDef="let element"> {{element.valorTotal}} </td>
        </ng-container>

        <ng-container matColumnDef="estadoRegistro">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado del registro </th>
            <td mat-cell *matCellDef="let element"> {{element.estadoRegistro}} </td>
        </ng-container>

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Gestión </th>
            <td mat-cell *matCellDef="let element">
                <button mat-raised-button color="accent" class="btn-table" (click)="editarAcuerdo(element.id)">Ver detalle/<br>Editar</button>
                <button mat-raised-button color="accent" class="btn-table" (click)="eliminarAcuerdo(element.id)">Eliminar</button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>