<section class="text-center" *ngIf="esVerDetalle === false && seguimientoSemanal !== undefined">
    <p class="colorMainColor">Periodo del reporte: <b> {{ seguimientoSemanal.fechaInicio | date: 'dd/MM/yyyy' }} - {{ seguimientoSemanal.fechaFin | date: 'dd/MM/yyyy' }} </b> </p>

    <form autocomplete="off" [formGroup]="formGestionAmbiental" (ngSubmit)="guardar()">
        <div align="left">
            <mat-card>
                <mat-card-content>
                  <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                          <div class="pr-1">
                            <label class="label-left" style="margin-top: 1.5em;">¿Se ejecutó alguna actividad relacionada con la gestión ambiental durante la semana?</label>
                          </div>
                          <div class="col d-flex">
                              <section style="width: 100%;">
                                  <mat-form-field class="w-50" appearance="fill">
                                    <mat-select class="padding-left" formControlName="seEjecutoGestionAmbiental" required>
                                      <mat-option *ngFor="let requisito of booleanosActividadRelacionada" [value]="requisito.value">
                                        {{requisito.viewValue}}
                                      </mat-option>
                                    </mat-select>
                                  </mat-form-field>
                                </section>
                          </div>
                        </div>
                      </div>
                  </div>

                  <div class="row" *ngIf="formGestionAmbiental.get( 'seEjecutoGestionAmbiental' ).value === true">
                    <div class="col-md-12">
                      <div class="row">
                        <div class="pr-1">
                          <label class="label-left" style="margin-top: 1.5em;">Tipo de actividad</label>
                        </div>
                        <div class="col d-flex">
                            <section style="width: 100%;">
                                <mat-form-field class="w-50" appearance="fill">
                                  <mat-select class="padding-left" formControlName="tipoActividad" required>
                                    <mat-option *ngFor="let actividad of tipoActividades" [value]="actividad">
                                      {{actividad.nombre}}
                                    </mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </section>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Manejo de materiales e insumos -->
                  <app-manejo-material-insumo [formManejoMaterialInsumo]="formGestionAmbiental.get( 'manejoMaterialInsumo' )"
                                              [materialInsumo]="seguimientoSemanal.seguimientoSemanalGestionObra.length > 0 ? seguimientoSemanal.seguimientoSemanalGestionObra[0].seguimientoSemanalGestionObraAmbiental : []"
                                              *ngIf=" formGestionAmbiental.get( 'tipoActividad' ).value !== null
                                                      && formGestionAmbiental.get( 'seEjecutoGestionAmbiental' ).value === true
                                                      && formGestionAmbiental.get( 'tipoActividad' ).value.codigo === tipoActividadesCodigo.manejoMaterialInsumo"
                                              class="mt-1em">
                  </app-manejo-material-insumo>

                  <!-- Manejo de residuos de construcción y demolición -->
                  <app-manejo-residuos-construccion [formManejoResiduosConstruccion]="formGestionAmbiental.get( 'manejoResiduosConstruccion' )"
                                                    *ngIf=" formGestionAmbiental.get( 'tipoActividad' ).value !== null
                                                            && formGestionAmbiental.get( 'seEjecutoGestionAmbiental' ).value === true
                                                            && formGestionAmbiental.get( 'tipoActividad' ).value.codigo === tipoActividadesCodigo.manejoResiduosConstruccion"
                                                    class="mt-1em">
                  </app-manejo-residuos-construccion>

                  <!-- Manejo de residuos peligrosos y especiales -->
                  <app-manejo-residuos-peligrosos [formManejoResiduosPeligrosos]="formGestionAmbiental.get( 'manejoResiduosPeligrosos' )"
                                                  *ngIf=" formGestionAmbiental.get( 'tipoActividad' ).value !== null
                                                          && formGestionAmbiental.get( 'seEjecutoGestionAmbiental' ).value === true
                                                          && formGestionAmbiental.get( 'tipoActividad' ).value.codigo === tipoActividadesCodigo.manejoResiduosPeligrosos"
                                                  class="mt-1em">
                  </app-manejo-residuos-peligrosos>

                  <!-- Otros manejos -->
                  <app-otros-manejos  [formOtrosManejos]="formGestionAmbiental.get( 'otra' )"
                                      *ngIf=" formGestionAmbiental.get( 'tipoActividad' ).value !== null
                                              && formGestionAmbiental.get( 'seEjecutoGestionAmbiental' ).value === true
                                              && formGestionAmbiental.get( 'tipoActividad' ).value.codigo === tipoActividadesCodigo.otra"
                                      class="mt-1em">
                  </app-otros-manejos>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="text-center" style="margin-top: 2em;">
            <button mat-button
                    color="warn"
                    class="btn-guardar"
                    type="submit"
                    [disabled]="formGestionAmbiental.get( 'seEjecutoGestionAmbiental' ).dirty === false">
                    <img  src="assets/img/icon/guardar.svg">
            </button>
        </div>
    </form>
</section>

<!-- Ver detalle -->
<section class="text-center" *ngIf="esVerDetalle === true">
  <p class="colorMainColor">Periodo del reporte: <b>04/07/2020 - 11/07/2020</b> </p>

  <div class="mt-1em" align="left">
    <mat-card class="border">
        <mat-card-content class="mt-1em">
          <p><b>¿Se ejecutó alguna actividad relacionada con la gestión ambiental durante la semana?</b>: No</p>
        </mat-card-content>
    </mat-card>
  </div>
</section>