<mat-card class="shipping-card var-main-gris">
    <mat-card-header class="header-card">
        <mat-card-title class="header-card--text textoGris">
            Datos
        </mat-card-title>
    </mat-card-header>
    <mat-card-content style="text-align: left;">
        <h2 class="card-subTitle">Descripción de la factura</h2>
        <p><strong>Número de factura:</strong> FAC00456</p>
        <p><strong>Fecha de factura:</strong> 05/10/2020</p>
        <p><strong>Valor facturado:</strong> $15.000.000</p>
    </mat-card-content>
</mat-card>
