<button mat-button mat-dialog-close class="modal--btn-cerrar">
    <img src="assets/img/icon/cerrar-blanco.svg" alt="cerrar">
</button>
<div style="padding: 30px 0px;">
    <h1 class="title-menu--h1 centerTrick">
        Cargar acta firmada
    </h1>
    <div class="centerTrick" style="margin-top: 10px;">
        <p><b> {{data.fechaCargue |  date: "dd/MM/yyyy"}} </b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Número de registros incorporados: <b>{{data.registrosIncorporados}}</b>
        </p>
    </div>
    <form [formGroup]="minuteUrlForm" (ngSubmit)="onSubmit()">
        <div class="text-center">
            <div class="mtop">
                <mat-card class="shipping-card" style="padding: 1em 2em;">
                    <mat-card-content style="text-align: left;">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="pr-1">
                                        <label class="label-left" for="fileName">URL con soporte de acta</label>
                                    </div>
                                    <div class="col">
                                        <mat-form-field class="full-width">
                                            <input matInput #fileName type="text" formControlName="fileName"
                                                required>
                                        </mat-form-field>
                                        <span class="info-url">Adjunte el acta con todas las firmas requeridas</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
                <div style="margin-top: 1.5em;">
                    <button mat-raised-button color="accent" [disabled]="!minuteUrlForm.valid"
                        type="submit">{{boton}}</button>
                </div>
            </div>
        </div>
    </form>

</div>